[2022-04-01 21:01] jeffb-sfdc commented on #3029
@DougGrimwade this was an issue with our v54.4.0, and was fixed in v54.4.1, which was release the next day.  I'm going to close this ticket, but if you still experience this issue, please reopen the ticket, and let us know which version of the Salesforce Extension for VS Code you are using, and let us know the repro steps you are performing.

[2022-04-01 21:01] #3029 closed

[2022-04-01 21:03] jag-sfdc commented on #3679
@k010c1232 @troveryor - Do you still see this issue? We have made several fixes in this area with our recent releases and I'm not able to repro this issue. Thanks!

[2022-04-02 13:51] osieckiAdam commented on #2095
@jag-sfdc why did you add 'more information required'? We delivered an example using ToolingAPI, you can literally do exactly the same test as I did as a benchmark and see if the delay is acceptable now, what more information is required?

[2022-04-04 07:09] JsalvaJ opened #3997 "Error retrieving code with Salesforce Cli Integration"
Issue Type: <b>Bug</b>

With the new version of march I have an issue making the "retrieve source in manifest from org" command.
When I did it, it starts thinking and the extension give me an error. In the output window nothing appears and the right picklists moves from "salesforce cli" to "task" automatically.
I can see the error going to the extension "Salesforce Cli Integration" > Runtime Statu

[2022-04-04 09:40] sogeisetsu opened #3998 "need VS code to dispaly only debug logs while executing Anonymous Apex"
**Is your feature request related to a problem? Please describe.**
 I'm always frustrated when I executing Anonymous Apex code because i do not know how to dispaly only debug in vscode. in web developer console i have a button to click,so that i can let the console dispaly only debug logs while executing Anonymous Apex code.

**Describe the solution you'd like**
I would like to know is there any s

[2022-04-04 09:54] sogeisetsu commented on #3998
now if i executing Anonymous Apex code，The bottom of vscode will output too much information that I can't use, I just want to see the information and error information output by my system.debug()

[code]

[2022-04-04 10:39] simonhyphen8 opened #3999 "Error when mouse-over on HTML file"
Issue Type: <b>Bug</b>

When mousing over on the .HTML file of an LWC, I receive the following error:
[Error - 7:53:32 AM] Request textDocument/hover failed.
Message: Request textDocument/hover failed with message: Cannot read properties of undefined (reading 'forEach')
Code: -32603

Confirmed as this extension causing the issue by using the Start Extension Bisect command.

Previous logged issue (

[2022-04-04 17:01] floralan commented on #3554
@AllanOricil Hi! We added the "SFDX: Rename Component" command recently in [#3923](https://github.com/forcedotcom/salesforcedx-vscode/pull/3923), It will be shipped in this week's release. Please check out our latest version later this week!

[2022-04-04 18:34] randi274 commented on #1891
Thanks for the quick update @DJudin! In that event, I'll go ahead and close this issue; if you face the same problem again feel free to pick up the conversation here, or with a new ticket + fresh steps to reproduce.

[2022-04-04 18:34] #1891 closed

[2022-04-04 18:45] randi274 commented on #3405
Thanks for confirming @jarodwsams - we actually have one open item to trim spaces at the end of new projects (#3950), but this does seem to be a recurring theme for us resulting in certain mysterious issues 👻 . I'll bring this up to the dev/docs team and see if there's anything we can do to prevent these going forward. Cheers!

[2022-04-04 18:45] #3405 closed

[2022-04-04 18:48] #2659 closed

[2022-04-04 19:53] randi274 commented on #3999
Hi @simonhyphen8, thanks for reporting this! We're tracking this on #3929, so I'll close this as a duplicate. The fix for this is currently pending, and will hopefully be out next week.

[2022-04-04 19:53] #3999 closed

[2022-04-04 19:59] AllanOricil commented on #3554
Hope people use it. I will give it a try

[2022-04-05 11:28] swdcworld commented on #3558
Have a great vs code extension to work same. It has 7kb of size only.
https://marketplace.visualstudio.com/items?itemName=Nagarjuna.sfdevtools

[2022-04-05 15:59] jag-sfdc commented on #2095
@osieckiAdam - You are right and I think we have all the information to verify the behavior. Thanks for your reply!

[2022-04-05 16:15] mshermanNuAge opened #4002 "Deploy doesn't work after Update"
Issue Type: <b>Bug</b>

I just updated VS Code and now I can no longer deploy. I can still retrieve the source but get this error when I try to deploy changes: UNKNOWN_EXCEPTION: An unexpected error occurred. Please include this ErrorId if you contact support: 912190463-794265 (4555982)

Extension version: 54.6.1
VS Code version: Code 1.66.0 (e18005f0f1b33c29e81d732535d8c0e47cafb0b5, 2022-03-30T05

[2022-04-05 16:54] ogomezba commented on #3522
Hi @floralan,

I've done some checks and I think that the issue reported in #3542 (which was closed in favour of this issue) is still there. I'm not sure if I need to do any additional steps or enable something but if I follow the steps mentioned in #3542, I still reproduce the same error regarding conflict detection (as explained by @ralphcallaway):

[2022-04-06 12:26] SimonaIstrate31 opened #4008 "Org Browser - retrieve or metadata is not working"
Summary
When using the OrgBrowser tool in VS Code, the following error occurs:

SyntaxError: Unexpected token c in JSON at position 4

Steps To Reproduce:
Go to OrgBrowser while in a Repo in VS Code
Refresh

Expected result
OrgBrowser should have pulled the data from my org

Actual result
SyntaxError: Unexpected token c in JSON at position 4

sfdx-project.json file:

{
  "packageDirectories": [

[2022-04-06 14:21] randi274 commented on #3929
The fix for this has been merged in, and should be available in the following release of the extensions (likely next Wednesday).

[2022-04-06 16:29] randi274 commented on #1835
WI created for this - W-7083578

[2022-04-06 19:06] kfcpub commented on #3990
Having the same issue

Salesforce CLI

VERSION
  sfdx-cli/7.144.2 win32-x64 node-v16.14.2

Edition	Windows 10 Enterprise
Version	20H2
Installed on	‎8/‎17/‎2021
OS build	19042.1586
Experience	Windows Feature Experience Pack 120.2212.4170.0

[2022-04-07 04:55] #2605 closed

[2022-04-07 07:35] PawelWozniak commented on #3522
I can confirm this.
I have:
1. Updated SFDX to sfdx-cli/7.144.2 win32-x64 node-v16.14.2
2. Reset source tracking with force:source:tracking:reset (and legacy reset as format of source tracking is changed as described [here](https://github.com/forcedotcom/cli/blob/main/releasenotes/sfdx/README.md#71400-march-3-2022))
3. Enabled "Detect conflict at sync" after updating sfdx

And still on every save

[2022-04-07 18:24] avanmeer commented on #1476
Restarting vscode worked for me.

[2022-04-07 21:51] domonique-ncino opened #4017 "Can't retrieve test coverage"
### Summary

I set "salesforcedx-vscode-core.retrieve-test-code-coverage": true in user and workspace settings.but even it is showing the following exception.

No code coverage information was found for this file. Set "salesforcedx-vscode-core.retrieve-test-code-coverage": true in your user or workspace settings. Then, run Apex tests that include methods in this file. You can run tests from the Ap

[2022-04-08 01:56] mohanraj-r commented on #3619
While dealing with a customer case (W-10891222) and trying to setup "ISV Customer Debugger"  errors

[code]

@WillieRuemmele  notes

[code]

[2022-04-08 02:02] mohanraj-r commented on #3618
While dealing with a customer case (W-10891222) and trying to setup "ISV Customer Debugger"  errors

[code]

@WillieRuemmele  notes

[code]

[2022-04-08 02:04] mohanraj-r commented on #3619
Re-opening #3618 as it is more relevant to the current issue

[2022-04-08 05:11] roy-galve opened #4018 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `54.7.0`
- OS Version: `Darwin x64 20.6.0`
- VS Code version: `1.66.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`file:///var/folders/0z/mb7rqybj4hncf8r6nb6ntwj40000gn/T/salesforce.salesforcedx-vscode-apex-unresponsive.cpuprofile.txt`

Find more details here: https:

[2022-04-08 09:31] AllanOricil opened #4019 "Display Code Coverage on the Testing "webview view" panel"
**Is your feature request related to a problem? Please describe.**

Most of the time I see myself clicking on this "play" button to run tests for a particular component instead of typing a cli command because it is faster.

![image](https://user-images.githubusercontent.com/55927613/162407190-2ecf9b6e-31e4-47d9-9553-b409a6e95d07.png)

Doing this way I can't retrieve code coverage for lwc component

[2022-04-08 12:44] Schuchie commented on #3953
Also maybe one more hint:
- The Auth-File is in a whole different folder and not in the same folder as the sfdx project. After the authentication I just set the default org in my sfdx project to the before authenticated org.

[2022-04-08 16:40] #1802 closed

[2022-04-08 17:40] #3482 closed

[2022-04-08 17:40] #2375 closed

[2022-04-08 17:40] #1496 closed

[2022-04-08 18:40] #3462 closed

[2022-04-08 18:40] #1874 closed

[2022-04-08 18:40] #1438 closed

[2022-04-08 18:40] #2599 closed

[2022-04-08 18:40] #2047 closed

[2022-04-08 18:40] #3211 closed

[2022-04-08 19:45] #1714 closed

[2022-04-08 19:45] #1930 closed

[2022-04-08 19:45] #3267 closed

[2022-04-08 19:45] #2346 closed

[2022-04-08 19:45] #1265 closed

[2022-04-08 19:45] #1660 closed

[2022-04-08 20:45] #3681 closed

[2022-04-08 20:45] #753 closed

[2022-04-08 20:45] #1421 closed

[2022-04-08 21:45] #3679 closed

[2022-04-08 21:45] #3745 closed

[2022-04-08 21:45] #3056 closed

[2022-04-10 05:01] dipankarsahoo180 commented on #3111
I'm still facing this issue with latest cli. !!! MISSING LABEL !!! predicates_no_sfdx_project_found_text

[2022-04-10 08:26] nchursin commented on #2150
Hey,
I noticed this issue got closed, but I still need the answer :) any updates on this?

[2022-04-11 19:27] klewis-sfdc commented on #3988
Hi @biswajit-salesforce - thanks for opening the issue.  I have tried to reproduce the issue in a Developer Edition org but have not been able to get the error to surface.  Are you still seeing this issue, and if so, do you have any additional repro steps that could help to reproduce?

[2022-04-11 19:34] sogeisetsu commented on #3998
Is there anyone find my issue?
This is a business project, and I think someone should respond even if there is no solution.

[2022-04-11 19:34] #3998 closed

[2022-04-11 20:11] gbockus-sf commented on #2150
Hi @nchursin,
Yeah sorry the issue got closed early.  I assumed it would stay open b/c you responded to my last comment.  Anyway I did some digging and believe you can depend on the ordering you called out in your original question.  The way that the classes are parsed it does each class one at a time parsing the contents of each class in a particular order (types -> (fields, methods) -> statement

[2022-04-12 13:13] rgBentec opened #4022 "I can't do Org Authorization (windows 11) to salesforce."
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**Salesforce Extension Version in VS Cod

[2022-04-12 15:16] mjaggard opened #4023 "Checkpoints can be set on a valid line of Apex source. Invalid checkpoint location:"
### Summary

Identical problem to #1476 however I do not have any special characters in my path

The line I'm setting the checkpoint on is in a Test class and reads `my__MyAccount__c myAcc = new my__MyAccount__c();` although I've tried on several lines in several files.
I have also checked that the latest version of my source has been deployed correctly in Salesforce.
I've restarted VS Code.
I've

[2022-04-12 15:26] gbockus-sf commented on #4019
Thanks for the suggestion @AllanOricil.  I added the feedback label so this can be consider for future feature work on the extensions.

[2022-04-12 17:42] gbockus-sf opened #4024 "Rename component can silently replace files"
### Summary

If you rename a lightning/aura component and there is an existing file withe same name it will be replace without warning.

### Steps To Reproduce:

1.  Create a LWC component called accountMap.
2. Create a LWC test for the component (default name is accountMap.test.js in __tests__.
3. Create a new test file called `accountMapOther.test.js`. Map the content different then accountMap.t

[2022-04-12 21:16] prasad-bathula-ukg opened #4027 "Activating extension 'salesforce.salesforcedx-vscode-core' failed: Invalid or unexpected token."
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:
Vs code was working fine, but suddenly I see the error message like as
salesforce.salesforcedx-vscode-core' failed: Invalid or unexpected token.

### Expected result

I'm not able to SFDX commands in vscode

### Actual result

_Describe what actually happened instead_.

### Additional information

_Fee

[2022-04-13 08:26] ViktorBakanov commented on #1582
@smaddox-sf Hi!

This feature not exists in vscode settings, and it seems like we issue is not fixed completely.

[2022-04-13 19:08] biswajit-salesforce commented on #3988
Hi Ken, lately I have switched over back to Aura components, so haven't
tackled it anymore.

Yours sincerely,
Biswajit Samantaray

On Tue, Apr 12, 2022, 00:57 Ken Lewis ***@***.***> wrote:

[2022-04-14 14:25] #3929 closed

[2022-04-14 15:40] randi274 opened #4038 "Confusing message when there are no checkpoints being used"
### Summary

Even if a user is intentionally not working with checkpoints while debugging, we show a message that there are no checkpoints and that the user should try again. This is especially confusing to see every time we work with the replay debugger while running tests, for instance. This seemed to have been a point of confusion in the original WI as well, but I think it's become more apparen

[2022-04-14 15:44] randi274 commented on #4023
Hi @mjaggard, I see one of the steps you call out is to be working in a packaged org. Are you try to use the replay debugger with managed code? For managed code you'll need the [ISV debugger](https://developer.salesforce.com/tools/vscode/en/apex/isv-debugger).

[2022-04-14 16:35] cleverlemming commented on #1267
I am seeing this issue today. Windows 10. Version 1.66.2

![image001](https://user-images.githubusercontent.com/165264/163433957-f0e7dc89-1c37-4261-80f2-fc0b557ece50.png)
![image002](https://user-images.githubusercontent.com/165264/163433958-844af40c-f351-45df-afbd-90de57499ce4.png)

[2022-04-14 17:34] randi274 commented on #1418
This was delivered with #3920 and is now generally available in the extensions 🎉

[2022-04-14 17:34] #1418 closed

[2022-04-14 17:35] mjaggard commented on #4023
I don't **think** so but I'm new to Salesforce. The code was created in this org but I have created a managed package.

[2022-04-14 17:43] randi274 commented on #1291
@ChuckJonas update on this - we now enable single-button replay debugging with the 'Debug Test' codelens + debug button for test files. We also allow you to execute code using anonymous apex with the new command `SFDX: Launch Apex Replay Debugger with Current File` (available on right-click in the anon file or in the command palette). We still allow for the manual steps you listed here for more ad

[2022-04-14 17:43] #1291 closed

[2022-04-14 19:15] randi274 commented on #4023
Got it, so that org was just a regular scratch org, or a dev org? Both of those should work fine, as long as the code in the org isn't [managed](https://developer.salesforce.com/docs/atlas.en-us.packagingGuide.meta/packagingGuide/sharing_apps.htm). In that case, can you try creating a new project and see if you run into the same issue with a new class?

[2022-04-15 13:24] sogeisetsu commented on #1363
@shillem OH ! NO ！I tried to use the GA version of openjdk11 and the GA version of openjdk17, but it didn't work, **I also used the build 11.0.2+9 version of openjdk, luckily it worked**. When I change to Oraclejdk11 or Oraclejdk17, it works fine.

There is one thing I don't understand, is there any logic for salesforcedx-vscode in the selection of supported openjdk versions? **Why does not suppor

[2022-04-15 14:21] AnanyaJha commented on #4022
Hi @rgBentec could you share the exact error message you're seeing?

[2022-04-15 14:22] AnanyaJha commented on #4027
Hi @prasad-bathula-ukg can you share what version of the Salesforce Extensions you're using? This can be found by searching for 'Salesforce' from the Marketplace tab on the left sidebar.

[2022-04-15 14:25] AnanyaJha commented on #3988
Thanks @biswajit-salesforce. Feel free to open a new issue if you run into anymore problems, thanks!

[2022-04-15 14:25] #3988 closed

[2022-04-15 14:25] #3995 closed

[2022-04-15 16:54] jag-sfdc commented on #3981
@romuloroc - What is the error you get? What is the version of CLI and version of the @salesforce/lwc-dev-server plugin you have installed? Thanks!

[2022-04-15 17:11] jag-sfdc commented on #3953
@Schuchie - There is a known limitation in source tracked orgs (which includes scratch orgs and some sandbox orgs) and so we don't show "SFDX: Deploy Source to Org" and "SFDX: Retrieve Source From Org" commands for them. We are actively working on this and should have a fix out in one of the upcoming releases. Thank you!

[2022-04-15 18:21] prasad-bathula-ukg commented on #4027
issue is resolved after uninstalling and installing the Salesforce CLI extension

[2022-04-15 18:21] #4027 closed

[2022-04-16 01:36] dhogue84 commented on #1476
I had a number in my project's folder name. I changed it from `Trailhead2` to `Trailhead`, and it updated as expected.

[2022-04-17 06:13] ralphcallaway commented on #3522
please reopen

this is a bit frustrating since you a) have multiple working examples of this (force.com ide, mavensmate) the later is open source and b) there have been repeated explanations that you can't use the "local" file save time as the last modified time, you need to use the "remote" file completed saving and mark that as the "local" file save time (either by touching the file or retrievin

[2022-04-17 06:14] ralphcallaway commented on #3522
@floralan plesea re-open so this can get visibility

[2022-04-17 06:15] ralphcallaway commented on #3522
@smaddox-sf can you assist in re-opening this perennial misbehaving feature

[2022-04-18 14:18] Bgallahue commented on #3929
has the updated extension been released with this fix?
I upgraded to 7.146.1-fcbd623 and I am still gettting this issue

[Error - 10:16:11 AM] Request textDocument/definition failed.
  Message: Request textDocument/definition failed with message: Cannot read properties of undefined (reading 'find')
  Code: -32603

[2022-04-18 14:21] leto96 commented on #1472
Restuling in a page not found
![image](https://user-images.githubusercontent.com/26888271/163821761-a4d9243d-d6a0-4571-9c2c-b70076d378b2.png)

[2022-04-18 14:59] randi274 commented on #3929
@Bgallahue that issue we're actually tracking separately, as the root cause is different. It's on our near-term roadmap though, and should be fixed soon. https://github.com/forcedotcom/lightning-language-server/issues/493

[2022-04-18 22:47] FeldhackerChrisPFG commented on #1331
Can confirm #5 is still unresolved:
![image](https://user-images.githubusercontent.com/69258451/163889193-87efda29-4aaa-43f4-8a93-691ac4e7d520.png)

[2022-04-19 06:31] gbockus-sf opened #4041 "custom template documentation is incorrect for customOrgMetadataTemplates setting"
### Summary

The docs for setting up the fork to use a custom templates repo provides an incorrect example value for the customOrgMetadataTemplates setting.

### Steps To Reproduce:

See value provided on https://developer.salesforce.com/tools/vscode/en/user-guide/byotemplate#site-main-content

[code]

I used
[code]
### Expected result

Should be able to load custom templates.

### Actual result

[2022-04-19 08:25] Schuchie commented on #3953
Hey @jag-sfdc,
but some of mine colleges can use this functionality on scratch orgs (based on same org shape etc.) so its looks completely random for me.

[2022-04-19 20:11] floralan commented on #4017
Hi Domonique, thanks for the issue logging. I'm not able to reproduce the issue you described. For clarification, is the warning message saying: "No code coverage information was found for this file. "? Could you please provide a screenshot of the output after running all tests for apex classes?

[2022-04-19 20:18] floralan commented on #4008
Hi @SimonaIstrate31 , can you share what version of the Salesforce Extensions you're using? This can be found by searching for 'Salesforce' from the Marketplace tab on the left sidebar.

[2022-04-19 20:42] floralan commented on #3997
Hi @JsalvaJ, I tried to reproduce the bug you were seeing. Did you use extensions v54.6.1 with the VSC last version v1.66.0 and saw the error, but the error disappeared when you use extensions v54.6.1 with VSC v1.65.2? I couldn't reproduce the error since both situations work fine on my end. Could you please try to update to our latest version v54.8.0 to see if it works?

[2022-04-19 21:15] floralan commented on #3952
Hi @yusuframadhan26, could you provide more information on the steps that we can reproduce this issue and what version of extensions you are using?

[2022-04-19 21:20] floralan commented on #4002
Hi @mshermanNuAge, I tried to use extensions version v54.6.1 and VSC v1.66.0 to reproduce this issue but the deploy command works fine on my end. Could you please update the exemptions to the latest version v54.8.0 to see if you are still seeing the error?

[2022-04-20 02:08] sbttakahashi opened #4044 "SFDX:組織へソースをデプロイが機能しない"
Issue Type: <b>Bug</b>

1. エクスプローラーでメタデータを右クリック
2. SFDX:組織へソースをデプロイを実行
3. successfully ranが表示されるはず
 =>以下のエラーとなりデプロイできない
  UNKNOWN_EXCEPTION: An unexpected error occurred. Please include this
  ErrorId if you contact support: 1363491765-1494 (455598289)

なお、ターミナルで、sfdx force:source:deployを利用するとdeployできる。

Extension version: 54.8.0
VS Code version: Code 1.66.2 (Universal) (dfd34e8260c270da74b5c2d86d

[2022-04-20 14:05] manentea commented on #3997
@floralan This issue is still occurring on VSC v1.66 and with v54.80 of the extension. Rolling back to VSC 1.65.2 resolved the issue (same extension version).

[2022-04-21 15:07] randi274 opened #4050 "Deploy on Save shouldn't apply to .soql or .apex"
**Is your feature request related to a problem? Please describe.**
When I have Deploy on Save enabled, I receive an error message when saving SOQL and anonymous apex files that these files can't be deployed.

**Describe the solution you'd like**
Have Deploy on Save enabled, be able to save .soql and .apex files, and receive no error about their deployment.

**Describe alternatives you've considere

[2022-04-21 15:19] randi274 opened #4051 "Removing all checkpoints doesn't update them in the connected org"
### Summary

When I have been working with a few checkpoints, then remove them in VS Code, they're not automatically removed in the org during the easy debugging flow (Debug Test / Launch Apex Replay Debugger with the Current File)

### Steps To Reproduce:

1.  Toggle a few checkpoints and either run the Update Checkpoints command to update them in the org, debug a test, or use Launch Apex Replay

[2022-04-21 15:20] randi274 commented on #4051
@AnanyaJha I wasn't quite willing to call this a dev bug without your review; if this is WAD we can update docs instead.

[2022-04-21 15:42] randi274 opened #4052 "Reopen component after renaming"
**Is your feature request related to a problem? Please describe.**
After I use the command `SFDX: Rename Component` on an Aura or Lightning Web Component, the focus is lost and I have to find my renamed component to continue working with it. When I use the VS Code default `Rename`, focus is retained (though it doesn't rename any of my files for me!).

**Describe the solution you'd like**
I'd like

[2022-04-21 15:44] #3554 closed

[2022-04-21 15:56] randi274 opened #4053 "Rename Component command should be available on the tests directory and for the JS files"
**Is your feature request related to a problem? Please describe.**
In order to create a more consistent user experience, the `SFDX: Rename Component` command should be available on directories underneath the main LWC bundle.

**Describe the solution you'd like**
In LWCs, I'd like the command to be available for __tests__ and any JS files in that directory. The prompt should auto-populate the name

[2022-04-21 16:17] randi274 opened #4054 "When renaming LWCs, assistance should be provided for destructive changes"
**Is your feature request related to a problem? Please describe.**
With the new `SFDX: Rename Component`, we are not yet providing support for destructive changes. This can provide a strange user experience when they've Renamed the component, and no longer have access to the old metadata, but it still exists in the org. To delete the component you typically have to run `SFDX: Delete from Project a

[2022-04-21 17:20] floralan commented on #4044
Hi @sbttakahashi, this is a duplicate issue to #4002, please post in that issue if you have follow-up questions or more information you want to share to us.

[2022-04-21 17:20] #4044 closed

[2022-04-22 14:06] AllanOricil commented on #3554
@floralan I have the latest vscode extension pack but this command does not show up

[2022-04-22 17:10] aggartman commented on #3816
Is there any update on this?
I can't get my Playground to Authorize. Even using the terminal "code ." workaround mentioned above. The terminal shows up just fine. But any commands that call the CLI directly in the command palette give me the error message of "Salesforce CLI is not installed. Install it from https://developer.salesforce.com/tools/sfdxcli"

[2022-04-22 17:16] renatoliveira commented on #3816
There is a workaround. Open your terminal and launch VS Code with `code` instead. It is annoying? Yes. But at least it works.

[2022-04-22 17:49] aggartman commented on #3816
Yeah, I tried that, but it doesn't work. `code` and `code .`, I have the same result, unfortunately.  I've checked the versions for java and node. Double checked my path variable, and restarted multiple times. No luck.

[2022-04-22 17:49] aggartman commented on #3816
Yeah, I tried that, but it doesn't work. `code` and `code .`, I have the same result, unfortunately.  I've checked the versions for java and node. Double checked my path variable, and restarted multiple times. No luck.

[2022-04-22 19:30] aggartman commented on #3816
Resolved. Clean install of Node and NPM with a reinstall of SFDX plus a restart seemed to fix it.

[2022-04-22 19:37] renatoliveira commented on #3816
Oh, so that explains why reinstalling my OS worked too then. :rofl:

[2022-04-22 19:37] #3816 closed

[2022-04-22 19:54] gbockus-sf commented on #3816
@aggartman Thanks for the follow up.  Did you have any node/npm or OS changes that could have resulted in the issue (upgrades)?
Mostly just checking in case this shows up for anyone else.

Thanks

[2022-04-22 19:57] aggartman commented on #3816
No changes, but I did a fresh install and made sure to install the cli through NPM rather than individually. The versions are all the same.

[2022-04-22 23:11] gbockus-sf commented on #4024
@floralan This can be closed correct?

[2022-04-25 09:53] sryan-econiq opened #4056 "I can no longer deploy source to org after updating sfdx and vscode extensions for sfdx"
VSCode extensions for sfdx recently updated to version: v54.9.0
sfdx cli also updated to:  sfdx-cli/7.147.1 win32-x64 node-v16.14.2

When I now deploy source to my connected org with VSCode I get the:

[code]

No deploy errors are shown as to why it failed. So I've tried to use the sfdx command directly:

[code]

I get the error:

[code]

[2022-04-25 13:28] FiruzzZ commented on #968
This started to happen a few weeks ago, and it takes more than 30' to finish the scanning, and I move between branches, it starts again, I had to disable  Java by Red Hat, to be able to use the PC at all, the Problems' tab shows "14k+" issues, the amount is not new, it was always like that, but now it is taking all the CPU

[2022-04-25 17:05] harishkite opened #4060 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `54.9.0`
- OS Version: `Windows_NT x64 10.0.18362`
- VS Code version: `1.66.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-04-25 18:56] jeffb-sfdc commented on #4056
@sryan-econiq I was able to reproduce this, and will be looking into this.  I found that when I deploy via the extension, I get:
[code]
...so, not sure if this is the same thing you are getting, but source deploy isn't working for me either.

When I deploy via `sfdx force:source:deploy -p force-app/main/default -l RunSpecifiedTests -c -r --json`, I get the same error in DeployResultFormatter that

[2022-04-25 20:31] m-lp-ql-m commented on #4023
I'm having the same issue in a dev org. I tried the fixes in #1476, like removing the number from the name of the project. I also created a new project with a different name, and a new class to no avail.

Salesforce Extension Pack v54.9.0

Salesforce CLI:  7.147.1-1633b17

VS Code:
Version: 1.66.2 (user setup)
Commit: dfd34e8260c270da74b5c2d86d61aee4b6d56977
Date: 2022-04-11T07:46:01.075Z
Electron

[2022-04-25 21:47] jeffb-sfdc commented on #4056
@sryan-econiq when you use the extension and VS Code to deploy, which directory are you deploying?

I'm able to deploy `force-app/main/default/classes`
But I'm not able to deploy `force-app/main/default`
This doesn't appear to be be a new issue though - from what I can tell one wasn't ever able to deploy `force-app/main/default`

[2022-04-27 08:23] sryan-econiq commented on #4056
I was deploying to a production server, so I when back to our sandbox server and the normal deploy by right-clicking on force-app/main/default and calling the SFDX: Deploy Source to Org. This worked fine, so switched back to the production server and the deploy fails with no errors.

After some checking with our other salesforce Administrator a new external package had been installed in production

[2022-04-27 18:19] pchandra2000 opened #4064 "Not able to push to default org, getting this error, Please help"
Starting SFDX: Push Source to Default Scratch Org

14:11:10.560 sfdx force:source:push --json --loglevel fatal
14:11:13.991 sfdx force:source:push --json --loglevel fatal
 ended with exit code 1

TypeError: Cannot read properties of undefined (reading 'split')

I have salesforce cli version 7.147.1 installed, I am using VS Code.

I don't have any code in the application that uses split.

Here is t

[2022-04-27 21:29] PawelWozniak opened #4065 "In debug mode related objects values are shown as [object Object]"
### Summary

When I launch debug session with checkpoint and breakpoint set and inspect code then I see that that relations are shown as [object Object]

### Steps To Reproduce:

1. Set Checkpoint and breakpoint in code.
2.  Use Debug Test on test class.

I was trying to reproduce that with simple code based on Account and Contact but in such case I am unable to repeat that.
It happens on a more c

[2022-04-27 23:34] jeffb-sfdc opened #4066 "Not enough information is logged when a deploy fails"
This bug was originally raised in https://github.com/forcedotcom/salesforcedx-vscode/issues/4056.  The issue is that when a deploy (using the extension) failed for the customer, an error was reported, but no additional information was reported.  Here are some additional notes:

* This happens while using the extension to deploy, but not using the CLI to deploy
* The issue the user reported with de

[2022-04-27 23:38] jeffb-sfdc commented on #4056
Thanks for the update @sryan-econiq .  I'm going to close this ticket, however, I agree that there should be more information reported when an error occurs.  I opened https://github.com/forcedotcom/salesforcedx-vscode/issues/4066 to track the issue with the extension for VS Code (no enough info report when there is an error), and I opened https://github.com/forcedotcom/cli/issues/1489 to track the

[2022-04-27 23:38] #4056 closed

[2022-04-28 05:36] AngelMtz97 commented on #3111
![image](https://user-images.githubusercontent.com/51268614/165683335-9465136d-904d-4d91-b025-ae29a0eed3fb.png)
![image](https://user-images.githubusercontent.com/51268614/165683389-0630bc89-a631-478f-ad33-6e641af789e1.png)

Please help with this error

[2022-04-28 05:58] AngelMtz97 opened #4068 "Error message when VS Code is loading a SFDX project"
### Summary

When I open a sfdx project folder in vscode I am getting the following error message

"No sfdx-project.json found in the root directory of your open project. Open a Salesforce DX project in VS Code."

### Steps To Reproduce:

1.  Open a sfdx project in vscode
2. The Salesforce CLI extension is not loading
3. Open the Command Palette
4. Select: SFDX: Create Project with manifest
5. "Ac

[2022-04-28 06:01] AngelMtz97 commented on #3990
I have the same issue

VS Code version: 1.66.2

Commit: dfd34e8260c270da74b5c2d86d61aee4b6d56977
Date: 2022-04-11T07:46:01.075Z
Electron: 17.2.0
Chromium: 98.0.4758.109
Node.js: 16.13.0
V8: 9.8.177.11-electron.0
OS: Windows_NT x64 10.0.19044

Salesforce Extension Pack: 54.9.0 - April 21, 2022

sfdx-cli/7.147.1 win32-x64 node-v16.14.2:

Windows 10 Pro 21H2

[2022-04-28 12:00] jigyasujoshi1997 commented on #3997
Yes facing the same issue "array buffer allocation failed" while trying to Retreive source in Manifest from Org. Rolled back to VSC 1.65.2 resolving the issue.

[2022-04-29 20:24] arafesthain commented on #785
same issue here

Error  ContractStatus  field integrity exception: unknown (invalid value)

[2022-05-02 16:32] leslchan commented on #4064
I'm receiving the same error as well, on sfdx version: `sfdx-cli/7.147.1 darwin-x64 node-v16.14.2`

 "TypeError: Cannot read properties of undefined (reading 'split')\n    at /Users/lesliechan/.local/share/sfdx/client/7.147.1-1633b17/node_modules/@salesforce/source-deploy-retrieve/lib/src/resolve/treeContainers.js:166:37\n    at Array.map (<anonymous>)\n    at Function.fromFilePaths (/Users/leslie

[2022-05-02 16:58] leslchan commented on #4064
Fortunately, I was able to get a more specific error message by pushing small sets of files (successful) until encountering a push that led to a more useful error message.

It could be the generic error `TypeError: Cannot read properties of undefined (reading 'split')` is being thrown and the specific error is lost.

[2022-05-02 18:53] pchandra2000 commented on #4064
Yes

On Mon, 2 May 2022 at 14:34, Randi Wilson ***@***.***> wrote:

[2022-05-02 21:03] randi274 commented on #4064
Is this happening when you try to push all files, or specific files? If there are specific files, are you able to share them? Also, are you using a new scratch org?

I tried to reproduce with a new scratch org and the ebikes-lwc [project](https://github.com/trailheadapps/ebikes-lwc), but everything is looking ok for me (though I did need to create a new scratch org once I caught up my CLI version

[2022-05-03 03:55] pchandra2000 commented on #4064
I have matched all your setting and still get the same issue. It's on a
blank project, there is no added code. And yes using a new scratch org.

Please tell me something, I am new to salesforce, but I do angular very
well. Is there any way to clean out a salesforce project and rebuild it
from scratch? We do this in angular by deleting the node_modules folder and
running yarn install again? Is it p

[2022-05-03 05:55] itaishmida commented on #2711
Love this idea

[2022-05-03 20:22] klewis-sfdc commented on #1579
Closing as resolved by https://github.com/forcedotcom/salesforcedx-vscode/issues/1579#:~:text=support%20for%20StandardValueSet%20(-,%233992,-)

[2022-05-03 20:22] #1579 closed

[2022-05-05 17:09] paustint commented on #4064
I had the same issue and the problem for me was that I had accidentally renamed a metadata file in an lwc

e.x. `amendContractAction.xml` should have been `amendContractAction.js-meta.xml`

[2022-05-06 07:26] prasadnikam-merce opened #4084 "ERROR running force:source:push: Push failed."
[12:18:50] 'sfdx-push' errored after 22 min
[12:18:50] Error: Push failed:

at C:\Users\Lenovo\Documents\FDB Workspace\fdb\scripts\sfdx\sfdx.js:105:10
at sfdx-push (C:\Users\Lenovo\Documents\FDB Workspace\fdb\node_modules\undertaker\lib\set-task.js:13:15)
at bound (domain.js:430:14)
at runBound (domain.js:443:12)
at asyncRunner (C:\Users\Lenovo\Documents\FDB Workspace\fdb\node_modules\async-done\i

[2022-05-06 08:40] ranjithg1203 opened #4085 "I am not anle to connect with my Org"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**Salesforce Extension Version in VS Cod

[2022-05-06 14:47] randi274 commented on #4084
Hi @prasadnikam-merce can you try running the following SFDX command directly? `sfdx force:source:push`

[2022-05-06 18:43] randi274 commented on #3554
@AllanOricil are you right clicking the bundle, or one of the files underneath? It doesn't work on the __test__ directory just yet, but it should appear for the others!

[2022-05-08 06:43] Russell-B opened #4088 "Unable to launch Apex Replay Debugger"
### Summary

Unable to launch Apex Replay Debugger

### Steps To Reproduce:

1.  SFDX: Turn On Apex Debug Log for Replay Debugger
1. Launch Apex Replay Debugger

### Expected result

Apex Replay Debugger Launches

### Actual result

Returns error message:

Error: spawn ENOTDIR

### Additional information

[Developer Tools Console ](https://pastebin.com/eCWYwxTn)
[Output when running SFDX: Turn On

[2022-05-09 01:07] chillday commented on #3997
Experiencing the same issue

[2022-05-09 09:00] FabienTaillon commented on #785
I tried again and I don't have the issue, are you running the latest CLI version and using latest API version ?
From a new scratch org, do you have exact steps to reproduce the issue ?

[2022-05-09 10:46] Saquib-azmi opened #4089 "How to run vs code site to other device....."
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**Salesforce Extension Version in VS Cod

[2022-05-09 18:03] Russell-B commented on #4088
Please close, running a Fedora update and rebooting resolved this issue.

[2022-05-09 18:44] Russell-B opened #4090 "Apex Language Server Autocomplete not working"
### Summary

No autocomplete of any sObjects or Fields.

### Steps To Reproduce:

1.  Create new Trigger or Class.
1.  Attempt to write start of Object or Object.Field and nothing autopopulates

### Expected result

I should have Objects and Fields in the dropdown menu below.

### Actual result

Dropdown menu pops up without Objects or Fields

### Additional information

Related Screen Shots showi

[2022-05-09 19:38] randi274 commented on #4090
@Russell-B can you see if you have any stale processes of the Apex Language Server running? On my mac, I'd run `ps -eo pid,args | grep "[A]pexLanguageServerLauncher"` and then kill that open process using the pid. If nothing is running, can you check the Output tab, then navigate to the Apex Language Server option in the dropdown to see if there's an error message in that panel?

[2022-05-09 22:02] anthonygiuliano opened #4093 "Refresh SObject Definitions in Trailhead org"
### Summary

Refresh SObject Definitions failing for Standard Objects when running against a Trailhead org

### Steps To Reproduce:

1.  Create trailhead playground
1.  Create vscode project
1.  Authorize via CLI and set new trailhead playground as default for project
1.  SFDX: Refresh SObject Definitions
1.  Choose Standard Objects (or All Objects)

### Expected result

Successfully refresh objec

[2022-05-09 22:20] Russell-B commented on #4090
[rbangert@fedora usr]$ ps -eo pid,args | grep "[A]pexLanguageServerLauncher"
[rbangert@fedora usr]$ ps -aux | grep "[A]pexLanguageServerLauncher"

Both return nothing.

Double checked in the System Monitor GUI tool, and was unable to find anything running with "Apex" in the title.

I am also missing "Apex Language Server" in the Output Drop-down menu you mentioned.

[2022-05-09 22:32] Russell-B commented on #4090
I found this in the Developer Tools Console:

console.ts:137 [Extension Host] Apex language server failed to initialize
E @ console.ts:137
log.ts:307  WARN UNRESPONSIVE extension host: 'salesforce.salesforcedx-vscode-apex' took 98% of 5318.719ms, saved PROFILE here: 'file:///tmp/exthost-8dc65e.cpuprofile' Array(4)

[2022-05-09 23:01] Russell-B commented on #4090
I've tried two version of Java, both :
/usr/java/jdk-17.0.3.1/bin/java
/usr/lib/jvm/java-11-openjdk-11.0.15.0.10-1.fc35.x86_64/bin/java

And switched the version with:
sudo alternatives --config java

If I set the value to the path of the folder containing the executable file (/usr/java/jdk-17.0.3.1/bin/), I get this error:
An unsupported Java version was detected. Download and install Java 8, Jav

[2022-05-09 23:16] Russell-B commented on #4090
Output of developer tools console:

https://imgur.com/a/z9bN8uI

[2022-05-11 11:38] Gheeso-dev opened #4095 "Can't retrieve or deploy from vsCode to SF"
### Summary

_Short summary of what is going on or to provide context_.

Can't deploy or retrieve lwcs from and to vsCode.

### Steps To Reproduce:

1. Go to org browser - Cloud icon on the left sidebar
2. Goto Lightning Web Components
3. Click refresh components
4. Hover over one line and click the Retrieve and Open Source icon

### Expected result

_Describe what should have happened_.
It retrie

[2022-05-11 19:03] #3873 closed

[2022-05-12 13:23] savage25 opened #4116 "expectedcss error on "style" attribute in .html"
### Summary

Getting an error on using identifier for a style attribute

### Steps To Reproduce:

`<td style={hdr.style}>`

### Expected result

There should not be an error message / warning. The code is valid (works when deployed).

### Actual result

Getting the following errors & warnings (at `style={...}`)
- } expectedcss(css-rcurlyexpected)
- at-rule or selector expectedcss(css-ruleorselecto

[2022-05-12 14:00] floperrin opened #4117 "SFDX : Diff File Against Org - Never stop running"
### Summary

I'm trying to compara my apex class in local with the one on the Saelsforce org.
When I use the functionnality "SFDX : Diff File Against Org", the process never ends and I have no result.

### Steps To Reproduce:

1. Open VisualStudio Code
2. Connect to an Org
3. Retrieve all Apex classes
4. Open one of them (in your local) with VS.
5. Right clic : SFDX : Diff File Against Org

***NOT

[2022-05-12 23:07] LuisPerezCamacho opened #4128 "InvocableMethod annotation support"
**Is your feature request related to a problem? Please describe.**
It would be great if you could add autocomplete options for the `InvocableMethod` annotation. The annotation supports 5 modifiers described [here](https://developer.salesforce.com/docs/atlas.en-us.apexcode.meta/apexcode/apex_classes_annotation_InvocableMethod.htm).

**Describe the solution you'd like**
I would like to see a dropdow

[2022-05-12 23:07] #4128 closed

[2022-05-12 23:08] LuisPerezCamacho opened #4129 "InvocableMethod annotation support"
Is your feature request related to a problem? Please describe.
It would be great if you could add autocomplete options for the InvocableMethod annotation. The annotation supports 5 modifiers described [here](https://developer.salesforce.com/docs/atlas.en-us.apexcode.meta/apexcode/apex_classes_annotation_InvocableMethod.htm).

Describe the solution you'd like
I would like to see a dropdown list wit

[2022-05-13 01:52] jdgirald opened #4131 "Apex Replay Debugger displays List variables as strings"
### Summary

Apex Replay Debugger sometimes displays List variables as strings, making it difficult to inspect the items inside the List.

### Steps To Reproduce:

1.  Open a test class
2.  Set a checkpoint and Click `Debug Test`
3.  The *Run and debug* panel display the Local variables information

### Expected result

Local variables of type `List` should be displayed as tree

![image](https://u

[2022-05-13 08:25] astromechanic commented on #4095
We have the same problem.
SFDX version: sfdx-cli/7.150.0 darwin-x64 node-v16.15.0

[2022-05-13 08:57] ilchec commented on #4095
Same problem here:
... % sfdx force:source:retrieve -m LightningComponentBundle
ERROR running force:source:retrieve:  Metadata API request failed: The client has timed out.
Preparing retrieve request... done

[2022-05-13 09:28] JWinkel-HWG commented on #4095
Facing the same issue!

[2022-05-13 14:05] Gheeso-dev commented on #4095
I'm now getting another error: "You do not have access to the Apex class named" from a apex method called from an lwc. I guess it's actually a problem with SF itself, sandboxes are not working correcly.

[2022-05-13 15:58] jamesprevallet opened #4132 "Problem Matcher has leading backslash in path"
Issue Type: <b>Bug</b>

1.  Deploy an APEX class with an error
2.  Note the path in the Output tab
3.  Compare the path to the Problems tab
Expected:  Path is the same
Actual:  Path in Problems tab has a leading backslash
Result:  Clicking the link on the problem matcher does not open the source file with the problem.

Extension version: 54.12.0
VS Code version: Code 1.67.1 (da15b6fd3ef856477bf6f4

[2022-05-13 16:45] gbockus-sf commented on #4024
Fixed in linked PR

[2022-05-13 16:45] #4024 closed

[2022-05-13 21:48] RoadRunner88 commented on #3197
I am having the same issue.

When I commented out StaticResources it worked!

When I include StaticResources, I get the first Starting message:
18:59:20.788 Starting SFDX: Retrieve Source from Org
*** but then never see the ended message ***
19:01:08.612 ended SFDX: Retrieve Source from Org

**_Worse_** yet, the VS Code Output will clear automatically and I am left without any trace that I even ra

[2022-05-13 22:14] Richman7 opened #4138 "Org Browser (VS Code) Retrieve CustomSite Source From Org Not Working"
When using the Org Browser in VS Code to retrieve CustomSite metadata from the org (clicking the cloud with downward arrow), it won't do anything. The output looks like this (nothing in between the following two lines):
_timestamp_ Starting SFDX: Retrieve Source from Org

_timestamp_ ended SFDX: Retrieve Source from Org

When using the terminal with this command: 'sfdx force:source:retrieve -m Cus

[2022-05-14 10:18] JodieM commented on #1998
Over two years later and this is still not fixed. Please please please allow us to download our FULL org metadata from our orgs, of which 99.99% of orgs use Managed Packages and people customise objects in Managed Packages so we need to be able to see everything in VSCode.

[2022-05-14 10:26] JodieM commented on #1710
@AnanyaJha I just tried to use the Manifest Builder on a brand new project and it did nothing. It requires the full file and folder structure of the org to be in VS Code in the first place and that completely defeats the purpose. We need a way to download the FULL metadata of an org, and / or select which metadata components to exclude via a visual tool - eg exactly what MavensMate used to provide

[2022-05-16 16:49] romuloroc commented on #3981
Sorry gays!

What is the error you get?
SFDX: Start Local Development Server failed to run.
The local development server was not able to start.

What is the version of CLI and version of the @salesforce/lwc-dev-server plugin you have installed?
sfdx-cli/7.150.0 win32-x64 node-v16.15.0
@salesforce/lwc-dev-server 2.11.0

[2022-05-18 02:15] MenachemShanowitzSide opened #4140 ""File Not Found" Message When Clicking On Apex (Deploy) Errors In The Problem Pane"
### Summary

After deploying an apex file (SFDX: Deploy Source to Org), clicking on the Salesforce errors in the problem pane does not navigate to the line with the error and "Unable to open 'Filename.cls': File not found." message is shown.

### Steps To Reproduce:

1.  Deploy apex file with errors

### Expected result

_Clicking on the error in the error pane should navigate to the line with the

[2022-05-18 18:55] randi274 opened #4142 "Provide option to rename component from the command palette"
**Is your feature request related to a problem? Please describe.**
Similar to the "Create Lightning Web Component Test" command, we'd like to have a Rename Component option appear in the command palette.

**Describe the solution you'd like**
'Rename Component' should be available in the command palette. When selected, it should give a list of all component names. When a given component is selected

[2022-05-19 13:15] nBray-tLP commented on #2271
Hey @smaddox-sf , I was wondering if there's any plans of getting this enhancement in?
Currently, we do not use vsCode but were looking to move to use the extension. However, if every time in our code we need to qualify the namespace of the current package before an object or class name in our code for autocomplete to be available.... adoption of this in my team is going to be a little less than e

[2022-05-19 20:52] AnanyaJha commented on #4051
@randi274 I would say this is WAD, you would need to run Update Checkpoints again for the checkpoints to be removed from the org afair

[2022-05-19 20:52] #4060 closed

[2022-05-19 20:59] AnanyaJha commented on #4068
Hi @AngelMtz97 are you still experiencing this issue?

[2022-05-19 21:01] AnanyaJha commented on #4085
Hi @ranjithg1203 please provide more information about the issue you're experiencing and what version of the Salesforce Extensions you're working with. Thanks!

[2022-05-19 22:17] IVerkhosh commented on #3111
Hello,
I am facing the same issue after updating to sfdx-cli/7.151.1 win32-x64 node-v16.15.0

[2022-05-20 13:47] tjofr commented on #3990
I have the same issue.
Version: 1.67.2 (user setup)
Commit: c3511e6c69bb39013c4a4b7b9566ec1ca73fc4d5
Date: 2022-05-17T18:15:52.058Z
Electron: 17.4.1
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Windows_NT x64 10.0.19042

 sfdx-cli/7.151.1 win32-x64 node-v14.15.1

 It seems that the links in Problens Pane is broken.
We have :
[{
	"resource": "/force-app/main/default/classe

[2022-05-20 16:14] KIJones opened #4146 "Unable to diff against or deploy to to org by right clicking but can deploy using manifest"
### Summary

For months now, none of the right click options that require communication with an org work. e.g. Diff against org, deploy to org or retrieve from org.  I've tried uninstalling and reinstalling SFDX all plugins etc but no matter what I try it doesn't work.

### Steps To Reproduce:

1. right click any file or folder and select SFDX: diff file against org
e.g. I've just tried to diff a

[2022-05-23 15:27] jonny-harte opened #4150 "Inconsistent Formatting between Visualforce extension and Org"
When formatting a .component or .email (I assume .page too) a space is added at the end of some tags. However, when the same file is retrieved from the Org the space has been removed.

eg.
VSCode - Org
`<apex:component> - <apex:component >`
`<messaging:htmlEmailBody> - <messaging:htmlEmailBody >`

This leads to lots of formatting diffs when comparing / retrieving from Orgs adding lots of noice whe

[2022-05-24 05:41] cleverlemming commented on #3482
[xyc](https://github.com/xyc)'s comment about [DX Code Companion extension](https://marketplace.visualstudio.com/items?itemName=MohithShrivastava.dx-code-companion) was the solution for me.

[2022-05-24 10:43] KIJones commented on #4146
I found a solution to this in case anyone else is having similar problems. If you are working behind a proxy you have to specify the proxy in VSC: Instructions can be found here: https://salesforce.stackexchange.com/questions/344787/error-read-econnreset-unable-to-retrieve-components-in-vscode

[2022-05-24 10:43] #4146 closed

[2022-05-24 18:10] AngelMtz97 commented on #4068
Hello @AnanyaJha I changed my laptop for another one, because was too difficult find the cause, I try reinstalling VS Code, Salesforce CLI, Salesforce Extension Pack, but it didn't work. As an aside, my co-worker also ran into the same problem shortly after, while we were working on the same project. Thank you for your reply.

[2022-05-24 23:10] klewis-sfdc commented on #4093
Hi @anthonygiuliano - thanks for submitting the issue.  I have been unable to repro so far, as I have been able to successfully connect to a Trailhead Playground org and refresh Standard Objects.  Do you see anything downloaded to .sfdx/tools/sobjects/standardObjects?  Or is that directory empty after getting the "Failure performing sObject describe aborted" error?

[2022-05-24 23:32] klewis-sfdc commented on #4117
Hi @floperrin, thanks for submitting the issue.  I am so far unable to reproduce.  It does look like you are on an older version of the sfdx cli.  Are you able to update to the latest (`sfdx update`) and see if you encounter the same issue?

[2022-05-25 06:24] dijc opened #4159 "Starting SFDX: Deploy Source to Org The encrypted data is not properly formatted."
Every time when I start to work I keep getting this error.
After multiple autherization to sales force Org and multiple time re-installing the Salesforce CLI extension to older version and updating to new version and reloading multiple time it will start to work.

This process have to to everyday for 2 to 3 times.

[2022-05-25 10:12] AkhileshHN opened #4160 "I have installed the extension but still the aura component tags are not highlighted"
![image](https://user-images.githubusercontent.com/60725930/170238806-5eedb2a8-39ad-4b46-abfe-39ebd3905696.png)

### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

Aura component file syntax is not highlighted

### Actual result

.cmp file contents is not re

[2022-05-25 18:58] klewis-sfdc commented on #4116
Hi @savage25, thanks for submitting the issue.  I am able to repro and confirmed that this is a bug.

[2022-05-25 21:48] kateluu-comdev commented on #3997
Thank for sharing, I got the same issue with VSCode version 1.67.2.
I had roll back to version v.65.2 as suggestion and it works for me. Issue is clear. Cheers

[2022-05-26 00:45] klewis-sfdc commented on #4140
Hi @MenachemShanowitzSide, thanks for reporting the issue.  The same issue has been logged so I am closing this as a duplicate of #4132. Feel free to follow that issue for updates.  Thank you!

[2022-05-26 00:45] #4140 closed

[2022-05-26 10:01] jonny-harte opened #4162 "Inconsistent Formatting between Prettier and Org"
### Summary
Every time you retrieve source from Org it detects all Aura & LWC components as different when using prettier and/or the pre-commit hook in a project. This is because prettier adds a new lines to the end of files and the Org removes them.

This has become more of an issue since the updated source control and is making diff detection very noisy and unmanageable in large projects.

I kno

[2022-05-27 15:17] epincas opened #4166 "Bug due to Apex Interactive Debugger (Extension)"
### Summary

I am unable to use sfdx any more with my personal MacOS Catalina 10.15.7.
It's been working fantastically well until a week ago. I am not sure of the root cause.

From Terminal, **when attempting to run sfdx commands, these are not recognised**. Example, ...
... when running sfdx --version
... I am getting this **error message:** /Users/myUsername/.local/share/sfdx/client/bin/sfdx: li

[2022-05-27 15:56] perryton opened #4168 "SFDX Retrieve/Deploy doesn't use SF CLI?"
If I recall correctly, years ago, the SF CLI Integration extension used to use/run SF CLI command when right-clicking on a file and selecting SFDX: Retrieve Source from Org in VS Code.  What does the current version do/use now when retrieving?  Can I configure it to use SF CLI again?

[2022-05-28 11:03] qwikag opened #5249 "Errors returned from Force Source Deploy are set with root in front of the path"
### Summary

Force:Source:Deploy is returning problems to the problem log of VSCode
but the path of the errored file has an extra Slash "/" causing it to be located at root and not within the project folder.
Other extensions experience the same issue but VSCode refers everyone back to the extension provider.
PMD does not cause this error its problem are just fine

### Steps To Reproduce:

1.  Depl

[2022-05-31 07:04] prateekamana opened #4170 "Can't find deploy or push option with Scratch Orgs made from latest CLI, Can't see Org Browser either."
### Summary

In some of the scratch orgs, I neither see push option, nor do I see deploy option when right clicking on components.

### Steps To Reproduce:

1. Create a scratch org with latest CLI
2. Authorize it
3. Unable to deploy components or push them

### Expected result

I want to be able to right click and individually push elements to scratch org

### Additional information
![image](https

[2022-06-01 06:43] prateekamana commented on #4170
Turns out I can't even authorize the orgs made with previous version CLI anymore
![image](https://user-images.githubusercontent.com/41776584/171343669-3e2415c9-eef6-47b2-a00a-b8d49ebc209f.png)

I don't see the cloud Org Browser icon either.

[2022-06-01 19:33] prateekamana commented on #4170
In my home directory, there were .sfdx/ project.json project-lock.json and some other sfdx files, upon deleting which, my issue fixed itself. I was almost going to uninstall debian over this. 🙏🏻 hope it helps anyone else with the same issue

[2022-06-01 19:33] #4170 closed

[2022-06-01 19:45] AnanyaJha commented on #4160
Hi @AkhileshHN can you share what version of the Salesforce Extensions you're currently using? This can be found by navigating to the Marketplace tab via the icon on the left side panel. Once you're in the marketplace, search for `Salesforce Extensions` and take a look at the version specified on the Extension homepage. Thanks!

[2022-06-02 17:16] LeviticusNelson opened #4184 "Release .vsix files as part of your releases"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
https://github.com/williamboman/nvim-lsp-installer/issues/701#issuecomment-1145082322
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
This file in particular would help create an LSP for the

[2022-06-02 17:22] williamboman commented on #4184
Even better would be to publish the language server packages as standalone npm packages!

[2022-06-02 18:24] randi274 commented on #4184
We've gotten a lot of requests for this, and actually did make this possible recently with #3900 - let us know if that's what you're looking for.

[2022-06-02 19:12] adityababbar opened #4185 "Deployments for even a single file taking longer than 10 minutes"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  Right-click on the file to be deployed and click "SFDX:Deploy This Source to Org"

### Expected result

The deployment should not take more than a couple of minutes

### Actual result
The actual deployment time is around 10 mins as can be seen from below logs

10:59:02.806 Starting SFDX: Deploy So

[2022-06-02 19:23] floralan commented on #4150
Hi @jonny-harte, what is the formatting tool you use? After you format the file, did you do deploy before retrieving the source from the org?

[2022-06-02 19:32] floralan commented on #4159
Hi @dijc, thank you for your post. We see the same error reported for CLI from a different command: https://github.com/forcedotcom/cli/issues/1314. Here are some solutions that may help you:
https://github.com/forcedotcom/cli/issues/1314#issuecomment-1133067200
https://github.com/forcedotcom/cli/issues/1314#issuecomment-1136069819
Could you try the above solutions and let us know if you are still

[2022-06-02 19:36] floralan commented on #4162
Hi @jonny-harte, thank you for your post. This is a known issue, we will be working on this to provide you with a better experience. Please stay tuned.

[2022-06-02 19:49] randi274 commented on #3989
This has been fixed and is now available with v54.15.0 🎉

[2022-06-02 19:49] #3989 closed

[2022-06-03 14:20] williamboman commented on #4184
Ah interesting! I couldn't find any release assets for the [latest release](https://github.com/forcedotcom/salesforcedx-vscode/releases/tag/v54.15.0), and so I assumed assets weren't uploaded. It does seem like the [previous release](https://github.com/forcedotcom/salesforcedx-vscode/releases/tag/v54.12.0) have assets. Shouldn't the latest release have some assets or am I missing something?

[2022-06-03 15:00] thvd opened #4190 "The new code coverage formats also for force:apex:test:*"
I think the new `--coverageformatters` option is a valuable addition to the SFDX cli. But it would be really nice to also add it to `force:apex:test:* `

For example:
[code]

This would be valuable to scratch org build deployments in pipelines. So you can forward the code coverage to your CI/CD system of choice.

[2022-06-03 15:01] randi274 commented on #4184
I would take the assets from the v54.12.0 release in that case - we're working to add them in every time, but we've been having some issues with our release automation recently. That should improve soon though, so the vsix files should be available more consistently!

[2022-06-03 18:50] floralan commented on #4168
Hi @perryton, up to now, we are still using SFDX CLI commands for retrieving and deploying source data. If you find any issues with it, we'd appreciate your feedback.

[2022-06-03 21:08] floralan commented on #4168
Hi @perryton, deploy and retrieve now are calling the library instead of CLI. We had removed the experimental setting [#3580](https://github.com/forcedotcom/salesforcedx-vscode/pull/3580). If you find any perform regression related to the current deploy and retrieve, we'd appreciate your feedback.

[2022-06-03 23:22] prateekamana commented on #4168
I'm sorry but what exactly is "Library" and how is it a substitute to the CLI? 🤔

[2022-06-04 12:38] shruthi1552 opened #4187 "Salesforce Extension with VS Code"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**Salesforce Extension Version in VS Cod

[2022-06-04 12:40] shruthi1552 opened #4188 "Salesforce Extensions for VS Code"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-06-06 07:31] jonny-harte commented on #4150
@floralan I'm using the VSCode Visualforce extension formatter, prettier produces even more inconsistencies such as adding a new line at the end etc. which the Org removes.

Yes after formatting the file I deploy to the Org and then retrieve it again.

[2022-06-06 07:34] jonny-harte commented on #4162
Thanks @floralan. Will this take into account visualforce pages, components and email templates etc? As there are a lot of inconsistencies between whats deployed after being formatted with prettier and what i then retrieved from the Org.

[2022-06-06 15:29] gbockus-sf commented on #4187
Hi @shruthi1552
Looks like you've opened a couple of empty issues.  Please comment or open an issue populated with details.  Thanks!

[2022-06-06 15:29] #4187 closed

[2022-06-06 15:43] epincas commented on #4166
Hello,

I have searched for folders "sfdx" in my Mac in order to cleans/delete potential garbage CLI prior installations.
After that, I have reinstalled Salesforce CLI for Mac and am now getting this error when running sfdx from Terminal:

/Users/myUserName/.local/share/sfdx/client/bin/sfdx: line 16: /Users/myUserName/.local/share/sfdx/client/bin/../7.132.0-6621068/bin/sfdx: No such file or direct

[2022-06-06 20:53] gbockus-sf commented on #4168
We've been moving to using shared libraries instead of utilizing the cli directly in the vscode extensions for a while as there is a performance cost to starting the cli process (also we hope to one day make the extensions install not depend on having the cli installed).

The shared library in this case is the [source-deploy-retrieve library](https://github.com/forcedotcom/source-deploy-retrieve).

[2022-06-06 20:54] perryton commented on #4168
Hi @floralan.  I also would like to understand what "the library" is and how it can be configured.

My issue is I don't know how to configure the latest extension to trust/use my internal organization's CA certificates on Windows 10.

I am able to configure SF CLI to trust/use our CA certs by creating a system variable, NODE_EXTRA_CA_CERTS, and pointing it to a file containing the certs in PEM for

[2022-06-06 21:04] gbockus-sf opened #4191 "Extensions are failing to compile due to mismatch of the vscode-languageserver-types version in CircleCi"
### Summary

We have seen a few build failures recently where the extensions are failing to compile.
See https://app.circleci.com/pipelines/github/forcedotcom/salesforcedx-vscode/9000/workflows/1ece052c-3a2b-41c4-b5de-332f42f080ff/jobs/34461 for an example build failure.

The build fails to compile with the following message:
[code]

This type of failure usually occurs if the there are two differe

[2022-06-07 09:59] qwikag opened #4194 "Problem's are returning errors linking to incorrect file locations giving "The editor could not be opened because the file was not found""
### Summary

I recently did a new install of VSCode and SFDX CLI on a new Macbook. So versions are recent. I have updated SFDX since this error but it still exists.

sfdx-cli/7.152.0 darwin-x64 node-v16.15.0
&
sfdx-cli/7.153.1 darwin-x64 node-v16.15.0

**What I am doing:**
I am deploying an Apex Class by Right Clicking on the file in the editor and choosing "Deploy this source to org", I have also

[2022-06-07 17:10] jeffb-sfdc commented on #3226
@EstebanRomero84 I'm looking into this, however, I wasn't able to reproduce the issue.  I created a developer edition org, and from that created two scratch orgs.  When I launched VS Code, I was able to switch back and forth, and everything
seemed to function correctly.  This ticket was opened a while ago, so I'd like to know 1) does this issue still happen?  2) If so, could you provide more detai

[2022-06-07 17:29] EstebanRomero84 commented on #3226
@jeffb-sfdc no, I haven't face this issue again.

[2022-06-07 18:58] gbockus-sf commented on #4191
So the reason this was failing this way was the package-lock.json file wasn't updated with the new version that was committed for each package by the cut-release job.  The job was updated to generate the package-lock.json file with the updates however b/c circleci is using NPM v8.1 it was failing to update.  Follow on PR coming to address that issue.

[2022-06-07 22:49] qwikag commented on #4194
I have seen this error around other extensions, the VSCode extensions seems to transfer back again so transferring it could be a merry go round.
My understand is the issue is with the specific extension.
hence my picture shows PMD working just fine.

But hey I am not the expert. Collaboration with them would surely help in some way.
So thanks!

[2022-06-07 22:51] qwikag commented on #4194
I updated sfdx:
problem still exists
{
        "cliVersion": "sfdx-cli/7.153.1",
        "architecture": "darwin-x64",
        "nodeVersion": "node-v16.15.0",
        "pluginVersions": [
                "@oclif/plugin-autocomplete 0.3.0 (core)",
                "@oclif/plugin-commands 1.3.0 (core)",
                "@oclif/plugin-help 3.3.1 (core)",
                "@oclif/plugin-not-found 1.2.6 (

[2022-06-08 12:38] AllanOricil opened #4198 "Enable developers to quickly bump apiVersion in vscode and sfdx"
**Is your feature request related to a problem? Please describe.**
From time to time developers have to bump apiVersion in multiple metadata files in a folder/project. Depending on the amount of files, this can take some time.

**Describe the solution you'd like**
It would be nice to have a command that bump api version in multiple files at once. This command could accept a directory path, then it

[2022-06-08 16:55] AnanyaJha commented on #4198
Thanks for sharing @AllanOricil! We'll keep this in mind for a future iteration. Would it be useful to have this available via the command palette - as something like "Update API Version across Project" that allows you to enter in the API version to upgrade to? Or would it be more useful via the CLI for CI/CD pipelines as you mentioned

[2022-06-08 18:43] salesforcekumar opened #4200 "when open the vs code application some times default org not be opened, sometimes it will take too much of time around 30 min."
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**Salesforce Extension Version in VS Cod

[2022-06-08 19:04] AllanOricil commented on #4198
I believe you guys should create an sfdx plugin first. And after that you could also create a new vscode command. The only inputs I see are:

- desired api version => you should allow any possible api value here.
- path => any metadata within this path would be updated to a desired api version. For instance, I can have a mono repo with multiple projects inside the same src folder. Then inside the

[2022-06-09 12:34] Prasad-jii opened #4201 "Create a Lightning Web Component(Create a scratch Org) In this I am getting this type of error"
18:00:21.109 sfdx force:org:create -f config\project-scratch-def.json --setalias trailhead --durationdays 7 --setdefaultusername --json --loglevel fatal
18:00:28.936 sfdx force:org:create -f config\project-scratch-def.json --setalias trailhead --durationdays 7 --setdefaultusername --json --loglevel fatal
 ended with exit code 1

The requested resource does not exist

[2022-06-09 20:04] #4198 closed

[2022-06-09 20:11] AllanOricil commented on #4198
This can be done with regex and replaceAll

[2022-06-09 20:29] gbockus-sf commented on #4198
@AllanOricil thanks for the follow up.  Would you mind providing a more detailed work around that you used to accomplish this task?   Did you do the find/replace in VSCode or on the command line?  Do you have the regex handy that you used to find all the occurrences that you care about? Thanks!

[2022-06-09 20:43] aheber commented on #4198
Here is the instructions we have, includes regex and find scopes. Hope it helps.

### Update Project API Version
`./sfdx-project.json` increment API version

To list all items not on the target API version you can search in VS Code with `<apiVersion>(?![NEW VERSION])\d+.\d</apiVersion>`

### Apex Classes and Triggers
Find:`<apiVersion>.*</apiVersion>`
Replace:`<apiVersion>[NEW VERSION]</apiVersion

[2022-06-09 21:39] AllanOricil commented on #4198
![image](https://user-images.githubusercontent.com/55927613/172949779-34fe963a-f525-4c26-9695-b62dc49692e3.png)

[2022-06-10 02:21] microweii opened #4202 "SFDX Local Dev Server commands not found in multi-root workspace"
### Summary

When loading a _multi-root_ workspace, the SFDX commands relating to the local dev server do not work, saying the command is not found (See image).
**Note:** If a _single-root_ workspace is loaded, the command works, and the command _continues_ to work after adding new root folders to the workspace. It will fail as above once the new workspace is reloaded.

### Steps To Reproduce:

1.

[2022-06-10 08:07] marine-marsella commented on #4008
Hi,
I've the same issue 😖 with my visual studio on my mac (macOs 12.4)
my salesforce extension pack is in version 55.0.0
my sfdx-project.json is in version 55.0 too, and looks like this :
[code]
Thanks for your help

[2022-06-11 09:17] Schuchie commented on #3953
@jag-sfdc any update on that problem?

[2022-06-13 17:17] gkupce-glob commented on #1140
I'm having this same issue right now with the following versions:

VsCode info:
Version: 1.68.0 (user setup)
Commit: 4af164ea3a06f701fe3e89a2bcbb421d2026b68f
Date: 2022-06-08T11:44:16.822Z
Electron: 17.4.7
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Windows_NT x64 10.0.22000
salesforcedx-vscode v55.0.0

sfdx version:
sfdx-cli/7.154.0 win32-x64 node-v16.15.0

[2022-06-13 17:37] gkupce-glob opened #4207 "Apex Test Sidebar - Does not refresh status when running a test against an org with a namespace"
# Summary
Since a while, I'm not able to get the test results in my TEST: APEX TESTS panel

# Steps To Reproduce:
1. Run Tests from the TEST: APEX TESTS Panel
2. The circles next to the test name stay blue

# Expected result
The test circle should change either to red or green

# Actual result
The test circle stay blue

# Additional information
![Test not refresh](https://user-images.githubusercon

[2022-06-14 15:05] samiksha2512 opened #4209 "Salesforce CLI extension causing issue even after updating"
### Summary
Salesforce CLI extension causing issue even after updating

### Steps To Reproduce:

Open Visual Studio Code.
create a new lightning component and save it.
right click and select deploy to source org.
Actual : The deployment popup keeps loading without showing any success or failure message.
Expected : The component should deploy

### Additional information
For more info- https://githu

[2022-06-14 17:13] AnanyaJha commented on #4200
Hi @salesforcekumar please share more details about the type of problem you're facing. What version of VS Code and the Salesforce Extensions are you using? Please open a new issue with all the information, thank you!

[2022-06-14 17:13] #4200 closed

[2022-06-14 17:14] AnanyaJha commented on #4201
Hi @Prasad-jii can you share what version of the Salesforce Extensions you're facing this issue with? This can be found by clicking on the Marketplace icon on the left activity bar in VS Code. Search for 'Salesforce Extensions' and take a look at the version number listed on the extensions homepage. Thank you!

[2022-06-14 19:59] AnanyaJha commented on #4202
Hi @microweii thanks for opening this! As of right now, the Salesforce Extensions don't support multi-root workspaces. More info here: https://github.com/forcedotcom/salesforcedx-vscode/issues/970. We'll be looking into this further in a future iteration, feel free to provide more information around the type of experience you'd be looking for.

[2022-06-14 21:34] jeffb-sfdc commented on #3111
@IVerkhosh your issue with not being able to authorizer an org does not seem to be the same issue as the one that's here, in the ticket.  Pleas open a new ticket so we can track the issue with not being able to authorize a new org.

[2022-06-14 21:44] jeffb-sfdc commented on #3111
@dipankarsahoo180 I am not able to reproduce the issue, and the issue seems fixed.  To reproduce the issue I performed the following tests:

Test 1-empty folder
OS: Mac OS X 12
1. In the Finder, I created a new folder, named `empty_folder`
2. I ran VS Code (1.68.0) along with the Salesforce Extension pack for VS Code (55.0.0) installed
3. Selected menu File > Open
4. Navigated to where `empty_fold

[2022-06-15 14:48] perryton commented on #4168
Thanks for the responses. @gbockus-sf and @jeffb-sfdc

So, I guess I'm wondering now, why it appears that the NODE_EXTRA_CA_CERTS variable doesn't work with the latest extension, when it works with the SF CLI?

Is there a different method of extending the list of trusted CA certs that I need to use with the latest extension?

[2022-06-15 16:39] jeffb-sfdc commented on #4131
I verified that this is what we get.  This may be due to a limitation of what we get back from the Apex debugger, but it's worth looking into.  This appears to be an issue with arrays, List<>, and Map<>:

[code]

[2022-06-15 16:55] jeffb-sfdc opened #4211 "Apex debugger: variables in the Watch window and in the Debug Console window don't evauluate"
### Summary

When debugging using the Apex debugger, as I step through the code, I see local variables are added, but when I evaluate the variables in the Watch window, or in the Debug Console window, just the name of the variable appears, and not its value.

### Steps To Reproduce:

1.  Add the following code:
[code]

2. Deploy the source
3. Click the "Debug Test" link
4. Debug the code, and add

[2022-06-15 16:56] jeffb-sfdc commented on #4211
Note: this was discovered while looking into https://github.com/forcedotcom/salesforcedx-vscode/issues/4131, which is related to this.

[2022-06-15 18:21] aaron-rodriguez-j2 commented on #3326
thanks smaddox-sf
testing line breaks1
testing line breaks2

[2022-06-16 20:43] luisbarajascharly opened #4217 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `55.0.0`
- OS Version: `Windows_NT ia32 10.0.19043`
- VS Code version: `1.68.1`

SFDX: Retrieve Source from Org failed to run

[2022-06-16 21:48] AlexHamburgGER commented on #3198
My VSCode is taking long time, like 3minutes to become ready for salesforce coding. I have 8GB Ram and SSD as HDD.

[2022-06-16 23:06] gbockus-sf opened #4218 "Bump SF schemas dependency in order to pick up the latest and greatest"
**Is your feature request related to a problem? Please describe.**
Schemas was updated to address changes to project json files.  We need to update to pull in the json validation for those files.

**Additional context**
See: https://github.com/forcedotcom/schemas/compare/v1.1.0...v1.1.3

[2022-06-17 09:25] rafmauriello commented on #3198
It's the same for me and i've also 8GB of RMA and SSD.

[2022-06-17 09:36] user851 commented on #4064
I was getting this error after renaming a LWC component. Changed it back and it pushed ok.

[2022-06-19 10:51] Hari123Dp opened #4220 "I am not able to see LWC"
Issue Type: <b>Performance Issue</b>

Hi, I am not able to see that >sfdx:lightening components ..
I tried so many times uninstall and reinstall but its not possible i can't able to work on it.Please check and update me back

Extension version: 55.0.0
VS Code version: Code 1.68.1 (30d9c6cd9483b2cc586687151bcbcd635f373630, 2022-06-14T12:48:58.283Z)
OS version: Windows_NT x64 10.0.19043
Restricted M

[2022-06-21 20:33] jeffb-sfdc commented on #3226
@amtrack I'm not able to reproduce this.  Do you have steps to reproduce this?

[2022-06-21 21:26] AllanOricil commented on #3575
@jeffb-sfdc look at the first print screen I posted. I'm sure it is not that because I did update the file's name and its class name. I'm sure It is a bug from vscode because I was able to deploy my class using sfdx with no problem.

[2022-06-21 23:04] jeffb-sfdc commented on #3575
@AllanOricil I'm following your steps verbatim, and when I follow what's listed (eg w/o renaming the name of the class within the file), I get the "File name mismatch" error, which is expected.  Here are the steps you listed:

1. Create a class with any name (I named it, "INK.cls")
2. Ensure your class and the file names match (they did)
3. Deploy it to any org using "SFDX: Deploy This Source to O

[2022-06-21 23:09] AllanOricil commented on #3575
@jeffb-sfdc I don't think you saw the print screen. Could please see the print screen, and then see that my class name, as well as it's file name are matching. I took that print screen and added YELLOW rectangles on the information that is important to understand that there is a bug. Inside those rectangles you will see that I'm not doing the mistake you think I'm doing.
Besides that, even without

[2022-06-21 23:22] AllanOricil commented on #3575
@jeffb-sfdc on step 5 I should have said that I had also changed its class name. Which I did, as shown in the Print Screen. Sorry for that, my bad.

[2022-06-22 04:02] rahulreddykothapally opened #4226 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `55.0.0`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.68.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-06-22 17:05] warlockdthpunch opened #4228 "Error message when clicking on Apex error : 'The editor could not be opened because the file was not found.'"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  Create a project with manifest.
2. Authorize and Org
3. Write an Apex code that has a few errors in it and save it.
4. Right click on the file and select SFDX: Deploy Source to Org
5. Click on any of the issues that show in the VS Code PROBLEMS tab.

### Expected result

It should have opened the

[2022-06-24 11:11] amtrack commented on #3226
@jeffb-sfdc
I recorded a short video to show you the steps and the outcome:

https://user-images.githubusercontent.com/789765/175522571-bbcd4f49-b686-43c1-9950-97479fb562a7.mov

I've installed the latest sfdx version using:

[code]

I've installed the following VS Code extensions:

[code]

Here is more info about my OS and VS Code:

[code]

[2022-06-26 07:02] samlev26 opened #4233 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `55.2.0`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.68.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-06-27 05:36] Laxman-009 opened #4234 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `55.2.0`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.68.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-06-27 05:37] Laxman-009 commented on #4234
An unsupported  version was detected

[2022-06-27 16:22] gbockus-sf commented on #4234
HI @Laxman-009
I assume this is an unsupported java version.  What version of Java do you currently have installed?
`java -version` from the command line

See https://developer.salesforce.com/tools/vscode/en/getting-started/java-setup for details.

[2022-06-27 16:27] gbockus-sf commented on #4233
Hi @samlev26
Can you expand are what issue you are encountering using the extensions? Thanks!

[2022-06-27 16:36] gbockus-sf commented on #4220
Hi @Hari123Dp
Could you expand a bit on what you mean that you are not able to see lightning components?
- Is this a new project or an existing project on you system?
- Have you already synced with your org?  If so
  - Do the files exist if you look in the explorer or command line?

It'd be useful if you could provide the steps you are currently taking to attempt to see the LWC in VSCode.

[2022-06-27 16:36] #4218 closed

[2022-06-27 16:38] gbockus-sf commented on #4217
HI @luisbarajascharly
Could you provide the error message that is displayed in the Output panel when you attempt the retrieve?

What version of sfdx do you currently have installed on your system? `sfdx -v` from the command line.
Thanks!

[2022-06-28 15:15] JesusAGS opened #4237 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `55.2.0`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.68.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2022-06-28 15:35] SG77117 opened #4238 "Unable to authorize org"
### Summary

Trying to Authorize an org using VScode and SFDX Cli but facing issue.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

It redirects to browser with given URL and after inserting org credentials, it will allow to authorize.

### Actual result

Starting SFDX: Authorize an Org

11:34:09.332 sfdx force:auth:web:login

[2022-06-29 15:43] gbockus-sf commented on #4226
@rahulreddykothapally Closing due to lack of info.  Please reopen and provide the details if you continue to have an issue. Thanks.

[2022-06-29 15:43] #4226 closed

[2022-06-29 19:24] klewis-sfdc commented on #4194
Closing as fixed by #4241.  Please feel free to re-open if this issue persists after the next release.  Thank you!

[2022-06-29 19:24] #4194 closed

[2022-06-29 19:25] klewis-sfdc commented on #4228
Closing as fixed by https://github.com/forcedotcom/salesforcedx-vscode/pull/4241. Please feel free to re-open if this issue persists after the next release. Thank you!

[2022-06-29 19:25] #4228 closed

[2022-06-29 23:58] jeffb-sfdc commented on #3575
This has been fixed and should go out in next week's build, 55.4.0.  I found that after renaming a file (just changing case) updating the Apex class name, and then within the editor running the `SFDX: Deploy This Source to Org` command, that I was able to reproduce it.

The issue was that after renaming a file (just changing the case), that VS Code's APIs pass the stale/previous URI.  For us that'

[2022-06-30 11:26] AllanOricil commented on #3575
@jeffb-sfdc great job

[2022-06-30 19:48] netapinhas commented on #4238
Did you found  solution for this? I'm facing the same issue

[2022-07-01 00:27] RitamAgrawal commented on #4238
@SG77117 & @netapinhas Which version of the salesforce extension you are using?

[2022-07-01 07:58] samueldeemas opened #4248 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `55.3.0`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.68.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-07-01 07:59] samueldeemas commented on #4248
[code]

[2022-07-01 09:09] RupertBarrow commented on #928
We still need this, in the following form :
- right click on a ".../staticresources" folder : display menu "SFDX: create new static resource", ask for the name of the resource to be create, and call 'sfdx force:staticresource:create -MyStaticResource'
- command palette : add the "SFDX: create new static resource" command

cc @dschach @smaddox-sf @mohanraj-r

[2022-07-03 09:49] omkar02032000 opened #4251 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `55.3.0`
- OS Version: `Linux x64 5.13.0-52-generic`
- VS Code version: `1.68.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2022-07-04 06:39] PawelWozniak commented on #3572
I see a menu item but when I click it and provide the name then it still creates apex class in main directory as there is no other choice. In such case I would expect even skipping this choice menu and direct file create under a subdirectory.
<img width="264" alt="2022-07-04_08h35_21" src="https://user-images.githubusercontent.com/5740564/177095872-51f92dcf-75fc-471d-871c-9c1caae12d08.png">

[2022-07-04 07:48] RupertBarrow commented on #3198
Same issue this morning : MacBook Pro 2016, SSD, 16Gb RAM

I got this message at the same time Github was saying something like "cannot show all changes, there are more than 10 000" in the "Source Control" tab.

[2022-07-04 11:51] ronika-das opened #4252 "SFDX:Create Project with Manifest resulted in error"
### Summary

Hi Team.
All of a sudden, the Salesforce Extension pack is not working.
When I try to create a new SFDX Project With Manifest, the below errors is thrown
sfdx.force.project.with.manifest.create' not found

### Steps To Reproduce:

1.1 Open Command Pallete->Create SFDX Project With Manifest

### Expected result
It should allow us to choose the type and location to create the new projec

[2022-07-04 12:17] Sainath-Attuluri commented on #4252
Am facing the same issues, SFDX CLI extraction required packs installed. and Am trying to create the New project click Ctrl+Shift+P got above mention error. And trying to use the existing folder and retiring but with the same error. How to solve this error. Please update ASAP.

[2022-07-04 16:01] gbockus-sf commented on #4252
Howdy,
I tried to repo this on Mac and Windows without success.
I just updated the extensions this morning and refreshed VSCode.

This kind of error typically indicates there is an issue with the extensions on install. It could have been a hiccup with the vscode marketplace that has been resolved.

The only difference between my machine and yours is mine is using OS: Windows 10, 21H2 but I wouldn'

[2022-07-04 16:02] gbockus-sf commented on #4251
Hi @omkar02032000
Could you expand on the bug you are reporting?

[2022-07-04 16:03] gbockus-sf commented on #4248
HI @samueldeemas
Could you provide more information on the bug you are seeing? Thanks

[2022-07-04 16:04] gbockus-sf commented on #4237
HI @JesusAGS
Could you provide more information on the bug you are seeing? Thanks

[2022-07-04 16:59] ronika-das commented on #4252
@gbockus-sf
Thank you for your reply.
We did try that
1. Updated everything to latest version, ensuring environment variables are updated
2. Uninstalled vscode, salesforce cli and java, then reinstalled back

I am still trying. The sfdx commands are working fine on the terminal. But the Salesforce extension pack doesn't load up, even for existing sfdx projects.

[2022-07-05 05:44] Githubbhara commented on #4252
Same issue i have been facing here. Tried with all possibilities like
Uninstall and install JRE, JDK, vsc, Salesforce extension pack, cli and luck so far.
Still facing the above mentioned error.

[2022-07-05 16:57] gbockus-sf commented on #4168
@perryton my apologies on the slow response.  This is not something we were tracking on the vscode side.  I'll mark this as a bug so it's raised up internally as something we need to address. FYI @AnanyaJha

[2022-07-05 23:00] angela-young commented on #3226
@amtrack I have followed your steps but am unable to reproduce this bug on my end. Both `.sfdx/sfdx-config.json` and `.sf/config.json` are updating correctly, and the default org is displaying correctly.

https://user-images.githubusercontent.com/60243824/177430496-1f60db93-3d42-44e5-a3f6-337be7d6ad64.mov

Closing this issue due to lack of reproducibility.

[2022-07-05 23:00] #3226 closed, assigned to nobody

[2022-07-06 19:28] gbockus-sf commented on #4252
Hum. Very strange.  I had @randi274 also try it on her windows box and she was also unable to reproduce. Could you please share the output from `ls ~/.vscode/extensions`

Also if possible zip up `~/.vscode/extensions/salesforce.salesforcedx-vscode-core-55.3.0` and attach it here?
Bonus: ` code --list-extensions` output

[2022-07-07 10:25] ronika-das commented on #4252
Hi all.
PLs find the output as follows

ls ~/.vscode/extensions
[ls vscode.txt](https://github.com/forcedotcom/salesforcedx-vscode/files/9062298/ls.vscode.txt)

~/.vscode/extensions/salesforce.salesforcedx-vscode-core-55.3.0
[resources.zip](https://github.com/forcedotcom/salesforcedx-vscode/files/9062677/resources.zip)

code --list-extensions
[extensions.txt](https://github.com/forcedotcom/salesfo

[2022-07-07 11:36] Sainath-Attuluri commented on #4252
Hi Team,

As per the above comments run the and below is the info.

1) ls ~/.vscode/extensions :
User Name MINGW64 ~/Desktop/Vscode_Git/0504
$ ls ~/.vscode/extensions
chuckjonas.apex-pmd-0.5.9/                      salesforce.salesforcedx-vscode-apex-debugger-55.3.0/
dbaeumer.vscode-eslint-2.2.6/                   salesforce.salesforcedx-vscode-apex-replay-debugger-55.3.0/
esbenp.prettier-vscode-9

[2022-07-07 15:28] JoshBeeHome opened #4256 "force:config:set is not a SFDX command"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**Salesforce Extension Version in VS Cod

[2022-07-07 16:02] TiruvaipatiS1 opened #4257 "Not able to push code from VS code to Salesforce Org"
Issue Type: <b>Bug</b>

Make changes to a component in VS Code.
SFDX: Deploy source to Org

Getting below Error -
11:53:44.634 Starting SFDX: Deploy Source to Org

write EPROTO 67935240:error:100000f7:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER:../../third_party/boringssl/src/ssl/tls_record.cc:242:

Extension version: 55.3.0
VS Code version: Code 1.68.1 (30d9c6cd9483b2cc586687151bcbcd635f37

[2022-07-08 03:46] minhle-furu opened #4261 "[Known Issue with Release 55.4.0] Not able to deploy or retrieve source from Org on Windows"
This fearture was working fine until 8th Jul 2022.

When I have tried to retrieve metadata from Org, it is shown as :

- Error deploying or retrieving source: The file or directory that you tried to deploy or retrieve isn't in a package directory that's specified in your sfdx-project.json file. Add this location to your "packageDirectories" value, or deploy or retrieve a different file or director

[2022-07-08 06:47] ipros-asahina commented on #4261
I have the same

i checked code.
IN SourcePathChecker
  sourcePaths is upper case letters ( Ex. C:/.... )
  packageDirectories is lower case letters ( Ex. c:/... )

Check with function [ startWsith ] is return false

-------------------
sorry in strange English

[2022-07-08 07:01] godminsung commented on #4261
The only one way I found is to downgrade the "Salesforce CLI Integration" extenstion version. Hope this issue will be fixed!

[2022-07-08 07:13] wrone commented on #4261
Same here. I updated the VSC extensions yesterday, today it doesnt work :(

[2022-07-08 08:07] Klay-Zhou commented on #4261
same issue, hope will fixed soon

[2022-07-08 08:15] Klay-Zhou commented on #4261
can be fixed by downgrade Salesforce CLI Integration to previous version

[2022-07-08 09:32] dvanlooy opened #4262 "SFDX: Deploy to Org not working anymore"
When working in a package.xml project, having apexclass wildcard in use, we cannot deploy to org anymore by selecting a single file to deploy (SFDX:Deploy to Org). We get following error:

This error makes no sense as the sfdx-project.json file hasn't changed and mentions the default package location (force-app) and all files are located in child folders in force-app as per default.

[2022-07-08 10:59] cwarner-sg commented on #4261
Likewise. I had the error with VSCode 1.69.0 and Salesforce CLI Integration v55.4.0. Rolling CLI back to v55.3.0 fixed the issue for me.

[2022-07-08 12:48] doug-hynes-salesforce commented on #4262
I have the identical issue in two different environments.

[2022-07-08 12:52] mayank-1-2 commented on #4262
I am also having same issue after I have reloaded the VS code
![image](https://user-images.githubusercontent.com/60282634/177995765-af4d5c33-f5e7-4699-8ee4-5a7edb7ceae3.png)

[2022-07-08 12:59] mattjpovey opened #4263 "Deployment Issue with v55.4.0"
### Summary

The latest version (55.4.0) seems to have broken the right click 'deploy source to org' function.  Now, if I right click an Apex Class (for example) and select 'SFDX: Deploy Source to Org' I get this error:

Error deploying or retrieving source: The file or directory that you tried to deploy or retrieve isn't in a package directory that's specified in your sfdx-project.json file. Add

[2022-07-08 13:01] prakash-concret commented on #4262
I have the same issue after updating to CLI and VS Code Extensions.

[2022-07-08 13:33] Crysis2015 commented on #4263
Facing same issue

[2022-07-08 14:12] randi274 commented on #4263
@Crysis2015 are you also working on a Windows machine? This is currently working on my Mac with v55.4.0, but I'm going to retry shortly on Windows.

[2022-07-08 14:20] ClemABT commented on #4263
Same issue here on a Windows 10 machine.

[2022-07-08 14:23] randi274 commented on #4257
Thanks for logging this! Looks like we have a few issues opened with the same. Please track #4261 for updates.

[2022-07-08 14:23] #4257 closed

[2022-07-08 14:24] randi274 commented on #4263
I'm seeing now we have a few issues opened with the same. Please track #4261 for updates.

[2022-07-08 14:24] #4263 closed

[2022-07-08 14:25] randi274 commented on #4262
Thanks y'all for the input here! It looks like we have a few issues opened with the same. Please track #4261 for updates.

[2022-07-08 14:25] #4262 closed

[2022-07-08 14:52] Lavanyajade opened #4264 "Apex extension unresponsive"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `55.4.0`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.69.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2022-07-08 14:59] randi274 commented on #4264
Hi @[Lavanyajade](https://github.com/Lavanyajade), it looks like this was an auto-generated issue. If you have more details, please reopen with additional context and let us know how we can help.

[2022-07-08 15:02] NateOs opened #4265 "Fullscreen component view without the additionals local dev server ui"
**Is your feature request related to a problem? Please describe.**
Coming from a react background, I was expecting that the components wouldn't be restricted in viewing space, this  current UI view isn't that bad, but makes it hard for me to judge how my experience sites are going to fit in the components I create.

**Describe the solution you'd like**
Perhaps we shd be able to get both the compon

[2022-07-08 15:17] djoly42 commented on #4261
the workaround doesn't work for me.

sfdx:
sfdx-cli/7.158.1 win32-x64 node-v16.15.1

Vscode:
Version : 1.69.0 (user setup)
Validation : 92d25e35d9bf1a6b16f7d0758f25d48ace11e5b9
Date : 2022-07-07T05:28:36.503Z
Electron : 18.3.5
Chromium: 100.0.4896.160
Node.js : 16.13.2
V8 : 10.0.139.17-electron.0
Système d’exploitation : Windows_NT x64 10.0.19043

[2022-07-08 15:23] selcukgoktas commented on #1432
I have the same issue. There was no problem until this day. The thing is when I right click package.xml and deploy its fine. But it deploy all the files. When I click lwc or any file apex, aura etc,  it says The file or directory that you tried to deploy or retrieve isn't in a package directory that's specified in your sfdx-project.json file.. I'm working nearly 1 month with this method there was

[2022-07-08 15:25] AravinthHari opened #4266 "Unresponsive"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**Salesforce Extension Version in VS Cod

[2022-07-08 15:48] justKev93 commented on #1432
I am having the exact same issue.. And only happened today as well.. Yesterday everything worked perfectly.. Today it fell apart

[2022-07-08 15:55] shivi-95 commented on #1432
I am also facing same issue, just started few minutes ago

[2022-07-08 15:56] selcukgoktas commented on #4261
Thank you for the information. this solved my problem.

[2022-07-08 16:08] AnanyaJha commented on #4237
Hi @JesusAGS feel free to open a new issue with more details on the problem you're facing. Closing this for now, thanks!

[2022-07-08 16:08] #4237 closed

[2022-07-08 16:09] AnanyaJha commented on #4248
Hi @samueldeemas thanks for opening this! We're closing this issue for now, but please feel free to open a new issue with more details on the problem you're facing - thanks!

[2022-07-08 16:28] vamshikrishnametta commented on #4261
Same here ! Had to downgrade to v55.3.0
![image](https://user-images.githubusercontent.com/12369875/178032601-edf7c072-8c46-4139-a8ff-007573232108.png)

Make sure to restart IDE after downgrade.

[2022-07-08 16:33] srujangurudu commented on #1432
I too started facing this issue suddenly

[2022-07-08 18:47] danicsegura commented on #1432
After searching in a few forums, this solution was the one that solved the issue for me.

[2022-07-08 18:47] fmertins commented on #4261
Same here, thank you...

[2022-07-09 05:05] gbockus-sf commented on #4261
We found the problem and reverted the change. [v55.4.1](https://github.com/forcedotcom/salesforcedx-vscode/releases/tag/v55.4.1) patch release went out earlier today to address the issue.  Appreciate all the feedback and quick reporting of the issue.

[2022-07-09 05:05] #4261 closed

[2022-07-09 05:12] gbockus-sf commented on #4256
@JoshBeeHome typically the "is not a command" error occurs when the extension fails to load properly.

You can check the output panel (Log (Extension Host), Salesforce CLI) to see if there are any startup errors reported.
![Screen Shot 2022-07-09 at 12 07 43 AM](https://user-images.githubusercontent.com/76090802/178092461-f2d7c5df-1547-476c-a146-7365a6ceff11.png)

Also it'd be interesting to see w

[2022-07-09 07:21] Lavanyajade commented on #4264
Hi @randi274, I have been receiving this notification "The extension 'Apex' took a very long time to complete its last operation and it has prevented other extensions from running."

![image](https://user-images.githubusercontent.com/66024885/178096065-6c7ca7f8-ec24-4e9e-9fd9-540698bd6fe2.png)

[2022-07-09 07:24] Lavanyajade commented on #4264
Kindly re-open this issue @randi274

[2022-07-10 16:37] worktowindsurf commented on #3990
Same problem for me
Is there any workaround?
Can you go back to an older version?
And if so, which version works?

This is a real productivity issue…

[2022-07-11 14:20] randi274 commented on #4266
Hi @AravinthHari, it looks like this issue was opened automatically. If you have more details to add, let us know and we can reopen it to investigate further.

[2022-07-11 15:05] #3693 closed

[2022-07-11 18:32] WesleiOliveira opened #4275 "Erro sfdx command line "Parse error in file unknown on line 2""
Prezados(as), estou encontrando o erro abaixo em todos os comandos do SFDX

PS C:\Salesforce\Salesforce> sfdx force:source:retrieve -m ApexClass:CaseRepository
(node:3276) JsonParseError Plugin: sfdx-cli: Parse error in file unknown on line 2
{
<<<<<<< HEAD
  "tar
module: @oclif/config@1.18.3
task: runHook prerun
plugin: sfdx-cli
root: C:\Program Files\sfdx\client
See more details with DEBUG=*
(Us

[2022-07-11 19:46] Jcps opened #4276 "Documentation dead links"
### Summary

Recent changes (see #4007) seem to have broken at least the Java Setup page, and it is referenced in external pages (such as Trailhead).

### Steps To Reproduce:

1.  Go to https://developer.salesforce.com/tools/vscode/en/vscode-desktop/install
2. Scroll down to "Java Platform, Standard Edition Development Kit"
3. Click the link in "See Java Setup for details."

### Expected result

T

[2022-07-11 21:27] #4276 closed

[2022-07-12 05:19] Lavanyajade commented on #4264
on start of VsCode

[2022-07-12 05:22] Lavanyajade commented on #4264
Facing the same issue with 'Salesforce CLI Integration' and 'SLDS Validator'
![image](https://user-images.githubusercontent.com/66024885/178414642-a377e25a-6431-497f-9248-fd9854d3369f.png)

[2022-07-12 08:11] RiteshDamco opened #4278 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `55.4.1`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.68.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-07-12 16:32] Sukkiiiiii12 commented on #1695
I am trying to deploy my code to org but I receive the same error even after reinstaling the salesforce cli and vs code. There is no specification to what's the issue either. What should I do?

[2022-07-12 16:45] randi274 commented on #1695
@Sukkiiiiii12 are you able to run the `sfdx force:source:deploy` command using the CLI?

[2022-07-12 16:51] Sukkiiiiii12 commented on #1695
No I am not able to run this command in the terminal either.

[2022-07-12 17:02] randi274 commented on #1695
@Sukkiiiiii12 it sounds like something isn't quite set up correctly with the Salesforce CLI. For more help with the CLI, you'll want to check in with that team here: https://github.com/forcedotcom/cli/issues

Or consult the troubleshooting docs again here: https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_troubleshoot.htm

[2022-07-12 21:04] danacoder commented on #4168
@floralan, I just updated to the latest version after using an older version for a while. My "Diff File Against Org" in a sandbox is incredibly slow now. I just ran a test retrieve command

sfdx force:source:retrieve --sourcepath force-app/main/default/classes/MyClassName.cls --dev-debug --loglevel=trace

I see a lot of the following:

  sf:MetadataApiRetrieve DEBUG MDAPI status update: Pending +6

[2022-07-12 21:30] AnanyaJha commented on #4278
Hi @RiteshDamco! Thanks for opening this issue, we need some more information to help you triage what's going on. I'm going to close this for now but please feel free to open a new issue if you are still encountering a problem.

[2022-07-12 21:30] #4278 closed

[2022-07-13 06:08] abhishekmehta04 commented on #3197
Thanks! Removing static resource really worked. Weird !

[2022-07-13 06:31] RiteshDamco opened #4279 "Extension issue"
![Capture](https://user-images.githubusercontent.com/97294981/178666031-4a696e11-5718-4d2c-8c12-2a7094f76b3c.JPG)
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `55.4.1`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.68.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-07-13 06:33] RiteshDamco commented on #4279
While retrieving metadata every time I get this error, metadata does not get retrived.

Note Extension automatically restarted.

[2022-07-13 20:38] cemerson commented on #2204
+1 I'm stuck on this too. My error is:
`\force-app\main\default\classes\OneOfMyTriggers.cls-meta.xml: Expected source files for type 'ApexClass'`

This used to work but just won't anymore. Any other ideas/tips on this?
I've tried updating VS Code, SFDX CLI but nothing is working. I've also tried right clicking on package.xml among other things - but every "Retrieve Source from Org" fails w/the abo

[2022-07-14 14:11] randi274 commented on #2204
@cemerson your error sounds distinct from the ones others have faced here with code coming from packages. Would you be willing to create a new issue and log the steps to reproduce it so we can discuss your issue specifically? Thanks!

[2022-07-14 17:57] kaustubhdapurkar commented on #4264
Facing the same issue since past week or so. Request you to please fix this as soon as possible since intellisense for apex doesn't work without this extension 🙁 . Had faced this same issue maybe a few months ago but it fixed itself after some time.
![image](https://user-images.githubusercontent.com/48684659/179050241-60c1567b-df1a-4427-b3a4-8418c71213fe.png)

[2022-07-14 18:57] randi274 commented on #4264
Thanks for that extra clarity! Can you tell us how much RAM you have on your computer?

[2022-07-15 01:52] kaustubhdapurkar commented on #4264
It has 8GB of RAM.

[2022-07-15 12:58] #4279 closed

[2022-07-15 14:52] randi274 commented on #4264
Hi @kaustubhdapurkar thanks for confirming! Some users have had difficulty with the extensions being slow to start or stalling altogether on machines with less than 16GB of RAM, and we're currently working on publishing system recommendations. The team is tracking this issue on #3198, so please follow that issue for updates.

[2022-07-15 14:55] randi274 commented on #4275
@WesleiOliveira você também vê esse erro na CLI, fora do VS Code?

[2022-07-15 21:43] pledbetter-cvet opened #4285 "Running SFDX: Deploy Source To Org"
Even in a cloud environment, this takes way too long. Salesforce changed something about a year ago and now even the smallest change to code that has to be pushed to a sandbox takes so long, you can run out for coffee while it executes the command.

[2022-07-17 06:04] mkulshershtha opened #4284 "long running command /process SFDX: Deploy Source to Org"
Hi,
Is there any way to debug the long running Running SFDX: Deploy Source to Org from VS code editor?
I am trying to upload one APEX class to my sandbox but it is not completing. more than 2 hours and it is still executing .

Running SFDX: Deploy Source to Org

![image](https://user-images.githubusercontent.com/106309306/179386111-308fa8ae-e6b4-4605-b185-ba99aa4b721b.png)

[2022-07-17 13:14] kaustubhdapurkar commented on #4264
Hey @randi274 , thanks for the response. Does that mean these extensions will only be officially supported for systems with 16+ GB RAM in the system recommendations? I also observed that these extensions work fine (responsive) in VSCode Insiders Edition on the same system.
![image](https://user-images.githubusercontent.com/48684659/179400091-ba3b25af-d44b-4641-818b-b61a71364168.png)

[2022-07-18 14:59] randi274 commented on #4284
@mkulshershtha are you able to run the command to deploy using the CLI?

[2022-07-18 15:00] #4217 closed

[2022-07-18 15:02] randi274 commented on #4220
Hi @Hari123Dp, as we haven't heard from you yet on this issue, I'll go ahead and close it for now. If you're still facing problems, please let us know your answers to the questions above. Thanks!

[2022-07-18 15:02] randi274 commented on #4234
Hi @Laxman-009, as we haven't heard from you yet on this issue, I'll go ahead and close it for now. If you're still facing problems, please let us know your answers to the question above. Thanks!

[2022-07-18 15:03] #4238 closed

[2022-07-18 15:03] #4256 closed

[2022-07-18 15:04] randi274 commented on #4201
Hi @Prasad-jii, as we haven't heard from you yet on this issue, I'll go ahead and close it for now. If you're still facing problems, please let us know your answer to the question above. Thanks!

[2022-07-18 15:04] #4201 closed, assigned to nobody

[2022-07-18 15:04] #4160 closed, assigned to nobody

[2022-07-18 15:05] randi274 commented on #4159
Hi @dijc, as we haven't heard from you yet on this issue, I'll go ahead and close it for now. If you're still facing problems, please let us know how the solutions above went for you. Thanks!

[2022-07-18 15:09] #3952 closed

[2022-07-19 01:43] pandeykamal6 opened #4291 "Duplicate error on deploying jsScript to Salesforce org via VScode"
<img width="720" alt="Screenshot 2022-07-19 071215" src="https://user-images.githubusercontent.com/84015982/179645974-14ea55d2-e62d-404e-9b56-a21952ba78a4.png">
Please help me to resolve it as I have been facing this issue since last month

[2022-07-19 01:48] pandeykamal6 commented on #4291
this problem persist only with jScript alone ,when Im trying to deploy the same from meta xml or with html it gets deploy to the org with updated js file.
And since this problem has occurred Im not able to see instant change in LWC on record/home page and to overcome this issue I have to go to page setting and save it den it reflect back to my page..Before it was used to be time saving task but no

[2022-07-19 01:50] pandeykamal6 commented on #4291
<img width="722" alt="deployed with html but not with js" src="https://user-images.githubusercontent.com/84015982/179646737-f4d204ae-8459-4800-9002-f6e0189d50d7.png">

[2022-07-19 08:35] maaaaarco opened #4292 "Broken documentation website"
### Summary

The documentation website has some  broken links. This is one example: https://developer.salesforce.com/tools/vscode/en/getting-started/java-setup

### Steps To Reproduce:

1.  Go to this link: https://developer.salesforce.com/tools/vscode/en/getting-started/java-setup

### Expected result

I get the information I was looking for

### Actual result

Page does  not exist

[2022-07-19 10:25] toufikat commented on #2295
hello
Still having this issue even with latest updates... sfdx extensions are terribly slow on startup

Version :
`sfdx-cli/7.155.1 win32-x64 node-v16.15.1
`
Log output
`[2022-07-19 12:21:05.022] [renderer1] [warning] UNRESPONSIVE extension host: 'salesforce.salesforcedx-vscode-apex' took 99% of 5404.922ms, saved PROFILE here: 'file:///~/AppData/Local/Temp/exthost-8ade88.cpuprofile' [{"id":"gc","t

[2022-07-19 10:40] mjaggard opened #4293 "Refresh SObject Definitions hangs infinitely with no errors"
### Summary

When I select "SFDX: Refresh SObject Definitions" from the command palette, it appears to start but nothing happens for multiple hours.

### Steps To Reproduce:

1. Sign in to Developer Org
1. Check that the connection works by selecting "SFDX: Deploy This Source to Org" for example
1. Select "SFDX: Refresh SObject Definitions"

### Expected result

The SObject definitions should be r

[2022-07-19 10:45] mjaggard commented on #4293
Related but different issues:
#4093 - shows error "Failure performing sObject describe aborted"
#3056 - shows error "Cannot read property 'forEach' of undefined"
#2802 - shows error "command 'sfdx.force.internal.refreshsobjects' not found". Also, running `sfdx force:schema:sobject:list -c all` worked fine but did not resolve the issue.
#3679 - shows error "Cannot convert undefined or null to objec

[2022-07-19 11:36] mjaggard commented on #4293
Is there any command that I can run on the CLI to do the same job? When I run `sfdx sobject definitions refresh` I get "Warning: sobject is not a sfdx command."

[2022-07-19 13:52] randi274 commented on #4064
Is anyone still encountering this error who found that renaming the component/file wasn't able to fix it for you?

[2022-07-19 13:58] randi274 commented on #3572
@PawelWozniak are you finding that even if you chose another directory, the extensions still create the Apex class under the default `classes` directory? That sounds like it might be a different 🐛 worth logging separately.

[2022-07-19 13:59] randi274 commented on #3572
Also, closing this one as @dehru [delivered](https://github.com/forcedotcom/salesforcedx-vscode/blob/develop/packages/salesforcedx-vscode/CHANGELOG.md#5530---june-29-2022) it for us last month 🎉

[2022-07-19 13:59] #3572 closed

[2022-07-19 14:07] randi274 opened #4294 "When right-clicking to create an Apex Class, the new class should automatically go into the selected folder"
**Is your feature request related to a problem? Please describe.**
We recently fixed #3572 to allow creating an apex class in a subdirectory, but our users are still prompted to provide a directory when using the command! The prompt menu doesn't make much sense under the nested structure.

**Describe the solution you'd like**

- If I right-click the `classes` directory to create an Apex class, it

[2022-07-19 14:26] randi274 commented on #4292
@sbudhirajadoc can you take a look at this one?

[2022-07-19 14:32] randi274 commented on #4293
Hi @mjaggard how large is the org that you're working with, in terms of classes, objects, etc that you're hoping to retrieve? Are you seeing anything retrieved under `.sfdx/tools/` in that time? Unfortunately this is an extensions-specific command, so you'll have to run it through VS Code. Have you tried re-authenticating to the org that you're working with as well?

[2022-07-19 15:19] mjaggard commented on #4293
@randi274 thanks for the reply. I have tried re-authenticating but that didn't help. I've also looked in .sfdx/tools/sobjects and I seem to have some files there but it doesn't update when I run the refresh.

I have 26 custom objects, 12 triggers, 174 classes, 66 visualforce pages. Does that help?

[2022-07-19 15:43] sbudhirajadoc commented on #4292
addressed in #4277

[2022-07-20 08:35] sconnock opened #4298 "Java Setup page returning a 404 error"
### Summary

Java Setup page returning a 404 error:
https://developer.salesforce.com/tools/vscode/en/getting-started/java-setup

[2022-07-20 12:31] qwikag opened #4299 "Visualforce Page returns status 'Unchanged' when updated via SFDX extension Deploy"
### Summary
'Unchanged' is an incorrect status

00:12:51.773 Starting SFDX: Deploy Source to Org

=== Deployed Source
STATE      FULL NAME                     TYPE       PROJECT PATH
─────────  ────────────────────────────  ─────────  ────────────────────────────────────────────────────────────────────────
Created    caseExtensionController       ApexClass  force-app/main/default/classes/caseExten

[2022-07-20 17:11] randi274 commented on #4299
Hi @qwikag - I tested this just now on a Mac, and was able to see the 'Changed' status set correctly, either deploying individually or with Visualforce pages and other metadata.

Are you seeing the same result when you run the CLI command? Something like `sfdx force:source:deploy -x manifest/package.xml`, where the manifest/package.xml is the path to wherever your manifest file is.

[2022-07-20 17:13] #4298 closed, assigned to nobody

[2022-07-20 18:37] mjaggard commented on #4023
I'm afraid I'd tried all those steps before. I can only think that the problem is something in my Developer edition org - I just wish I had some way to debug it to be confident - data sent to and from the server or detailed logs.

[2022-07-20 18:41] mjaggard commented on #4023
Oh, also just for clarity - when you say managed do you mean installed from a package created in some other org? In my case the code IS managed because I'm developing an app which I've done a release of but this is the org I'm developing in and creating releases in.

[2022-07-20 18:50] randi274 commented on #4023
Yep, that's exactly what the managed code would be! The difference for the VS Code extensions is that it can only see the code that you're allowed to see. So if you're able to view the class on the dev console, you should be able to set checkpoints/breakpoints using VS Code too (if the class is hidden or not visible, then you wouldn't be able to set them).

[2022-07-21 18:54] randi274 commented on #4292
Working on fixing a few more links too! Thanks for your patience.

[2022-07-21 21:26] randi274 commented on #4131
@jdgirald have you tried using the Checkpoint feature? That might help you get the information that you're looking for: https://developer.salesforce.com/tools/vscode/en/apex/replay-debugger

[2022-07-21 21:33] randi274 commented on #3953
Hi @Schuchie to follow up on this one - this is an item we're actively working on! We have some big internal updates to roll out first, but once those are out the door we have a lot of this work ready to go. Keep an eye on your release notes over the next month for changes to the source deploy/retrieve behavior. ( #safeharbor of course 😄 )

[2022-07-21 21:38] #3983 closed

[2022-07-21 21:40] randi274 commented on #1300
@jeffb-sfdc! You added this in yourself 👏 🏅 👏  #4203

[2022-07-21 21:40] #1300 closed

[2022-07-21 21:41] klouf-threshold commented on #3663
Chiming in to say this is still an issue. If I use the Org Browser to retrieve a new Flow (v55.0) that uses a Formula as Entry Criteria, the Flow is retrieved without the filter formula and therefore fails to deploy. I've noticed it a couple times elsewhere, although I can't recall specifically at this time (could have been the same example). sfdx-project.json API version is set to 55.0 and as sim

[2022-07-21 21:45] randi274 opened #4307 "Creating a Lightning Web Component Test is displaying a false error"
### Summary

When using the command to create a new lightning web component test, I'm seeing an error on Mac and Windows that the command could not be completed, but there is no actual error as far as I can tell. I did see something about the file not existing on the disk yet, so it could be an await/race condition to open the file.

### Steps To Reproduce:

1.  Create a lightning web component te

[2022-07-22 00:13] AnanyaJha commented on #4307
@randi274 Is this ready to be pushed into GUS with the Bug label?

[2022-07-22 06:06] Schuchie commented on #3953
@randi274 Thats sound pretty good. Thx for the feedback!

[2022-07-22 15:20] marshallvaughn opened #4310 "Generate Manifest File command unavailable for source directories not at force-app/**"
### Summary

Changes introduced in PR #4208 appear to have broken functionality for manifest generation at paths which are not contained in the default `force-app` source directory.

### Steps To Reproduce:

1.  Create a new project with sfdx, with the default source directory at `src`, rather than `force-app`.
1.  Right-click on `src`, and look for the command `SFDX: Generate Manifest File`

###

[2022-07-22 21:37] mattd624 opened #4313 "Salesforce org connection failing"
When I open a folder in VS Code, my connections to salesforce orgs fail. On the blue bar at the bottom, I have 0, 0 No error messages appear. I have no cloud icon for the "salesforce explorer", and no salesforce org commands (like Authorize an Org, Open Default Org, etc.) when I do Ctrl+Shift+P. Sometimes eventually it will come up, but I can't tell why or what I might have done to make it start w

[2022-07-22 21:49] randi274 commented on #4313
Hi @mattd624 - what system are you running on? Sometimes fully re-installing VS Code will also do the trick!

[2022-07-22 22:31] mattd624 commented on #4313
I reopened a folder that was working before, and it took a few minutes but it eventually loaded these items, and in the OUTPUT section, it gave me this, which hopefully helps:

[Error - 3:26:36 PM] [object Object]
SyntaxError: Unexpected end of JSON input
    at JSON.parse (<anonymous>)
    at ComponentIndexer.loadTagsFromIndex (c:\Users\mdavis\.vscode\extensions\salesforce.salesforcedx-vscode-lwc

[2022-07-23 03:04] mattd624 commented on #4313
Windows 10 on both home and the office machines, and the same thing happens
on both machines. Are we talking reinstall with fresh default settings?

On Fri, Jul 22, 2022 at 2:49 PM Randi Wilson ***@***.***>
wrote:

[2022-07-23 03:07] mattd624 commented on #4313
Maybe I will try the system installer instead of user installer this time.

On Fri, Jul 22, 2022 at 8:03 PM Matt Davis ***@***.***> wrote:

[2022-07-23 03:21] mattd624 commented on #4313
Reinstalling did not work. At work I updated the sfdx cli to 7.160.0 and it
didn't fix it, but I am updating it at home now.

On Fri, Jul 22, 2022 at 8:06 PM Matt Davis ***@***.***> wrote:

[2022-07-23 03:24] mattd624 commented on #4313
Also when I do >Refresh Components, I get this:
[image: image.png]

On Fri, Jul 22, 2022 at 8:20 PM Matt Davis ***@***.***> wrote:

[2022-07-23 05:31] mattd624 commented on #4313
https://developer.salesforce.com/tools/vscode/en/troubleshooting

This site helped me figure it out. I believe this problem was because I was
opening the project in a folder that was not a top level folder. It was one
below.

I was opening this one:
[image: image.png]
When I opened the one above it, it worked! That was a lot of
troubleshooting!

On my work computer it was that, AND that I was runn

[2022-07-24 08:08] krishnapradeepgumma-bib opened #4314 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `55.6.0`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.69.2`

MetadataTransferError: Metadata API request failed: Component conversion failed: Method not implemented

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-07-25 11:37] medeag opened #4315 "The conflict detection doesn't work for lwc"
### Summary

The conflict detection doesn't work for lwc

### Steps To Reproduce:

The first developer updates lwc component and deploys changes
The second developer updates the same lwc component and deploys changes

### Expected result

visual code should detect conflict

### Actual result
no conflict detected and lwc is saved successfully, although i see
"Starting Conflict Detection ... ended C

[2022-07-25 14:40] randi274 commented on #4314
Hi @krishnapradeepgumma-bib do you have more information around what was happening when you received this error?

[2022-07-25 14:41] randi274 commented on #4315
Hi @medeag are you seeing any specific changes that aren't being picked up by conflict detection, like the HTML, JS or XML specifically?

[2022-07-25 15:07] randi274 commented on #4313
Wooo awesome @mattd624! Glad to hear you were able to get it sorted, and that our documentation site was of help to you too. We've got lots of great documentation there on all the extension features, as well as several trails like [this one](https://trailhead.salesforce.com/en/content/learn/trails/set-up-your-workspace-and-install-developer-tools) over on Trailhead.

[2022-07-25 16:04] medeag commented on #4315
hi @randi274 ,  both of us changed html file.

[2022-07-25 22:27] AnanyaJha commented on #4310
Hi @marshallvaughn thanks for filing this issue! Can you confirm that you also have the default package directory set as `src` in your `sfdx-project.json`? And to confirm, you'd like the behavior to display the `SFDX: Generate Manifest File` command across all folders within your **default** package directory, as defined in the `sfdx-project.json` file?

[2022-07-26 07:19] krishnapradeepgumma-bib commented on #4314
No other information

[2022-07-27 17:20] slaght commented on #4064
I am encountering this error. Running `sfdx force:source:push -f --loglevel fatal`. I removed almost everything from my `force-app` folder to see if a specific piece of metadata was causing this failure, but even pushing one piece of Application metadata that I know is well-formed causes this. For reference this is a new scratch org that I recently pushed a codebase to. One thing I notice is that

[2022-07-27 19:59] randi274 commented on #4315
Thanks for reporting this @medeag - I'm seeing that conflict detection does not appear to be working with LWC HTML files either (whereas it works just fine with Apex). We'll get it logged and see what's gone wrong!

[2022-07-27 20:04] trevshum20 commented on #923
My issue was I was running my tests without having deployed any of my classes to my org first. Try running "Deploy Source to Org" on all the classes you are testing and the classes you are using to test.

[2022-07-27 20:12] randi274 commented on #923
@trevshum20 thanks for reporting - can you log that as a separate issue? Sounds like we might have too large of a catch somewhere that needs to be cleaned up.

Anybody else still seeing the original issue on this one? 🤚

[2022-07-28 15:43] saurabh-deep commented on #3889
Hello @RitamAgrawal and @mohanraj-r,

We are running into a situation where the following command is not returning any StandardValueSet at all, but Org Browser is correctly showing all of them. I am unable to figure out what is it that I am doing incorrectly which is different from what Org Browser is doing. One thing I am almost sure of is that StandardValueSet is not a folder type metadata, so p

[2022-07-29 20:39] abhirup03 opened #4328 "Getting Error on running Salesforce Apex Debugger in a log file/apex class."
### Summary

Getting Error on running Salesforce Apex Debugger in a log file/apex class.

### Steps To Reproduce:

1.  Authenticate with a Saleforce Scratch Org which has apex classes.
2. Debug the apex classes after placing debug points and invoke "Apex Interactive Debugger" for the apex class.
3. Following error is thrown (please refer screenshot) -

![image002](https://user-images.githubusercon

[2022-07-30 20:21] jdgirald commented on #4131
thanks @randi274, yes I am aware of that feature. It was more related to the fact that sometimes we see the List variable formatted as a string and sometimes it is shown as a tree, it is random and it happens when setting a breakpoint or stepping over

[2022-07-31 21:28] henrystaples commented on #1696
I had this problem when I opened VSCode in a parent directory 2 levels up from the salesforce project. It didn't seem to recognize the org settings and so I couldn't get the right-click to SFDX: Create Apex Class, etc. The window on the left is opened to the parent's parent dir (the root of the GitHub project). The window on the right is opened to the SF project dir (which has the right-click comm

[2022-07-31 22:52] rkozlin commented on #1696
@henrystaples that option was showing for me, I mentioned it earlier, the create apex class. This was specifically for the retrieve from/deploy to org options not showing up.
That said, your screenshots are compelling.. and iirc that project 3 years ago was probably down a few folders as yours on the left shows.. hmm.

[2022-08-01 20:02] henrystaples commented on #1696
Yeah, I feel like it's a structural issue that its pattern matching for displaying the commands either assumed would be in place or got confused by whatever you had opened and so it didn't match/display commands.

[2022-08-01 22:39] randi274 commented on #4064
@slaght if you go to Help > Developer Tools in VS Code, you usually can see additional information on the source of an error. You can also try running the command with `--json` to get a fuller output. Is there any chance you can provide us with a repo that's experiencing the issue so that we might be able to reproduce it?

[2022-08-03 07:53] rkamble22 commented on #3198
The VSCode takes a lot of time, around 3-4 minutes, to run all the Salesforce extensions. I have a Dell Precision 5530, running Windows 10 64 bit with Intel i7-8850H, 32 GB RAM, and 512 GB SSD.

[2022-08-03 12:11] LKozakewycz commented on #4064
I've been getting this error when pushing as well.

`{
  "status": 1,
  "name": "Type",
  "message": "Cannot read properties of undefined (reading 'split')",
  "exitCode": 1,
  "context": "Push",
  "stack": "Type: Cannot read properties of undefined (reading 'split')\n    at Function.wrap (C:\\Users\\Luke\\AppData\\Local\\sfdx\\client\\7.161.0-7a9b98c\\node_modules\\@salesforce\\core\\lib\\sfError

[2022-08-03 19:33] randi274 commented on #4064
@LKozakewycz are you seeing this issue when running the command with the CLI directly too? If you can reproduce with the CLI, we recommend opening an issue [here](https://github.com/forcedotcom/cli/issues). Also, [this one](https://github.com/forcedotcom/cli/issues/1647) looks to have a similar root cause.

[2022-08-04 04:19] misritush opened #4345 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `55.7.0`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.69.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-08-04 08:09] LKozakewycz commented on #4064
@randi274 I don't use VSCode - I use Illuminated Cloud but I also gave it a shot using the CLI alone with the json flag to get that response above.

The only way for me to fix the issue is by creating a new org and pushing the entire source in to that instead.

[2022-08-04 17:25] Illumina-Todd opened #4346 "First create never completed"
### Summary

In a dev org I set up Code Builder and tried to create an environment for the first time.  The spinning wheel never stopped.  The time remaining crept down and stopped at 19:26 hours remaining.

After that I deleted the environment and started again.  The next one successfully created in 7 minutes.

### Steps To Reproduce:

1.  Create a new dev org
1.  Install code builder
1.  Create

[2022-08-04 18:19] AnanyaJha commented on #4345
Hi @omkar02032000 thanks for reporting this! Please leave a comment with more details on the problem you're facing. Thanks

[2022-08-04 20:54] angela-young opened #4349 "Add option to select a specific alias for "Set Default Org""
**Is your feature request related to a problem? Please describe.**
When you have multiple aliases, there's no way to specify which one you want to set as your default org. The first one is always the one that gets set.

**Describe the solution you'd like**
When you select a username with multiple aliases (as pictured), have another dropdown or selection where you can choose which alias you want to

[2022-08-05 08:51] JackVeromeev opened #4351 "Missing error message label for SFDX: Refresh SObject Definitions called twice"
### Summary

If you call Refresh SObject Definitions before previous finished, an error notification pops up, but is has the next message:

[code]

It seems that this label was tried to called but is missing in the registry

### Steps To Reproduce:

1.  Use a vscode connected to an org
2. Run SFDX: Refresh SObject Definitions command from a command palette.
3. During the command is in progress, ru

[2022-08-05 12:53] MattGarnettWelsh commented on #1267
Still getting this issue today.

On Windows 10 Enterprise, Node v16.16.0, NPM v8.11.0.

![image](https://user-images.githubusercontent.com/13387497/183081105-1eab6411-1adb-49bc-aba5-1014698c3f69.png)

[2022-08-05 17:05] angela-young commented on #4351
Hello @JackVeromeev, I was able to reproduce this bug, and I will have a fix for this soon

[2022-08-05 20:54] angela-young commented on #4351
Closing as fixed by https://github.com/forcedotcom/salesforcedx-vscode/pull/4353. Let us know if this is still happening after the next release. Thank you!

[2022-08-05 20:54] #4351 closed

[2022-08-07 07:33] AVISHEKHAR commented on #923
Did we get any final result to resolve this issue?
![image](https://user-images.githubusercontent.com/53835065/183280361-0c1a4bf8-cb1c-4372-b60b-0fa1c12e4130.png)

[2022-08-07 20:18] kartik571995 commented on #3694
Hi Salesforce Team, I also face the same issue. My use case is to create the "Display Flow Stages By Adding a Progress Indicator to a Flow Screen"[https://developer.salesforce.com/docs/atlas.en-us.236.0.lightning.meta/lightning/components_config_for_flow_screens_stages.htm] in LWC.
Here I have to pass the stages as array "stages[]" but I can't use it.

[2022-08-07 20:25] kartik571995 opened #4354 "Missing support for collections in type field"
Summary
Trying to configure LWC screen for a flow:
https://developer.salesforce.com/docs/component-library/bundle/lightning-flow-support/documentation

I was able to push the LWC component successfully to the org but in VScode is complaining about the following errors:
(1) cvc-datatype-valid.1.2.3: 'String[]' is not a valid value of union type 'propertyTypeAttr'.xml(cvc-datatype-valid.1.2.3)
(2) c

[2022-08-08 15:47] developerVedant commented on #3339
I am still facing the issue.Any workaround?

[2022-08-08 16:12] rahulgawale commented on #3339
@jeffb-sfdc I still see the error but this time it is not preventing me from deploying the code to org, I am able to deploy the code. @developerVedant try deploying the component folder itself. or disable the XML extension, as mentioned by @Yuki311.

[2022-08-09 15:19] TiruvaipatiS1 opened #4355 "Not able to deploy source to Org"
We have written the needed data into <html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/A479416/AppData/Local/Temp/msohtmlclip1/01/clip.htm">
<link re

[2022-08-09 15:20] TiruvaipatiS1 commented on #4355
tried change the version to older one, but no luck.

[2022-08-09 15:34] TiruvaipatiS1 opened #4356 "Not able to deploy source to Org"
Issue Type: <b>Bug</b>

11:13:55.483 Starting SFDX: Deploy Source to Org

write EPROTO 28308744:error:100000f7:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER:../../third_party/boringssl/src/ssl/tls_record.cc:242:

Extension version: 55.8.0
VS Code version: Code 1.63.2 (899d46d82c4c95423fb7e10e68eba52050e30ba3, 2021-12-15T09:40:02.816Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

[2022-08-09 16:58] AnanyaJha commented on #4355
Hi @TiruvaipatiS1 thanks for reporting this! Can you please share more info about the problem you're facing and what version of the Salesforce Extensions you're working with? Thanks!

[2022-08-09 16:59] AnanyaJha commented on #4355
Closing this issue in favor of your other one with extensions info!

[2022-08-09 16:59] #4355 closed

[2022-08-09 17:28] randi274 commented on #4328
Hi @abhirup03 were you able to complete all of the setup steps for the interactive debugger, detailed [here](https://developer.salesforce.com/tools/vscode/en/apex/interactive-debugger)?

We also offer our Apex Replay Debugger, which is much easier to work with, and fits a large number of use cases. You can invoke that process through Apex tests or from a log file. It also doesn't require a license

[2022-08-09 18:30] TiruvaipatiS1 opened #4357 "Not able to deploy code from VS code to salesforce sandbox"
Issue Type: <b>Bug</b>

1- Connect to a sandbox using SFDX
2- Try to retrieve source from Salesforce Org - getting error
14:24:26.296 Starting SFDX: Retrieve Source from Org

write EPROTO 30732424:error:100000f7:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER:../../third_party/boringssl/src/ssl/tls_record.cc:242:
3- Try to Deploy changes to org  - getting below error
14:25:06.91 Starting SFDX:

[2022-08-09 19:24] abhirup03 commented on #4328
Hi @randi274 the customer is using Apex Replay debugger. Sorry for the confusion - I mistakenly wrote it as interactive debugger. The customer tried to debug a log file/test class and experienced the same issue as discussed above.

The customer is using - Apex Replay Debugger.

[2022-08-10 06:17] NuAgeDan opened #4358 "LWC and Aura apps Crash on load, SFDX can't deploy"
I get a "connection is closed." error from the aura app. The following is the output of its error message. The LWC app crashes enough that VS Code throws an error and refuses to restart it. I have tried numerous recent version of all mentioned apps, none fix the issue.

However, the most concerning issue is SFDX can't deploy to the org. Internet is fine and I've tried re-authorizing. Doesn't help.

[2022-08-10 06:21] NuAgeDan commented on #4358
It appears the file mentioned in the PATH_REPLACED portion does not exist. It is possible it was deleted by another user, was not pulled down with a refresh and thus the system is looking for something which doesn't exist.

The file is an aura file. This might be the cause of the Aura issue but really shouldn't break deploy or LWC functionality

[2022-08-10 14:43] abuwahid16 commented on #4357
I have this error sometimes, my office has internal proxy and security settings. I exit the visual studio code and launch again, which resolve this issue for me.

[2022-08-10 16:16] randi274 commented on #4328
Sounds good! Are you able to reproduce the issue as well @abhirup03? If you can provide us some steps to reproduce the issue, that will help us be able to troubleshoot and get the issue resolved 👍

[2022-08-10 21:56] abhirup03 commented on #4328
The issue is reproducible on the customers end. @randi274
And the customer has confirmed that they are using - Apex Interactive Debugger.

Per your suggestion, I've suggested the customer to use Apex Replay Debugger, but at this point of time they want to move forward with Apex Interactive Debugger.

I've shared a meeting recording with you internally over Slack which demonstrates the issue.

[2022-08-11 01:36] zerkz commented on #1496
I got hit with this same issue ( two fields static and non-static, API version 46), but I am not able to refactor the erroneous code without code review/etc. I am going to look for a way to tell the apex language server to avoid the erroneous apex classes if possible.

[2022-08-11 18:51] klewis-sfdc commented on #4064
Thank you for confirming the behavior when running via the CLI @LKozakewycz.  Would you mind opening an Issue with the JSON response you received above against the CLI repo? (https://github.com/forcedotcom/cli/issues)

Thank you!

[2022-08-11 19:20] klewis-sfdc commented on #4275
Closing this as it was reported 20+ days ago.  @WesleiOliveira if you are still experiencing the issue please feel free to re-open with specific repro steps.  Thank you!

[2022-08-11 19:20] #4275 closed

[2022-08-11 20:58] klewis-sfdc commented on #4293
I am able to see the same behavior on my machine, running macOS 12.5.  We'll create a work item to look into this.  Thanks for reporting, @mjaggard.

[2022-08-11 21:03] klewis-sfdc commented on #4166
Hi @epincas,
Are you still having these same issues getting VSC Extensions and SFDX CLI to work?  If so, do the issues still occur after updating the VSC Extensions to the latest version (55.8)?

[2022-08-12 01:34] TehNrd opened #4364 "Add Symbol Hierarchy to the Outline View"
Visual Studio code has released Sticky Scroll in version 1.70, which is awesome!
https://code.visualstudio.com/updates/v1_70#_editor-sticky-scroll
https://www.tiktok.com/@vscode/video/7130009070798392618

But for this to work correctly, it requires the Outline section of VSCode to have a proper hierarchy of symbols. For some reason, the Outline for `.cls` files is completely flat, and this feature

[2022-08-12 16:57] codysechelski commented on #4116
+1 on this

[2022-08-12 17:08] robertStrunk opened #4365 "New Setting to Prevent Output Panel from Opening"
**Is your feature request related to a problem? Please describe.**
It is very annoying to me when a successful deploy/retrieve causes the output panel to pop open. It covers up part of my code and I have to manually remove the panel to regain visibility into my code. I have the "deploy on save" functionality enabled so I perform a lot of deployments while coding. We already get a dialog box that s

[2022-08-13 01:42] paustint commented on #4064
Every time I have received this error it was because some file in the project was not setup correctly (e..x missing metadata file, invalid metadata file contents, invalid folder structure, etc..).

Unfortunately I was never able to figure out a way to how to get any additional information in the error to pinpoint what might be the cause.

[2022-08-15 08:29] LKozakewycz commented on #4064
Thanks guys posted a new issue:
https://github.com/forcedotcom/cli/issues/1668

@paustint I have seen the error being thrown due to missing metadata file previously. My issue has not been the result of that unfortunately so I can't work it out. It would be nice to get through the CLI error so we could be given a meaningful error we can work with.

[2022-08-15 21:09] slaght commented on #4064
Sorry for the super long delay, missed some notifications. Unfortunately this occurred in a private project repo that I can't share, but I found the resolution was just recreating my project and scratch org, so I imagine this was actually on me for getting my local sfdx source tracking screwed up somehow.

[2022-08-17 03:53] rkliveramp opened #4371 "Apex Interactive debugger not breaking"
Apex Interactive debugger has suddenly stopped breaking.

I have verified that vs code is connected to the debugger and its streaming channels.

Retrieved the source from org again

Deleted all extensions and reinstalled SF Extension Pack

Installed older version of extension pack.

Could you please advise on the next steps?

Thanks

Rajiv

[2022-08-17 11:52] smukov commented on #2410
There is an awesome tool in VS Code to quickly narrow down exactly which plugin is causing you issues. You can start it with `F1 > Help: Start Extension Bisect` - I found about it [here](https://github.com/microsoft/vscode/issues/112466#issuecomment-744726811).

It helped me narrow down the high cpu issue to a completely different plugin after I wrongly suspected that the issue is coming from one

[2022-08-17 12:04] AntunBartonicek commented on #2410
@smukov From the output information of Apex Language Server extension I know that apex indexer is the one that eats up the memory and CPU time (check my previous message).
Do you think that process might be affected by other extension?

Extension Bisect though does look interesting for figuring out which extension actually causes problems.

[2022-08-17 14:51] smukov commented on #2410
Hi @AntunBartonicek , sorry for misunderstanding. My comment was more of a general note for others who will, like myself, come to this page thinking that the Salesforce plugins are the culprits for high cpu issues.

With Extension Bisect they can at least quickly confirm if that really is the case or not.

Sorry for not being clear enough in my previous comment.

[2022-08-19 08:16] bk107 commented on #2204
If anyone still has the error for the following, this worked for me:

![image](https://user-images.githubusercontent.com/22213993/185574811-cab78028-0b24-4c3e-82fd-604ed6a355a7.png)

1. You create a sub folder in manifest, I think you can call it whatever you want,
2. create a new package.xml in that sub folder,
3. paste the content of the original package.xml
4. execute "Retrieve Source from Org"

[2022-08-19 17:43] mattmartin26 commented on #1998
Agreed, this is pretty important for those of us who are extending Managed Packages (eg. NPSP, EDA).

[2022-08-22 20:04] abhirup03 commented on #4328
The customer decided to go ahead with - Replay Debugger as Interactive Debugger was causing problems. With that being said, I think we are good to close this issue. Thank you @randi274 and @AnanyaJha appreciate all the help on this!

[2022-08-22 20:09] randi274 commented on #4328
Glad to hear they were able to proceed past the issue! If they have any further issues with the replay debugger, they are also welcome to log here directly, as we're an open source project 🎉

[2022-08-22 20:09] #4328 closed

[2022-08-22 20:10] ngawor opened #4381 "Slack classes do not autocomplete in vscode"
### Summary

Slack classes do not autocomplete in vscode

### Steps To Reproduce:

1.  Start typing Sla... no autocomplete.
1.  Type Slack... no autocomplete.

### Expected result

There should be an autocomplete of the Slack namespace and underlying file-based classes.

### Actual result

Autocomplete doesn't work

### Additional information

![image](https://user-images.githubusercontent.com/898

[2022-08-23 06:41] Nova1392 opened #4384 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `55.8.0`
- OS Version: `Linux x64 5.4.0-104-generic`
- VS Code version: `1.70.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2022-08-23 06:41] Nova1392 opened #4385 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `55.8.0`
- OS Version: `Linux x64 5.4.0-104-generic`
- VS Code version: `1.70.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2022-08-23 22:51] kirstbelen opened #4389 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `55.8.0`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.70.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-08-24 14:01] brountre commented on #3198
I have a Dell Latitude running Windows 10 with 16 GB of memory.  I have two issues with Salesforce VSCode extension.  One it stores huge log files on the disk and it will cause my machine to run out of disk space.  I have to go in every day or so and delete the log file to restore storage.  Also (and the most annoying) is that it takes some times up to 4 to 5 minutes to become useable and allow co

[2022-08-25 07:07] alex2lv commented on #3197
Works for me too. Thanks.

[2022-08-26 06:44] mitti-devops commented on #4238
I am facing the same issue with my sandbox

[2022-08-26 06:44] mitti-devops commented on #4238
Any solution for this?

[2022-08-26 21:41] RitamAgrawal commented on #4384
@Nova1392 What's the error here? and will you please provide us with the steps to reproduce the error/ bug?

[2022-08-26 21:43] RitamAgrawal commented on #4385
@Nova1392 Will you please provide the steps to reproduce the bug?

[2022-08-26 21:45] RitamAgrawal commented on #4389
@kirstbelen Please provide steps to repro and details of bug.

[2022-08-30 01:11] ssbriankim opened #4394 "invalid api"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**Salesforce Extension Version in VS Cod

[2022-08-30 19:42] jdgirald commented on #3663
I have a similar issue with GlobalValueSets and API version 56.0

[2022-08-30 19:49] jdgirald commented on #4310
@AnanyaJha I have the same issue. BTW The path (`src/`) is set in the `packageDirectories` in sfdx-project.json. I think the option should be available in any folder and not only in the default path

[2022-09-01 20:25] Xrzez97 opened #4402 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `55.8.0`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.71.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-09-02 06:39] Smegal opened #4405 "<filterFomula> tag inside <start> tag is missing in .flow-meta.xml file"
When retrieving flow from sandbox, the file is missing the Entry Condition of Formula type,
![image](https://user-images.githubusercontent.com/20765501/188074211-e8bc4f35-6228-4dbd-ab65-6fbed8bbb154.png)

[2022-09-02 06:41] Smegal commented on #4405
![image](https://user-images.githubusercontent.com/20765501/188074706-06a66e74-69b2-4a69-bc98-4a12f1b9d3ae.png)

[2022-09-02 14:38] paustint commented on #970
I would LOVE to see support for multi-root workspaces. My use-case is that I work on a backend project, front-end project and a Salesforce managed package project.

I tried to add the Salesforce project to the workspace, but commands didn't work and rogue `.sfdx` folders were added to my other workspaces which I had to constantly delete since the other projects don't have this folder in their giti

[2022-09-04 22:34] heybethfrench commented on #3197
I'm working on the same super badge, and commenting out static resources didn't work for me, but when I was specific about which LWC I wanted, I was able to pull it down from my dev environment

For example:

` <types>
        <members>boatMap</members>
        <name>LightningComponentBundle</name>
    </types>`

[2022-09-06 19:36] #4384 closed

[2022-09-06 19:36] #4385 closed

[2022-09-06 19:36] #4394 closed

[2022-09-06 19:36] #4402 closed

[2022-09-06 19:37] #4345 closed

[2022-09-06 19:37] #4314 closed

[2022-09-06 20:27] #4053 closed

[2022-09-06 20:29] #3897 closed

[2022-09-06 20:42] #3575 closed

[2022-09-07 08:05] Schuchie commented on #3953
Any update? @randi274

[2022-09-07 13:41] RaffaeleGranato opened #4406 "Problem with Apex - Salesforce Extension Pack VS Code"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `55.8.0`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.71.0`

:warning: HELP ME :warning:

For a couple of days, even restarting VS Code I always get the Apex extension in error. I get this notification "The extension 'Apex' took a very long time to complete its last operation and it has prevent

[2022-09-07 15:00] ronakbandwal opened #4407 "force:apex:test:run with codecoverage enabled resulting in Apex Unit Test failures"
### Summary

When running "sfdx force:apex:test:run -c -r human --testlevel RunSpecifiedTests --classnames ... " , we are seeing errors in the "Apex Test Execution" section in the org:

- Lots of "Code coverage from running this test class was not applied due to a conflicting recompilation task running at the same time. Please rerun this test class to recalculate code coverage." messages.

- Huge

[2022-09-07 15:28] randi274 commented on #3953
Getting real close 🤞 those big internal updates turned out to be BIG, but those are finally almost out the door. An updated timeline would likely be after the Dreamforce dust settles.

[2022-09-08 09:45] Nova1392 opened #4409 "apex Extension issue unresponsive startup activation : 1061153"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `55.8.0`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.71.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-09-08 17:54] klewis-sfdc commented on #4132
Closing as fixed by https://github.com/forcedotcom/salesforcedx-vscode/pull/4241. Please feel free to re-open if this issue persists after the next release. Thank you!

[2022-09-08 17:54] #4132 closed

[2022-09-08 18:33] #4050 closed

[2022-09-08 19:07] randi274 commented on #1835
Hey all! I'm now seeing that both issues have been fixed in the latest version of the extensions.

1. TestVisible methods called from test classes are not reporting incorrect errors
2. TestVisible inner classes called from test classes are not reporting incorrect errors

![Screen Shot 2022-09-08 at 3 03 39 PM](https://user-images.githubusercontent.com/9795193/189205268-7507992f-a9f3-4c8c-8e32-4dcf

[2022-09-08 19:07] #1835 closed

[2022-09-08 21:31] klewis-sfdc commented on #4138
Hi @Richman7,

The VS Code Extensions are now using a more up-to-date version of the library that retrieves these components.  When I try this operation now I am able to successfully download custom sites.

<img width="800" alt="2022-09-08_14-28-42" src="https://user-images.githubusercontent.com/46458081/189229586-a15ab937-bb12-4a83-a7d1-660914768738.png">

I am going to close this issue now as fi

[2022-09-08 21:31] #4138 closed

[2022-09-08 22:32] AnanyaJha commented on #4409
Hi @Nova1392! Thank you for opening up an issue with your system info - could you please provide some more information about the issue you're facing?

[2022-09-09 13:15] 49FD7E1E1F opened #4415 "Org Browser unable to retrieve GlobalValueSet"
### Summary

Org Browser can't retrieve any GlobalValueSets.

### Steps To Reproduce:

1. Have/create a Picklist Value Set
1. Connect to Org in VSCode
2. Open Org Browser
3. Go to GlobalValueSet category
4. Press any of the two buttons to retrieve it

### Expected result

Retrieve the selected GlobalValueSet metadata.

### Actual result
Fails to retrieve.
VSCode "Salesforce CLI" Output panel shows

[2022-09-10 02:30] jkranz-rk commented on #4405
I've seen this happen in the past, and each time it was due to the sfdx-project.json file's apiVersion being outdated and set to a version prior to the release of formulaFilter on start/entry conditions.

@Smegal, could you check and/or share which apiVersion you're using to retrieve?

[2022-09-13 19:23] klewis-sfdc commented on #4415
Hi @49FD7E1E1F,

Thanks for reporting the issue.  When I create a global value set and retrieve it via Org Browser on a machine running macOS it works right now.

Is the value set being retrieved named with a double underscore on the server?  Does the retrieval work if the name of the global value set is modified to remove the double underscore?  The CLI might be splitting on the double underscore

[2022-09-13 20:42] randi274 opened #4423 "Rename Component command doesn't work for Aura Event"
### Summary

We offer the command `SFDX: Rename Component` on the Aura Event bundle, but the individual components are not correctly renamed.

### Steps To Reproduce:

1.  Right click an Aura Event bundle, and run `SFDX: Rename Component`
1.  Component bundle will be renamed, but the .evt and .evt-meta.xml will not be.

### Expected result

The bundle and files should be renamed.

### Actual resul

[2022-09-14 09:27] bramhanapallisairam opened #4424 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `55.8.0`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.70.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-09-15 15:04] edmorley opened #4434 "Project dependencies fail to install on M1 (ARM64) running node 18"
### Summary

Running `npm install` in this repository fails on an M1 Macbook Pro due to the ARM64 architecture - and presumably use of outdated dependencies.

### Steps To Reproduce:

1.  `git clone https://github.com/forcedotcom/salesforcedx-vscode && cd salesforcedx-vscode`
1.  `npm install`

### Expected result

NPM install succeeds. (Since `engines` in `package.json` declares support for >=16,

[2022-09-15 16:54] klewis-sfdc commented on #4415
@49FD7E1E1F Thank you for the additional detail and screenshots!  Very helpful.  It looks like this issue might be caused by [this change](https://help.salesforce.com/s/articleView?id=release-notes.rn_api_global_value_set_suffix.htm&type=5&release=240) in the Winter '23 release.  I am working on reproducing the issue locally and will provide an update when I am able to repro.

[2022-09-16 06:28] charithatirandas opened #4435 "SFDX: Create Project cant find this command i have installed all the required"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**Salesforce Extension Version in VS Cod

[2022-09-16 19:43] AziEI opened #4436 "Running Execute Anonymous shows "Success" even if Execute Anonymous script fails"
### Summary

Execute Anonymous always shows success, even when code doesn't compile or throws an exception

### Steps To Reproduce:

1.  Run "Execute Anonymous" with any code that doesn't compile or throws an exception. I.e. `System.debug(12345 / 0);`

### Expected result

Notification bar shows an error because Execute Anonymous returns error

### Actual result

Notification bar shows success of

[2022-09-16 21:45] jh480 opened #4437 "Not retrieving managed components alongside asterisks"
### Summary

"Retrieve Source in Manifest" will ignore members above or below wildcards.

### Steps To Reproduce:

1.  Write a manifest xml with both a wildcard-asterisk entry and at least 1 managed component of same type (like "ApexClass").
1.  Right-click manifest and select "SFDX: Retrieve Source in Manifest from Org".

### Expected result

SFDX should retrieve both all unmanaged components as

[2022-09-17 09:31] dilipanmano opened #4438 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `55.8.0`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.71.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]
![Capture](https://user-images.githubusercontent.com/40638312/190850169-9562022f-9bb3-4413-a5e4-705d3e4b7229.PNG)

[2022-09-17 09:35] dilipanmano commented on #4438
Apex autocomplete is not working. Got a notification saying that the CPU time limit is exceeded for loading Apex Extension

[2022-09-17 14:42] Monika-Nishad commented on #3339
hey @rahulgawale can you please tell the exact solution to this problem . i am trying to create a quick action in lwc but unable to deploy my component .what should i do ?

[2022-09-17 15:59] rahulgawale commented on #3339
@Monika-Nishad it didn't prevent me from deployment. Only error were showing on vs console

[2022-09-17 18:42] dilipanmano commented on #4438
Cleared the cache of vscode and it started working now

[2022-09-17 18:42] #4438 closed

[2022-09-20 17:27] gbockus-sf commented on #4437
Hi @jh480
I think we might be encountering a limitation in the API here just reading though the Packages section [here](https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/manifest_samples.htm#manifest_packages).

A couple of sanity checks:
1. What happens if you use sfdx from the command line to pull the same metadata from manifest? `sfdx force:source:retrieve -x path/to/pack

[2022-09-20 17:44] gbockus-sf commented on #4436
Hi @AziEI
Thanks for the feedback.  I think this is just a failure to communicate :).  The anon apex did execute successfully, but encountered compile errors.  The pop up will show a problem we were unable to execute the apex at all (like a network error).

When errors are encountered in the anon apex you will find those errors listed in the problems tab (see attached screenshot).

![Screen Shot 2

[2022-09-20 17:44] #4436 closed

[2022-09-20 17:46] gbockus-sf commented on #4424
Hi @bramhanapallisairam thanks for reporting this! Please leave a comment with more details on the problem you're facing. Thanks

[2022-09-20 19:45] gbockus-sf commented on #4409
Tracking this issue in a github discussion https://github.com/forcedotcom/salesforcedx-vscode/discussions/4440

[2022-09-20 19:45] #4409 closed

[2022-09-20 19:46] gbockus-sf commented on #4406
Tracking this apex resource usage in https://github.com/forcedotcom/salesforcedx-vscode/discussions/4440

[2022-09-20 19:46] #4406 closed

[2022-09-20 19:56] gbockus-sf commented on #4285
HI @pledbetter-cvet
Can you provide a specific case where it's taking a long time to deploy?
Attempt a single file deploy and keep track of the amount of time it takes to deploy?  Also If you could copy and paste the output in the Output panel after execution? I just want to try and reproduce the issue. Thanks.

[2022-09-20 20:39] gbockus-sf commented on #4252
@Sainath-Attuluri @ronika-das My apologies on it taking so long to get back to this issue.  I've assigned it to myself so it doesn't slip off the radar again.  Everything looks normal in the provided output.  It seems that something if failing during initialization that is resulting in the extensions only being partially loaded.  Can you try the following:
1. Open VSCode
2. Help > Toggle Developer

[2022-09-20 20:43] gbockus-sf commented on #4068
@AngelMtz97 Sorry for the long delay.  I've assigned this issue to myself so we can get it to resolution.

As a test if you clone a sample repo (like [ebikes](https://github.com/trailheadapps/ebikes-lwc)) Do you experience the same issue?

Is there a `.sfdx` directory present in your project?

[2022-09-20 20:44] gbockus-sf commented on #4089
HI @Saquib-azmi could you expand on your question?   I'm not sure what you are asking. Please reopen if you still need help.

[2022-09-20 20:44] #4089 closed

[2022-09-20 20:45] gbockus-sf commented on #4184
vsixes should be included in releases now.  We had an issue with our release process but it has been resolved.

[2022-09-20 20:45] #4184 closed

[2022-09-21 00:44] AngelMtz97 commented on #4068
Hello, @gbockus-sf thanks for your response, and I am very sorry, but actually I am not working with the same project mentioned in my reported issue, and I am not able to reproduce the error anymore, how can we handle this situation?.

[2022-09-21 04:24] gbockus-sf commented on #4068
No worries.  I'll just close this issue for now and if it ever reappears just let us know.  I suspect it was either something about how the cli was configured or a permissions issue with project. Thanks for the quick response.

[2022-09-21 04:24] #4068 closed

[2022-09-21 14:10] lynx8989 opened #4444 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `55.8.0`
- OS Version: `Darwin arm64 21.6.0`
- VS Code version: `1.71.1`

[code]

[2022-09-21 14:13] lynx8989 commented on #4444
The Apex v 55.8.0 is just showing as Unresponsive and sometimes showing # uncaught errors. I am unable to run Apex Tests.

[2022-09-21 14:27] pledbetter-cvet commented on #4285
10:18:09.22 Starting SFDX: Deploy Source to Org

=== Deployed Source
STATE    FULL NAME                     TYPE       PROJECT PATH
───────  ────────────────────────────  ─────────  ────────────────────────────────────────────────────────────────────────
Changed  AccountSummaryControllerTest  ApexClass  force-app/main/default/classes/AccountSummaryControllerTest.cls
Changed  AccountSummaryControll

[2022-09-21 16:39] gbockus-sf commented on #4444
Hi @lynx8989
Are you seeing any error in the developer console specific to the apex extension?
You can show the developer tools via the command pallet: Developer: Toggle Developer Tools
Then reload vscode via: Developer: Reload Window

If you right click on the console and select 'Save As' you can save the logs from the console and attach it here I can take a look at what happening.

[2022-09-21 18:54] Arulthas05 commented on #1818
at processTicksAndRejections (internal/process/task_queues.js:77:11)

[2022-09-22 04:42] Pratham-jain opened #4445 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-lightning`
- Extension Version: `55.8.0`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.71.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-09-22 13:05] Mateusz7410 opened #4446 "After updating sfdx-cli the version not able to deploy metadata"
### Summary

After updating sfdx-cli verision, there is no possibility to deploy metadata in the way it was possible before.

### Steps To Reproduce:

1. Create new Custom Object.
3. Retrive Custom Object via SFDX
4. Retrieve Layout for this object.
5. inside object folder add "layouts" folder.
6. Inside "layouts" folder add retrieved layout.
7. Try to deploy object.

### Expected result

The obje

[2022-09-22 14:58] gbockus-sf commented on #4445
Hi @Pratham-jain  thanks for reporting this! Please leave a comment with more details on the problem you're facing. Thanks

[2022-09-23 10:53] mnunezdm opened #4447 "Error when running preview on lwc"
### Summary

Not sure if this is an error in CLI or not, but when trying to preview a lwc in vscode using the `SFDX: Preview Component Locally` an error of `force:lightning:lwc:start` appears on the logs

### Steps To Reproduce:

1.  Open a LWC
1.  Run the preview

### Expected result

Open the preview

### Actual result

An error

[code]

### Additional information

**Salesforce Extension Version

[2022-09-23 12:50] jh480 commented on #4437
Hello gbockus-sf,

I'm unsure wether it's the API, seeing as a retrieve via the Ant Migration Tool retrieves both unmanaged classes and the specified managed class (or ~any other metadata type).

1. SFDX retrieves only the unmanaged components.
2. It is installed via managed package, on a Developer sandbox.
3. Yes, listing unmanaged components without asterisk will retrieve them, also together wit

[2022-09-27 17:56] MarkusLewandowski opened #4450 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `55.8.0`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.71.2`

Getting an "unresponsive" flag on the Extension for 2 full days now. (multiple devices affected)

[2022-09-27 21:35] stylishbharath opened #4451 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `55.8.0`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.71.2`

Extension is unresponsive.

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2022-09-27 23:35] klewis-sfdc commented on #4415
Hi @49FD7E1E1F,
Thanks again for providing the additional information.  I have been able to spin up a pre-release org on Winter '23 and I am still unable to reproduce this error.  When I create a new GlobalValueSet in the org, it does not get a suffix appended and it is successfully retrieved by OrgBrowser.  Can you confirm for me that you are still seeing the same issue when creating a brand new

[2022-09-28 08:33] #4415 closed, assigned to klewis-sfdc

[2022-09-28 12:34] ulistaerk commented on #2952
There is no owner on this issue. Is there any update so far? @jeffb-sfdc @FabienTaillon

[2022-09-28 16:35] klewis-sfdc commented on #4415
Yes, let's re-open if this change gets added back into the next release in the same way and the issue re-appears.  Thanks again for all of the additional info while investigating this one.

[2022-09-28 17:45] Kali98 opened #4459 "Problem with Apex Language Server"
### Summary

When coding in Apex in VS code I realized that I don't get any code completion suggestions at all. Upon launching of VS Code I receive these logs for the Apex Language server:

Error: Could not find or load main class apex.jorje.lsp.ApexLanguageServerLauncher
Caused by: java.lang.ClassNotFoundException: apex.jorje.lsp.ApexLanguageServerLauncher
[Info  - 19:34:02] Connection to server

[2022-09-28 20:39] jdgirald commented on #2952
this should be simpler now that the sfdx deploy and retrieve command support source tracking since version 7.139.0

[2022-09-29 15:16] pozil opened #4462 "Invalid warning displayed for Functions feature in scratch org definition"
### Summary

When working with a scratch org definition file that contains the `Functions` feature, the extensions displays the following warning:

### Steps To Reproduce:

Clone the [Functions Recipes](https://github.com/trailheadapps/functions-recipes) sample app or create a new DX project with the following scratch org definition:

[code]

### Expected result

No warnings are displayed.

### Ac

[2022-09-29 18:55] AnanyaJha commented on #4450
@MarkusLewandowski Thanks for reporting this! A member of our engineering time will look into this issue.
@gbockus-sf Any chance this is related to #4444?

[2022-09-29 19:11] jeffb-sfdc opened #4465 "Error when creating a new project when VS Code is empty and doesn't have any folders"
In the develop branch, if you:
1. start with an empty window in VS Code (no files or folders opened)
2. run SFDX: Create Project
…this is now failing (develop branch).

This is b/c getRootWorkspacePath(), getRootWorkspace(), and hasRootWorkspace() is getting called.  When called and no folders exists, ws is empty and getRootWorkspacePath() returns an empty string, which has ramifications further d

[2022-10-02 03:39] KipperBush commented on #4293
Seeing the same thing on macOS Version 13.0 Beta (22A5358e)

[2022-10-02 04:06] KipperBush commented on #4293
@mjaggard, I was able to resolve it by removing the '.sfdx' directory, closing VS Code, opening, and running 'SFDX: Authorize an Org'.

[2022-10-03 09:24] jefersonchaves opened #4472 "ApexDoc not considered."
### Summary

Salesforce Visual Studio code does not yet support the highlight of parameters. Based on #948 it was mentioned and delivered in my understanding.

### Steps To Reproduce:

1.  Create a method
[code]
2.  Highlight the code.
![image](https://user-images.githubusercontent.com/1755734/193542752-143bc4a0-e588-41bf-9ff7-a0e3f603f0a8.png)
3. Check params for documentation.
![image](https://u

[2022-10-03 14:55] randi274 commented on #4472
Hi @jefersonchaves - thanks for digging up that old issue for us! I'm seeing the same as you are. With JS files, we are providing the documentation on hover, but that's not happening with Apex. I'm not sure if it was working previously, as the issue indicated, or not. I'll mark it as a bug since we did indicate the feature had shipped though, and that'll go into our backlog. Thanks for calling tha

[2022-10-03 18:24] randi274 commented on #4293
Thanks for sharing your solution @KipperBush! @mjaggard does that workaround happen to work for you as well?

[2022-10-04 15:09] randi274 commented on #1228
Hello! I noticed this open issue today, and recalled that it was actually delivered last fall with #3621 - give it a try and let us know what you think!

[2022-10-04 15:09] #1228 closed

[2022-10-04 19:25] rgarabedian opened #4474 "Invalid checkpoint when checkpoint is on a deleted file."
### Summary

Can no longer update checkpoints due to an in invalid checkpoint error. The error specifies a file that was removed from source control and all orgs

### Steps To Reproduce:

1.  Enable a checkpoint on a class
1.  Remove the class/code from production by changing the corresponding meta.xml file status from Active to deleted and deploying to production org.
2.  Remove the class/code fr

[2022-10-04 21:36] randi274 commented on #4446
Hi @Mateusz7410 are you facing this error in VS Code specifically? Or also/only while using the CLI?

[2022-10-04 21:37] #4424 closed

[2022-10-04 21:38] randi274 commented on #4405
@Smegal were you able to try @jkranz-rk's suggestion?

[2022-10-05 14:32] kaustubhdapurkar commented on #4450
I am also facing this same issue. Earlier I had commented on an issue (#4267 ) about the same but at the time only my work laptop was affected (8GB RAM). Now I am facing the same issue on my personal laptop (16GB RAM, also other specs better than an avg PC).

[2022-10-05 15:11] jefersonchaves opened #4481 "Allow to Bulk Delete Custom Metadata Records"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I select multiple Custom Metadata Records and request to delete them, but only one of the records is deleted.

**Describe the solution you'd like**
Deletion of all selected custom metadata type records.

**Describe alternatives you've considered**
Running a script to fetch all custom metadata type records

[2022-10-05 16:03] ONGChain opened #4482 "Code-Completion for Extended Interfaces"
I recently created my first child interface that extends a parent interface and I've noticed that code-completion does not see the methods described in the parent interface. It's quite annoying as I tend to misspell things a lot so I prefer to rely on code-completion.

For example:
`
public Interface InterfaceA {
    String foo();
}
public Interface InterfaceB extends InterfaceA {
    String bar()

[2022-10-06 05:25] Ayushjain7870 opened #4484 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `55.8.0`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.71.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

Startup time is very high: 31088ms average.

[2022-10-06 08:27] utkarshnarad-opus opened #4485 "```json { "messages": [], "activationTimes": { "codeLoadingTime": 9127, "activateCallTime": 58, "activateResolvedTime": 27137, "activationReason": { "startup": true, "extensionId": { "value": "salesforce.salesforcedx-vscode-apex", "_lower": "salesforce.salesforcedx-vscode-apex" }, "activationEvent": "workspaceContains:sfdx-project.json" } }, "runtimeErrors": [], "runningLocation": { "affinity": 0, "kind": 1 } } ```Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `55.8.0`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.71.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-10-06 14:21] randi274 commented on #4485
Hi @utkarshnarad-opus do you have any more information about what was happening when you received the error? Was this an Apex Extension unresponsive error?

[2022-10-08 21:42] LiveLikeLastDay commented on #1496
Same here.

[2022-10-10 07:16] Mateusz7410 commented on #4446
Ho @randi274 ,

I am getting error using CLI too.

[2022-10-10 15:16] gbockus-sf opened #4490 "Remove unused SDR import convertContext"
**Is your feature request related to a problem? Please describe.**
During some SDR cleanup @mshanemc found a file where VSCE is pulling from `source-deploy-retrieve/lib/src/convert...`.  We should only ever be pulling in from the top level of SDR.

**Describe the solution you'd like**
Remove the unused import.

[2022-10-10 16:29] AnanyaJha commented on #2952
Hi all! Thanks for the patience on this issue - we've had limited bandwidth but the team will be working on this change before the end of the year. We'll post an update once it's out!

[2022-10-10 20:16] ScubaJimmE commented on #4293
Came across this whilst searching for solutions to the same issue.

MacOS 12.1
Visual Studio Code 1.72.0
sfdx-cli/7.167.2 darwin-x64 node-v16.17.0

The steps suggested by @KipperBush did solve the issue for me. I'll keep an eye to see if it reoccurs

[2022-10-10 22:02] #4490 closed

[2022-10-11 06:59] kirstbelen commented on #4389
Hello. I don’t know. Its just suddenly showing an error/warnings under
“PROBLEM” for all the codes I opened. But there is no actually error with
the code. Can we setup a meeting? This has been an issue for almost how
many months now

On Sat, Aug 27, 2022 at 5:45 AM Ritam Agrawal ***@***.***>
wrote:

[2022-10-11 07:03] AkhileshHN commented on #4160
Thank you for the response, Ananya Jha,
The issue is resolved and everything is working fine.

Regards Akhilesh HN

On Thu, 2 Jun 2022 at 01:15, AnanyaJha ***@***.***> wrote:

[2022-10-11 07:26] kirstbelen commented on #4389
Hello. Why this was closed? No one even connected to us to check the issue

On Wed, Sep 7, 2022 at 3:36 AM Randi Wilson ***@***.***>
wrote:

[2022-10-11 08:08] jh480 commented on #4437
@gbockus-sf, jftr, should I have pinged you?

[2022-10-11 12:28] djoly42 opened #4492 "VSCODE deployment : UNSUPPORTED_API_VERSION: Invalid Api version specified on URL"
### Summary

After refreshing our Fullsandbox, and authorize our org, we cant deploy with vscode.
Whereas we can deploy with the command sfdx:  sfdx force:source:deploy -x manifest ..

### Steps To Reproduce:

1.  on our apex file on vscode (or other metadata)
1.  Click right on the file
2. Select deploy to org

### Expected result

deployment to org

### Actual result

14:21:37.730 Starting SFDX:

[2022-10-11 13:52] erocheleau opened #4493 "CssSyntaxError: LWC1009: postcss-plugin-lwc: 2:3: Invalid definition of custom property"
### Summary

LWC Local Development does not support the use of styling hooks as documented here [Lightning Design System Styling Hooks](https://www.lightningdesignsystem.com/platforms/lightning/styling-hooks/).

A variation of this screen and this error will be displayed instead

![image](https://user-images.githubusercontent.com/2488155/195108980-842ae063-b53e-4392-9b74-625569c0e299.png)

"CssSyn

[2022-10-11 15:25] #4492 closed

[2022-10-11 15:56] tmill21-umd commented on #3575
@jeffb-sfdc - I'm on version 55.8.0 and still seeing this behavior. Any thoughts?

[2022-10-11 16:00] tmill21-umd commented on #3575
OK, I saw in the change log that this fix was reverted in 55.4.1. Any update on when it might be fixed again?

[2022-10-11 16:22] tmill21-umd commented on #3575
For anyone trying to work around this issue, until the fix returns: I'll mention that I managed to get into a pretty frustrating state where I knew a particular class was identical between my local copy and a sandbox org, but I could neither Diff File Against Org nor Deploy This Source to Org from VS Code because the case of the class name and file name had been altered.

The workaround was to del

[2022-10-11 16:36] kirstbelen commented on #4389
Can we setup a meeting so you can assist me? Its hard to explain in email

On Tue, Oct 11, 2022 at 10:15 PM Randi Wilson ***@***.***>
wrote:

[2022-10-12 19:10] Rohit496 opened #4496 "package.xml file not retrieve the metadata from the Dev Org"
### Summary

package.xml  file did not retrieve the metadata from the org.,

### Actual result

I have already connected Salesforce Dev Environment and I have created a project with the manifest file when I am trying to retrieve all the metadata of the org using the package.xml file right click in vs code. I am facing this issue previously It has not happened to me but now it is showing again and

[2022-10-12 19:35] AissaDev opened #4497 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `55.8.0`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.71.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-10-12 19:36] AissaDev commented on #4497
[code]

[2022-10-12 20:54] gmpmovies opened #4498 "Missing metadata type definition in registry for id 'externalcredential'."
### Summary

I am trying to retrieve the Metadata file for an External Credential which is a new feature in Winter '23. I am using the Metadata Org Browser in VS Code. I can see the external credentials inside of the org browser but when I try to download the metadata file I get this error: Missing metadata type definition in registry for id 'externalcredential'.

### Additional information
<img w

[2022-10-12 21:35] randi274 commented on #4389
Hi @kirstbelen I should have some availability the week after next for a quick meeting. Feel free to shoot me an email and we can coordinate: randi.wilson@salesforce.com

[2022-10-12 21:38] AnanyaJha commented on #4497
Hi @AissaDev thanks for sharing this information! Could you tell us a bit more about exactly what issue you ran into ?

[2022-10-12 22:03] AnanyaJha commented on #4493
Hi @erocheleau thanks for reporting this! Unfortunately our team will not be able to pick up any changes related to Local Dev Server this year, but we're happy to hear your feedback. If you have any further issues or feedback for the product, feel free to leave a comment - https://github.com/forcedotcom/lwc-dev-server-feedback/issues/143. Thank you for the patience

[2022-10-12 22:45] kirstbelen commented on #4389
Just send me a link. Anytime/anyday works for me.

On Thu, Oct 13, 2022 at 5:35 AM Randi Wilson ***@***.***>
wrote:

[2022-10-13 08:36] Ayushjain7870 commented on #4484
It is showing notification like below:
![image](https://user-images.githubusercontent.com/69713567/195546160-b581f88e-2397-4a06-911a-27050a212a19.png)

[2022-10-13 19:25] gfarb commented on #4162
Would love to see some activity on this issue. Another example of this, even with [prettier-plugin-apex](https://www.npmjs.com/package/prettier-plugin-apex), is Role metadata. Would be great if we could use `apexInsertFinalNewline` for all Salesforce metadata files.

[2022-10-14 03:27] Russman12 opened #4499 "Debug Test in LWC tests improperly escaping --testNamePattern value"
### Summary

The _Debug Test_ functionality is not running as expected for individual tests in LWC. It appears the `testNamePattern` flag is incorrectly escaping characters. This causes the execution to skip all tests as nothing can be found matching the string.

### Steps To Reproduce:

1.  Create a LWC test.
1.  Attempt to debug a test individually.

### Expected result

Selected test should exe

[2022-10-14 10:19] rob-baillie-ortoo opened #4500 "Apex Language Service crashes with null pointer exception"
### Summary

Occassionally, and unclear when or how it happens, I'm getting a full crash of Apex Language Server that results in the complete loss of auto-complete / snippets / run-test button functionality.

Only a restart of VSCode corrects the issue.

### Steps To Reproduce:

Unsure how to reproduce, but the Apex Language Server outputs the following errors...

[code]

**Salesforce Extension Ve

[2022-10-14 10:38] anupshastri96 commented on #3197
@jriffe and @RoadRunner88
Thank you guys, I have been looking for a solution to this for a long time. I thought it was happening because of some update issue. I installed and reinstalled the extensions multiple times.

[2022-10-14 16:11] #4445 closed

[2022-10-14 16:11] AnanyaJha commented on #4445
Closing this issue due to no activity, please reopen if you run into this again!

[2022-10-14 16:20] AnanyaJha commented on #4435
Closing this issue due to no activity - please open a new issue if you run into anything!

[2022-10-14 16:20] #4435 closed

[2022-10-17 19:44] sarojpadhy123 commented on #1818
Error: spawn cmd ENOENT
    at Process.ChildProcess._handle.onexit (node:internal/child_process:285:19)
    at onErrorNT (node:internal/child_process:485:16)
    at processTicksAndRejections (node:internal/process/task_queues:83:21)
Emitted 'error' event on ChildProcess instance at:
    at Process.ChildProcess._handle.onexit (node:internal/child_process:291:12)
    at onErrorNT (node:internal/chil

[2022-10-17 20:45] Russman12 commented on #4499
To clarify, this bug does not seem to occur when running an entire LWC test file. It only occurs when running an individual test case, "it" block.

[2022-10-18 19:52] klewis-sfdc commented on #4498
Hi @gmpmovies,

Thanks for submitting the issue.  I have confirmed that the Salesforce Extensions need to update to a newer version of the source-deploy-retrieve library (to the latest, 7, from version 6, which is used currently) where External Credential is included [in the metadata registry](https://github.com/forcedotcom/source-deploy-retrieve/commit/c031034cf847c15a195acac797c83844c8a4e270) fo

[2022-10-18 23:56] michaelsoriano commented on #1988
This is still happening. Messing up HTML color syntax in PHP files.

I'm using VSCode 1.72 + SF Extension Pack v v55.8.0.
It immediately gets fixed as soon as I disable the SF Extension pack.  Shouldn't it disable automatically in non SF projects? Or is there a setting I have to turn on?

[2022-10-19 07:56] Harshi76 opened #4504 "unable to get local issuer certificate"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**Salesforce Extension Version in VS Cod

[2022-10-19 14:24] csutterlinSFDC commented on #4381
We have some devs eager for this, and would be happy to test/assist (or just cheer you on from here).

[2022-10-20 13:00] pledbetter-cvet commented on #4285
This issue hasn't happened again since about a day after I first reported it. I haven't changed anything; not sure why it stopped.

[2022-10-22 02:16] kirstbelen commented on #4389
Hello. Please handle this ticket properly. No one is even coordinating with
me nor contacting to assist on the issue. Don’t close this ticket

On Sat, Oct 22, 2022 at 10:15 AM github-actions[bot] <
***@***.***> wrote:

[2022-10-24 21:36] jimramboaol opened #4511 "java home"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**Salesforce Extension Version in VS Cod

[2022-10-24 21:38] jimramboaol commented on #4511
please ignroe

[2022-10-24 21:38] #4511 closed

[2022-10-24 22:38] gbockus-sf commented on #4504
@Harshi76 can you expend further on what you are trying to accomplish? Is this happening only for a specific command or is it an overall issue installing/running the extensions?

[2022-10-25 09:20] hujiafan123 opened #4512 "Please Support Zulu JDK"
Zulu JDK works fine before.But a few days ago,vscode show up some error message

An unsupported Java version was detected. Download and install [Java 8](https://java.com/en/download/), [Java 11](https://www.oracle.com/technetwork/java/javase/downloads/jdk11-downloads-5066655.html), or [Java 17](https://www.oracle.com/java/technologies/downloads/#java17) to run the extensions. For more information,

[2022-10-25 09:22] hujiafan123 commented on #4512
Currently,I'm using zulu 11

[2022-10-25 15:03] mgetzbw opened #4513 "Announcement: No release to Salesforce Extensions since August 8th due to Infra Work"
### Summary
VSCode is has not received any updates for these extensions since August 8th

### Steps To Reproduce:

1.  Install Extension pack

### Expected result

The installed version reflects the latest release and CLI

### Actual result

Installed version is 55.8.0

### Additional information
https://marketplace.visualstudio.com/items?itemName=salesforce.salesforcedx-vscode
Shows 55.8.0 as bei

[2022-10-25 15:16] gbockus-sf commented on #4512
Hi @hujiafan123
Did your version of vscode or the salesforce extensions change?  Can you post the following information:

**Salesforce Extension Version in VS Code**: (found in the extensions tab on the left sidebar)

**OS and version**: (laptop)

There was an update earlier this year to support JDK 17 (54.6.0).  If you are using that version or newer could you check if using version (54.5.0) reso

[2022-10-27 06:21] Last-Order-Wsk opened #4518 "Error in vscode download extension"
<img width="1280" alt="image" src="https://user-images.githubusercontent.com/73875874/198206554-a5ec9942-aa26-4f34-836f-059589475d2f.png">

I don't know what happened. The first download shows this error

[2022-10-27 17:17] gbockus-sf commented on #4518
Hi @Last-Order-Wsk
This is likely a temporary issue with the VSCode marketplace. Can you try again and see if the issue has been resolved?   If no could you share the info in the Log from the link in the notification?

Thanks

[2022-10-27 17:28] gbockus-sf opened #4519 "Authorization error may be encountered after first time auth'ing an org"
### Summary

In verifying the v56.3.1 release we've encountered a few cases where on the very first authorization of an org one or more extensions will not have the correct authorization information to interact with the org (deploy, run tests, build soql queries).  This seems to be a race condition around how authorization information is stored and propagated across the extensions as it will occur

[2022-10-27 17:29] gbockus-sf commented on #4519
This has also been encountered immediately after creating a default scratch org.

[2022-10-27 20:25] gbockus-sf commented on #4513
@mgetzbw Publish of v56.3.1 just completed. Might take a few minutes to propagate in the VSCode marketplace, but should be available for install shortly 🚀

[2022-10-27 21:05] gbockus-sf commented on #4500
Thanks for the report @rob-baillie-ortoo I was able to track down the code where this error was occurring, but didn't see anything obvious that would result in the NPE.  I tagged this as a bug so an internal ticket would be created and prioritized.  We'll need to dig into the apex language server to get to the bottom of it.

[2022-10-27 22:48] gbockus-sf commented on #4513
Closing this issue with the release today.  Thanks again for calling out the lack of info @mgetzbw

[2022-10-27 22:48] #4513 closed

[2022-10-28 02:15] #4497 closed

[2022-10-28 02:15] #4485 closed

[2022-10-28 02:15] #4405 closed

[2022-10-28 02:15] #4293 closed

[2022-10-28 02:15] #4299 closed

[2022-10-28 02:15] #4291 closed

[2022-10-28 02:15] #4284 closed

[2022-10-28 02:15] #4166 closed

[2022-10-28 02:15] #4131 closed

[2022-10-28 02:15] #4117 closed

[2022-10-28 02:15] #4093 closed

[2022-10-28 02:15] #4090 closed

[2022-10-28 02:15] #4084 closed

[2022-10-28 02:15] #4085 closed

[2022-10-28 02:15] #3997 closed

[2022-10-28 02:55] Last-Order-Wsk commented on #4518
@gbockus-sf  Since I am a user in Chinese Mainland, I need scientific online tools to link to the download address. It has been solved. Thank you!

[2022-10-28 02:56] #4518 closed

[2022-10-28 05:50] matteysumit opened #4525 "Code Builder Should also help creating the Entity Relationship Diagram (ERD)"

[2022-10-28 08:35] rob-baillie-ortoo commented on #4500
Thanks.  If I find the Apex that triggers this issue I'll update the ticket, obviously.

[2022-10-28 14:21] KellyGatling opened #4520 "Unable to Authorize to any Salesforce Environment from VSCode"
Type: <b>Bug</b>

Unable to Authorize to any Salesforce environment. Steps:
1. Ctrl + Shift + P to SFDX:Authorize an Org
2. Accept default location
3. Give it a name of 'ApexToolkitDevOrg'
4. It runs but quickly ends with exit code 1. Nothing pops up for me to log into salesforce.

Output Salesforce CLI Message: Starting SFDX: Set a Default Org
10:08:46.806 sfdx force:config:set defaultusername=Ap

[2022-10-28 15:01] KellyGatling commented on #4520
@randi274 You know what I tried one more time totally uninstalling Salesforce CLI from my machine and then reinstalling and restarting. Now it seems to be working as expected. Thank you anyways!!

[2022-10-28 15:01] #4520 closed

[2022-10-28 15:08] randi274 commented on #4520
Thanks for the update and what worked to resolve it - we're glad everything is back up and running for you now! 🚀

[2022-10-28 17:20] gbockus-sf commented on #4465
Fixed and release!

[2022-10-28 17:20] #4465 closed

[2022-10-29 02:14] #4064 closed

[2022-10-29 02:14] #4023 closed

[2022-10-29 02:14] #4022 closed

[2022-10-29 02:14] #4017 closed

[2022-10-29 02:14] #4002 closed

[2022-10-29 02:14] #4008 closed

[2022-10-29 06:44] kranthiparamata opened #4524 "Salesforce Extensions for VS Code encountered a problem while configuring your environment."
Full error: Salesforce Extensions for VS Code encountered a problem while configuring your environment. Some features might not work. For details, click Help > Toggle Developer Tools or check the Salesforce CLI logs in ~/.sfdx/sfdx.log.

[2022-10-31 14:26] andy-fitch commented on #3198
Having the same issue with 16GB of RAM - this is totally blocking new development for us right now - really hope Salescrap can this fixed.

[2022-10-31 15:26] gbockus-sf commented on #4252
@Sainath-Attuluri @ronika-das Just wanted to touch base and see if you were able to execute the above debug actions.

[2022-10-31 16:23] kranthiparamata commented on #4524
When i try to Authorize org It shows Authorize Org successfully but it not redirecting to Browser to login.
VSCode version:1.72.2
d045a5eda657f4d7b676dedbfa7aab8207f8a075
x64
Salesforce Extensions for VSCode version: 56.3.1
OS:Windows

[2022-10-31 16:25] randi274 commented on #1988
<img width="756" alt="Screen Shot 2022-10-31 at 12 24 02 PM" src="https://user-images.githubusercontent.com/9795193/199058336-190c91f5-aa0d-4198-b1d1-33e4575414a5.png">

@michaelsoriano we actually do have a setting for this! It's possible it's not being respected now, but we would recommend using "Autodetect" in your case, or using "off" definitively should stop the LWC and Aura Language Servers

[2022-10-31 16:31] kranthiparamata commented on #4524
OS: Windows 10 Enterprise

[2022-10-31 20:59] jeffb-sfdc commented on #3575
@tmill21-umd We release version 56.3.1 last week and that should have the fix in it.  We verified the fix was in the release and was working on windows before we published to the marketplace.  Please install the latest version and let us know if the issue persists.

If the issue persists:
1. Please let us know.  We believe this has been fixes, and if it hasn't we want to know and get a fix in.
2.

[2022-11-01 12:27] PrateekTyagiForce opened #4527 "Cannot read properties of undefined (reading 'type')"
### Summary

I am running a simple command SFDX: Retrieve Source from Org but it taking too much time.

### Steps To Reproduce:

Go to any file, example a apex class file, right click and run "SFDX: Retrieve Source from Org", it will take too much time and when click on cancel, will show you an error "Cannot read properties of undefined (reading 'type')"

### Expected result

I Should be able to r

[2022-11-01 17:34] michaelsoriano commented on #1988
@randi274  thank you. I checked the settings and "autodetect" is already on.

<img width="1232" alt="image" src="https://user-images.githubusercontent.com/5881081/199299674-358df8c7-07fe-4054-bfac-e1e0942ce75c.png">

I've learned to just manually "disable" the entire extension pack in PHP projects.

[2022-11-02 14:16] Auradha04 opened #4529 "Salesforce Extensions not loading for a long time"
Type: <b>Bug</b>

Not able to connect and authorize the org

Extension version: 56.3.1
VS Code version: Code 1.72.2 (d045a5eda657f4d7b676dedbfa7aab8207f8a075, 2022-10-12T22:15:18.074Z)
OS version: Windows_NT x64 10.0.19042
Modes:
Sandboxed: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-3217U CPU @ 1.80GHz (4 x 1796)|
|GPU Status|2d_canvas: enabled<

[2022-11-02 18:34] klouf-threshold commented on #4527
Also experiencing this with a manifest file. Reverting to the previous version of the extension resolves the issue. No error messages other than eventual timeout. CPU usage goes through the roof at some point. Confirmed on multiple machines. I will note that the manifest includes a lot of metadata types and I am retrieving from a long-standing org. I WAS able to retrieve using a manifest from a mu

[2022-11-02 19:49] gbockus-sf opened #4531 "Unable to run SFDX: Create function command"
### Summary

After the update to version v56.3.1 the `SFDX: Create function` command fails for all function types. Reported in slack.

### Steps To Reproduce:

1.  Command Pallet -> SFDX: Create Function
1.  Enter name and select and type

### Expected result

Should create the function.

### Actual result

An error similar to
[code]

### Additional information

Also occurring on code builder, but

[2022-11-02 20:00] gbockus-sf commented on #4529
HI @Auradha04
Can you provide a few more details?
1. Are you able to execute the 'SFDX: Authorize an Org' command?
2. If So does it open the browser window to authenticate with the org? Does the succeed and get you into the org?
3. If you are able to auth do you see the username in the bottom status bar of VSCode?
4. Are there any errors being reported?

There is a known race condition where in so

[2022-11-02 20:04] gbockus-sf commented on #4531
Works fine when running in development mode so probably an issue with bundling.

[2022-11-02 20:41] gbockus-sf commented on #4531
Tracked this down to an issue with the functions-core module.  Opened an issue in that repo to explore.  https://github.com/heroku/sf-functions-core/issues/140

For now I'll remove the function-core from the bundling to work around this issue.

[2022-11-02 23:23] AllanOricil commented on #3624
I have plans to work on this @randi274

[2022-11-03 02:02] Auradha04 commented on #4529
I am not able to run 'sfdx:authorize an org ' command

On Thu, Nov 3, 2022 at 1:30 AM gbockus-sf ***@***.***> wrote:

[2022-11-03 05:05] gbockus-sf commented on #4529
@Auradha04 interesting.  This could be a problem with the setup, or it could be an issue with the extensions starting up.

1. Are there any error messages being reported?
2. Is SFDX: Authorize an org just showing up in the command pallet at all?
3. From the terminal in vscode: Are you able to run `sfdx auth:web:login`? [doc](https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.meta/sfdx_dev/