[2021-10-19 23:59] wtao-lucid opened #3601 "Failed to retrieve emails for Unfiled Public Email Templates folder"
### Summary

When run `sfdx force:mdapi:listmetadata` with EmailTemplate type, it fails to retrieve email templates for the `Unfiled Public Email Templates folder` (unfiled$public)

### Steps To Reproduce:

1.  Choose `EmailTemplate` from `Metadata Types`

### Expected result

Expect to see templates from the `unfiled$public` folder

### Actual result

No email templates from that folder

### Addi

[2021-10-20 00:01] #3601 closed

[2021-10-20 02:12] mdaipayan opened #3602 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `53.0.0`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.61.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\manda\AppData\Local\Temp\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/m

[2021-10-21 05:38] lcampos commented on #2014
hi @AllanOricil I'm no longer a maintainer on this project but @smaddox-sf and the rest of the team can help look into this. I do agree with you that vscode will probably not add a search bar in the near future.

[2021-10-21 13:06] ipavlic opened #3606 "Running a test with `--outputdir` returns an `ERROR running force:apex:test:run: Invalid time value`"
### Summary

Running a test with `--outputdir` returns an `ERROR running force:apex:test:run:  Invalid time value`

### Steps To Reproduce:

`sfdx force:apex:test:run --codecoverage --resultformat json` runs normally.
`sfdx force:apex:test:run --codecoverage --resultformat json --outputdir test-output` or  `sfdx force:apex:test:run --codecoverage --resultformat json --outputdir .` or `sfdx force:a

[2021-10-21 17:54] ivangomezglb opened #3607 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `52.17.0`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.61.2`

[2021-10-21 17:55] cristiand391 commented on #3606
@ipavlic Sorry, this should be moved to https://github.com/forcedotcom/salesforcedx-apex/issues

The `force:apex*` commands are owned by another team, you can see in which plugin a command is with the `which` command:

[code]

Then you can find the repos here: https://github.com/salesforcecli/status

@WillieRuemmele can you transfer this issue to salesforcedx-apex? I don't have write access to tha

[2021-10-22 11:56] AllanOricil opened #3609 "Enable Salesforce Extensions for the Web version of VSCode"
**Is your feature request related to a problem? Please describe.**
Currently Salesforce extensions are not ready for running in the Web version of [VSCode](https://vscode.dev/)

![image](https://user-images.githubusercontent.com/55927613/138449465-226b688a-f01b-42a9-9b21-8c4fcf74165c.png)

![image](https://user-images.githubusercontent.com/55927613/138449512-b11cd8b3-fa64-486e-aa6a-61f69d85959b.pn

[2021-10-22 17:03] DT-Forcology opened #3610 "Flexipages not containing required tags for API 53.0 when retrieved from the org browser"
### Summary

Retrieving flexipages from the org browser fails to include the identifier tags

### Steps To Reproduce:

1.  Navigate to the org browser
2. Retrieve a flexipage

### Expected result

The XML downloaded contains an identifier tag underneath each of the componentInstance tags.

### Actual result

The XML downloaded does not contain the identifier tags, this prevents deployment if your

[2021-10-22 21:09] #3602 closed, assigned to nobody

[2021-10-22 21:17] #3607 closed, assigned to nobody

[2021-10-25 08:58] tprouvot opened #3611 "Created classes from command palette are in v52.0"
### Summary

When creating class from command palette, the api version is in version 52.0

### Steps To Reproduce:

1.  Open command palette (Ctrl+Shift+P for windows)
2.  Select SFDX: Create Apex Class
3. Enter name

### Expected result
Created class should be in the version mentionned in sfdx-project.json ("sourceApiVersion": "53.0")

Api version is set in class meta file:
ClassName.cls-meta.xml

[2021-10-25 10:08] Sai-NMDP opened #3612 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `53.0.1`
- OS Version: `Windows_NT x64 10.0.18363`
- VS Code version: `1.61.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\lmahav\AppData\Local\Temp\salesforce.salesforcedx-vscode-apex-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/

[2021-10-25 15:58] #3612 closed, assigned to nobody

[2021-10-25 21:57] #3579 closed, assigned to nobody

[2021-10-26 06:42] ppadishala opened #3615 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `53.0.1`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.61.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\PPADIS~1\AppData\Local\Temp\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt`

Find more details here: https://github.co

[2021-10-26 17:44] #3615 closed, assigned to nobody

[2021-10-27 00:26] #3571 closed, assigned to nobody

[2021-10-27 08:07] bdovh opened #3618 "ISV Debugger doesn't work for package which has single quotes or spaces in the package name"
### Summary

When following the steps of https://developer.salesforce.com/tools/vscode/en/apex/isv-debugger, I apex my package content to be loaded so that I could set a breakpoint and start a debugging session

### Steps To Reproduce:

1. Create a package
2. Release a package version
3. Install package version to subscriber org
4. As subscriber, grant login access to the package publisher
5. As p

[2021-10-27 08:15] bdovh opened #3619 "Even for packages without spaces or single quotes, ISV Debugger doesn't work"
### Summary
When following the steps of https://developer.salesforce.com/tools/vscode/en/apex/isv-debugger, I apex my package content to be loaded so that I could set a breakpoint and start a debugging session

### Steps To Reproduce:

1. Create a package
2. Release a package version
3. Install package version to subscriber org
4. As subscriber, grant login access to the package publisher
5. As pa

[2021-10-29 05:17] Kashika-Duggal opened #3623 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `53.1.0`
- OS Version: `Windows_NT x64 10.0.18363`
- VS Code version: `1.61.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\KASHIK~1.DUG\AppData\Local\Temp\salesforce.salesforcedx-vscode-apex-unresponsive.cpuprofile.txt`

Find more details here: https://githu

[2021-10-29 09:47] AllanOricil opened #3624 "SFDX: Create Apex Class should validate the Size of the class name and block the class creation if its name is bigger than the max allowed"
**Is your feature request related to a problem? Please describe.**
`SFDX: Create Apex Class` should validate the size of the class name.
At the moment you can type in any name and the command does not validate. The User will know that it is not valid only during the deploy, where the API will say something like "class name is too long"

**Describe the solution you'd like**
If the given class name

[2021-10-29 10:03] AndrewStopchenko-SO opened #3625 "Apex Test code coverage - make colors configurable"
**Is your feature request related to a problem? Please describe.**
It is slightly inconvenient (to me) that the Apex code coverage default highlighting colors are lime/red.
When there are multiple `if () {}` statements in the code and the unit test covers only part of them, it is somewhat hard to detect the non-covered lines when the green and red highlighting colors are mixed back to back (see **

[2021-10-29 20:09] AllanOricil commented on #3624
The max size is 40 characters

[2021-10-29 21:20] Renansspedroso opened #3626 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `53.1.0`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.61.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-11-01 09:58] andreyzh commented on #3575
I happen to have a very similar issue.

I created class called "consumerInteractionsViewController". Only few days later following active development I figured that the name is incorrect - first latter must be Capitalized, so correct name is: "ConsumerInteractionsViewController".

I tried to re-name the class name and file in VS Code. Upon deployment I got error:
`Force-app/main/default/classes/co

[2021-11-01 15:46] AllanOricil commented on #3575
@randi274

in Step 4 I deleted the class using the Developer Console.
In Step 5 I renamed the file, copied the file name, then I pasted it inside the class instead of typing it again.

I don't have `Override Conflicts On Push` turned on, but I think the problem is not related to it because the class does not exist in the org.  The experiment that I did showed that I was able to deploy the class us

[2021-11-01 16:26] #3557 closed

[2021-11-01 16:26] #3566 closed

[2021-11-01 17:02] ratnesh76 commented on #3566
Yes I am behind the firewall and using the VPN.

On Mon, Oct 25, 2021 at 11:55 AM Randi Wilson ***@***.***>
wrote:

[2021-11-01 18:26] #3170 closed

[2021-11-01 19:26] #3558 closed

[2021-11-01 20:12] JCripe-AuthorSolutions commented on #1476
This problem started last week for me.

Here's an example path error:

Checkpoints can be set on a valid line of Apex source. Invalid checkpoint location: URI=file:///c:/Users/myusername/sfdxProjects/20211101%20SandboxName/force-app/main/default/classes/ClassName_Test.cls

The file paths start with "file:///".  It should be "file://" or "file:////" if it is trying to escape the slashes?

Also, I s

[2021-11-01 20:52] jdgirald commented on #2952
Hi @smaddox-sf, any updates on this. Thanks

[2021-11-01 21:20] JCripe-AuthorSolutions commented on #1476
I deleted a space in the project name and that fixed the problem.

[2021-11-02 13:01] marcopinder commented on #2047
@smaddox-sf Is there an update on this issue please?

[2021-11-02 15:19] dt-snyder opened #3627 "Broken URL in Custom Templates Docs"
It's hard to follow the instructions to clone a repo no one has access to. Please fix this.

Reference Line: https://github.com/forcedotcom/salesforcedx-vscode/blob/fce42fc0ea4fd65f4bfa7836576ba0ff286fb408/docs/_articles/en/user-guide/byotemplate.md?plain=1#L9

Broken URL: https://github.com/forcedotcom/salesforcedx-templates/tree/develop/packages/templates/src/templates

Public Location of Docs:

[2021-11-02 15:28] randi274 commented on #3627
Thanks for catching this @dt-snyder! We changed out branching strategy for that repo, and this was an unforeseen consequence of that.

[2021-11-03 05:40] isaac0310 opened #3629 "SFDX: Retrieve or Deploy Source in Manifest to Org is missing when I right click the package.xml"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**Salesforce Extension Version in VS Cod

[2021-11-03 15:52] mreichelt-canyon opened #3630 "Rename symbol does not work"
### Summary

When renaming a symbol pressing F2, nothing happens. The symbol keeps the old name.

### Steps To Reproduce:

1.  Highlight a symbol (I tried highliting the whole symbol as well as just putting the cursor in)
1.  Provide a new name for the symbol
1.  Press "Enter"

### Expected result

Symbol should be renamed and all references also.

### Actual result

Nothing happens. The symbol ke

[2021-11-05 13:22] Bartheleway commented on #3470
@jeffb-sfdc the steps are correct. Note that depending on which metadata you take (apex, visualforce, staticresource, ...) the result on step 6 will vary.

For an apex class I get :
![image](https://user-images.githubusercontent.com/1260779/140342503-5e1aa76b-d22a-40bc-8918-412254eeb1df.png)

For a visualforce or static resourse, I get the previously shared screenshot (not required).

From what I

[2021-11-05 19:36] JSaterdalen opened #3634 "Unable to deploy CustomField CustomObject metadata"
### Summary

When editing custom fields in VS Code, I am unable to deploy back to my sandbox due to the following error:

`An error was encountered during conflict detection. MetadataTransferError: Metadata API request failed: Component conversion failed: Method not implemented`

Deploying with the terminal using the CLI works as intended. E.g. `sfdx force:source:deploy -m "CustomObject:Account" `

[2021-11-07 15:43] pgonzaleznetwork commented on #1411
@gussamer did you resolve this? I'm experiencing exactly what you describe. Works via the CLI but not through the vscode extension.

[2021-11-08 01:47] ggldgithub opened #3635 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `53.2.0`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.61.2`
Extension causes the extension host to freeze
:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-11-08 18:51] #3623 closed

[2021-11-08 18:51] #3626 closed

[2021-11-08 18:52] smaddox-sf commented on #3629
Please add system info, steps to reproduce and the expected vs. actual outcome.  Closing this issue as we don't have enough info to try to repro it.  Feel free to add the necessary info and reopen this issue and we'd be happy to look into it.

[2021-11-08 18:52] #3629 closed

[2021-11-08 18:53] #3635 closed

[2021-11-09 00:14] JosephAllen opened #3636 "Allow for User-Defined Encryption Key"
**Is your feature request related to a problem? Please describe.**
Rogue processes can interact with authenticated orgs using the CLI as a dumb proxy.

**Describe the solution you'd like**
Enable a user-defined encryption key. Perhaps something where a user would enter an encryption key manually when a project is opened instead of storing the key in the key-chain or file system.

This would allow

[2021-11-09 06:39] vamsiadapa23 opened #3637 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `53.2.0`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.62.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\ADAPA\AppData\Local\Temp\salesforce.salesforcedx-vscode-apex-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/m

[2021-11-09 06:53] chandraveersinghEcho opened #3638 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `53.2.0`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.62.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\CHANDR~1.SIN\AppData\Local\Temp\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt`

Find more details here: https://githu

[2021-11-10 04:11] jeffb-sfdc commented on #3634
I've been able to reproduce this.  There's an error taking place in metadataConverter.js `convert()`.  The stack is:
[code]

[2021-11-10 09:29] pabloasinfabiani opened #3641 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `53.2.0`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.62.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2021-11-10 14:41] DT-Forcology commented on #3610
Hi @randi274,

This appears to be fixed for v53.2.0 of the extensions.

Thanks,
Daniel

[2021-11-10 14:41] #3610 closed

[2021-11-10 16:27] jrahadfield commented on #3541
Hi @AnanyaJha,

I've been doing some more investigation into this on our side, and I believe that I've found some behaviour changes between the two CLI versions that can be replicated even with small or quick-running tests.

The first is the increase in test execution time - running a test as `sfdx force:apex:test:run -y -t <testClassName> --json`, the results contain a 'testExecutionTime' propert

[2021-11-10 23:54] smaddox-sf commented on #3638
Duplicate #3198

[2021-11-10 23:55] #3641 closed

[2021-11-11 15:31] Shreyasks99 opened #3643 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `53.3.0`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.62.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-11-12 16:31] #3637 closed

[2021-11-12 16:31] #3643 closed

[2021-11-12 18:39] jonnypetraglia opened #3644 "Stop pointless notifications & auto changing to Output tab when canceling operations"
**Is your feature request related to a problem? Please describe.**
Maddening that, every time I cancel something like a Push via the notification I get TWO notifications (one "warning" me it was canceled and the other reporting that it "failed to run") and more importantly, it switches to the Output tab.

**Describe the solution you'd like**
At the very least give a setting to disable the 3 things

[2021-11-14 01:04] abhishekalekar opened #3646 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `53.3.0`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.62.2`

[code]

[2021-11-15 08:54] abhishekalekar opened #3647 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `53.3.0`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.62.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[code]

[2021-11-15 10:51] PawelWozniak opened #3648 "Display test run errors in more readable form."
**Is your feature request related to a problem? Please describe.**
Currently, when I run a test in VSCode and an error happens I need to scroll down through output as the whole message is placed in a narrow column. It is even worse visible if you have a mini panel opened only. Image below from maximized panel.

![2021-11-15_10h15_05](https://user-images.githubusercontent.com/5740564/141769129-6e09

[2021-11-16 00:19] sarden11037 opened #3649 "SFDX commands not found"
I had a refresh done on our dev org. The refresh cause my token to expire so I needed to do a fresh 'authorize an org'. i logged out of all orgs. Authorized the new org and from there everything broke. All SFDX commands from the palette will show the error display " command xxxx not found). this is for all SFDX commands. If I run the commands from the terminal it just wont work. Tried uninstalling

[2021-11-16 04:18] sarden11037 commented on #3649
leaving a screen shot with dev tools errors. maybe someone can make sense of it.
![vscode error](https://user-images.githubusercontent.com/24573854/141911443-ec86775b-26d1-407d-9f60-c2884644a4a7.PNG)

[2021-11-16 16:03] rcoringrato-sfdc commented on #3630
@mreichelt-canyon Can you provide more context for this issue? Are you renaming a symbol in an Apex class, trigger, or anonymous script?

[2021-11-17 17:54] msaxena8188 opened #3651 "SFDX Invoke Function Command not visible on Command Palette"
The SFDX Create/Start/Stop Functions commands are visible however the other commands are not.

[2021-11-17 17:56] msaxena8188 commented on #3651
![image](https://user-images.githubusercontent.com/53609295/142255762-aa655941-6b22-43ff-b767-a06e8cb5859a.png)

[2021-11-17 18:25] AnanyaJha commented on #3644
Hi @jonnypetraglia thanks for sharing this feedback! It sounds like the dual notification of the cancellation and failure is distracting. For the third point, can you share any specific instances when the focus shifts away from your terminal while you're typing? We've been doing work to address that behavior across the extensions, so if you're able to give us some repro steps we can look into it f

[2021-11-17 18:28] jonnypetraglia commented on #3644
@AnanyaJha I can give more detailed steps if needed but a super simple step for reproducing is merely to run some tests; when the tests finish, if there were failures, it switches me to the Output tab, even if I'm typing into my terminal or doing a find or anything else in another tab.

[2021-11-17 18:29] #3646 closed

[2021-11-17 18:30] #3647 closed

[2021-11-17 18:32] AnanyaJha commented on #3648
Hi @PawelWozniak thanks for sharing this feedback! Out of curiosity, what do the tests results look like for you when you run them directly in the terminal/CLI? Does this issue ever occur there, or is it specific to VS Code and its output tab?

[2021-11-17 20:29] jag-sfdc commented on #3619
@bdovh - This appears to be a regression in CLI and we are working on a fix. Workaround is to downgrade your local CLI to version 115.1 (You can download the installer from https://developer.salesforce.com/media/salesforce-cli/sfdx/versions/7.115.1/a6551a9/sfdx-v7.115.1-a6551a9.pkg. Before you do that, uninstall the existing CLI by following steps here https://developer.salesforce.com/docs/atlas.e

[2021-11-17 21:36] eckenstine commented on #2231
Were you ever able to solve this? I initially created a LWC with an uppercase first letter and had this error. I deleted from source and org (verifying under Lightning Components in Setup that it was deleted) and then tried to create the LWC again with a lowercase first letter and continued to get this error.

[2021-11-18 08:20] bdovh commented on #3619
Hi @jag-sfdc , thanks for update. I am working on other projects right now. May check later

[2021-11-18 11:42] Utkarsh-Singh-360 commented on #1909
Create a user in scratch org and project with manifest in VS code.
Authorise the new user and do not initiliaze the git in this project.
You will now see the option on right click for deploy the particular source.
@oriolete

[2021-11-18 12:57] dvon88 commented on #662
This issue appears to be broken again. I updated VSCode today and it now gives me the same error. Was working previously.

[2021-11-18 13:29] renatoliveira commented on #662
You are not alone, same thing happening here. Right-clicking the file and selecting the deploy option still works though.

[2021-11-18 13:51] wojciech-slodziak-waeg commented on #662
Same here.

[2021-11-18 14:38] AndrewKrava commented on #662
+

[2021-11-18 14:46] simonhyphen8 opened #3655 "TypeInferenceError during conflict detection"
Issue Type: <b>Bug</b>

Editing an Apex class
'Deploy on Save' setting enabled
Hit CTRL&S to save
Conflict Detection starts
Following error returned:
"An error was encountered during conflict detection.
TypeInferenceError: %s: File or folder not found"
This also errors WITHOUT conflict detection enabled
Saving file locally and manually deploying using "SFDX: Deploy Source to Org" saves changes to

[2021-11-18 14:49] randi274 commented on #3655
@simonhyphen8 we actually just fixed an issue like this! What kind of org are you trying to deploy to?

[2021-11-18 14:56] simonhyphen8 commented on #3655
Hi Randi,

Trying to push to a Sandbox org. so not a scratch org.
As I said in the issue – it was working this morning, but I did run an Insiders update earlier today.

Regards,

Simon

[signature_1071708408]
Simon Molloy
Senior Developer

(+44) 020 7608 5671 | hyphen8.com
[Website]<https://www.hyphen8.com/>

From: Randi Wilson ***@***.***>
Reply to: forcedotcom/salesforcedx-vscode ***@***.***>
Da

[2021-11-18 15:22] randi274 commented on #3655
I'm able to reproduce as well, so we'll get it marked up as a bug and see if we can get a fix in soon. Thanks for logging this so quickly!

[2021-11-18 15:23] simonhyphen8 commented on #3655
No problem, thanks for jumping on it so quickly!

[signature_1243491912]
Simon Molloy
Senior Developer

(+44) 020 7608 5671 | hyphen8.com
[Website]<https://www.hyphen8.com/>

From: Randi Wilson ***@***.***>
Reply to: forcedotcom/salesforcedx-vscode ***@***.***>
Date: Thursday, 18 November 2021 at 15:22
To: forcedotcom/salesforcedx-vscode ***@***.***>
Cc: Simon Molloy ***@***.***>, Mention ***@***.

[2021-11-18 16:20] achere opened #3656 ""Cannot read property 'fspath' of undefined" when executing "Deploy This Source" action"
### Summary

When I try to run "Deploy This Source" action, I get an error "Cannot read property 'fspath' of undefined". Previously this feature worked fine

### Steps To Reproduce:

1.  Authorize an org
1.  Open valid source file in the editor (Apex class, LWC, etc.)
1.  Execute action "SFDX: Deploy This Source To Org"

### Expected result

Source deployed to target Org

### Actual result

Got an

[2021-11-18 16:25] wrone opened #3657 "Deploy on save fails - %s: File or folder not found"
### Summary

When I press ctrl+s the automatic deployment of a file fails. The terminal shows this error - %s: File or folder not found.

When I click the "SFDX: Deploy This Source to Org" - the file is deployed without errors.

The below both commands also work:
sfdx force:source:deploy -p "force-app\main\default\classes\MyApexClass.cls"
sfdx force:source:deploy -m ApexClass:MyApexClass

![image]

[2021-11-18 16:26] wrone commented on #3657
This is the duplicate of https://github.com/forcedotcom/cli/issues/1283. Not sure where it should be created

[2021-11-18 16:28] AnanyaJha commented on #3657
Hi @wrone thanks for reporting this - this repo is the correct one for the issue! We have a similar issue open with #3655, can you share whether you're deploying to a sandbox or scratch org?

[2021-11-18 16:30] wrone commented on #3657
Hi @AnanyaJha,

I'm deploying to a sandbox

[2021-11-18 16:30] AnanyaJha commented on #3657
Thanks @wrone. Closing this issue out in favor of #3655, duplicate issue

[2021-11-18 16:30] #3657 closed

[2021-11-18 16:36] pbattisson commented on #1579
Also having this same issue - is this because it doesn't support wildcard in the metadata API?

[2021-11-18 16:57] sqone2 commented on #662
I started getting this error today too. Yesterday it worked fine. I had to disable deploy on save and right click on a file to deploy.

[2021-11-18 17:17] abucchianico commented on #662
It appears to be broken again, starting today, when I use a keyboard shortcut to deploy a file it give me an error "Cannot read property 'fsPath' of undefined". But it works well when I right click on file > deploy source to org.

[2021-11-18 17:38] randi274 commented on #3656
Hi @achere, what kind of org are you deploying to?

[2021-11-18 17:42] randi274 commented on #662
Hi all - we're taking a look at "Cannot read property 'fsPath' of undefined" with a new issue #3656 - feel free to add any additional details there. (Deploy on save issues we're tracking on #3655 and are currently working on a fix for that one.) Thanks for your comments and patience!

[2021-11-18 18:06] ArtsiomT commented on #3656
Not OP, but today I faced the same issue with deployment to a sandbox. Was trying to downgrade the extension pack to the prev version but the error still.

[2021-11-18 18:11] achere commented on #3656
Hi @randi274! Full copy sandbox.

[2021-11-18 18:23] Dre2300 opened #3659 "push or deploy on save inop"
The Salesforcedx-vscode-core › Push-or-deploy-on-save Setting is giving me the "File or Folder not found" error every time I try to save my source code.  However, I do not receive an error when pushing my source code to my org by right-clicking the class and clicking "sfdx: deploy source to org".

[2021-11-18 18:31] rcoringrato-sfdc commented on #3659
Duplicate of #3655

[2021-11-18 20:39] scanlan111 commented on #3656
This just happened today, I was able to use a keyboard shortcut to deploy all day yesterday and now when using the shortcut I am getting the 'Cannot read property 'fsPath' of undefined' alert.

Right clicking and using Deploy from menu works but i'd rather my shortcut work.

[2021-11-18 21:04] johndturn commented on #3656
I'm currently running into this while attempting to retrieve metadata from a Dev sandbox as well.

[2021-11-18 21:33] randi274 commented on #3659
Thanks for logging this! Closing as a dupe.

[2021-11-18 21:33] #3659 closed

[2021-11-18 21:41] biwashingtonial commented on #3656
Can confirm exactly what OP and commenters describe. Just started today. The type of connected org seems not to matter.

[2021-11-18 22:03] michaelsoriano commented on #3655
Same issue here. Only happens during "Save on Deploy".

**%s: File or folder not found**

But I can deploy file manually by right clicking / deploy source to org.

It was working this morning.

Thanks.

[2021-11-19 02:46] abhishekalekar commented on #3646
Thanks. Both extension are taking time to load on vscode. Some time they are unresponsive. @AnanyaJha

[2021-11-19 08:40] Anaatoole commented on #662
For me just reload twice VS Code worked.

[2021-11-19 09:27] smukov commented on #3655
As mention [here](https://github.com/forcedotcom/salesforcedx-vscode/issues/662#issuecomment-973869319), restarting VS Code resolves the **%s: File or folder not found** error.

[2021-11-19 13:41] sqone2 commented on #662
Wow that worked for me! Thank you @Anaatoole!

[2021-11-19 15:14] tchorsch commented on #3656
This is also impacting me in orgs that worked fine yesterday. Can confirm for me as well that right click to deploy seems to still work.

[2021-11-19 15:21] tchorsch commented on #3656
After speaking with a colleague, for me at least, I found that my sfdx extension had updated and was in "Reload Required". Reloading the extension resolved the issue.

[2021-11-19 15:27] randi274 commented on #3656
We shipped a patch release yesterday to resolve this, so with a reload of the extensions this should be resolved for everyone. Thanks for the patience and comments all!

[2021-11-19 15:27] #3656 closed

[2021-11-19 15:27] randi274 commented on #3655
We shipped a patch release yesterday to resolve this, so with a reload of the extensions this should be resolved for everyone. Thanks for the patience and comments all!

[2021-11-19 15:27] #3655 closed

[2021-11-19 17:32] firatesmer commented on #3575
Exactly and it's annoying.

[2021-11-19 20:05] #3627 closed

[2021-11-19 22:17] xyc commented on #784
Addressed by https://github.com/forcedotcom/salesforcedx-vscode/pull/3563

[2021-11-19 22:17] #784 closed

[2021-11-22 07:01] dvon88 commented on #662
@Anaatoole fix did not work for me. Still broken.

[2021-11-22 08:06] roger-rivas15 opened #3662 "Salesforce CLI View does not print sfdx Command for Deploying and Retrieving a Source File"
### Summary

When we select either "Deploy Source to Org" or "Retrieve a Source from Org" the output window for Salesforce CLI does not print the associated `sfdx` command that is executed.

For other commands the output window for Salesforce CLI does show the associated `sfdx` command.

### Steps To Reproduce:

1.  Select a LWC folder or a file.
2. Right click on the selected item.
3. Choose opti

[2021-11-22 08:56] Yerrak commented on #2034
@ralphcallaway
Did you by any chance create that issue or resolved your problem? (How?)
I seem to be having the same problem. The last-modified condition as stated [in the docs](https://developer.salesforce.com/tools/vscode/en/user-guide/detect-conflicts) does not seem to be checked (correctly). Nearly every local change I try to deploy is detected as a conflict.

[2021-11-22 10:59] MoTalhaSPW commented on #1579
This command is a life saver. Thank you

[2021-11-22 12:05] simonfodenslimmingworld opened #3663 "Org Browser ignores sfdx-project.json api version"
### Summary

Downloading metadata using the Org Browser ignores the sfdx-project.json API version.
Right click SFDX: Retrieve Source from Org uses the correct API version specified in the sfdx-project.json file.
Adding flexipages to a git repository and using DevOps to deploy resulted in metadata errors
 Property 'identifier' not valid in version 52.0

Right click SFDX: Retrieve Source from Org br

[2021-11-22 16:07] randi274 commented on #662
@dvon88 are you on v53.4.2 of the extensions? If so and it's still an issue, please file a new issue so we can track the problem separately. Thanks!

[2021-11-22 16:15] dvon88 commented on #662
@randi274 I am on 53.4.2 and was on that version when I posted earlier today, but it was fixed only after I updated the CLI today. Since it appears to be fixed, it's probably fine but it appears to not be perfect based on this. I updated the CLI from 122 to 124. Don't remember the rest of the version numbers, but that's all that fixed it for me.

[2021-11-22 17:56] randi274 commented on #3267
Just checking in on this issue as it's been a few months now; is this still a problem for you @smudivartysitetracker?

[2021-11-22 18:32] bmathew83 commented on #3459
![image](https://user-images.githubusercontent.com/88213348/142915953-b46afac6-6c8d-4abc-be87-e42c6c80c0d6.png)

![image](https://user-images.githubusercontent.com/88213348/142915981-2270d059-7555-4e47-bc3e-c69c2cd5e375.png)

![image](https://user-images.githubusercontent.com/88213348/142915996-f5845fa5-0ff0-4beb-8a15-816ab405982c.png)

![image](https://user-images.githubusercontent.com/88213348/1

[2021-11-22 18:35] bmathew83 commented on #3459
@smaddox-sf  - Thanks for sending the link https://github.com/forcedotcom/cli/issues/1104#issuecomment-892827077 to try and solve the above issue. I'm looking into this whether it will solve the main issue.

But I've uploaded some images I sent as reply via email I sent back in Aug 2021. **since you mentioned you weren't able to see them in Github. But I hope you can help me solve this. Thank you.

[2021-11-22 18:54] randi274 commented on #3618
Since we've identified that this is a broader issue than the quotes in the package name, we'll close this one in favor of 3619.

[2021-11-22 19:56] banderson5144 opened #3664 "Update URL for lwc-dev-server documentation"
https://github.com/forcedotcom/salesforcedx-vscode/blob/b805ae040f9c50ebdcaefa719830c884dc6d90d2/packages/salesforcedx-vscode-lwc/src/messages/i18n.ts#L23

Just wanted to let you know this link is broken and I think it should be updated to:

`https://developer.salesforce.com/tools/vscode/en/localdev/set-up-lwc-local-dev`

[2021-11-22 19:58] ekapner commented on #3664
FYI @sbudhirajadoc

[2021-11-22 20:07] #3590 closed

[2021-11-22 20:15] randi274 commented on #3664
Thanks for logging this @banderson5144!

@sbudhirajadoc when I was looking for the link, I found two more broken links for our Functions docs. Could we fix those in the same PR?
1. [force_function_start_warning_plugin_not_installed](https://github.com/forcedotcom/salesforcedx-vscode/blob/b805ae040f9c50ebdcaefa719830c884dc6d90d2/packages/salesforcedx-vscode-core/src/messages/i18n.ts#L156)
2. [Devel

[2021-11-22 20:37] sbudhirajadoc commented on #3664
Fixed links in PR https://github.com/forcedotcom/salesforcedx-vscode/pull/3665 @ekapner @randi274 Thanks!

[2021-11-23 00:47] jonnypetraglia commented on #3611
Bump on this as it's still occurring.

[2021-11-23 05:44] Shivananda-WW opened #3666 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `53.4.2`
- OS Version: `Windows_NT x64 10.0.18363`
- VS Code version: `1.62.3`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-11-23 05:45] Shivananda-WW opened #3667 "Unresponsive - Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `53.4.2`
- OS Version: `Windows_NT x64 10.0.18363`
- VS Code version: `1.62.3`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-11-23 06:46] Rahul1181 opened #3668 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `53.4.2`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.62.3`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-11-23 06:46] Rahul1181 opened #3669 "VS apex unresponsive"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**Salesforce Extension Version in VS Cod

[2021-11-23 16:30] smudivartysitetracker commented on #3267
Hi @randi274,
I am still running into the same issue. I tried to sync all the files before I attempted to debug, but still no luck. Any support would be really appreciated.

[2021-11-23 16:52] jonnypetraglia opened #3670 "Do not queue up pushes when multiple files are saved are in a project"
**Is your feature request related to a problem? Please describe.**

Not a bug, more usability. I mash Ctrl+S on a file 10 times, it shouldn't queue up 9 more pushes while the first is running. The state that the files were at for times 2-8 are gone forever so it's equivalent to running push 8 times on the final (same) state of the files.

The end result is that I have an almost constant notificati

[2021-11-23 16:57] #3664 closed

[2021-11-23 17:15] banderson5144 commented on #3664
Thanks @sbudhirajadoc when will see this get deployed to the actual cli plugin?

[2021-11-23 17:16] randi274 commented on #3664
Hi @banderson5144 we're on a code freeze this week with the US holiday, so changes won't be available until next week. Cheers!

[2021-11-23 18:58] randi274 commented on #3541
Thanks @jrahadfield this narrowing of the issue has been extremely helpful! I've spent the better part of the morning working through this, and was able to reproduce the issue and track it down to the specific version that has the issue, which corresponds to a major rewrite of how we run our apex tests. You should be able to get up to v7.94.3 of the CLI with the old performance; v7.95.0 is where i

[2021-11-23 21:02] #3668 closed

[2021-11-23 21:03] #3669 closed

[2021-11-23 21:03] #3667 closed

[2021-11-23 21:03] #3666 closed

[2021-11-24 17:42] jonnypetraglia commented on #1178
Bumping on this in hopes of a response.

[2021-11-24 18:49] randi274 commented on #3606
@ipavlic we've had a [similar](https://github.com/forcedotcom/salesforcedx-apex/issues/213) issue logged in our Apex repo, and I'm wondering if it might be related. Can you share the full output that you're receiving when you encounter this error?

[2021-11-24 19:09] ipavlic commented on #3606
@randi274 Sure, here it is.

[code]

[2021-11-24 19:31] randi274 commented on #1178
Thanks for the bump on this @jonnypetraglia - I've also confirmed it's in our backlog, it just hasn't bubbled up yet.

[2021-11-24 19:55] randi274 commented on #3606
Thanks for the quick response! We're certainly not giving you much to work with there. Would it be possible to share a small json output from a singular test when it's not writing to a directory, but would otherwise fail if you were to write the output? Since we're not able to reproduce it, I'm hoping I could at least try to stub out the results locally using the output that you're getting back.

[2021-11-24 20:02] 8bit-cutie commented on #3656
Still experiencing this issue, I verified that everything is up to date (SF CLI, vscode, etc)

[2021-11-24 20:03] 8bit-cutie commented on #662
Still experiencing this issue, I verified that everything is up to date (SF CLI, vscode, etc)

[2021-11-25 13:28] ppadishala commented on #3198
Apex Extension start-up time - High CPU usage
[salesforce.salesforcedx-vscode-apex-unresponsive.cpuprofile.txt](https://github.com/forcedotcom/salesforcedx-vscode/files/7603243/salesforce.salesforcedx-vscode-apex-unresponsive.cpuprofile.txt)

[2021-11-25 13:30] ppadishala opened #3672 "Facing same issue on creating the salesforce project on the VS code as above mentioned. My System has 8GB RAM"
Facing the same issue on creating the salesforce project on the VS code as above mentioned. My System has 12 GB RAM

_Originally posted by @abhishekKapoor14 in https://github.com/forcedotcom/salesforcedx-vscode/issues/3198#issuecomment-850841879_

[2021-11-25 13:32] ppadishala commented on #3672
[salesforce.salesforcedx-vscode-apex-unresponsive.cpuprofile.txt](https://github.com/forcedotcom/salesforcedx-vscode/files/7603270/salesforce.salesforcedx-vscode-apex-unresponsive.cpuprofile.txt)
 Here is the file which is asked by vs code to share while rising the issue

[2021-11-25 18:34] rnisti opened #3673 "When I try to connect on a Org Receveid this message: Error authenticating with auth code due to: connect ETIMEDOUT"
When I try to connect on a SandBox, I receive this message: Error authenticating with auth code due to: connect ETIMEDOUT.

And I receive a lot of timeout error messages has a couple of weeks.

[2021-11-26 11:39] alexdohmen commented on #2650
Hey, would be cool if we could add the extensions also to open-vsx.org Any ideas on this?

[2021-11-26 17:42] sfryffdc commented on #3541
@randi274 We have now tested this with a patch. We ensure that the skipCodeCoverage flag is set in the payload sent to the tooling API test method.

So for example in this file https://github.com/forcedotcom/salesforcedx-apex/blob/232657305fbc10c220399a77d6a865a23cdc53f3/packages/plugin-apex/src/commands/force/apex/test/run.ts

Line 178 would become

payload.skipCodeCoverage = true

This seems to

[2021-11-29 06:40] AnanyaJha commented on #2615
Thanks for reporting this @KevSlashNull! This should have been addressed by #3568, feel free to reopen if you see other issues

[2021-11-29 06:40] #2615 closed

[2021-11-29 06:58] AnanyaJha commented on #964
Hi @Szandor72! It's been a few years, but curious to see if this is still a reoccurring issue for you?

[2021-11-29 09:25] jonny-harte opened #3674 "Choose browser for Open Org"
**Is your feature request related to a problem? Please describe.**
I have Brave set as my OS default browser but when I click "Open Org" (or more generally anything that opens the browser from VS Code) I'd like it to open in Chrome instead.

**Describe the solution you'd like**
An option to choose which Browser VS Code uses to open Org's.

**Describe alternatives you've considered**
I tried instal

[2021-11-29 21:54] AnanyaJha commented on #3662
Hi @roger-rivas15 thanks for reporting this! The CLI command used to be displayed as part of the output because the Salesforce Extensions were actually running the command in the background. We've recently moved over to a new architecture to calling the APIs directly, so the CLI commands are not directly run anymore. The output now just displays the results of the operation instead of the CLI comm

[2021-11-29 21:59] AnanyaJha commented on #3672
Duplicate #3198

[2021-11-29 21:59] #3672 closed

[2021-11-29 22:45] randi274 commented on #3086
This has now been delivered! 🎉 Code Completion is available in versions as early as v53.3.0.

[2021-11-29 22:45] #3086 closed

[2021-11-29 23:09] #979 closed

[2021-11-30 00:16] smaddox-sf commented on #946
This has been delivered

[2021-11-30 00:16] #946 closed

[2021-11-30 19:41] joshwlewis commented on #3651
If you have the function source (`index.js`) open, they will be available in the command pallette. It took me a bit to figure this out. I'd rather have these commands available and throw an error rather than have them hidden. As it is, these commands are not discoverable without deep knowledge.

[2021-11-30 19:51] joshwlewis opened #3676 "Invoke and Debug Invoke for functions hidden"
**Is your feature request related to a problem? Please describe.**
As a new user to functions and/or these extensions, the function debug and function debug invoke features are very hard to find. Currently, you have to know to create a `payload.json` (these don't exist by default), then know to look at the top of that file for small text.

**Describe the solution you'd like**
Maybe a command palet

[2021-11-30 20:25] joshwlewis opened #3677 "Error while re-running `SFDX: Start Function`"
### Summary

Error while running `SFDX: Start Function`

### Steps To Reproduce:

1.  Run `SFDX: Start Function`
2. Run `SFDX: Stop Function`
3. Run `SFDX: Start Function`

### Expected result

It should be possible to stop the function and restart it.

### Actual result

[code]

### Additional information

**Salesforce Extension Version in VS Code**:

Salesforce Extension Pack v53.4.2

**SFDX CLI

[2021-12-01 12:00] ncrebbinffdc commented on #3541
@randi274 Did you get a chance to look at the testing we have done and the patch applied by @sfryffdc ? It would be really helpful if you could review this with a view to including in a release. Any timescales for this would be really useful too. We are blocked up upgrading our cli due to this so a quick fix and release would get us moving. Thanks

[2021-12-01 20:25] CoderMeow commented on #2204
Hello! It's 2021 and I am still having this issue. Is really no way to just pull all the source code in an org locally without having to specify each file you want regardless of whether it's an unlocked package or not? I want them all.

[2021-12-01 23:27] JSaterdalen commented on #2952
@smaddox-sf Would love to see this addressed, as it is actively causing issues in my source-tracked sandboxes. When the VS Code setting "Salesforcedx-vscode-core › Push-or-deploy-on-save" is enabled, VS Code incorrectly runs a source:deploy on save—instead of source:push—when saving a file against a source-tracked sandbox.

This messes with source tracking, due to source tracking [not supporting s

[2021-12-02 01:17] jag-sfdc commented on #3676
Thanks @joshwlewis. This is good feedback. I'll take it to the team and see if we can prioritize this.

[2021-12-02 04:07] AnanyaJha commented on #2204
Hi @CoderMeow thanks for sharing the feedback! To clarify, the behavior you're looking for is the ability to retrieve source in your org from an unlocked or unmanaged package?

[2021-12-02 04:24] AnanyaJha commented on #3541
Hi @ncrebbinffdc thanks for reaching out on this issue! We'll be prioritizing this item in our next iteration, so it should be addressed within the next month or two - with some leeway for the holiday season in the middle :) We'll be sure to update this thread once we have any more info or the fix has been released!

[2021-12-02 08:55] ncrebbinffdc commented on #3541
Thanks for the updates @AnanyaJha and @randi274

[2021-12-03 11:06] pierrepost opened #3681 "Salesforce cli integration (extension) failed"
Hello, I followed instructions in the module Quick Start: Visual Studio Code for Salesforce Development :

- install and update the CLI :
sfdx-cli: Updating CLI... already on latest version: 7.129.0-c662c12

- install VSCode :
Version: 1.62.3 (system setup)
Commit: ccbaa2d27e38e5afa3e5c21c1c7bef4657064247
Date: 2021-11-17T08:11:14.551Z
Electron: 13.5.2
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.

[2021-12-03 21:04] Edardgtz opened #3682 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `53.4.2`
- OS Version: `Windows_NT x64 10.0.18363`
- VS Code version: `1.62.3`

:warning: We have written the needed data into your clipboard. Please paste! :warning
[salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt](https://github.com/forcedotcom/salesforcedx-vscode/files/7652323/salesforce.salesf

[2021-12-04 05:04] Kulotht opened #3683 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `53.4.2`
- OS Version: `Windows_NT x64 10.0.17763`
- VS Code version: `1.61.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2021-12-04 11:47] mani2246 commented on #3634
A temporary fix for this is to Disable conflict detection during deploy in vscode.

1. Select File > Preferences > Settings (Windows or Linux) or Code > Preferences > Settings (macOS).
2. Deselect (uncheck) Detect Conflicts At Sync.
![image](https://user-images.githubusercontent.com/13785524/144708282-34c86691-6d3e-4a63-927b-41c704881e30.png)

[2021-12-06 04:19] Kulotht commented on #3638
<html>
<body>

/flow/Assign_POF
--

</body>
</html>

[2021-12-06 11:33] dongzhi-yang opened #3684 "Command 'SFDX: Create Project' resulted in error(command 'sfdx.force.project.create' no found)"
I face the following error when I try to create a project.
![image](https://user-images.githubusercontent.com/16980857/144836997-7ea4f8e6-8a32-421b-86e5-ecf7dd33c1f6.png)
This is what I see when I tried to select the command
![image](https://user-images.githubusercontent.com/16980857/144838174-126a7247-e833-4841-aeef-da21c960132e.png)
I have installed this package
![image](https://user-images.gith

[2021-12-06 16:09] dongzhi-yang commented on #3684
This is VSC version:
----------------------
Version: 1.62.3 (user setup)
Commit: ccbaa2d27e38e5afa3e5c21c1c7bef4657064247
Date: 2021-11-17T08:11:14.551Z
Electron: 13.5.2
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19042

[2021-12-06 21:52] AnanyaJha commented on #3681
Hi @pierrepost thanks for posting! In your first step, what action are you performing when you received this error:
_Salesforce Extensions for VS Code encountered a problem while configuring your environment. Some features might not work. For details, click Help > Toggle Developer Tools or check the Salesforce CLI logs in ~/.sfdx/sfdx.log._?

[2021-12-06 23:18] jeffb-sfdc commented on #3684
@dongzhi-yang I started to look into this but wasn't able to reproduce the issue.  I was able to create a new project w/o any issues.  I see from your screenshot you are running `sfdx-cli/7.129.0`.  When you run `sfdx plugins`, what plugins and versions are listed?  Also, if you haven't done so recently, be sure to run `sfdx update`.

[2021-12-06 23:59] dongzhi-yang commented on #3684
![image](https://user-images.githubusercontent.com/16980857/144941575-4dad7fa8-bc81-4e23-86c3-1616344a3a2d.png)
Hi@jeff-sfdc, no plugins are installed

[2021-12-07 00:12] dongzhi-yang commented on #3684
I ran the update earlier today, I also tried to install it with npm install sfdx --global.

[2021-12-07 00:14] #3172 closed

[2021-12-07 00:31] jeffb-sfdc commented on #3677
I was able to reproduce this issue, though, it doesn't appear to be an issue with stopping, it appears to be an issue with starting in the first place.  When I ran `SFDX: Start Function`, I got:

[code]

...which I don't think is expected.

[2021-12-07 00:37] jeffb-sfdc commented on #3673
Hi @rnisti , I don't think this is enough to go on.  Could you provide detailed steps you are doing (explicit step-by-step)?

[2021-12-07 01:04] jeffb-sfdc commented on #3663
I was able to reproduce this bug.

[2021-12-07 01:11] jeffb-sfdc commented on #3649
@sarden11037 I'll need some more information to go on:
* What version of the Salesforce extension for VisualStudio Code are you running?
* When you run (in a terminal) `sfdx --version`, what do you get?
* When you run (also in a terminal) `sfdx plugins`, what do you get?

[2021-12-07 01:13] jeffb-sfdc commented on #3630
@mreichelt-canyon were you able to reproduce the issue again?  I attempted to but wasn't able to.  I'd like to close this ticket but want to hear back first.

[2021-12-07 01:15] jeffb-sfdc commented on #3606
Hi @ipavlic , just checking in.  it's been 12 days and was wondering if this still happens.  If it does, could you share a small json output from a singular test when it's not writing to a directory, but would otherwise fail if you were to write the output?

[2021-12-07 02:31] jeffb-sfdc commented on #3575
I was able to reproduce it, and I'm opening a bug for my team to track.

[2021-12-07 08:51] pierrepost commented on #3681
Hi @AnanyaJha, the first error is displayed without any action, few seconds after I launch VSCode. I guess VSCode launches the extensions, analyzes the code in the background, and produces this error.

[2021-12-07 09:19] patrikfedor opened #3686 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `53.4.2`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.62.3`

:warning: We have written the needed data into your clipboard. Please paste! :warning:```json
{
	"messages": [],
	"activationTimes": {
		"codeLoadingTime": 21049,
		"activateCallTime": 21,
		"activateResolvedTime": 32113,
		"activatio

[2021-12-07 09:32] patrikfedor commented on #3686
[code]

[2021-12-07 18:26] taylorkrause commented on #2034
@ralphcallaway
Not working for me as well. Version 53.4.2 of the Apex Extension.

[2021-12-07 19:06] dschach opened #3687 "TSLint is deprecated"
https://github.com/forcedotcom/salesforcedx-vscode/blob/8d521684064739029dc64d2939ee843c5797a669/.vscode/extensions.json#L10

https://marketplace.visualstudio.com/items?itemName=eg2.tslint

[2021-12-08 08:57] tprouvot commented on #3611
Hi @randi274 this issue is non critical because I can create class in v53 with sfdx command or update the api version manually.

[2021-12-08 13:49] mreichelt-canyon commented on #3630
Hi @jeffb-sfdc ,
no, I haven't been able to reproduce so far.
Best regards, Monika

[2021-12-09 16:19] bmathew83 commented on #3459
@smaddox-sf - Just following up on this issue which is still not resolved. The link you provided is not the same issue as I encounter here.
@github-actions - Since its old issue, could someone else help, if @smaddox-sf is not available?

[2021-12-09 16:22] AnanyaJha commented on #3459
Hi @bmathew83 thanks for following up on this one! Are you still running into this issue with the latest version of our extensions (v53.4.2) ?

[2021-12-09 16:35] bmathew83 commented on #3459
Hi @AnanyaJha - Thanks for the speedy reply. I'll check if the latest version of extension is being used on my system and confirm back to you shortly.

[2021-12-09 16:41] bmathew83 commented on #3459
![image](https://user-images.githubusercontent.com/88213348/145438492-7e3bf93b-466e-491e-b901-28464b3f5a11.png)
@AnanyaJha

[2021-12-09 18:19] jeffb-sfdc commented on #3630
OK, I'm going to close this ticket then.  Thanks, Jeff.

[2021-12-10 04:49] jjsfdc opened #3693 "not stopping on breakpoint for javascript function"
### Summary

"Debug Invoke" of my sample JSON payload invokes locally running JS Function, but doesn't stop on my breakpoint.

### Steps To Reproduce:

1.  sf generate project -n SomeProject
2. cd SomeProject
3. sf generate function -l javascript -n somefn
4. code .
5. edit index.js so function body is just one line: return "hello world";
6. click in left edge of editor to set a breakpoint on this

[2021-12-10 18:27] h-nguyen-star opened #3694 "Missing support for collections in type field"
### Summary

Trying to configure LWC screen for a flow:
https://developer.salesforce.com/docs/component-library/bundle/lightning-flow-support/documentation

I was able to push the LWC component successfully to the org but in VScode is complaining about the following errors:
(1) cvc-datatype-valid.1.2.3: 'String[]' is not a valid value of union type 'propertyTypeAttr'.xml(cvc-datatype-valid.1.2.3)

[2021-12-12 19:45] roger-rivas15 commented on #3662
Hi Ananya. I have recently started working with Salesforce Platform and was learning to interact with Salesforce CLI. The commands in the output view were helping me out with the learning process. This way I could understand what commands were executed in background and I would get more details of that command from the documentation.

I understand now that the extensions are calling the API direct

[2021-12-12 22:44] MooseAteJack opened #3695 "Unable to download CustomObject source after update to v53.7.0"
### Summary

I updated to v53.7.0 and now in the Org Browser there are only icons to refresh Custom Objects folder and each object in that folder. The icon/button to view or download any individual object is missing. I checked on one of my teams devices and they could download individually but were on a previous version. Once they had updated they had the same issue I do.

I not that there is a ne

[2021-12-12 22:44] MooseAteJack commented on #3695
![2021-12-13 11_40_48-moe-taku-bau - Visual Studio Code](https://user-images.githubusercontent.com/6495954/145732543-fc340331-559a-49aa-b546-a8d4f5abc934.png)

[2021-12-13 17:55] joshwlewis opened #3696 "SFDX: Start Function containerless/local support"
**Is your feature request related to a problem? Please describe.**
Docker Desktop will require a paid subscription on January 31, 2022. The existing `SFDX: Start Function` requires Docker Desktop to run on Windows and Mac.

**Describe the solution you'd like**
The `@heroku/functions-core` package provides an API for invoking functions on the user's system. Docker Desktop is not leveraged with this

[2021-12-13 20:09] AnanyaJha commented on #3683
Duplicate #3198

[2021-12-13 20:09] #3683 closed

[2021-12-13 20:10] AnanyaJha commented on #3686
Duplicate #2410

[2021-12-13 20:10] #3686 closed

[2021-12-13 20:20] AnanyaJha commented on #3695
Hi @MooseAteJack thanks for reporting this! Our team was able to reproduce this behavior, so we've filed a bug for it and will get started on it soon. We'll post all updates on this thread, thanks!

[2021-12-14 01:28] #3606 closed

[2021-12-14 01:28] #3649 closed

[2021-12-14 01:28] #3673 closed

[2021-12-14 12:15] bdovh commented on #3619
How do I install this file with pkg extension?

[2021-12-14 16:57] pierrepost commented on #3681
Same problem after upgrading to the latest versions :

- vscode :
Version: 1.63.0 (system setup)
Commit: 7db1a2b88f7557e0a43fec75b6ba7e50b3e9f77e
Date: 2021-12-07T06:26:56.179Z
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19043

- Salesforce Extension Pack :
v53.7.0

[2021-12-14 20:39] MooseAteJack commented on #3695
Brillo, thank you.
Not sure if it is related but also having an issue with Layouts. I can't see any at all in the browser:
![2021-12-15 09_36_26-moe-taku-bau - Visual Studio Code](https://user-images.githubusercontent.com/6495954/146075797-b24beba2-7a85-4b4a-ba7c-81de4f2d1795.jpg)
.

[2021-12-15 00:31] ralphcallaway commented on #2034
@Yerrak see #3522, it's still open not working yet. They're making some assumptions about last modified dates that means if a compile takes to a bit to happen it looks like it's been modified on the server (just a few seconds later), so this will happen sometimes but not all the time. Kind of sad to see such a great feature get released with such a glaring bug that would occur with even a minimal

[2021-12-15 00:34] ralphcallaway commented on #3522
@PawelWozniak the order that stuff happens
- file saved locally
- deployment!!
- file saved remotely

Except in the best cases the time it takes to actually deploy means the local file modified date will always be before the remove file modified date, even though they were changed at the same time. Wooops!

See #3542

[2021-12-15 08:14] PawelWozniak commented on #3522
@ralphcallaway Good that we know at least what is the source of the issue. Maybe it could be replaced by generating a hash of the file on the local and server-side and comparing those hashes.

[2021-12-15 08:51] DT-Forcology commented on #3695
That issue occurs in the later versions of SFDX. We found reverting to 7.124 fixed the above issue

[2021-12-15 21:39] RitamAgrawal commented on #3695
Hi @MooseAteJack  thank you for reporting this! It's a different issue and we will be filing a bug for this one.

[2021-12-16 02:17] RitamAgrawal commented on #3695
@MooseAteJack Fix for the Layout bug: https://github.com/forcedotcom/salesforcedx-vscode/pull/3701

[2021-12-16 05:39] anshumishra07sstk opened #3702 "Can not retrieve the email templates from the org browser."
### Summary

Clicking on an email template from the org browser doesn't give an option to retrieve the code.

### Steps To Reproduce:

1.  Connect to Default org (My SF sandbox)
1.  Go to Org Browser and look for Email Templates Metadata.
1. Choose the correct folder. It shows the email template name.

### Expected result

_After right clicking the email template name, there should be an option to

[2021-12-16 05:44] anshumishra07sstk commented on #3702
https://www.loom.com/share/61ebc6b3ca9b46a08edb725bd2349e1f

The org browser doesn't retrieve the email templates and the explorer just shows email template folders but not the actual templates under "email" metadata.

Please take a look and if possible schedule a call to fix this issue. Thank you!

[2021-12-16 10:31] victorng8 opened #3703 "SFDX: Retrieve Source from Org not retrieving any metadata for > 10 mins"
### Summary

In previous versions of the Salesforce extension pack, I was able to retrieve metadata quite fast within 1 min where I have ~1 million characters of Apex Code (or around 100-200 apex classes & triggers). Not sure if the problem is due the most recent version?

### Steps To Reproduce:

1. Open Visual Studio Code
2. SFDX: Create project with manifest
3. SFDX: Authorize Org
4. Connect it

[2021-12-16 13:55] ytiq opened #3704 "@api get recordId and @api set recordId detected in class declaration. Only one of the two needs to be decorated with @api."
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  Create LWC component
2. Add 2 properties one with `@api` getter and one with `@api` setter and you'll get an error from the extension -

### Expected result

All should work well

### Actual result
Error from extension -
"@api get recordId and @api set recordId detected in class declaration. Only

[2021-12-16 15:29] AnanyaJha commented on #3702
Hi @anshumishra07sstk thanks for reporting this! Are you seeing this behavior with any other metadata types in the org browser? Could you also share what version of the Salesforce Extensions for VS Code you're using? This can be found in the Extensions Marketplace, thanks!

[2021-12-16 16:37] randi274 commented on #3541
@ncrebbinffdc thanks for your patience. The fix also involved making sure tests were updated, and that we were putting the fix in the right spot. I have a change ready which I'm testing currently, which if all goes well should be ready for review and merge soon.

[2021-12-16 17:09] randi274 commented on #3541
The PR didn't link since the fix is in a different repository, but the fix is now in review [here](https://github.com/forcedotcom/salesforcedx-apex/pull/268) if y'all want to take a look.

[2021-12-16 18:22] ncrebbinffdc commented on #3541
Thanks, I appreciate the update @randi274. Would I be pushing it a bit if i asked for a rough idea of a date if all goes well with your testing? i.e. are we looking at early January?

[2021-12-16 18:44] randi274 commented on #3541
@ncrebbinffdc so if it doesn't make it in for today's CLI release, it should be ready by the time their automated releases run next week before our holiday code freeze 🙂 Our fix here will just be the codecoverage fix, which may not be able to solve all of your team's latency issues, but we can work to further hone in on them once this fix is in!

[2021-12-16 19:28] ncrebbinffdc commented on #3541
That is fantastic @randi274, many thanks

[2021-12-16 20:34] willeg commented on #3586
when entering the following  command in the Terminal window:

I get this error message (line breaks added by me):

The 12 instances of AuraDefiition and the 3 instances of LightningComponentResource are a bit fishy, aren't they?

[2021-12-17 02:38] victorng8 commented on #3703
I tested again today and it suddenly works!

And it retrieved within 10 seconds.

[2021-12-17 02:38] #3703 closed

[2021-12-17 14:03] PawelWozniak opened #3707 "SFDX: Turn On Apex Debug Log for Replay Debugger don't set correct LogLevel when entry from Developer Console already exists."
### Summary

SFDX: Turn On Apex Debug Log for Replay Debugger doesn't set correct LogLevel when entry from Developer Console already exists.

### Steps To Reproduce:

1. Scenario. Open developer console to see debug logs as usual. Then you decided that need to step by step debug with VSCode.
2. Check in Setup -> Debug Logs that you have already set DEVELOPER_LOG with start time when you launched D

[2021-12-17 16:06] forrestpolaris opened #3708 "Log4j vulnerability status"
Is the Salesforce Extensions for VS Code vulnerable to CVE-2021-44228 or CVE-2021-45046? I did not see this extension listed in https://help.salesforce.com/s/articleView?id=000363736&type=1 , and I noticed that the Apex extension's LSP is a JAR file. I tried to extract that JAR to see what dependencies it contains, but could not determine the version of log4j used. Thanks!

[2021-12-17 22:23] bmathew83 commented on #3459
@AnanyaJha - Good afternoon ! just following up on this. I'm still running into this issue with the latest version of the CLI extension (v53.4.2) . Could you please help?

[2021-12-17 22:37] randi274 commented on #3459
Hi @bmathew83, sorry you're still working with this! Can you run `sfdx version --verbose --json` and send us the results? Also, are you able to run this command without error in the terminal, from the root of your project directory? `sfdx force:auth:web:login --setalias testOrgName --instanceurl https://test.salesforce.com --setdefaultusername`

[2021-12-20 07:26] RahulThange15 commented on #1095
The same issue is when you use the wrong naming convention for the name of LWC component.
eg. richtextdemo should be richTextDemo

Solution : try to delete the component from org and deploy with new name. It should work.

[2021-12-20 11:23] CodeAccount1 commented on #1175
try this for just apex:
 sfdx force:source:retrieve -m ApexClass

https://developer.salesforce.com/docs/atlas.en-us.sfdx_cli_reference.meta/sfdx_cli_reference/cli_reference_force_source.htm#cli_reference_force_source_retrieve

[2021-12-20 17:12] FabienTaillon commented on #785
Looks like this one is fixed, I was able to retrieve and deploy ContractStatus StandardValueSet without error. `groupingString` is now part of the metadata file.

[2021-12-20 19:18] anshumishra07sstk commented on #3702
Hi Ananya,

Sorry I couldn't reply earlier.

I see this problem with other data types too.
Today I added a new field in an object and when I opened VS Code Org
Browser, I saw that field but after doing the right click, there was no
option to retrieve that field so I retrieved the object itself. That adds
all the changes to my new branch.

However, to add all those changes in the branch, choose min

[2021-12-20 23:58] bmathew83 commented on #3459
Hi @randi274 - This is the result which I get when running the first command you asked. see below screenshot.

![image](https://user-images.githubusercontent.com/88213348/146848055-4bb4ef87-93c7-4443-87f1-27140aad0c95.png)

This is the result which I get when running the second command you asked. see below screenshot.

![image](https://user-images.githubusercontent.com/88213348/146848243-13e36f55-

[2021-12-21 00:17] AnanyaJha opened #3713 "Security Update: Unaffected by Apache Log4j2 vulnerability"
The Salesforce Extensions for VS Code, Apex Language Server, and Apex CLI commands are not affected by the issues currently identified by the Apache Log4j2 vulnerability (CVE-2021-44228 or CVE-2021-45046).

[2021-12-21 00:19] AnanyaJha commented on #3708
The Salesforce Extensions for VS Code are not affected by the issues currently identified by the Apache Log4j2 vulnerability (CVE-2021-44228 or CVE-2021-45046). Thank you for the investigation!

[2021-12-21 00:19] #3708 closed

[2021-12-21 02:23] RitamAgrawal commented on #2824
@peternoges With v53.8.1 this issue has been resolved. As by clicking on `Retrieve Source from Org` button on the right side of Custom Objects in Org Browser, standard as well as custom objects is retrieved. Retrieved files can be accessed in `force-app/main/default/objects` folder.

[2021-12-21 02:23] #2824 closed

[2021-12-21 02:38] RitamAgrawal commented on #3695
@MooseAteJack This issue has been resolved with https://github.com/forcedotcom/salesforcedx-vscode/pull/3697

[2021-12-21 02:38] #3695 closed

[2021-12-21 02:47] RitamAgrawal commented on #3702
@anshumishra07sstk This issue is consistent with components under folders of metdatatypes like Email Templates, Dashboards, Documents and Records. If you come across any other metadata types please let us know. Thank you.

[2021-12-21 14:43] randi274 commented on #3459
@bmathew83 thanks for sharing! It looks like you're having some issues with setting up the Salesforce CLI. Can you install the Salesforce CLI (instructions [here](https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_install_cli.htm)) and try the command again? If you already have the CLI installed, you may just need to update your PATH variable (setting `PATH=~/s

[2021-12-21 16:27] anshumishra07sstk commented on #3702
Hi Ritam,

Thank you for your response. I have a few questions though:

- What do you recommend to deploy email templates and other metadata
types that can not be retrieved from the org browser?
- Can we deploy the Salesforce Support Process through VS Code? I couldn't
find anything for that.
- Like I said in my previous email, I don't see the option to retrieve the
source when I right click on an

[2021-12-21 18:03] bmathew83 commented on #3459
Hi @randi274 - Thanks for your patience and support towards this.
I installed Salesforce CLI from the link you sent me. (see links and screenshots below)

https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_install_cli.htm#sfdx_setup_install_cli_windows
![image](https://user-images.githubusercontent.com/88213348/146976105-2ac9084a-0b37-4ae8-b9ea-9e3b580a62ac.png

[2021-12-21 23:17] randi274 commented on #3459
That's all looking pretty good! Have you done a hard refresh of VS Code since updating the variables? If that variable is available in the Systems Variable section, that looks to be the right setup. When you run `echo %Path%`, that path should be included, as shown [here](https://salesforce.stackexchange.com/questions/163795/sfdx-is-not-recognized-as-an-internal-or-external-command).

[2021-12-22 19:49] bmathew83 commented on #3459
@randi274 - Thanks for confirmation of environment variables.

I checked the link you sent in previous message and followed one of the users' (named vanessen) comments (the last comment) where two folders to the path were conflicting. I deleted the previous folder named C:\Program Files\Salesforce\CLI\bin but running those commands `sfdx version --verbose --json ` didn't work.

The echo %Path% com

[2021-12-22 20:36] #3713 closed

[2021-12-22 22:37] bmathew83 commented on #3459
@randi274 - Subsequently, trying to authorize an org gives this error now.
![image](https://user-images.githubusercontent.com/88213348/147162694-91da7aea-693d-441f-9247-c8ca50a8f794.png)

FYI- Also, there was another error in bottom right of VS Code regarding the JDK not compatible (current zulu 16), so I downgraded to zulu 11). It mentioned that this was affecting the extensions.

[2021-12-23 07:14] ashwin31 opened #3733 "publish to open-vsx"
Hi,
Me and most of the salesforce developers using vscode are using this extension.
Can you push this extension to open-vsx too so that we can use it in vscode browser workspaces.
please refer https://github.com/eclipse/openvsx/wiki/Publishing-Extensions for more details.

[2021-12-23 10:05] FabienTaillon commented on #2940
Same here with latest extensions (v53.8.1): `Missing metadata type definition in registry for id 'fieldrestrictionrule'`

[2021-12-27 16:07] bmathew83 commented on #3459
@randi274 - Not sure if this is related but still putting it out there.

![image](https://user-images.githubusercontent.com/88213348/147488701-01172115-c2e7-4eb1-97d7-0e182d6c88fd.png)

[2021-12-29 18:24] WuggyX2 opened #3737 "Error running "Deploy This Source to Org" from LWC js file"
### Summary

Running the "Deploy This Source to Org" command from a LWC bundles' js file fails. The component is deployed succesfully when the deploy command is run from the HTML file or from the metadata XML file

### Steps To Reproduce:

1.  Create a new LWC or use an existing one.
2.  Run "Deploy This Source to Org" command from the components js file.

### Expected result

Deployment to be suc

[2021-12-30 07:03] pooja-kudale commented on #3111
facing the issue while trying to SFDX:retrieve source in manifest from org in vs code
Vs code version is : 1.63.2
899d46d82c4c95423fb7e10e68eba52050e30ba3
x64

OS : Win 10

![Vs Error](https://user-images.githubusercontent.com/95013641/147729102-1852a165-65c2-4457-ace3-3f655e635e48.png)

[2021-12-30 10:55] WuggyX2 commented on #3737
Further investigation reveals that the error occurs when the bundle name when creating a new component is written in pascal case and not camel case. So using testComponent works but TestComponent does not.

[2021-12-30 13:58] cmcprada commented on #831
You need to create an sfdx project before, then further commands are displayed in VsCode.
1 - Command + Shift + P on a Mac
2 - SFDX: Create Project
3 - Type SFDX: Create Lightning Web Component
Or type anything you want but first create the project.

[2022-01-01 07:49] cnaccio commented on #2268
I'm running into a similar/related issue which appears to occur randomly while writing Apex code. The error below occurred when starting to type System.today(), basically as soon as intellisense tried to generate suggestions after typing the letter S, the language server crashed with the error below, and stopped offering suggestions.

[code]

[2022-01-01 07:51] cnaccio opened #3739 "Apex Language Server Crashing during intellisense suggestion generation"
I'm running into a similar/related issue which appears to occur randomly while writing Apex code. The error below occurred when starting to type System.today(), basically as soon as intellisense tried to generate suggestions after typing the letter S, the language server crashed with the error below, and stopped offering suggestions.

**System Configuration**

VS CODE
Version: 1.63.0
Commit: 7db1a

[2022-01-03 10:23] petersivak13 commented on #3684
I have the same problem. The latest VS Code, sfdx, Salesforce Extension pack
![image](https://user-images.githubusercontent.com/52290787/147920226-e32fc1ed-1280-4d18-9c38-08e0deed41a3.png)

[2022-01-03 10:26] dongzhi-yang commented on #3684
I resolved the problem by uninstall VSC and reinstall it on C: drive. Previously it was installed on D: drive.

[2022-01-04 10:23] petersivak13 commented on #3684
Thanks for tip, this is my experience:

- uninstall +install Salesforce Extension Pack doesnt's help.
- uninstall +install VSCode doesn't help - extensions are still there and cli integration is not working

**THIS HELP:**

- Uninstall all extensions in VS Code
- uninstall VS Code
- install the latest VS Code version (doesn't matter C: or D:), I installed it to custom folder
- install extensions i

[2022-01-05 08:35] pierrepost opened #3745 "SFDX: Update Checkpoints in Org fails with error Unable to retrieve OrgInfo : undefined"
After toggling a checkpoint in vscode, I try to update checkpoint in the connected org, but it fails :
_SFDX: Update Checkpoints in Org, Step 1 of 6: Retrieving org information
Unable to retrieve OrgInfo : undefined
Ending SFDX: Update Checkpoints in Org
Your checkpoints have errors. Fix the errors listed in the output, then run SFDX: Update Checkpoints in Org again._

Same error with latest versi

[2022-01-05 16:13] AnanyaJha commented on #3745
Thanks for reporting this @pierrepost! Is this the error from the output window?
`SFDX: Update Checkpoints in Org, Step 1 of 6: Retrieving org information
Unable to retrieve OrgInfo : undefined
Ending SFDX: Update Checkpoints in Org
Your checkpoints have errors. Fix the errors listed in the output, then run SFDX: Update Checkpoints in Org again.`

Could you paste any other error messages you see i

[2022-01-05 16:18] pierrepost commented on #3745
Yes, this is the full message displayed in the output window.

[2022-01-05 18:03] randi274 commented on #3694
Hi @h-nguyen-star thanks for logging this! What's the use case that you're hoping to achieve with the String collection? Salesforce doesn't officially support this type yet, as you've noted here, but I was also able to deploy the collection. However, it doesn't seem to behave properly for me in the Flow UI.

[2022-01-05 18:40] randi274 commented on #3684
Thanks for the follow-up on the resolution @dongzhi-yang and @petersivak13! I'm going to go ahead and close this now, since you've been able to resolve the issue.

[2022-01-05 18:40] #3684 closed

[2022-01-06 03:30] bard-casi opened #3747 "Unexpected file found in package directory lwc\jsconfig.json"
### Summary

On 12/7/2021, our lead made us aware of an issue in building our sandbox, where they received the following error:

However, they were able to build a scratch on their end without issue, so this problem was initially ignored.

Then on 12/13/2021, I attempted to run `sfdx force:source:push -f` to a scratch org myself. Since then I have been getting the 'Unexpected file found in package

[2022-01-06 09:12] pierrepost commented on #3745
This problem may be a consequence of an other problem, loged in [https://github.com/forcedotcom/salesforcedx-vscode/issues/3681](issue 3681)

When I try to connect to my playground org ("SFDX authorize an org" palette command), the output shows that the CLI does the job, but still it ends up with an error. This may prevent the update of checkpoints (despite the fact that the push code to org works

[2022-01-06 10:17] jcarmignani commented on #3462
I am experimenting the same issue with v53.0. Have you been able to find a solution to this problem?

[2022-01-06 22:01] randi274 commented on #3611
I'm changing this to feedback since the request is to use start using the sourceApiVersion to create classes. We do have a fix coming up to correct the out of date versioning, but this would be new functionality to respect the sourceApiVersion.

[2022-01-07 14:35] randi274 commented on #3707
Hi @PawelWozniak, thanks for your feedback! I believe this is currently working as designed. If there are existing trace flags available, we update their expiration date and use those with the replay debugger; if we don't find any, that's when we create a new flag. This is to minimize log creation and noise in the org. Are you finding the functionality is much different between the logs that are c

[2022-01-07 15:14] randi274 commented on #3681
Looks like your versions are all looking ok! If you go to Help > Toggle Developer Tools, do you see any more specific errors? Are you running the extensions with a personal project, or a publicly available project?

[2022-01-07 15:16] randi274 commented on #3745
I agree, it looks like this all stems from the other problem you have logged with 3681. If you run the command `SFDX: Open Default Org`, does the org open, and do you receive the same error?

[2022-01-07 15:17] pierrepost commented on #3745
Yes, the org opens

[2022-01-07 15:22] randi274 commented on #3739
@cnaccio have you tried reinstalling the extensions, as mentioned over in 2268?

[2022-01-07 15:46] randi274 commented on #3704
Thanks for logging this, and your patience in tracking us down! (I can see the different issues you logged in a few repos).

Can you modify the snippet to include the getter? Our [docs](https://developer.salesforce.com/docs/component-library/documentation/en/lwc/lwc.js_props_getters_setters) do say that the getter is required for the setter (though it was odd that when I removed @api get b(), the

[2022-01-07 15:54] randi274 commented on #3737
Thanks for digging into that @WuggyX2! If you create a component using the command `SFDX: Create Lightning Web Component` we do check to enforce the naming conventions defined in our [docs](https://developer.salesforce.com/docs/component-library/documentation/en/lwc/lwc.create_components_folder), which includes lowercasing the first letter (I tested it to be sure!). Closing as that's a generic err

[2022-01-07 15:58] pierrepost commented on #3681
I have the same error with several trailhead module projects, example :  ["Find and Fix Bugs with Apex Replay Debugger" / "Debug Your Code"](https://trailhead.salesforce.com/content/learn/projects/find-and-fix-bugs-with-apex-replay-debugger?trailmix_creator_id=fragon&trailmix_slug=visual-studio-code).

In the console (Toggle Developer Tools in vscode), I can see this every time I execute a sfdx co

[2022-01-07 16:58] Benoit75 commented on #1818
Hello,
Same problem here! I tried al of the above with no success...
but now it works : i had a training whitespace in my project name (""HelloWorldLightningWebComponent ") instead of "HelloWorldLightningWebComponent"). I removed the project (with 7 Zip trick to delete this directory) and now it's working fine :-)

[2022-01-10 04:39] tanveer263 opened #3752 "Salesforce CLI Integration for Visual Studio Code Failure"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**Salesforce Extension Version in VS Cod

[2022-01-10 15:07] pogilvie opened #3753 "SFDC: Execute Anonymous Apex with Editor Contents command not found"
### Summary

The following command runs fine.

[code]

But attempting to run `character.apex` from vscode with the extension pack installed results in the following error.

<img width="262" alt="vscode-error" src="https://user-images.githubusercontent.com/628688/148786690-4232fd32-e53f-45b7-a9f1-39bbf20e7596.png">

This has been working.  I recently updated the cli to latest.  Perhaps it's related

[2022-01-10 15:38] randi274 commented on #3753
@pogilvie are you able to use the Codelens in VS Code to run the command as well? (New feature as of a few releases ago). I updated the CLI and was able to run the command ok from there. Can you also try a full reboot of VS Code?
<img width="317" alt="Screen Shot 2022-01-10 at 10 27 50 AM" src="https://user-images.githubusercontent.com/9795193/148793584-d5df2c27-6fae-4b13-a75a-4cd52ed44533.png">

[2022-01-10 15:50] pogilvie commented on #3753
I would love to try the new button if it ever appears for me.

[2022-01-10 16:09] randi274 commented on #3753
The new button is pretty great! It does the same as running the command, including executing only a highlighted portion of the code - hopefully we can get it working for you soon! Is the Apex Language Language server running correctly? You should be able to see errors for that under Output > Apex Language Server in the picklist, or under Help > Toggle Developer Tools, and also can tell if you're n

[2022-01-10 18:17] AnanyaJha commented on #3752
Hi @tanveer263 feel free to open a new issue with details on the problem you were facing!

[2022-01-10 18:17] #3752 closed

[2022-01-10 18:28] AnanyaJha commented on #3111
Hi @pooja-kudale thanks for raising your issue! Can you share what version of the Salesforce Extensions you're using? This can be found by clicking on the Marketplace icon on the left hand side and searching for Salesforce. The version will be listed on the Extension homepage.

[2022-01-10 23:25] pogilvie commented on #3753
@randi274 I'm missing the language server from my menu
<img width="374" alt="menu" src="https://user-images.githubusercontent.com/628688/148854490-301c0459-fbfb-403c-bbb7-9c7956d4017d.png">

[2022-01-10 23:30] pogilvie commented on #3753
<img width="528" alt="java" src="https://user-images.githubusercontent.com/628688/148854759-45b49967-3f9b-488e-9f06-30f2f03f7d25.png">

my Java is here:
[code]

Would setting $JAVA_HOME help?

[code]

[2022-01-10 23:36] pogilvie commented on #3753
Thank you very much.  Seems like the language server not running it probably the problem.   I'm attached to my current homebrew java because it's ARM native

[code]

[2022-01-11 04:23] tanveer263 commented on #3752
Hi @AnanyaJha, thanks for quick response.
I was facing this problem whenever I was trying to authorized the Org but that issue has been resolved, Now I am facing new issue while completing the trailhead module [https://trailhead.salesforce.com/content/learn/projects/quick-start-lightning-web-components/create-a-hello-world-lightning-web-component](url). from my side I did follow all steps very cor

[2022-01-11 05:12] AnanyaJha commented on #3752
Hi @tanveer263 no problem! Could you log a new bug with all the details of the issue you're facing while completing the trailhead module? Thanks!

[2022-01-11 05:57] pooja-kudale commented on #3111
@AnanyaJha  it's v53.12.0

[2022-01-11 07:53] tanveer263 opened #3757 "Trailhead issues"
### Summary
[https://trailhead.salesforce.com/content/learn/projects/quick-start-lightning-web-components/create-a-hello-world-lightning-web-component](url)
_Short summary of what is going on or to provide context_.
![image](https://user-images.githubusercontent.com/65210787/148902184-ae2fecc0-f703-4d0b-ae06-69b7b93531b6.png)

I already added "helloWorld" to my home page but It's not completing.

[2022-01-11 07:56] tanveer263 commented on #3757
Hi @AnanyaJha,  Can you please help me regarding this issue.
thanks

[2022-01-11 14:53] AnanyaJha commented on #3757
Hi @tanveer263 could you provide more details on what version of the Extensions you're using? This can be found by searching for Salesforce in the Extension Marketplace on the left sidebar.

[2022-01-11 15:40] pogilvie commented on #3753
Thank you for pointing me on the right path @randi274!  Everyone was solve with a setting update.  I'm so glad that I don't need to maintain two java installations.

This documentation is clear:  https://developer.salesforce.com/tools/vscode/en/getting-started/java-setup#:~:text=It%20requires%20an%20installation%20of,environment%20variable%20on%20your%20computer.
<img width="408" alt="working" src

[2022-01-11 15:40] pogilvie commented on #3753
<img width="768" alt="settings" src="https://user-images.githubusercontent.com/628688/148973753-a865e5bd-18a6-419f-9cb0-c39321551521.png">

[2022-01-11 15:41] #3753 closed

[2022-01-11 16:00] randi274 commented on #3753
Glad the docs were able to resolve the issue, and thanks for adding your fix! Enjoy the new Execute Anonymous Apex button 😄

[2022-01-11 16:17] pogilvie commented on #3753
I really am enjoying the execute anonymous apex button!

[2022-01-11 20:10] jeffb-sfdc commented on #3663
@simonfodenslimmingworld I discussed this issue with my team, and this appears to be working correctly.  To investigate, I performed two tests:

First Test
With sourceApiVersion set to "52.0" in sfdx-project.json, I selected a flexipage and ran "SFDX: Deploy Source to Org", and I got the same error you reported.

I then changed sourceApiVersion to "53.0",  ran "SFDX: Deploy Source to Org", and was

[2022-01-12 06:46] tanveer263 commented on #3757
Hi @AnanyaJha I am using this version of Salesforce Extension Pack ( v53.12.0 ) and Salesforce CLI Integration (v53.12.0).
anything else you need know please let me know.

[2022-01-12 14:27] AnanyaJha commented on #3757
Thanks @tanveer263 can you share what specific issue you're facing? You mentioned you added 'Hello World' to the home page but it's not completing. What exactly are you having trouble completing?

[2022-01-12 16:48] simonfodenslimmingworld commented on #3663
Hello,

Thanks for looking into this.

I'm not in a position to test or replicate this now.

However I think there is an issue.

Your testing appears to be the workaround but the issue is still there.

If you're using the Org browser (via the Cloud tab in VS Code) to Read Source from Org (via refresh and download icon buttons) I don't think it respects, reads or takes into account the API version

[2022-01-12 18:51] #3694 closed

[2022-01-13 11:42] tanveer263 commented on #3757
Hi @AnanyaJha whenever I  click on deploy the org got this errors : SFDX: Deploy Source to Org failed to run and error authenticating with the refresh token due to: expired access/refresh token.
by the way thanks for your quick response and help. I will trying some other ways to fix it.

[2022-01-13 17:35] SteffenBaumann commented on #970
I ran into that functionality missing today. I have 3 repositories closely tied to each other but need to separate concerns. For active development and deployment this is wasting a huge amount of time. So, I was kind of astonished, that the SDFX extension isn't capable of handling this correctly

 Checks on the extension confirmed it's straight going to the first folder in the workspace only. I am

[2022-01-13 18:44] #3757 closed

[2022-01-13 20:30] RugerSR762 opened #3762 "Salesforce SOQL Builder Toggling Issue"
### Summary

The SOQL Builder stopped working.  I can no longer toggle between the builder and the code viewer.

### Steps To Reproduce:

1. Open .soql file within VSCode
2. File opens in code view
3. When clicking on the toggle to open the builder there is an error:

<img width="204" alt="vscode_soql1" src="https://user-images.githubusercontent.com/48356164/149404679-59e7ad4e-9e2f-4db3-b3b0-3d653

[2022-01-14 14:50] #3707 closed

[2022-01-14 15:50] #3739 closed

[2022-01-14 16:41] randi274 commented on #3762
@RugerSR762 do you see any errors in the Output panel with 'SOQL Language Server' selected?
<img width="1264" alt="Screen Shot 2022-01-14 at 11 39 40 AM" src="https://user-images.githubusercontent.com/9795193/149551966-80a4b9a3-2ad8-4f48-a6da-1386d818d0db.png">

[2022-01-14 16:44] randi274 opened #3763 "Feature Request: Add fields() support for SOQL Builder"
**Is your feature request related to a problem? Please describe.**
The new fields() feature for SOQL is awesome (v51+), and SOQL Builder should support it!

**Describe the solution you'd like**
Being able to work with the fields() function in the SOQL builder.

**Additional context**
Currently getting an error about a function expression when I toggle to SOQL Builder:
<img width="1190" alt="Screen

[2022-01-14 16:47] randi274 opened #3764 "Feature Request: Support subqueries in SOQL Builder"
**Is your feature request related to a problem? Please describe.**
We should support subqueries of at least 1 depth in SOQL Builder (more would obviously be great too!)

**Additional context**
Currently get an error when I try to work with subqueries:
<img width="1205" alt="Screen Shot 2022-01-14 at 11 37 24 AM" src="https://user-images.githubusercontent.com/9795193/149553093-cc5f6858-524c-4975-aa

[2022-01-14 20:27] AprilShenk commented on #3575
I run into this issue after renaming files sometimes. If you deploy to org from the left hand side in the file structure instead of the editor window it works.

[2022-01-16 08:17] tanveer263 commented on #3757
Thanks @AnanyaJha, You have been so supportive. I am very much looking forward to work with you on new issues and currently working on Plateform Developer 2 trailhead modules.

[2022-01-16 21:12] brianmfear opened #3767 "Apex Test Runner ignores .forceignore (i.e. tries to run non-existent tests)"
### Summary

VS Code's Apex Test Runner does not appear to support .forceignore. This makes it impossible to run all tests if you have test classes that you've ignored. I specifically came across this problem while trying to create a repo where some of the work is pulled from a separate repo as a submodule; I cannot remove those .forceignore files from the source path without affecting other work

[2022-01-17 16:14] brianmfear opened #3768 "@TestVisible properties erroneously reports as "not visible.""
### Summary

We have a unit test data factory that has a bunch of `@TestVisible` properties, which appear as warnings in the problems tab, even though the code successfully deploys. While this bug does not stop developing, it clogs up the problems tab with warnings that are incorrect. It would be nice if this bug was fixed.

### Steps To Reproduce:

1. Create a class called TestDataFactory, with a

[2022-01-17 21:07] AnanyaJha commented on #3757
Of course no problem @tanveer263. Let us know if you face any other issues and feel free to [leave a review for our Extensions](https://marketplace.visualstudio.com/items?itemName=salesforce.salesforcedx-vscode&ssr=false#review-details) on the VS Code Marketplace!

[2022-01-18 03:17] AnanyaJha commented on #3554
Thanks @AllanOricil! We'll be looking at prioritizing this issue during our next iteration. Let us know if there are any other improvements you've discovered while developing with LWC (or otherwise) and our Extensions!

[2022-01-18 04:03] AnanyaJha commented on #1599
Hi @muenzpraeger! In the past year we've made the transition to a library-based architecture so the CLI and the Extensions will share the same business logic - and you won't need to have the CLI installed to work with the Extensions. We're working on making this change across all the Extensions features, but so far we've addressed the templates for LWC creation. Let me know if you were looking for

[2022-01-18 04:58] AnanyaJha commented on #2213
Hi @saramorgan! Thanks for reporting this, checking in to see if you've experienced this issue recently? We've made a number of improvements around the development experience that may have addressed this issue already. Let us know, thanks!

[2022-01-18 05:00] AnanyaJha commented on #3392
Hi @adrian-cg! Thanks for reporting this, checking in to see if you've experienced this issue recently? We've made a number of improvements around the Org Browser experience that may have addressed this issue already. Let us know, thanks!

[2022-01-18 05:02] AnanyaJha commented on #2311
Hi @gavignon! Thanks for reporting this, checking in to see if you've experienced this issue recently? We've made a number of improvements around the retrieve experience that may have addressed this issue already. Let us know, thanks!

[2022-01-18 13:17] saramorgan commented on #2213
I have not noticed the problem in a long time, but then I honestly do not create Aura components very often any more. Thanks for checking in though.

[2022-01-18 13:17] #2213 closed

[2022-01-18 18:12] gavignon commented on #2311
Hi @AnanyaJha
Since I changed my laptop and have a new setup (5 months), I didn’t have this issue yet so I think we can consider it as fixed for now! I’ll reopen it if I experience it again in the future.
Thanks for the update!

[2022-01-18 18:12] #2311 closed

[2022-01-19 15:24] 0cv opened #3772 "Org Open and Change Org fails on VS Code Extension"
### Summary

Toggling the icon to change org, or to log within an org doesn't work anymore: the error is telling that the CLI is not installed
referring to these icons at the bottom of VSCode:
![image](https://user-images.githubusercontent.com/1253866/150161273-26902515-4b4a-405b-903c-8134799c2349.png)

### Steps To Reproduce:

1.  VSCode + Salesforce Extensions Pack installed
2.  SFDX installed t

[2022-01-19 21:23] nkundeti opened #3774 "SFDX: Retrieve Source from Org not retrieving any data - no response even after 30 min"
### Summary

"SFDX: Create Project with Manifest" failed to retrieve from  source - no response even after 30 min.

### Steps To Reproduce:

Step 1:  opened Visual Studio Code and  create project with manifest ( SFDX: Create Project with Manifest)
Step 2:  changed login URL to https://test.salesforce.com in sfdx-project.json file
Step 3:  set the environment variables http_proxy and https_proxy al

[2022-01-20 00:23] adal877 commented on #253
For any one having this problem, look into your `~/`, there's probably a package.json with the sfdx plugins but no "name". So you can just insert this line right after the first `{`:  `"name": "sfdx"`.
Final result might look like this:
`{
    "name": "sfdx",
    "dependecies": {
        plugins here...
    }
}`
`sfdx --version` : `sfdx-cli/7.132.0 linux-x64 node-v16.13.2`

[2022-01-20 09:03] 0cv commented on #3772
Closing the issue.

Solution: I've searched VS Code settings for `terminal` and reset all my custom options, especially this one which I think might have made the trick (it was pointing to `iTerm.app` before).
![image](https://user-images.githubusercontent.com/1253866/150307115-350eb02e-9018-4716-bc4c-265a245741ae.png)

[2022-01-20 09:03] #3772 closed, assigned to nobody

[2022-01-20 09:20] ncrebbinffdc commented on #3541
Hi @randi274 Do you know when this will be released? It has not made it into the cli yet

[2022-01-20 09:53] tiagoshadow opened #3775 "Extension using 100% CPU for no reason"
- Hi, So I've been using Salesforce DX extension for a while, and yesterday I've noticed that my computer is very slow, my PC as top-notch specs, so never seen him this slow... When I open my Task Manager there it was one process from VSCode was taking all the CPU, I terminated it to check what was happening and the output said that this extension was closed or stopped working.
- I am a Salesforce

[2022-01-20 11:29] AllanOricil opened #3776 "Group Layouts per Object in the Org Browser and Let us Download Layouts per Object with a Button"
**Is your feature request related to a problem? Please describe.**
There are situations where we have to update all the page layouts for a particular object. After changing those layouts, we must retrieve them. If we choose to retrieve those layouts using the Org Browser, we will have to do multiple clicks, to download each one of these layouts. So the idea is to group those layouts by Object, cre

[2022-01-20 18:47] dbreese opened #3777 "Unable to debug lightning-language-server extensions."
### Summary

Checked out and followed directions to build and link both https://github.com/forcedotcom/lightning-language-server.git and https://github.com/forcedotcom/salesforcedx-vscode.

After building successfully and launching the app with extension, I can't set any breakpoints - any breakpoints I add are shown as “Unbound breakpoint” in VSCode as in the following image.

<img width="911" alt

[2022-01-21 17:40] #3762 closed

[2022-01-24 22:41] jonnypetraglia commented on #3644
Just checking up on this since it's been a few months. Has this at least been identified as something to put on the roadmap?

[2022-01-24 22:45] AnanyaJha commented on #3644
Hi @jonnypetraglia thanks for checking in. We've pulled it into our backlog and it's on our roadmap for later on this year, I'll post here with more details once we have it!

[2022-01-25 05:29] #3392 closed

[2022-01-26 07:17] thomasheuberger commented on #253
Thanks, that did the trick.

[2022-01-26 10:26] tiagoshadow commented on #3775
Hi, bit disappointed that no one seems to respond to the issue, I've identified that the problem is from 'SLDS Validator' after disabling it CPU is back to normal usages. If anyone has the same problem you can either disable it or terminate process, the rest of the extensions will work fine

[2022-01-26 16:07] samirkumar75 opened #3781 "sfdx cli ENOENT error issue"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**Salesforce Extension Version in VS Cod

[2022-01-26 16:09] samirkumar75 commented on #3781
SFDX cli error ENOENT issue in my laptop....
how can resolve ENOENT issue

[2022-01-26 16:22] anushankarau opened #3782 "i am not able to authorise an org it showing cli is not installed evn i installed whole package"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**Salesforce Extension Version in VS Cod

[2022-01-26 16:38] AnanyaJha commented on #3775
Hi @tiagoshadow sorry about the delay getting to your issue! Are you seeing this usage spike every time the extensions are launched?

[2022-01-26 16:40] AnanyaJha commented on #3781
Hi @samirkumar75 thanks for reporting this. Can you give us some more information on what extensions version you're currently on? This can be found by clicking on the marketplace icon on the left sidebar. Thanks!

[2022-01-26 16:41] AnanyaJha commented on #3782
Hi @anushankarau thanks for reporting this. Can you give us some more information on what extensions version you're currently on? This can be found by clicking on the marketplace icon on the left sidebar. Thanks!

[2022-01-26 17:41] tiagoshadow commented on #3775
Hi @AnanyaJha, yes I had to disable the 'SLDS Validator' extension today so I don't have to terminate the process every time I launch the VS Code in a sfdx project folder

[2022-01-26 18:30] AnanyaJha commented on #3774
Hi @nkundeti! Unfortunately, there isn't a lot we can do here to help out. If you have already followed the [instructions here,](https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_install_cli_firewall.htm) which it sounds like you have. Generally, the issue is something that you will have to work out with your IT department.

[2022-01-27 10:37] prateekamana opened #3783 "SFDX: Get Apex Debug Logs not working"
### Summary

I tried running SFDX: Get Apex Debug Logs but it says command not found, it has been so for a few months, I have been on the latest version of the extensions. I tried it with Apex Replay Debugger on, and off, neither worked.

### Steps To Reproduce:

1. Ctrl + Shift + P
1. SFDX: Get Apex Debug Logs
1. The error attached in the screenshot appears

### Expected result

A menu like this

[2022-01-27 10:38] prateekamana commented on #3783
Additional Information: All other commands such as open org, authorize orgs etc. are working fine.

[2022-01-27 15:29] randi274 commented on #3783
Hi @prateekamana are you able to run Apex tests from VS Code? Also, can you go to the Output section and Select 'Apex' from the dropdown menu, to see if you see any particular errors? (That panel should open automatically when you run a test too).

[2022-01-27 15:34] prateekamana commented on #3783
Hi @randi274 I can't run Apex Tests from VSCode either and as you can see, the output section shows nothing upon trying to run it
![image](https://user-images.githubusercontent.com/41776584/151390864-e0d70c27-0b30-40ce-acaa-cc05951a6297.png)

[2022-01-28 09:21] azanatta commented on #2204
Had the same issue this morning, I solved it by:
- right click on manifest/package.xml -> SFDX: Retrieve source in manifest from org
- wait for process to finish: output should list all missing metadata present in org
- right click on force-app/main/default (or wherever your sfdx project resides) -> SFDX: Retrieve source from org

This will pull all metadata present in the org.

[2022-01-28 19:50] randi274 commented on #3541
Hi @ncrebbinffdc this change should have been released a while ago, and I've been meaning to follow up! Are you still seeing tests are run even without the code coverage flag?

[2022-01-28 19:54] randi274 commented on #969
I just tested this again, and it looks to be working, so closing for now.

[2022-01-28 19:54] #969 closed

[2022-01-29 05:56] prateekamana commented on #3783
One of my friends is facing this issue even on a windows machine.

[2022-01-30 14:37] kranthireddy338 opened #3787 "Running SFDX: Authorize an Org -> it's keep loading not opening browser to authorize, i have tried checking default browser as well but not working."
Running SFDX: Authorize an Org ==> it's keep loading not opening a browser to authorize, I have tried checking the default browser as well but not working.
![Capture](https://user-images.githubusercontent.com/40160491/151704223-505dd1fd-cd23-438f-a9ee-9b4154c8c1b5.JPG)

[2022-01-31 08:36] prateekamana commented on #3787
What are the OS, vscode extension version, sfdx-cli version?

[2022-01-31 16:18] bazidev commented on #862
it seems that vs-code will not support search and filtering as API for tree view any soon, but they've added some cool capabilities like limited search/filter, you can find it here.
https://github.com/microsoft/vscode-docs/blob/master/release-notes/v1_37.md#new-tree-widget-adopted-in-tree-view

[2022-01-31 20:35] randi274 commented on #3783
Thanks for details on this - let me get this set up on my windows box and see if I can reproduce there.

[2022-02-01 12:32] cemerson commented on #1535
Dang I was hoping that success salesforce.com link would fix it but did not. I still get stuck on some localhost URL (http://localhost:1717/OauthRedirect?code=...) with "This site can’t be reached. localhost refused to connect". Am using a brand new dev account fwiw.

[2022-02-03 17:07] jeffb-sfdc opened #3801 "Generating a manifest file in Org Browser results in an error"
### Summary

Generating a manifest file in Org Browser results in an error

### Steps To Reproduce:

1. Switch to the Org Browser
2. Navigate to Apex Classes
3. Selected a few classes
4. Right-click, and select “SFDX: Generate Manifest File”

### Expected result

If the new Generate Manifest File command supports the Org Browser, I'd expect it to run

If it's not support, I'd expect the command to

[2022-02-03 19:19] priyavi1 opened #3803 "error as command should run in the explorer menu context"

[2022-02-03 21:36] hadkins0617 opened #3804 "Support for newer Java version"
**Is your feature request related to a problem? Please describe.**
My company is requiring the latest version of Java (via Zulu 17) as a result of a security scan (I assume the Log4J security issue). As a result, I get the following error message related to the Apex plugin in the Salesforce Extension Pack - An unsupported Java version was detected. Download and install [Java 8](https://java.com/en

[2022-02-04 00:25] mohanraj-r commented on #3804
@hadkins0617 Thank you for reporting the issue. We are prioritizing it in our upcoming sprint and aiming to get it done by end of March.

[2022-02-04 15:53] ronika-das opened #3806 "Unable to retrieve Metadata of sub folder with extension"
### Summary

If the metadata is available inside another folder(i.e. it is under a sub folder), the Org Browser, doesn;t have the option to retrieve it

### Steps To Reproduce:

1.  Open Org Browser-> Open Report. Lets say we a Report folder called ABC and inside that we have few reports. It doesnt retrieve the reports within the sub folder
2. In the attached screenshot, There is a report Folder n

[2022-02-04 15:55] jorgemontalvao commented on #3806
the same for me

[2022-02-04 17:08] jeffb-sfdc commented on #3801
Git2Bot didn't automatically run.  The ticket I created to track this is https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07EE00000kuvcUYAQ/view

[2022-02-04 21:54] bmathew83 commented on #3459
I fixed this issue only by formatting the laptop. Installed VS Code again and all the steps mentioned in here (https://developer.salesforce.com/tools/vscode/en/getting-started/install#salesforce-cli). Working fine now. Please close this ticket.

[2022-02-04 22:05] AnanyaJha commented on #3459
Glad you were able to resolve this issue @bmathew83! Closing ticket now

[2022-02-05 00:31] jeffb-sfdc commented on #3775
@tiagoshadow When you run:
`sfdx --version`
...what is reported?

And when you run:
`sfdx plugins`
...what is reported?

Also, which version of Java are you running?

[2022-02-05 00:33] jeffb-sfdc commented on #3774
@nkundeti are you able to login and authenticate using the command line interface (`sfdx auth:web:login`)?

[2022-02-05 06:06] NicholasHolly commented on #3775
Running into the same issue with SLDS validator creating a java process that pushes CPU usage to 100%. I spent a couple hours trying to find the root cause and even went nuclear with a fresh OS install.

Terminating the process resolves the issue but must be done on every VS Code instance launch unless you disable the extension.

Using sfdx-cli vers. 7.136.2, tested with Azul JDK version 11 and 8

[2022-02-06 06:55] prateekamana commented on #3783
bump

[2022-02-07 05:59] AnanyaJha commented on #3803
Hi @priyavi1 thanks for reporting this. Can you give us some more information on what problem you're experiencing and what version of the Salesforce Extensions you're currently on? This can be found by clicking on the marketplace icon on the left sidebar. Thanks!

[2022-02-07 06:53] imuradevelopment commented on #2856
Has there been any progress on this issue?
Also, do you have a temporary solution?

[2022-02-07 17:02] randi274 commented on #3783
Thanks for your patience (my windows testing machine is truly terrible; a great testing environment to test older machine functionality, but awful for quick responses). I did a [fresh install](https://developer.salesforce.com/tools/vscode/en/getting-started/java-setup#adoptopenjdk) of the AdoptOpenJdk/now-Adoptium jdk 11, added it to my path, did a reboot of VS Code, and the run test button appear

[2022-02-07 18:25] #3787 closed

[2022-02-07 18:25] #3781 closed

[2022-02-07 18:25] #3782 closed

[2022-02-07 22:46] RitamAgrawal commented on #2047
@aldoforce @okeisu @marcopinder As of now for metadata types: Documents, Dashboards, Email templates and Records, we can retrieve the folders listed within each of them. We can see the components listed within the folders as well. We are working on making the components within folders retrievable.

[2022-02-08 20:24] AndroxxTraxxon commented on #3353
I'd like to add that I was about to make this exact feature request. The way that my organization operates, we are less frequently in Scratch orgs, and more frequently in shared sandboxes that are more "at risk" of having multiple projects deployed on them. With this in mind, this capability would probably save me more on the order of 100-200 hours per year.

[2022-02-09 05:46] peeriyagama commented on #3663
Any solution for this one? I'm getting this exact error when I'm trying to deploy Flexipage. When I deploy the package.xml it's an unknown error. But when I right click on flexipage and deploy this error pops in vscode. Thanks!

[2022-02-09 06:03] AnanyaJha commented on #3806
Hi @ronika-das thanks for reporting this issue! The team is aware of this and we'll be addressing this bug in the current iteration. We'll post here with updates

[2022-02-09 06:38] prateekamana commented on #3783
My jdk version is: openjdk 17.0.1 2021-10-19
I had not set the java.home in setting.json previously but I tried doing it and after restarting vscode, I still couldn't use the get apex debug logs command.
![image](https://user-images.githubusercontent.com/41776584/153135441-9da3b6ee-185d-4c93-b664-35fe50f24e16.png)
(I also tried using java.home instead of xml.java.home for the setting key)

[2022-02-09 06:43] prateekamana commented on #3783
Ah, my bad, I opened your link and set the java.home according to the instructions provided there as shown in the image, and now I can get apex logs. So I just had to set the JDK path for these to work. Thanks @randi274

[2022-02-09 06:43] #3783 closed

[2022-02-09 12:06] ronika-das commented on #3806
Thank you @AnanyaJha  :)

[2022-02-09 17:51] #3541 closed

[2022-02-09 20:12] renatoliveira commented on #3582
I started having this issue one week ago or so. Running commands with `sfdx` on the terminal work just fine. The issue only happens with some commands executed through the command palette in VScode, such as push/pull commands and the one to set the default org.

[code]

[2022-02-09 20:43] dcstuff commented on #2738
This bug should be a top priority only because I hit it today and it's a minor inconvenience!
1. Authorize to an org, use credentials of someone else's scratch org. Rare use case, sure, but it happens!
2. SFDX: Push blah blah command not there

`sfdx force:source:push` works as expected.

[2022-02-09 22:04] randi274 commented on #3582
Hi @renatoliveira can you open a new issue detailing the issue you're facing, including actual and expected behavior? It sounds like that might be different, since you have SFDX installed already. Thank you!

[2022-02-09 23:53] randi274 commented on #3763
Noticed that this sort of works - ALL FIELDS appears as a picklist item from fields, but it's not quite the same thing. Also, moving to where these are tracked.

[2022-02-09 23:55] #3763 closed

[2022-02-10 09:13] sfryffdc commented on #3541
Thanks, this is looking good now. 7.136.2 of sfdx-cli which now includes this fix is providing results that are comparable to the previous good ones.

[2022-02-10 09:52] renatoliveira opened #3816 "Extension indicates that the CLI is not installed, but only for some commands"
### Summary

A couple of weeks ago some commands stopped working when run through the editor's command palette. The ones I can remember to have tested this are the "set default org", "push" and "pull" and "open default org". Some other commands, such as "deploy" and "retrieve" still work as expected.

![image](https://user-images.githubusercontent.com/6956403/153381893-84ddc375-0a7c-4e1d-8152-8f01

[2022-02-10 22:12] randi274 commented on #3816
Thanks for moving this to a separate issue @renatoliveira! Do you recall roughly when this stopped working? Also, how have you installed the Salesforce CLI?

[2022-02-11 00:59] trinasfdx commented on #3806
@W-10541413@

[2022-02-11 01:22] lirondco commented on #3775
Also running into the same issue. It's running Java several times in the process and I have to terminate them each time.
It hasn't happened until recently. Not sure if it's related to the recent VSCode update. I had to deactivate SLDS Validator for now.

<img width="997" alt="image" src="https://user-images.githubusercontent.com/60845154/153523797-de8d9866-f3d8-43bd-a141-e07cf0dd960e.png">

[2022-02-11 02:59] goldjmj opened #3823 "LWC is not deployable using vscode, getting name error"
### Summary

newly created Lightning Web Components are not deploying.

### Steps To Reproduce:

1. Create new Lightning Web Component using vsCode.
2. Make some code changes or simply deploy to org ( I am using developer edition)
3. It throws an error. (
4. The folder has the files as follows

### Expected result

LWC should be deployed successfully.

### Actual result

[code]

### Additional inf

[2022-02-11 07:21] SoOrAj247 opened #3824 "SFDX: Authorize an org doesn't work and I didn't get any clear error notifaction."
SFDX: Authorize an org command's not working

[2022-02-11 09:24] renatoliveira commented on #3816
This has been happening for one week or so now. `VScode` is installed through my distro's package manager, also used for `yarn` and Node.js. The CLI is installed globally using `yarn`.

[2022-02-11 15:14] randi274 commented on #3824
Hi @SoOrAj247 are you also having issues with the push and pull commands, like #3816?

[2022-02-11 15:43] randi274 commented on #3823
Hi @goldwinVonage was this LWC created with the `SFDX: Create Lightning Component command`? What directory is it in for the project?

[2022-02-11 16:21] divaaker commented on #2204
Having the same issue, When I am trying to complete LWC superbadge. VS code working for other sandbox or personal org but when I am using playground org then retrieve not working.

[2022-02-11 16:59] goldwinVonage commented on #3823
@randi274  yes, It has been created using "SFDX: Create Lightning Component command" and it is in "force-app/main/default/lwc" folder.

[2022-02-11 21:01] mohanraj-r opened #3828 "docs: broken links"
### Summary

Number of links are broken across docs

### Steps To Reproduce:

`npm run check:links`

### Expected result

No broken links found

### Actual result

[code]

[2022-02-11 22:15] madelineurl opened #3842 "Coverage reporting in codecoverage.json and test-result.txt files is sometimes inconsistent"
### Summary

Apex Code Coverage by Class as reported in the `test-result.txt` file is not consistent with code coverage details reported in the `codecoverage.json` file for some classes.

### Steps To Reproduce:

**Repository to reproduce:** [dreamhouse-lwc](https://github.com/dreamhouseapp/dreamhouse-lwc)

This may be difficult to reproduce against dummy data. Class reporting is only inaccurate f

[2022-02-13 11:50] klivian opened #3831 "Slow startup of SFDX VSCode plugins"
### Summary

When loading a Salesforce project into VSCode, there is an increased delay in the extensions recognising it as such and loading.

### Steps To Reproduce:

1.  Open VS Code.
1.  Either open a Salesforce/SFDX project (or nothing if VS Code was last closed with such a project open and is set to restore state on load)

### Expected result

Project is detected as an SFDX project, extension

[2022-02-13 14:34] Bharatummadi commented on #1654
Hi @lcampos ,
I tried changing my default browser from Chrome to Edge, but still SFDX: Authorize an Org keeps on running and browser is not opening for authorization.

VS Code version: 1.64.2
SFDX CLI Version:

[2022-02-14 05:21] anshul360 opened #3832 "Code coverage from Debug Logs"
**Is your feature request related to a problem? Please describe.**
Many times the test classes fail to produce the code coverage if the code base is huge on the org. This leads to problems during
 prod release.

**Describe the solution you'd like**
A new extension which can tell/highlight the code coverage of a class using debug logs. Can the Replay debugger be used to calculate approximate code c

[2022-02-14 06:52] #3803 closed

[2022-02-14 12:51] julianperezpesce commented on #3824
I'm having the same problem on Linux. I can deploy a retrieve, but I can NOT "update checkpoint on a Org" for example. Some things work, another it doesn't. Already try install/uninstall, update sfdx, created new playgrounds, projects, etc nothing work. My problem appear after a trailhead were I had to create an Scratch Org. I'm on a bootcamp, and now I'm stuck. Don't know what to do, please help

[2022-02-14 12:52] Bharatummadi opened #3833 "SFDX: Authorize an Org keeps on running and browser is not opened for Authorization"
### Summary

I have installed the latest version of Salesforce CLI. While trying to authorize my org I have used the SFDX: Authorize an Org, however SFDX: Authorize an Org keeps on running and browser is not opening for authorization.
I have tried to change my default browser as mentioned in #1654, but it did not work either way.

### Steps To Reproduce:

1.  Run SFDX: Authorize an Org (Using Ctrl

[2022-02-14 12:54] julianperezpesce commented on #3745
I have this same problem, any solution?

[2022-02-14 13:16] eliahdayvide0918 opened #3834 "Batch Queueable"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-02-14 14:02] julianperezpesce opened #3835 "SFDX: Update Checkpoints in Org fails with error"
### Summary

After the trail Salesforce DX in wich I had to create a scratch org. I'm having problems with Org Authorize and Update checkpoints.
![imagen](https://user-images.githubusercontent.com/46091490/153875438-f8b009cc-aef4-470d-ac7d-5df6da54d277.png)

The same happens with Authorize an Org, I can deploy or retrieve Apex classes but doesn't work properly.

![imagen](https://user-images.githu

[2022-02-15 15:20] jag-sfdc commented on #3835
@julianperezpesce - I see "SFDX: Update Checkpoints in Org" works as expected. How are you authorizing to the org? If you want to use a scratch org, you first authorize a devhub org using "SFDX: Authorize a Dev Hub".

[2022-02-15 15:51] Bharatummadi commented on #3833
![image](https://user-images.githubusercontent.com/41880719/154098124-27cd4202-7cb0-4bd6-a7aa-6343c99c0dc3.png)
I'm facing the issue from command line as well.

[2022-02-15 16:44] randi274 commented on #3833
@Bharatummadi have you completed installation of the Salesforce CLI? We do require it for some commands in VS Code as well: https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_install_cli.htm

[2022-02-15 16:53] Bharatummadi commented on #3833
@randi274 yes, I have installed Salesforce CLI as well.
![image](https://user-images.githubusercontent.com/41880719/154109645-f47e6bcb-de89-48d9-bccf-f9ae54ab863f.png)

[2022-02-15 17:25] iowillhoit commented on #3842
Ok @madelineurl, I would hope that GitHub would have notified you, but just in case this issue is now here at https://github.com/forcedotcom/salesforcedx-vscode/issues/3842. Thanks again.

[2022-02-15 18:51] madelineurl commented on #3842
Thank you for the assistance @iowillhoit !

[2022-02-15 21:21] goldjmj commented on #3823
My earlier project name in vscode was 'lwc'. I have created a new project name to 'lwcTraining' and it deploys the LWC. I guess the name of the project cannot be 'lwc'

[2022-02-17 06:57] gbockus-sf commented on #3816
HI @renatoliveira
I just tested locally on my Ubuntu box with a fresh install of VSCode and the extensions and things seemed to work as expected for the 'SFDX: Open Default Org' so I'm guessing it has something to do with the user or env running VSCode.
Did you start vscode from the app launcher or from the terminal?

Could you try opening it from the terminal where you were able to successfully r

[2022-02-17 07:00] gbockus-sf commented on #3824
Hi @julianperezpesce
A few questions:
Are you able to run sfdx from the command line? `sfdx force:org:open -u <yourUserName>`
If so can you try opening vscode from that command line and see if the command behave as expected? `code .` from your sf project directory.
Thanks

[2022-02-17 07:02] gbockus-sf commented on #3835
@julianperezpesce did the above guidance from Jag fix your issue?

[2022-02-17 13:20] julianperezpesce commented on #3824
Hi, I already fixed.
1- sfdx force:org:open -u <yourUserName> WORKED
2- code . WORKED

But that didn't fix anything. I'm using Linux, the problem was, for some reason a change in the Read, Write permission of .sfdx json files. That was producing corrupteds json files. I made a new SO install. Another thing I discover, I was using JDK 8, and VSC always give an error with Apex debugger a Yellow noti

[2022-02-18 08:02] ghoshdipan-ck opened #3853 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `54.0.0`
- OS Version: `Darwin arm64 21.3.0`
- VS Code version: `1.64.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-02-21 16:13] #3823 closed

[2022-02-21 16:14] gbockus-sf commented on #3824
Great. Glad it worked itself out

[2022-02-21 16:14] #3824 closed

[2022-02-21 16:17] gbockus-sf commented on #3816
Yeah I'm not sure why sometime vscode launches with the environment not quite right.  I'll mark this as a bug so we can investigate.

[2022-02-21 16:24] gbockus-sf commented on #3801
Fixed

[2022-02-21 16:24] #3801 closed

[2022-02-22 12:25] Bharatummadi commented on #3833
@randi274 @jag-sfdc Could you please help me with this.

[2022-02-22 18:10] #3774 closed

[2022-02-22 18:15] #3834 closed

[2022-02-22 21:18] RitamAgrawal commented on #3425
@ravibarnwal Are you still facing the same issue? If yes, then which version of salesforce extension are you using?

[2022-02-22 22:18] smohyee commented on #1175
I don't understand this comment.

If you're working across multiple projects, why would you have all the apex classes from different projects in one Apex Class folder?

You wouldn't.  You'd have a separate folder hierarchy for each project, you'd connect to the appropriate org for that specific hierarchy/repo, and in that context you'd want to pull ALL apex classes from that org, not just the ones

[2022-02-23 19:37] sbudhirajadoc commented on #3828
Would you mind closing this @mohanraj-r ? Thanks!

[2022-02-24 16:41] gbockus-sf commented on #3853
Please reopen if you are still having issues.

[2022-02-24 16:41] #3853 closed

[2022-02-25 09:04] sugoLishilong opened #3861 "LWC cannot detect conflicts"

[2022-02-25 09:19] FabienTaillon commented on #2952
Any update on this one ? What's the point of having to manually type the source:push/pull manually on a source tracked sandbox ?

[2022-02-25 15:34] saurabhsoodsfdc opened #3862 "Bug while install LWC extension"
### Summary
[2022-02-25 21:02:30.801] [renderer1] [error] [Extension Host] Cannot find en-gb, defaulting to en
[2022-02-25 21:02:30.802] [renderer1] [error] [Extension Host] Cannot find en-gb, defaulting to en
[2022-02-25 21:03:33.467] [renderer1] [error] ["Invalid: Corrupt ZIP: end of central directory record signature not found","    at D.downloadInstallableExtension (vscode-file://vscode-app/pr

[2022-02-26 00:42] mbajwa2 opened #3874 "RunTest button does not show up for test classes in vscode"
### Summary
When I navigate to a test class, I am not able to see the 'RunTest' button or 'Run All Test' button .

WHEN
### Steps To Reproduce:

**Repository to reproduce:** [dreamhouse-lwc](https://github.com/dreamhouseapp/dreamhouse-lwc)

***NOTE:** If your issue is not reproducable by dreamhouse-lwc, i.e. requires specific metadata or files, we **require** a link to a simple Salesforce project

[2022-02-26 07:23] kaustubhdapurkar opened #3863 "Installing the Apex Prettier Plugin using npm throws an error."
### Summary

NPM throws error while installing prettier using the `npm install --save-dev --save-exact prettier prettier-plugin-apex` in a new SFDX project.

### Steps To Reproduce:

1.  Create a new project with manifest.
2. Run the `npm install --save-dev --save-exact prettier prettier-plugin-apex` command in the terminal.

### Expected result

The prettier module for apex should get installed s

[2022-02-28 07:11] saurabhsoodsfdc opened #3864 "Unable to install Salesforce Extension Pack in my VS code"
### Summary
My “Salesforce Extension Pack” extension got crashed and when I’m trying to re-install it, facing the below issue and was unable to re-install it.
I tried re-installing VS code again but no luck same error getting again!!

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Ac

[2022-02-28 11:07] zix66 commented on #2050
me too

[2022-02-28 16:06] randi274 commented on #3863
Thanks for reporting this! We've fixed this in our [templates](https://github.com/forcedotcom/salesforcedx-templates/issues/394) library, and once we update that (which is a WIP), this should be fixed as well.

[2022-02-28 18:02] jag-sfdc commented on #3862
@saurabhsoodsfdc - We are not able to repro this locally. This might be a one-off issue because a corrupt vsix file was downloaded from the marketplace. Can you please give it another try?

[2022-02-28 18:04] jag-sfdc commented on #3861
Can you please provide more information like screenshots or steps to repro this? Thanks!

[2022-02-28 18:05] jag-sfdc commented on #3864
Seems like a duplicate of https://github.com/forcedotcom/salesforcedx-vscode/issues/3862. Closing this.

[2022-02-28 18:05] #3864 closed

[2022-02-28 22:12] mohanraj-r commented on #3828
@sbudhirajadoc Have you reviewed/fixed the non-relative URLs - did a quick check and seems like the http* URLs reported are indeed broken.

[2022-02-28 22:55] jag-sfdc commented on #2952
@FabienTaillon @JSaterdalen - We have created a bug to take care of this. Thank you so much for reporting this.

[2022-02-28 23:01] mohanraj-r opened #3868 "Announcement: Newer version of source tracking for scratch orgs available"
[New version of source tracking](https://github.com/forcedotcom/cli/issues/1258) with better performance is available with [`sfdx-cli` version `1.140.0`](https://github.com/forcedotcom/cli/blob/main/releasenotes/sfdx/README.md#71400-march-3-2022-stable-rc) for scratch orgs.

The following new commands have been added to the Command Palette to ease transition:
- "SFDX: Pull Source from Default Scra

[2022-03-01 05:04] saurabhsoodsfdc commented on #3862
@jag-sfdc I have been doing uninstalling and re-installing VS code and Salesforce Extension Pack since last Thursday but no luck!!
I have cross-checked with my co-workers. No one facing this issue.

Using Macbook: Version 12.2.1
- [VS Code Download link](https://code.visualstudio.com/download)
- [Salesforce Extension Pack Download link](https://marketplace.visualstudio.com/items?itemName=salesforc

[2022-03-01 21:48] jag-sfdc commented on #3862
@saurabhsoodsfdc - Have you tried both downloading vsix files and running "Install from VSIX" and also by "Searching Extensions in Marketplace" from "Extensions" side bar? Do both give you the same error?

[2022-03-01 21:55] #3425 closed

[2022-03-01 22:06] mohanraj-r opened #3870 "feat: changelog notification on extension update"
**Is your feature request related to a problem? Please describe.**
Increase visibility of the contents of [SFDX Changelog - Marketplace](https://marketplace.visualstudio.com/items/salesforce.salesforcedx-vscode/changelog).

**Describe the solution you'd like**
- A notification prompt when the extension updates
  - Highlight new features, fixes since last release
    - Brief GIF demos of the new fe

[2022-03-02 11:17] Clint-Chester commented on #2650
Would be very beneficial 😄 is there an update on this?

[2022-03-02 16:04] gbockus-sf opened #3873 "Stopping a containerless function does not kill the local process"
### Summary

If a containerless function is started, then stopped via the command palette the process started for the function service is not killed.

### Steps To Reproduce:

1.  For any function type start the function in containerless mode `SFDX: Start Function`
1.  After the function has started run the stop function command `SFDX: Stop Function`

### Expected result

Command should run succes

[2022-03-03 14:50] mjaggard commented on #2120
@nikhil-sfdev and if it doesn't?!

[2022-03-03 17:52] #3835 closed

[2022-03-04 08:18] Schuchie commented on #3558
@randi274 I can see only the SFDX: Diff Folder Against Org in the context menu. When I set my default org to a sandbox its appears again. Switching back to a scratch and these actions as describe above disappearing again.

I think it happened after a broken .forceignore.

[2022-03-05 17:04] shridharpuntambekar-okta commented on #1265
Hello, I am facing the same issue. I have cloned the [salesforce e-bikes app ](https://github.com/trailheadapps/ebikes-lwc) and the HTML keeps failing when hovered over the CSS classes.
Extremely annoying as the output window is pulled into focus.
<img width="1163" alt="image" src="https://user-images.githubusercontent.com/54118230/156892975-9558e6b5-c1da-469e-a838-202095139fae.png">

[2022-03-05 17:06] shridharpuntambekar-okta commented on #2800
Hello, request you to keep this bug open. Similar bug: #1265
Facing the same issue: [Linked comment](https://github.com/forcedotcom/salesforcedx-vscode/issues/1265#issuecomment-1059797587)

[2022-03-06 08:58] herkura commented on #1213
Hi there! I am also unable to install the salesforce extension pack on vs code.
It is showing the following error: **Error: Corrupt ZIP: end of central directory record signature not found**
Kindly help me here!!
Thanks Alot :)

[2022-03-06 09:01] herkura commented on #1213
My os: Windows 11
Vs Code Version : 1.65.0

[2022-03-07 19:01] #3861 closed

[2022-03-08 09:56] remifoyard opened #3889 "StandardValueSet cannot be retrieved with the Salesforce extension"
### Summary

StandardValueSet cannot be retrieved with the Salesforce extension.

### Steps To Reproduce:

1.  Go to the extension to retrieve StandardValueSet
2. Nothing appears in it...

### Expected result

StandardValueSet must appears

### Actual result

None StandardValueSet appears

### Additional information

![image](https://user-images.githubusercontent.com/32206827/157212481-14836382-2c

[2022-03-08 12:29] NayanaGupta-Git opened #3890 "Not able to create project as expected"
when i create a project the js , html , metaxml files are missing.

[2022-03-08 20:20] AnanyaJha commented on #2307
Hi @vishnusundar2607. We've updated how we retrieve objects behind the scenes for the Org Browser - can you tell us if you're still running into this issue?

[2022-03-09 01:24] #1599 closed

[2022-03-09 02:16] ymdymdymd opened #3893 "communication protocol"
The salesforce help asked me to ask here.
What is the communication protocol of salesforcedx-vscode?

[2022-03-09 07:50] NayanaGupta-Git opened #3894 "Unable to create LWC project"
Unable to create lWC project.

Please consider this on priority as it's stucking my work.

[2022-03-09 15:41] gbockus-sf commented on #3894
Hi @NayanaGupta-Git
Can you provide more details please? What errors are you getting?  What OS is your machine?
Thanks

[2022-03-09 15:43] gbockus-sf commented on #3890
dup of #3894

[2022-03-09 15:43] #3890 closed

[2022-03-09 16:34] eburtness opened #3897 "GitHub Pages for this project redirects to ads and possible malware"
### Summary

GitHub Pages at `https://forcedotcom.github.io/salesforcedx-vscode/` is serving a redirect to `salesforcedx-vscode.com` which now hosts ads and tries to install a suspicious browser search extension.

Based on #3590 it sounds like `salesforcedx-vscode.com` once hosted the docs but was abandoned and has now been registered by someone unrelated to the project. I see that #3605 updated s

[2022-03-09 16:43] LidiaGHerrerias opened #3898 "It does not work on MacOS Monterey 12.2.1"
### Summary

Salesforce Mobile App Emulator for Android does not work on MacOS Monterey 12.2.1

### Steps To Reproduce:

1.  I installed xcode previosly in my mac and Simulator for IOS.
2.  I installed Android Studio (It never opens). I can click to open it as many times as I can and It does not work.
3.  When I try to reproduce the steps of opening an app from VSCode clicking the option of SFDX:

[2022-03-09 17:09] AnanyaJha commented on #3897
Thanks for reporting this @eburtness, we'll take care of this ASAP.

[2022-03-09 17:52] jeffb-sfdc commented on #3687
This is known issue, and we have a work item in our backlog for this.

[2022-03-09 18:01] NayanaGupta-Git opened #3899 "Reply to #3894"
The OS in my system is  - Windows 10
<img width="758" alt="Error in VS" src="https://user-images.githubusercontent.com/64770166/157502426-907fc47a-c58e-4ecc-bd2a-6481128e20f4.PNG">

and the issue is
When I create a new project in LWC the Default path goes to that Project and their are no files in lwc folder(.html,.js ,.metaxml).
I have attached the screenshot of the same
I have created Project Tes

[2022-03-09 20:46] AnanyaJha commented on #3893
Hi @ymdymdymd thanks for reaching out! We typically communicate new changes to our users via our weekly [changelogs](https://github.com/forcedotcom/salesforcedx-vscode/blob/develop/packages/salesforcedx-vscode/CHANGELOG.md) and announcements posted on our issues here. Is there any other type of information you're looking to find?

[2022-03-09 21:22] fbairn opened #3901 "Issue with Release V54.4.0 - Extension fails to locate the bindings file"
### Summary

After upgrading VS code to the latest version I can no longer use the Salesforce extension.
I am seeing an error in the [logs](https://github.com/forcedotcom/salesforcedx-vscode/files/8218273/vsclog.txt) when the extensions attempt to load.

### Steps To Reproduce:

1.  Update VS code to Version: 1.65.1 (Universal)
1.  Load a Salesforce project
2. Attempt to use any SFDX command

###

[2022-03-09 21:35] fbairn commented on #3901
I downgraded VSCode to v1.64.2, also tried downgrading the Salesforce extension to v54.3.0 and v54.2.0.
I am still seeing the same error.

[2022-03-09 21:40] hiroya-hasebe-rc commented on #3901
I am experiencing the same phenomenon.
I have been able to work around it so far by setting the version of "Salesforce CLI Integration" to 54.3.0.

[2022-03-09 21:42] jeffb-sfdc commented on #3833
@Bharatummadi when you run `sfdx: force:auth:web:login` (and the other parameters you posted on 2/15), I understand that it tomes out, but could you describe what happens?

For example, what should happen, is you run `force:auth:web:login` from a CLI, a browser window opens and you see the salesforce login, you enter your credentials, and then you logged into your org, and the sfdx: force:auth:web

[2022-03-09 21:47] fbairn commented on #3901
Thank @hiroya-hasebe-rc
Setting the Salesforce Salesforce CLI Integration version worked.

[2022-03-09 22:14] chivalry opened #3902 "Component folders are suggested when opening a function's braces"
### Component folders are suggested when opening a function's braces.

Defining a function by typing up to the opening brace shows this:

![image](https://user-images.githubusercontent.com/600992/157544964-29859766-f842-490f-8d00-570fe232818d.png)

### Steps To Reproduce:

1.  In a Lightning Web Component's JavaScript file, within the class definition type `@api myFunc() {`.

### Expected result

[2022-03-09 22:20] jeffb-sfdc commented on #3901
@fbairn when you run `sfdx --version`, what is reported?
And when you run `sfdx plugins`, what is reported?

[2022-03-09 23:19] ndrewr commented on #3902
Seconded.
This happens when creating a conditional block as well:

![image](https://user-images.githubusercontent.com/9262383/157555508-1e6b18a1-67d3-46ff-9414-3fb2d6195574.png)

[2022-03-10 00:08] AnanyaJha commented on #2026
Hi @rtm, we're grooming some older issues - are you still seeing this problem?

[2022-03-10 01:09] ymdymdymd commented on #3893
Thank you for your reply.
I use VS Code to develop salesforce in my company.
To do this, you need to know the communication protocol information and add it to the whitelist.

[2022-03-10 01:28] paolinAGE opened #3903 "Getting Error: Command 'SFDX: Create Project' resulted in an error (command 'sfdx.force.project.create' not found)"
### Summary
In VS Code I'm getting this error Command 'SFDX: Create Project' resulted in an error (command 'sfdx.force.project.create' not found). I ran sfdx update from CMD and it says I'm up to date.
I am able to create project directly via CMD but not via VSCode and unable to run any other SFDX commands in VSCode but I was able to 1 day ago).  I've tried reinstalling VsCode and the Salesforce e

[2022-03-10 01:47] mcculloughcm commented on #3903
I'm having the same issue. In addition, if I open an existing project, it seems like the extension doesn't recognize that I'm in a Salesforce project directory -- the only SFDX commands that show up in the command palette are those related to creating a new project (and those don't work). I've updated SFDX via command line, uninstalled and reinstalled the extensions, and re-installed VS Code but n

[2022-03-10 01:53] paolinAGE commented on #3903
Same for me.

[2022-03-10 02:29] michaeltookes commented on #3903
I'm experiencing the same issue as well.

[2022-03-10 02:53] jeffb-sfdc commented on #3903
@paolinAGE , I just ran through this, and it worked for me.  I hav a few questions for you...

1) When I run the "SFDX: Create Project" command, a popup menu appears with 3 choices: Standard, Empty, and Analytics.  Do you see this?  Or are you getting the "command 'sfdx.force.project.create' not found" error?

2) Please run the following, and let us know what results you get:

`sfdx --version`

(I

[2022-03-10 03:05] VineshShampoor commented on #3903
I'm facing the same issue.

[2022-03-10 04:04] paolinAGE commented on #3903
No popup menu, just the error message.

I get sfdx-cli/7.141.1 darwin-x64 node-v16.14.0

I get 'no plugins installed'

How do I get the log file?  Please give me more info.

[2022-03-10 04:14] paolinAGE commented on #3903
I found the log file and yes, I see the error: could not locate the bindings file.
[exthost.log](https://github.com/forcedotcom/salesforcedx-vscode/files/8220239/exthost.log)

[2022-03-10 07:28] dschach commented on #928
I believe this has been delivered. Am I wrong? @smaddox-sf

[2022-03-10 07:28] yasaratcoding commented on #3903
I have also had this error. But I fixed it by downgrading the VS code extension.

[2022-03-10 07:38] rajpunjabi commented on #3903
I am getting the same error. Command-line is fine.

Machine/Chip - Apple M1 Pro
Salesforce Extension Pack - 54.4
VS Code - Version: 1.65.1
Commit: 8908a9ca0f221f36507231afb39d2d8d1e182702
Date: 2022-03-08T02:20:04.372Z (2 days ago)
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin arm64 21.2.0

[2022-03-10 07:41] VineshShampoor commented on #3903
**Salesforce CLI Integration** VS Code Extension - downgrading one version down will fix this.

[2022-03-10 07:54] dschibster commented on #3903
Having the same issue. It seems like it didn't recognize any SFDX Project at all anymore, neither new ones nor existing ones.

Apple M1 Pro, Monterey 12.1

[2022-03-10 08:10] rajpunjabi commented on #3903
Same for me. 53 is workiing.

[2022-03-10 10:25] rsoesemann commented on #3901
I have the same issue.

`sfdx --version` --> sfdx-cli/7.135.0 darwin-x64 node-v16.13.1

I reinstalled all plugins but this didn't resolve it. My extension error logs show this:

[2022-03-10 11:21:19.745] [exthost] [error] Activating extension salesforce.salesforcedx-vscode-apex failed due to an error:
[2022-03-10 11:21:19.745] [exthost] [error] Error: Could not locate the bindings file. Tried:
 →

[2022-03-10 10:31] ashrafbaker commented on #3903
Hi,
Same for me after downgrading it is working now.
Thanks for the follow up
Who can we contact for that?

[2022-03-10 11:30] agentgill commented on #3901
I am confirm the same issue happened to me. Reverting the Salesforce CLI extension resolved this issue

[2022-03-10 12:21] vinaytejnissankula opened #3904 "Unable to create Salesforce project"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2022-03-10 12:39] piyushvaddoria opened #3905 "SFDX command not working after extension update with MAC"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

Update the extension to the latest version in MAC

### Expected result

VS Code should load the SFDX project with all SFDX Command

### Actual result

After the update, only 3 SFDX command is showing and None of the commands is working.

**Salesforce Extension Version in VS Code**:
54.4.0

**SFDX CLI

[2022-03-10 12:42] proudchild commented on #3905
OS and version:
MacOS 12.2.1
MacBook Air (M1, 2020)

Same problem here, additional note: terminal SFDX command works as usual.

[2022-03-10 13:06] ffernandeze92 commented on #3905
Do you fix it? I have the same issue :/

[2022-03-10 14:09] omerfarukozdemir commented on #3903
You guys also have to rollback your Apex extension version as well. Apex language server is also not working in the lastest version.

[2022-03-10 14:19] santiVall commented on #3905
Same problem here.

MacOS 12.1
MacBook pro M1 pro
sfdx-cli/7.141.1 darwin-x64 node-v16.14.0

[2022-03-10 14:20] omerfarukozdemir commented on #3905
#3903 related to this.

[2022-03-10 14:21] omerfarukozdemir commented on #3904
#3903

[2022-03-10 14:21] omerfarukozdemir commented on #3901
#3903

[2022-03-10 14:26] jwalke commented on #3905
I'm experiencing the same issue

[2022-03-10 14:39] jwalke commented on #3903
I'm experiencing the same issue.

[2022-03-10 15:15] marcbourlon commented on #3905
Same here. See [#3903](https://github.com/forcedotcom/salesforcedx-vscode/issues/3903)

[2022-03-10 15:15] Yuki311 commented on #3339
Your comment helped me. I thank you from the bottom of my heart.

[2022-03-10 15:17] nfranco94 opened #3906 "Missing commands"
Issue Type: <b>Bug</b>

missing commands like, auth dev to hub, remove org, list of active and deletes orgs, etc.

Extension version: 54.4.0
VS Code version: Code 1.65.1 (8908a9ca0f221f36507231afb39d2d8d1e182702, 2022-03-08T02:20:04.372Z)
OS version: Darwin arm64 21.2.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Apple M1 (8 x 24)|
|GPU Status|2d_can

[2022-03-10 15:18] auctifera-josed commented on #3905
Same problem here.

macOS 12.1
MacBook Air M1
sfdx-cli/7.141.1 darwin-x64 node-v16.14.0
VS Code Version: 1.65.0

[2022-03-10 15:26] marcbourlon commented on #3901
Hi good people, what do you mean by "setting the version"? Downgrading? It failed for me? Setting somewhere the fact of using the previous version? If so, where do you do this? Thank you.

[2022-03-10 15:31] randi274 commented on #3901
<img width="1186" alt="Screen Shot 2022-03-10 at 10 30 44 AM" src="https://user-images.githubusercontent.com/9795193/157695661-72297790-ad58-4deb-a272-2960f65e6a96.png">
Hi @marcbourlon - if you navigate to the Extensions tab, search for the Salesforce CLI Integration, go to the dropdown next to uninstall, and click 'Install Another Version'. From there you can downgrade to a previous version for

[2022-03-10 15:45] marcbourlon commented on #3898
Sounds related to https://github.com/forcedotcom/salesforcedx-vscode/issues/3903

[2022-03-10 15:47] marcbourlon commented on #3901
Thanks Randi. I did this, but since it is not working, I was wondering if there is somewhere a setting to force the version number. A bit of a silly question, but rather that than miss the solution :-)

[2022-03-10 15:55] marcbourlon commented on #3906
Please check https://github.com/forcedotcom/salesforcedx-vscode/issues/3903

[2022-03-10 16:38] jimpoteet commented on #3905
Same here. See 3903[](https://github.com/forcedotcom/salesforcedx-vscode/issues/3903)

Downgrading to version 54.3 resolved the issues I was having.

[2022-03-10 16:48] TrevorAGill opened #3907 "sfdx cli integration extension for VSCode GUI commands not working"
### Summary

Salesforce CLI Integration extension for VSCode suddenly stopped working. I am able to use sfdx commands via the terminal and they work, but none of the GUI options are available to me anymore. When I use Command + Shift + P I only see 3 SFDX Command options: Create Project with a Manifest, Create Project, and Create and Setup Project for ISV Debugging. When I try to actually use any

[2022-03-10 17:07] JoshNicholasHunter commented on #3907
Same here - absolutely no idea what's caused this!

Re-installed the CLI multiple times along with doing the same with Salesforce Extension, tried downgrading both, but no luck.

Salesforce Extension:
v54.4.0

SFDX CLI:
sfdx-cli/7.141.1 darwin-x64 node-v16.14.0

OS:
MacOS Monterey 12.2.1

Developer Tools is showing this:

![image](https://user-images.githubusercontent.com/98747830/157716856-845db3

[2022-03-10 17:22] AnanyaJha commented on #3903
Hi everyone! Thanks for reporting this and sorry about the issues you're facing. This is due to a known problem with the latest release of the Salesforce Extensions `v54.4.0`. This issue is being tracked by #3901 and the team is working on a fix. In the meantime, please downgrade to version `v54.3.0` - let us know if you see any other issues or have any questions!

[2022-03-10 17:24] AnanyaJha commented on #3907
Hi all! Thanks for reporting this and sorry about the issues you're facing. This is due to a known problem with the latest release of the Salesforce Extensions v54.4.0. This issue is being tracked by #3901 and the team is working on a fix. In the meantime, please downgrade to version v54.3.0 - let us know if you see any other issues or have any questions!

[2022-03-10 17:24] #3907 closed

[2022-03-10 17:24] AnanyaJha commented on #3906
Hi everyone! Thanks for reporting this and sorry about the issues you're facing. This is due to a known problem with the latest release of the Salesforce Extensions v54.4.0. This issue is being tracked by #3901 and the team is working on a fix. In the meantime, please downgrade to version v54.3.0 - let us know if you see any other issues or have any questions!

[2022-03-10 17:24] #3906 closed

[2022-03-10 17:25] AnanyaJha commented on #3905
Hi everyone! Thanks for reporting this and sorry about the issues you're facing. This is due to a known problem with the latest release of the Salesforce Extensions v54.4.0. This issue is being tracked by https://github.com/forcedotcom/salesforcedx-vscode/issues/3901 and the team is working on a fix. In the meantime, please downgrade to version v54.3.0 - let us know if you see any other issues or

[2022-03-10 17:25] AnanyaJha commented on #3904
Hi all! Thanks for reporting this and sorry about the issues you're facing. This is due to a known problem with the latest release of the Salesforce Extensions v54.4.0. This issue is being tracked by https://github.com/forcedotcom/salesforcedx-vscode/issues/3901 and the team is working on a fix. In the meantime, please downgrade to version v54.3.0 - let us know if you see any other issues or have

[2022-03-10 17:25] #3904 closed

[2022-03-10 17:46] TrevorAGill commented on #3907
That did the trick. Thanks @AnanyaJha!

[2022-03-10 18:24] AnanyaJha commented on #3901
Hi all! Thanks for reporting this and sorry about the issues you're facing. This is due to a known problem with the latest release of the Salesforce Extensions v54.4.0. This issue is being tracked by https://github.com/forcedotcom/salesforcedx-vscode/issues/3901 and the team is working on a fix. In the meantime, please downgrade to version v54.3.0 - let us know if you see any other issues or have

[2022-03-10 18:26] msrivastav13 commented on #3901
Just to be clear, downgrade the extension named "Salesforce CLI Integration" to v54.3.0 and reload and it works.

[2022-03-10 19:53] marieniekamp opened #3911 "Unable to Create a Project"
### Summary

I am trying to create a project and am unable to. Here is the error.

Command 'SFDX: Create Project with Manifest' resulted in an error (command 'sfdx.force.project.with.manifest.create' not found)

### Steps To Reproduce:

1. Command 'SFDX: Create Project with Manifest'
1. Received an error

### Expected result

Should be able to create a project

### Actual result

Receive the above

[2022-03-10 19:57] AnanyaJha commented on #3911
Hi @marieniekamp! Thanks for reporting this and sorry about the issues you're facing. This is due to a known problem with the latest release of the Salesforce Extensions v54.4.0. This issue is being tracked by https://github.com/forcedotcom/salesforcedx-vscode/issues/3901 and the team is working on a fix. In the meantime, please downgrade to version v54.3.0 - let us know if you see any other issue

[2022-03-10 19:57] #3911 closed

[2022-03-10 20:10] marieniekamp commented on #3911
Thanks Ananya for the quick reply. I tried v54.3.0 but encountered the same issue. I actually tried every version from v53.12.0 to 54.4.0 and get the same error every version.
I aslo wanted to note that when I type in SFDX: the only option I get are:

- SFDX: Create Project with Manifest
- SFDX: Create Project
- SFDX: Create and Setup Project fro ISV Debugging

[2022-03-10 20:20] AnanyaJha commented on #3911
Hi @marieniekamp is there a chance that the extensions are getting cached? In your Finder window navigate to the Go > Home > .vscode folder. If you don't see the hidden folder, press Command+Shift+`.` . In that folder, please delete all the extensions that end with the suffix `54.4.0`. Then, try rerunning the commands on an older version of the extension

[2022-03-10 20:28] marieniekamp commented on #3911
I reviewed the comments in the other case and setting the version of
"Salesforce CLI Integration" to v54.3.0 worked for me.

On Thu, Mar 10, 2022 at 12:20 PM AnanyaJha ***@***.***> wrote:

[2022-03-10 20:42] varundeshmukh opened #3912 "When I try to create a new project in VS Code I get this error"

[2022-03-10 20:42] #3912 closed

[2022-03-10 21:03] varundeshmukh opened #3913 "Command 'SFDX: Create Project' resulted in an error (command 'sfdx.force.project.create' not found)"
When I try to create a new project using command palette in VS Code I get this error

Command 'SFDX: Create Project' resulted in an error (command 'sfdx.force.project.create' not found)

VS Code Version: Version: 1.65.2

OS: Mac OS Monterey 12.0.1

Salesforce Extension Pack: v54.4.0

SFDX CLI Version: sfdx-cli/7.141.1 darwin-x64 node-v16.14.0

Node.js: 14.16.0

[2022-03-10 22:30] workmanDX opened #3914 "SF Extensions are failing to activate after updating to v54.4.0"
### Summary

I updated my SF extensions and now when I try to launch a project the extensions will not activate.  I get the following error in VSCode Developer Tools:
"Activating extension 'salesforce.salesforcedx-vscode-apex' failed: Could not locate the bindings file. Tried:
 → /Users/stevenworkman/.vscode/extensions/salesforce.salesforcedx-vscode-apex-54.4.0/node_modules/deasync/build/deasync.n

[2022-03-10 23:13] workmanDX commented on #3914
Didn't see this was already reported under https://github.com/forcedotcom/salesforcedx-vscode/issues/3901

[2022-03-10 23:13] #3914 closed

[2022-03-10 23:45] AnanyaJha commented on #3901
Hello everyone! Thank you all for the patience, our team has been hard at work on a fix and has just released version `54.4.1` of the Salesforce Extensions.  Please update your extensions to the latest version and reload the window to access the fix. Let us know if you continue to see any issues, thanks!

[2022-03-11 01:02] rtm commented on #2026
I am no longer working with LWC, so you can close this. Thanks for
following up.

On Wed, Mar 9, 2022 at 4:08 PM AnanyaJha ***@***.***> wrote:

[2022-03-11 15:11] fbairn commented on #3901
@AnanyaJha the new update has fixed the issue. Thanks for the fast response.

[2022-03-11 15:11] #3901 closed

[2022-03-11 18:03] AnanyaJha commented on #3913
Hello! This is due to a known issue and our team has just released version 54.4.1 of the Salesforce Extensions with the fix. Please update your extensions to the latest version and reload the window to access the fix. Let us know if you continue to see any issues, thanks! Closing this thread out in favor of #3901

[2022-03-11 18:03] #3913 closed

[2022-03-11 21:15] randi274 commented on #3902
Thanks for getting this filed; we introduced some [new functionality](https://github.com/forcedotcom/salesforcedx-vscode/blob/develop/packages/salesforcedx-vscode/CHANGELOG.md#salesforcedx-vscode-lightning--salesforcedx-vscode-lwc) to add autocompletion for attributes on the html side, and were a little overly-inclusive about should trigger autocompletion, and here it's extraneous. I've identified

[2022-03-12 00:38] jeffb-sfdc commented on #3901
Here is a postmortem:

What happened?
After releasing the v54.4.0, we received a few reports that users were no longer able to run the Salesforce Extensions for Visual Studio Code. We attempted to reproduce the issue, but we were not able to reproduce it.
As time went on, we received more reports from our users that they were experiencing the same issue. It was determined that one of our dependenc

[2022-03-12 06:48] sacsha30 commented on #2800
getting similar error:

Could not create Tag from <my_lwc_comp.js>.
[object Object]
[Error - 12:09:20 PM] Request textDocument/hover failed.
  Message: Request textDocument/hover failed with message: Cannot read property 'forEach' of undefined
  Code: -32603
[Error - 12:09:59 PM] Request textDocument/hover failed.
  Message: Request textDocument/hover failed with message: Cannot read property 'for

[2022-03-14 16:11] ScubaJimmE commented on #2047
Still an issue for reports in folders. Only the report folders are retrieved, not the reports within.
sfdx-cli/7.142.1 win32-x64 node-v16.14.0

[2022-03-14 20:04] randi274 commented on #3898
@LidiaGHerrerias is this working for you now? We released a second update last week to address #3903 among others, and the latest version is now 54.4.1 for all of our extension packages.

[2022-03-15 03:07] mohanraj-r commented on #3894
@NayanaGupta-Git Can you please post the info from #3899 in this issue. Can you also provide the version of salesforce vscode extension and SFDX CLI version you are using.

[2022-03-15 03:08] mohanraj-r commented on #3894
From #3899 by @NayanaGupta-Git :

The OS in my system is  - Windows 10
<img width="758" alt="Error in VS" src="https://user-images.githubusercontent.com/64770166/157502426-907fc47a-c58e-4ecc-bd2a-6481128e20f4.PNG">

and the issue is
When I create a new project in LWC the Default path goes to that Project and their are no files in lwc folder(.html,.js ,.metaxml).
I have attached the screenshot of t

[2022-03-15 03:08] mohanraj-r commented on #3899
Moving further conversations to #3894

[2022-03-15 03:08] #3899 closed

[2022-03-15 03:14] mohanraj-r commented on #3897
https://forcedotcom.github.io/salesforcedx-vscode/ has been unlinked from `salesforcedx-vscode.com`

[2022-03-15 03:17] mohanraj-r commented on #3889
@RitamAgrawal Could this be related to #3806 ?

[2022-03-15 03:29] mohanraj-r commented on #3863
@kaustubhdapurkar This should be fixed now with the recent update. Please check and reopen this issue with details if it is still not resolved.

[2022-03-15 03:29] #3863 closed

[2022-03-15 05:20] ymdymdymd commented on #3893
I need the destination IP and port number used in salesforcedx-vscode.

[2022-03-15 07:42] AnanyaJha opened #3918 "Feedback for the Salesforce Extensions for VS Code"
Hi everyone!  I recently joined the Salesforce Developer Tooling Product Management team & own the [Salesforce Extensions for VS Code](https://developer.salesforce.com/tools/vscode). We're always looking to hear your feedback about the Salesforce Developer Tools and for this round of user interviews, I want to learn more about your **Org Management experiences** (w sandboxes, scratch orgs etc) whi

[2022-03-15 08:00] AnanyaJha commented on #1710
Hi @rclark-provar thanks for sharing this feedback with us a while ago! In this past iteration, we added the [ability to generate `package.xml` manifest file](https://developer.salesforce.com/tools/vscode/en/user-guide/development-models) automatically and we'll continue to make improvements around this experience of interacting with the metadata in your org.
 As part of this work, I'd like to und

[2022-03-15 13:45] PiyushSewlia commented on #3901
@randi274 Thank you

[2022-03-15 14:13] eburtness commented on #3897
Looks good! Thanks!

[2022-03-15 14:56] mohanraj-r commented on #3893
@ymdymdymd Is this question related to https://github.com/microsoft/vscode-languageserver-node/issues/907?

[2022-03-15 15:04] mohanraj-r commented on #3111
@pooja-kudale @Shababsoft This issue should be fixed now. If not please re-open the issue with details.

[2022-03-15 19:22] mohanraj-r commented on #3893
@ymdymdymd The Language server communication is localhost. There shouldn't be any ports that you need to whitelist. If you find any functionality lacking or run into any issues, please provide details.

[2022-03-15 19:22] #3893 closed

[2022-03-15 21:16] #2307 closed

[2022-03-15 22:06] ajfm-forte commented on #2800
same issue... any fix or something?

[2022-03-15 22:44] RitamAgrawal commented on #3889
@mohanraj-r This isn't related to #3806. In OB we call metadata API to list all metadataTypes. @remifoyard What all Standard Value Set do you expect to be listed here?

[2022-03-15 23:40] mohanraj-r commented on #3889
Thanks @RitamAgrawal
@remifoyard Can you also post output of the equivalent sfdx cli command (that Ritam pointed to me) to rule out permission issues etc

`sfdx force:mdapi:listmetadata --json -m  StandardValueSet --folder ${folder} -u ${username}`

[2022-03-16 01:45] ymdymdymd commented on #3893
thank you.

[2022-03-16 07:33] Sourabh42 opened #3924 "Showing this error when i open the html file"
![image](https://user-images.githubusercontent.com/41413465/158539063-c61b4472-e9d4-4ca0-86e0-59c0859261a2.png)

[2022-03-16 14:48] Bgallahue opened #3929 "Request textDocument/hover failed error from LWC Language Server in VSCode"
### Summary

Persistent errors in VSCode coming from the LWC Language Server

[code]

this is occurring for myself on two different computers in two different projects.

I am also gettting
[code]
in another project from the LWC Language Server

### Steps To Reproduce:

1.  Open a LWC component in VSCode (does not need forEach method)
2.  Error pops up in Output section of VSCode: "Request textDocu

[2022-03-16 19:34] #3894 closed

[2022-03-16 19:34] #3862 closed

[2022-03-16 21:02] randi274 commented on #3924
Thanks for reporting this! It looks to be a duplicate of #3929; so closing this one as we track changes on that ticket.

[2022-03-16 21:02] #3924 closed

[2022-03-16 21:45] #3833 closed

[2022-03-16 22:07] randi274 opened #3933 "feat: allow individual field retrieval from Org Browser"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to retrieve individual fields from a given object using the Org Browser tab.

**Describe the solution you'd like**
I'd like to see an individual download option like we use from our other great folder-supported metadata, like Email Templates:
![Screen Shot 2022-03-16 at 4 35 00 PM](https://user-images.githubuser

[2022-03-16 22:08] iamricardo commented on #940
I have it installed locally and am running into the same problem, the document link on how to set it up also returns a 404

[2022-03-17 00:48] oalexandrino commented on #785
It appears to not be fixed.

I am still getting this issue

`force-app/main/default/standardValueSets/ContractStatus.standardValueSet-meta.xml  field integrity exception: unknown (invalid value)`

to solve? I had to delete manually some picklist items before deploying...

[2022-03-18 05:51] mallik-svmx commented on #3929
I see the issue on my vscode, and its very annoying.

[2022-03-18 20:32] jag-sfdc commented on #938
We have made several improvements to the extension since this issue was created. Please reopen if you still have this issue.

[2022-03-18 20:32] #938 closed

[2022-03-18 20:34] jag-sfdc commented on #932
We have made several improvements to the extension since this issue was created. Please reopen if you still have this issue.

[2022-03-18 20:34] #932 closed

[2022-03-19 03:13] mohanraj-r commented on #3828
@sbudhirajadoc Ran a link checker on the live site https://developer.salesforce.com/tools/vscode instead of the docs md files which resulted in false positives before. Here is the list of broken URLs

|url                                                                                                   |status|state |parent

[2022-03-19 22:39] TylerTwoForks commented on #2856
I'm experiencing this as well.  I just get "no results".  I came across the error in the exact same way as OP.  I was doing the trailhead and working on "Fixing HTML Template Errors" when I realized this.

@lcampos - any word on this one?

![image](https://user-images.githubusercontent.com/55149497/159140747-f0a50eaf-d6f5-4909-9efd-a3929be70300.png)

[2022-03-20 15:15] hreethwan opened #3940 "SFDX unable to retrieve metadata from org using package xml"
### Summary

Hi team, I faced this issue a couple of times already and no idea have to work around this. I was attempting to retrieve the metadata from my sandbox through the sfdx command and via the "SFDX: Retrieve Source in Manifest from Org" option found when you right-click the package.xml file. I wasn't to able retrieve it either way, so I am stuck. When I did run the sfdx command through the

[2022-03-21 17:25] jhernandezme commented on #3929
Same here, i was actually looking for a solution but it seems like it's not only me.

[2022-03-21 19:03] nicholasglesmann commented on #3929
I'm also seeing this issue. It only started when I upgraded VSCode to version 1.65.2.

Additional info:

Salesforce Extension Version in VS Code: v54.5.0

SFDX CLI Version: sfdx-cli/7.137.1 win32-x64 node-v16.13.2

OS: Windows 10

[2022-03-21 21:48] #3898 closed

[2022-03-21 21:58] mkieczko96 opened #3943 "Detect conflicts on deploy for LWC"
**Is your feature request related to a problem? Please describe.**
With `check for conflicts on deploy or push` setting enabled, when I try to deploy any LWC, it gets deployed without prompting about possible conflicts, even if there are some.

**Describe the solution you'd like**
I would like to get similar notification as when I try to deploy conflicting Apex class.

[2022-03-21 22:39] lcampos commented on #2856
Hi @TylerTwoForks , I'm no longer at Salesforce or helping maintain this project. However, @AnanyaJha and the team can help out with this.

[2022-03-22 07:52] NishadPatne opened #3944 "Salesforce Integrations not working"
Issue Type: <b>Feature Request</b>

Salesforce Integrations are not working as expected. Not able to fetch/retrieve/ delpoy code to the org from VS code.

Extension version: 54.5.0
VS Code version: Code 1.65.2 (c722ca6c7eed3d7987c0d5c3df5c45f6b15e77d1, 2022-03-10T14:33:55.248Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

[2022-03-22 12:26] Himanshu-karnwal commented on #3929
I'm also facing the same issue. is there any update on this?
![image](https://user-images.githubusercontent.com/23718442/159481392-04be1a0a-175a-4620-af0b-86c7e008e533.png)

[2022-03-22 14:57] TylerTwoForks commented on #2856
@randi274 - I'm currently using (v54.5.0 - March 14, 2022) of the Salesforce Extension Pack
I've also tried Salesforce Extension Pack (Expanded) - but this does not have a version number in the Marketplace.

[2022-03-22 15:26] randi274 commented on #2856
@TylerTwoForks do you see any information on the tags when you hover over them, or are you able to use the Go to Definition functionality on an attribute in the html (cmd + click on a Mac)? If not, can you check that the setting `Activation Mode` under 'Salesforce Lightning' is set to Autodetect or Always?

For reference, this is what I'm currently seeing for completion on the latest version of th

[2022-03-22 15:57] TylerTwoForks commented on #2856
I have partially resolved the issue.
If the {} already exist and  you try to hit ctrl+space > I get the "no suggestions"  problem.
But if I put in fresh {}  and don't click outside of them, I get the proper intellisense auto complete.  But if I don't select it at that time, click out, and click back into the {}, I get the "no suggestions".

![image](https://user-images.githubusercontent.com/551494

[2022-03-22 16:16] randi274 commented on #2856
We do have an output tab for 'LWC Language Server' that we'd usually hope to see in that list, and since the ctrl + click isn't working, it sounds like the server is not firing up correctly. I'm looking for a way to manually check for the server; absent that, we'd recommend a fresh install of the extensions and a reboot of VS Code.

[2022-03-22 16:23] randi274 commented on #2856
Ah, yes! That is working as expected; we could do a better job with documenting that functionality. The opening of the curly brace is actually what triggers the autocompletion, and I don't believe the ctrl + click works currently.

[2022-03-22 17:35] balderm commented on #3929
Have been getting this issue myself for the past week.

SFDX Version: sfdx-cli/7.142.1 win32-x64 node-v17.1.0
LWC Extension version: 54.5.0

VSCode Version:  1.65.2 (user setup)
Commit: c722ca6c7eed3d7987c0d5c3df5c45f6b15e77d1
Date: 2022-03-10T14:33:55.248Z
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.22000

![Screenshot 2022-03-22 183

[2022-03-22 18:48] timothywlewis commented on #1578
Just wanted to chip in my two cents: even when adding `jsconfig.json` to `.gitignore`, this leads to local deployment script failures (where one step is `sfdx force:source:convert ...`) such as: `force:source:convert:  Unexpected file found in package directory: ..../lwc/jsconfig.json`

I'm new to LWC and this VS Code creating `jsconfig.json` behavior - does manually creating a `jsconfig.json` in

[2022-03-22 19:54] benji1304 commented on #2165
@lukethacoder did you ever get to the bottom of your issue? I'm seeing exactly the same behaviour.

My personal Windows PC
* Autocomplete works for Apex class files
* Autocomplete does not work for Apex trigger files

My work mac
* Autocomplete works for both

I'm in the process of completely removing AdoptOpenJK and reinstalling from fresh to see if that makes any difference.

I'll also try cloni

[2022-03-22 21:04] benji1304 commented on #2165
I've wiped and reinstalled AdoptOpenJDK,

_New_ triggers are autocompleting, but existing triggers in my project are not.

[2022-03-22 21:07] randi274 commented on #2165
Was about to comment that new triggers are working for me as well! That is really strange that old ones are not.

[2022-03-22 21:43] benji1304 commented on #2165
Yup, exactly what i'm seeing. Nothing obvious in the Apex Language Server log either

This is my existing trigger

[code]

This is my new trigger
[code]

[2022-03-22 21:51] randi274 commented on #2165
Is the content of the triggers identical? Are they both using the same API version?

[2022-03-22 21:56] peternoges commented on #2165
Does the ‘refresh object definitions’ somehow solve your issue? Its been
deemed to solve some autocomplete issues in the past, but I have no idea if
it will help in your case with the trigger/apex. Thought I’d ask because i
dont see mention of that factor here.

On Tue, Mar 22, 2022 at 2:51 PM Randi Wilson ***@***.***>
wrote:

--
Sent from Gmail Mobile

[2022-03-22 21:57] benji1304 commented on #2165
Nope. I'll try this.

Both in the same project - so yes?

[2022-03-22 22:17] benji1304 commented on #2165
Did some testing from the suggestion from @randi274

It looks like a scoping problem (forgive me if i use the wrong terminology, i'm still learning some of this! 😄 )

[code]

![image](https://user-images.githubusercontent.com/7213889/159585417-307edb76-64c4-452c-b063-79130ec9dee9.png)

If I try to complete `this` then I get `thisIsFalse`, but not `thisIsTrue`

[2022-03-22 22:49] #3889 closed

[2022-03-23 10:58] tprouvot commented on #3611
Hi,
The issue is solved with version 7.142.1 !
Thanks for your help

[2022-03-23 10:58] #3611 closed

[2022-03-23 17:10] gbockus-sf commented on #3638
closing in favor of #3198

[2022-03-23 17:10] #3638 closed

[2022-03-24 09:29] jorgesolebur commented on #3816
I am having the same issue !

[2022-03-24 11:18] tprouvot opened #3948 "Add cobertura report format for force:apex:test:report command"

[2022-03-24 15:47] randi274 commented on #3943
Hi @mkieczko96 can you provide us some steps to reproduce the issue you're facing?

[2022-03-24 17:09] randi274 commented on #3804
Version 17 is now supported 🎉

[2022-03-24 17:09] #3804 closed

[2022-03-24 17:09] randi274 commented on #3777
lightning-language-server is now debuggable!

[2022-03-24 17:09] #3777 closed

[2022-03-24 17:16] randi274 commented on #3554
@floralan heads up on connecting your WIP to this issue!

[2022-03-24 17:28] #3448 closed

[2022-03-24 18:44] mohanraj-r commented on #3828
@randi274 @sbudhirajadoc #3939 fixed couple of broken links but there are still more to be fixed (that were broken before my changes).

[code]

|url                                                                                                   |status|state |parent                                                                           |failureDetails|
|---------------------------------------

[2022-03-24 20:24] randi274 commented on #3702
This has been fixed with the latest release of the extensions, 54.6.1 - let us know if you encounter any additional issues!

[2022-03-24 20:24] #3702 closed

[2022-03-24 20:32] randi274 commented on #3806
This has now been delivered with the latest version of the extensions (v54.6.1), with the exception of custom fields. We're tracking that separately with #2711, so we'll close this one for now.

[2022-03-24 20:32] #3806 closed

[2022-03-24 20:43] randi274 commented on #3693
I don't believe this was in the scope of the original add-on for functions, but is something we should consider adding going forward.

[2022-03-24 20:50] randi274 commented on #3745
@pierrepost are you still facing this issue? If so, I wanted to ask what error you get when you run `sfdx force:org:display -u xxx@yyy`, as I believe we're calling out to the CLI to get this information.

[2022-03-25 00:00] yusuframadhan26 opened #3952 "Error: aborted at connResetException"
Hi there,
I got this errror:

(node:internal/errors:691:14) at TLSSocket.socketCloseListener (node:_http_client:402:19) at TLSSocket.emit (node:events:532:35) at node:net:687:12 at TCP.done (node:_tls_wrap:580:7) { code: 'ECONNRESET' }

![image](https://user-images.githubusercontent.com/45062544/160029018-5ca31b3e-bb5d-4dfa-af01-f6771f1da54a.png)

[2022-03-25 12:46] Schuchie opened #3953 "SFDX Extension is not working for Scratch Orgs"
### Summary

I only can use this extension for Sandboxes. When I'm switching to an existing Scratch Org. Im not able to push/pull/depoy/retrieve any source via the context menu.

It all works for Sandboxes. I also switched between multiple Scratch Orgs (also different from Different Dev Hubs). It looks like all Scratch Orgs are affected:

Connected to a sandbox:
<img width="441" alt="image" src="h

[2022-03-25 12:51] Schuchie commented on #3953
Found a closed issue without any workaround or bugfix from your site: https://github.com/forcedotcom/salesforcedx-vscode/issues/3558

[2022-03-25 18:59] soql101 commented on #3929
Getting above error since 2 days
1. SFDX cli version:
sfdx-cli/7.142.1 win32-x64 node-v16.14.0

2. Installed extension in vs code:

-   dbaeumer.vscode-eslint@2.2.2
-   eamodio.gitlens@12.0.5
-   esbenp.prettier-vscode@9.3.0
-   FinancialForce.lana@1.4.2
-   redhat.vscode-xml@0.19.1
-   redhat.vscode-yaml@1.5.1
-   salesforce.salesforce-vscode-slds@1.4.8
-   salesforce.salesforcedx-vscode@54.6.1
-

[2022-03-25 19:42] gbockus-sf commented on #3693
Associated Work Item: [W-10738230](https://gus.lightning.force.com/a07EE00000rEzczYAC)

[2022-03-25 20:18] gbockus-sf commented on #3733
Feature request tracked in #3877

[2022-03-25 20:18] #3733 closed

[2022-03-25 20:18] gbockus-sf commented on #2650
Feature request tracked in https://github.com/forcedotcom/salesforcedx-vscode/discussions/3877

[2022-03-25 20:18] #2650 closed

[2022-03-28 08:02] benji1304 commented on #1576
I've also seen this, and I've set this in the project-scratch-def.json
[code]
But I get the message constantly
`No code coverage information was found for this file. Set "salesforcedx-vscode-core.retrieve-test-code-coverage": true in your user or workspace settings. Then, run Apex tests that include methods in this file. You can run tests from the Apex Tests sidebar or using the Run Tests or Run A

[2022-03-28 11:51] jorgemontalvao commented on #3806
@randi274 @AnanyaJha @ronika-das
It works perfectly now! Thank you very much for all your effort here!

[2022-03-28 17:07] AnanyaJha commented on #3806
No problem, hope you enjoy using the Extensions! Feel free to leave a review or rating here - https://marketplace.visualstudio.com/items?itemName=salesforce.salesforcedx-vscode&ssr=false#review-details

[2022-03-28 20:13] romuloroc opened #3981 "Error: The local development server was not able to start."
Issue Type: <b>Feature Request</b>

Error: The local development server was not able to start.

Extension version: 54.6.1
VS Code version: Code 1.65.2 (c722ca6c7eed3d7987c0d5c3df5c45f6b15e77d1, 2022-03-10T14:33:55.248Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

[2022-03-29 18:50] randi274 opened #3983 "Unexpected error message when cancelling out of create LWC test command"
### Summary

I exited out of the create LWC test command early and got the error "Command 'SFDX: Create Lightning Web Component Test' resulted in an error (The "path" argument must be of type string. Received undefined)"

### Steps To Reproduce:

1. Run the command `SFDX: Create Lightning Web Component Test`
1. Select desired directory
1. Click out of the dropdown before selecting a component
1. E

[2022-03-30 18:21] biswajit-salesforce opened #3988 "Deployment Error For Lightning Web Components"
While deploying of the LWC component via User interface using "mouse Right Click -> SFDX: Deploy this source to org", facing the error "duplicate value found: <unknown> duplicates value on record with id: <unknown>
              Cannot find Lightning Component Bundle StandardRequestFlow.
              Cannot find Lightning Component Bundle StandardRequestFlow.",
 if the LWC's Javascript ".js" file

[2022-03-30 19:31] floralan opened #3989 "Clicking ctrl+space within curly brackets from HTML file should not trigger a different autocomplete list"
**Describe the bug**
We currently have a autocomplete list when trigger {} in HTML file (see the PR here https://github.com/forcedotcom/lightning-language-server/pull/487). Clicking ctrl+space within {} in HTML file triggers a different autocomplete list. We want to disable this different autocomplete list within {}.

**To Reproduce**
Steps to reproduce the behavior:
1, Go to any HTML file in a SF

[2022-03-30 19:45] CanYavuzkurtOSF opened #3990 "VSCode problems tab doesnt redirect to error line when clicked for deploy errors"
### Summary

Apex File deploys with errors creates Problems in Problems tab in VSCode. But when I click the individual problems it shows 'Unable to open file' error.

### Steps To Reproduce:

1.  Create an Apex class that will show an error when trying to deploy to org
1.  Deploy the file

### Expected result

Errors should be shown on Problems tab and should redirect to the error line when clicke

[2022-03-31 07:05] StasD opened #3991 "Login interference"
I have two projects, each logs in to different org (or, rather, one logs in to production org, another to one of its sandboxes). Both orgs use the  same username (email address). But in your login process, all the settings are linked to username (email address). So I need to re-login ("Authorize an Org") every time when I switch between projects, and also cannot run two projects at the same time.

[2022-03-31 13:51] gdoenlen commented on #2084
Hello again, it's only been 2 years. Here's another user having trouble with this:

![jvm](https://user-images.githubusercontent.com/17297466/161071215-9267c2a0-c492-450a-809d-cc3fd645cd94.png)

[2022-03-31 17:35] #3874 closed

[2022-03-31 21:01] floralan commented on #3313
Hi @Razlond-dev, we updated our autocompletion for HTML here in [this PR](https://github.com/forcedotcom/lightning-language-server/pull/487). You should see the autocompletion list of JS properties or methods when you type {} in HTML file.

[2022-04-01 14:34] shubhamOpt opened #3994 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `54.6.1`
- OS Version: `Darwin x64 20.1.0`
- VS Code version: `1.66.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`file:///var/folders/mg/7s00171j5v33tct155rtpdjw0000gn/T/salesforce.salesforcedx-vscode-apex-unresponsive.cpuprofile.txt`

Find more details here: https:

[2022-04-01 16:25] randi274 commented on #1420
Confirmed that this is still an issue with salesforcedx-vscode-apex.enable-semantic-errors set to true, and matches W-6266706.

[2022-04-01 16:34] gbockus-sf commented on #3873
Verified this is still an issue.  Associated work Item W-10737950.  Closing W-10934563 as a dupe that was created when I added the bug label.

[2022-04-01 16:36] floralan commented on #3634
@JSaterdalen We're still working on fixing this issue, please stay tuned.

[2022-04-01 16:40] randi274 commented on #1891
@DJudin are you still facing this error regularly? We did make some performance updates last year, and hopefully this has resolved itself.

[2022-04-01 16:42] jag-sfdc commented on #3994
Duplicate https://github.com/forcedotcom/salesforcedx-vscode/issues/3198

[2022-04-01 16:42] #3994 closed

[2022-04-01 16:45] DJudin commented on #1891
No, didn't notice this error approximately since last summer. I regularly
did all vscode and extension updates,  installed Windows 11 as well.

пт, 1 апр. 2022 г., 19:41 Randi Wilson ***@***.***>:

[2022-04-01 16:45] gbockus-sf commented on #3677
This issue was fixed by W-10257676 / https://github.com/forcedotcom/salesforcedx-vscode/pull/3802

[2022-04-01 16:45] #3677 closed

[2022-04-01 16:46] randi274 commented on #1496
Hi @gtiancai are you still encountering the issue with the replay debugger in sandboxes?

[2022-04-01 16:52] floralan commented on #3522
@darioms21 This issue has been resolved here [#3556](https://github.com/forcedotcom/salesforcedx-vscode/pull/3556). Could you verify it has been fixed in our latest release?

[2022-04-01 16:56] jeffb-sfdc commented on #2375
This is a duplicate of https://github.com/forcedotcom/lightning-language-server/issues/446

[2022-04-01 16:56] mohanraj-r commented on #1576
@benji1304 This is a currently a known limitation of apex compiler where code coverage cannot be calculated when tests are run in parallel (W-5251436). Unfortunately the workaround is to run the Apex test classes serially (without parallelism).

Ref:
* [Execute Apex Tests](https://help.salesforce.com/s/articleView?id=sf.code_test_execution.htm&type=5)

[2022-04-01 16:58] gbockus-sf commented on #3619
@bdovh This has been fixed in the CLI so you should be good to go if you update to the latest cli.  Thanks!

[2022-04-01 16:58] AnanyaJha opened #3995 "Announcement: GitHub Issue Blitz"
Hello salesforcedx community! Our team is currently reviewing our open issues and will be updating, closing, and triaging them. If you have any more information on any of your open issues, please let us know - it will help us address your problems faster. Otherwise feel free to ignore the flurry of notifications :)

[2022-04-01 17:01] alexey-holovko-synebo-io commented on #3990
Have same issue on macOS

[2022-04-01 17:02] jeffb-sfdc commented on #3503
This is a duplicate of https://github.com/forcedotcom/lightning-language-server/issues/446

[2022-04-01 17:04] #1491 closed

[2022-04-01 17:13] jeffb-sfdc commented on #2375
@molsi01 I attempted to reproduce this but wasn't able to. Here's what I did: I created a LWC class and in the JS file added:
[code]

...and in the HTML file I added:
[code]

I then saved (using CMD-S) but I didn't get any errors.

Are you still able to reproduce this? If so, are there different steps needed to reproduce this?

[2022-04-01 17:24] randi274 commented on #3768
Thanks for the feedback - we're also tracking this on #1835, so I'm going to close this one to keep the conversation there.

[2022-04-01 17:24] #3768 closed

[2022-04-01 17:25] gbockus-sf commented on #993
Was able to reproduce this issue.  I'm going to remove the bug label and add it back so we get a tracking Work item.

[2022-04-01 17:32] randi274 commented on #3482
Hi @apsoftwaredev were you able to use the deploy on save feature again? We have now added a flag for `push-or-deploy-on-save` so you can safely use the extensions without needing to uninstall the whole product to save safely!

[2022-04-01 17:34] jeffb-sfdc commented on #1988
I'm still able to reproduce this.

[2022-04-01 17:39] gbockus-sf commented on #1417
Updated this issue to be an enhancement as it's been working this way for a long time.

[2022-04-01 17:39] randi274 commented on #3211
Hi @GitUsername0923, I'm seeing issues with the dashes, is this the same issue that you're facing?
<img width="315" alt="Screen Shot 2022-04-01 at 10 38 51 AM" src="https://user-images.githubusercontent.com/9795193/161314379-87e4f08f-cf2c-46ed-b0db-ecf8d1a7f841.png">

[2022-04-01 17:41] randi274 commented on #3405
Hi @jarodwsams, was this issue safely resolved for you?

[2022-04-01 17:41] mohanraj-r commented on #2282
@coolsai81 The conflict detection mechanism has been improved recently. Can you please check if this issue is still reproducible and reopen the issue if it does.

[2022-04-01 17:41] #2282 closed

[2022-04-01 17:43] RitamAgrawal commented on #2047
@ScubaJimmE Please verify if it has been fixed for you in the latest release. With our V54.6.0 components within folders are retrieved individually by clicking on 'retrieve source from org' icon. Here is the PR https://github.com/forcedotcom/salesforcedx-vscode/pull/3892

[2022-04-01 17:43] jeffb-sfdc commented on #3902
We recently released a fix for this.  If you still run into this, please feel free to reopen this ticket.

[2022-04-01 17:43] #3902 closed

[2022-04-01 17:45] mohanraj-r commented on #3461
@FatalError402 This issue is being tracked in #3198

[2022-04-01 17:45] #3461 closed

[2022-04-01 17:46] mohanraj-r commented on #2579
@rajthun This issue is being tracked in https://github.com/forcedotcom/salesforcedx-vscode/issues/3198

[2022-04-01 17:46] #2579 closed

[2022-04-01 17:49] RitamAgrawal commented on #1438
@ntotten Can you please verify if this issue still exists for you?

[2022-04-01 18:01] jeffb-sfdc commented on #2231
I am still able to reproduce this.  This issue may be due to an issue with VS Code: https://github.com/microsoft/vscode/issues/141190#issuecomment-1020883350

[2022-04-01 18:02] #3522 closed

[2022-04-01 18:07] randi274 commented on #2599
Hi @codefriar - thanks for reporting this! After running a quick test with the code you provided, it appears this issue has now been resolved (only 1.5 years too late!). Are you still finding this to be a problem?
<img width="1041" alt="Screen Shot 2022-04-01 at 11 06 56 AM" src="https://user-images.githubusercontent.com/9795193/161318428-ea30ee28-5a02-47a1-93fb-8a5b1bf22727.png">

[2022-04-01 18:08] gbockus-sf commented on #1874
@rahulmalhotra could you verify this is still an issue for you on the latest version?  Thanks!

[2022-04-01 18:08] #3055 closed

[2022-04-01 18:13] floralan commented on #3462
@sfarhatSFDC I have this serviceNotAvailable.json file in [Ebike](https://github.com/trailheadapps/ebikes-lwc) project as well  , but I can't find the api version in it. Could you provide more information about how the file looks like? I can't reproduce your issue with version 54.0. Or could you try to update your API to the newest version to see if it fix this issue.

[2022-04-01 18:14] #3313 closed

[2022-04-01 18:15] mohanraj-r commented on #2340
We have this to our backlog and will prioritize it as possible. Currently we don't have any updates on when it will be available. Sorry about that.

[2022-04-01 18:16] jeffb-sfdc commented on #3339
I wasn't able to reproduce this issue.  @rahulgawale if you are still able to reproduce this, please re-open this ticket, and describe the steps you are taking to reproduce this issue.

[2022-04-01 18:16] #3339 closed

[2022-04-01 18:17] floralan commented on #3404
@savage25 Hi, we have fixed this issue here [#3376](https://github.com/forcedotcom/salesforcedx-vscode/pull/3376). Please check out our latest version and open an issue if you still have questions.

[2022-04-01 18:18] randi274 commented on #1331
Hi @sc5148 - thanks for tracking these! We've added a new setting to limit the noise from these issues, with `enable-semantic-errors`, so do feel free to keep that off it's too much of an issue.

For issue 1, we're tracking that separately with #1420. I haven't had a chance to go through the full list yet, but as you find new issues we now prefer to track them separately where possible so that we

[2022-04-01 18:18] mohanraj-r commented on #2134
I am able to reproduce this with v54.6.1
![image](https://user-images.githubusercontent.com/1509984/161319883-933d2adf-0e94-4e15-aad5-f0f099407d89.png)

Seems also related to https://github.com/forcedotcom/salesforcedx-vscode/issues/967

[2022-04-01 18:20] #3404 closed

[2022-04-01 18:21] AnanyaJha commented on #3696
Hi @joshwlewis - we've added support for `SFDX: Start Function` in the containerless version. Please let us know if you see otherwise.

[2022-04-01 18:21] #3696 closed

[2022-04-01 18:22] RitamAgrawal commented on #680
We have made significant changes in deploy/retrieve area since the issue has been opened. Feel free to open an issue if you find any with our latest release.

[2022-04-01 18:22] #680 closed

[2022-04-01 18:23] randi274 commented on #2659
Hi @Confirm4Crit - we're going through our backlog, and wanted to check in on this. Is it still a reproducible issue for you?

[2022-04-01 18:24] mohanraj-r commented on #2154
@mscholl67 Can you please check if you are able to reproduce this issue with the latest version of the extensions and the trailhead content. Are the reported issues causing any problems at runtime or with tests? If the problems please reopen the issue.

[2022-04-01 18:24] #2154 closed

[2022-04-01 18:24] Confirm4Crit commented on #2659
I'm no longer at the organization it was occurring at. So technically, no~.

[2022-04-01 18:25] jarodwsams commented on #3405
It was. It ended up being an issue with having a space in the name of the user folder that was part of the path. Moving everything to a location that did not have any spaces in the path resolved the issue.

It seems like everything should be capable of handling a space in a path, but I'm not sure if that would be a different issue ticket or not.

[2022-04-01 18:44] klewis-sfdc commented on #1660
Hello @TTompkins22 - We are triaging old issues and have made some improvements to deploy and retrieve workflows since this issue was opened.  Please let us know if the [Org Browser](https://developer.salesforce.com/tools/vscode/en/user-guide/org-browser) feature has not resolved this issue for your workflows.  Thank you.

[2022-04-01 18:47] jeffb-sfdc commented on #1265
@scromiecaremore I'm not able to reproduce the issue you described.  Are you still able to reproduce this?

If you are still able to reproduce this, could you describe the repro steps again, and add any missing details?  For example, for step 2 ("Open a non-sfdc project folder"), in my project's directory I created `/non-proj` and then created `/non-proj/test.js`, and then used this for my JS file

[2022-04-01 18:48] floralan commented on #3236
@jasonmatos We have fixed this issue in here [#413](https://github.com/forcedotcom/source-deploy-retrieve/pull/413). Please check out our latest version and you can always open a new issue if you have more questions.

[2022-04-01 18:48] #3236 closed

[2022-04-01 18:50] gbockus-sf commented on #2346
@vishnusundar2607 I just attempted to reproduce this issue and was unable to encounter the problem. Mine stepped into the class under test and navigated through the code. We've made some major enhancements to the replay debugger recently.  Could you verify this is still an issue for you?

[2022-04-01 18:51] mohanraj-r commented on #3775
This issue will be tracked in https://github.com/forcedotcom/salesforcedx-vscode/issues/3198

[2022-04-01 18:51] #3775 closed

[2022-04-01 18:52] floralan commented on #3187
According to the previous discussions, this issue has been resolved.

[2022-04-01 18:53] klewis-sfdc commented on #1000
Hi @pratima320 - we have made improvements to the extensions since this issue was opened, and I am unable to reproduce currently.  If you are still seeing the same issue please feel free to reopen.  Thank you.

[2022-04-01 18:53] #1000 closed

[2022-04-01 18:54] #3187 closed

[2022-04-01 18:56] mohanraj-r commented on #2082
@mtagler-relativity The issue is puzzling and unique. We are not sure what could be causing this issue as mentioned earlier  in this issue we don't customize/interact with VSCode's search feature. Is there anything specific about your project size, number of files, size of files etc that could be causing this issue with the extensions? Can you please check if the issue still exists with the latest

[2022-04-01 18:56] #2082 closed

[2022-04-01 18:59] gbockus-sf commented on #3267
Hi @smudivartysitetracker Sorry for the run around on this issue.  In the last few releases we've done a lot of work to make the replay debugger configuration and use simpler.  Just wanted to verify you are still see this.  If it is still an issue could you send you latest SFDX, VSCode, and OS info (or update the description).  Thanks!

[2022-04-01 18:59] floralan commented on #2987
@sfsholden We have removed the Experimental: Deploy Retrieve flag. Please checkout our newest version to find the new Deploy/Retrieve command.

[2022-04-01 18:59] #2987 closed

[2022-04-01 19:00] klewis-sfdc commented on #1930
Hi @saibimajdi, a number of improvements have been made to the VS Code Extensions and the CLI since this issue was opened.  If you are still seeing this issue, please let us know here.  Thank you.

[2022-04-01 19:04] mohanraj-r commented on #1576
@benji1304 @cleverlemming Sorry I misread the issue. Yes the apex compiler is not expected to produce code coverage by design when tests are run in parallel. But the extensions can do a better job of being aware of and handling that scenario. We have added this to our backlog.

[2022-04-01 19:10] klewis-sfdc commented on #1714
Hi @NuAgeDan, thank you for creating the issue.  A number of improvements have been made to the Extensions since this issue was created. Please let us know if this is still an issue for you and we will review.  Thank you.

[2022-04-01 19:14] floralan commented on #3750
@cgb-76 We has requested a doc change to Sandbox Doc team to clarify this issue in W-10935487.

[2022-04-01 19:16] mohanraj-r commented on #2490
@khjuan This issue is now fixed. I tried (with v54.6.1) SFDX: Refresh SObject Definitions and verified that Event.cls is created under .sfdx/tools/sobjects/standardObjects folder.

[2022-04-01 19:16] #2490 closed

[2022-04-01 19:18] floralan commented on #2730
@cgb-76 We removed Experimental Deploy/Retrieve flag in setting, please checkout out our new deploy/retrieve commands that should fix this issue.

[2022-04-01 19:18] #2730 closed

[2022-04-01 19:23] floralan commented on #2646
@gtiancai  Work item @W-8271243@ had been created for this issue. We will work on the fix shortly and please stay tuned.

[2022-04-01 19:36] floralan commented on #2341
@adityababbar This issue has been resolved in our latest version of extensions. I'm closing this issue and please open new issue if you have more questions.

[2022-04-01 19:36] #2341 closed

[2022-04-01 19:38] floralan commented on #2101
@sardeie We have resolved this issue in @W-7387554. You can open a new issue if you have more questions.

[2022-04-01 19:38] #2101 closed

[2022-04-01 19:46] floralan commented on #1674
@jeffhube  please looked in to the previous comment and discussion there may help you. This issue was linked to Work Item @W-6208564, after a series of investigation, we decided to close this because of security concerns.

[2022-04-01 19:46] #1674 closed

[2022-04-01 19:47] jeffb-sfdc commented on #1766
@Shababsoft this looks to be a duplicate of https://github.com/forcedotcom/salesforcedx-vscode/issues/2624, which has been fixed.  I'm going to close this ticket.  If this issue still happens, please reopen this ticket, and let us know what repro steps you are performing.

[2022-04-01 19:47] #1766 closed

[2022-04-01 19:50] mohanraj-r commented on #2256
@ravibarnwal We are now using a different mechanism to deploy the source that doesn't spin up a node process. Can you please check with the latest version of the extensions and reopen this issue if it still exists.

[2022-04-01 19:50] #2256 closed

[2022-04-01 19:51] mohanraj-r commented on #737
@generalmad This issue should be fixed now. Can you please check with the latest version of the extension.

[2022-04-01 19:53] jeffb-sfdc commented on #1356
The associated work item is W-6161498

[2022-04-01 19:53] jag-sfdc commented on #2095
@ericmiller-toast - We have made several performance improvements recently to address Apex autocomplete performance issues. We are working on more improvements in the coming releases. Please let us know if you are still seeing this issue. Thanks!

[2022-04-01 19:54] mohanraj-r commented on #2187
@lkv123 This could be related to https://github.com/forcedotcom/salesforcedx-vscode/issues/1874
Can you please try this with the latest version and without any spaces in the dir path. Please reopen the issue if it still exists.

[2022-04-01 19:54] #2187 closed

[2022-04-01 19:58] floralan commented on #1625
@AndrewRayCode Hi, please check out our new Deploy/Retrieve commands. It should resolve this issue.

[2022-04-01 19:58] #1625 closed

[2022-04-01 20:05] jeffb-sfdc commented on #1363
The associated WI is W-6176742.

[2022-04-01 20:05] jeffb-sfdc commented on #1363
@ntotten FWIW, we also support Java 17.

[2022-04-01 20:06] jag-sfdc commented on #1421
@camisotro - We have made several improvements to how we generate the cls files. Do you still see this issue?

[2022-04-01 20:07] floralan commented on #1529
@troveryor Our extension packages have changed a lot since 2019, we no longer use CLI command to do Deploy/Retrieve. Please try to use Deploy/Retrieve commands our latest extension version and it should resolve this issue.

[2022-04-01 20:07] #1529 closed

[2022-04-01 20:12] RitamAgrawal commented on #3831
Duplicate of #3198

[2022-04-01 20:12] #3831 closed

[2022-04-01 20:17] floralan commented on #753
@taalgaard @Radhikaba Could you please check out our latest version of extensions since Deploy/Retrieve commands have changed a lot. We may already solve this issue in the previous implementations.

[2022-04-01 20:20] jeffb-sfdc commented on #2952
@dschibster we are working at this at the moment.

[2022-04-01 20:20] jag-sfdc commented on #1178
FYI, tracked internally as bug W-5971491.

[2022-04-01 20:25] #3517 closed

[2022-04-01 20:31] jeffb-sfdc commented on #2721
@tgentet-obrien This is an issue with VS Code.  We raised the issue with them but they don't feel it is a bug - https://github.com/microsoft/vscode/issues/141190#issuecomment-1020883350

[2022-04-01 20:31] #2721 closed

[2022-04-01 20:32] gbockus-sf commented on #2150
Hi @nchursin Sorry it took so long for you to get a response on your issue.  I posted internally at Salesforce to the apex team requesting a response to your question.  I'll update when I hear back or they will update directly. Please let me know if you go the answer to your question else where.  Thanks!

[2022-04-01 20:42] gbockus-sf commented on #3828
@mohanraj-r Can you call out exactly what remains on this ticket?  is it everything in the above list?  The associated WI has been nevere'd so we're missing some context on this issue : W-10687621.  Should we create a new WI to keep track of this work?

[2022-04-01 20:43] RitamAgrawal commented on #3681
@pierrepost Will you please verify if the issue still exists for you?

[2022-04-01 20:44] jeffb-sfdc commented on #3056
@jardorr I wasn't able to reproduce this.  We've made a number of enhancements to the Org Browser, so I suspect this issue was fixed.  If you are able to reproduce this, please reopen this ticket and let us know what steps you are taking to reproduce it.