[2019-04-17 23:31] kyong-yu commented on #1269
@praksb No, I do not. The same error can be reproduced whenever a method accept a generic sobject or collection of generic sobjects, and concrete object(s) are passed in, and vice versa.

[2019-04-18 04:54] praksb commented on #1269
@kyong-yu Do you get the same semantic error when you do List<Account> lstAcct = lstSObj; ? Also, can you post a screenshot of what happens when you do a GoToDef on Account?

[2019-04-18 05:57] kyong-yu commented on #1269
yes, same semantic error, see below:
![image](https://user-images.githubusercontent.com/45047114/56339620-daadf180-6163-11e9-8973-f41662690723.png)

See below when I "Go to definition" on account:
![image](https://user-images.githubusercontent.com/45047114/56339724-3b3d2e80-6164-11e9-9d21-779b32bddb8f.png)

[2019-04-18 06:03] praksb commented on #1269
@kyong-yu Thanks for the screenshot! I wanted to check what happens when you don't have the explicit cast:

List<Account> lstAcct = lstSObj;

Also, does the error go away if you change "Account" to "Schema.Account" i.e. if you have

List<Schema.Account> lstAccount = (List<Schema.Account>)lstObj

This would help me understand and debug this issue since I am not able to repro this on my end.
Thank y

[2019-04-18 06:12] kyong-yu commented on #1269
@praksb wow, that is so weird..it happens very consistently on my end.
here are some more SS's (without explicit cast):
![image](https://user-images.githubusercontent.com/45047114/56340183-ff0acd80-6165-11e9-8207-a0a42a0e8b74.png)

SS of "List<Schema.Account> lstAccount = (List<Schema.Account>)lstObj" (note, go to definition does not work in this case):
![image](https://user-images.githubuserconte

[2019-04-18 06:21] praksb commented on #1269
@kyong-yu Thanks for the screen shots it is useful in trying to understand the issue. This does look like some weird bug with respect to SObject binding since it doesn't repro for me. I'll debug and see how we could end up in this state.

One more thing in the above screenshot, you said go-to-def on the method didn't work, can you tell if you also changed the parameter type for GotoRepro.test meth

[2019-04-18 06:34] kyong-yu commented on #1269
@praksb no problem, here is the requested SS (go to definition does not work):
![image](https://user-images.githubusercontent.com/45047114/56341233-3a5acb80-6169-11e9-974d-eb8183de59b9.png)

[2019-04-19 08:41] shillem commented on #930
It should was back in February. To date it doesn't. I even forced the `salesforcedx-vscode-apex.java.home` param to take the new JDK but the extension fires the warning (JDK8 required) and no Apex Language Server is started. Am I missing something?

[2019-04-19 16:18] lcampos commented on #1262
Hi @dfully0814 can you confirm that the Apex tests you are running do provide code coverage for the Apex class you are expecting the highlighting to be present ? You can open the Output view after running your test and scroll to the table that shows the results of code coverage per apex class/trigger (sample below).

If the class/trigger is not part of that table it means the test you are running

[2019-04-19 17:06] #1258 closed

[2019-04-19 20:38] seregaone opened #1270 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.10.0`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Сергей\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wi

[2019-04-20 05:32] praksb commented on #1269
@kyong-yu I have a repro now. It is a bug specific to Windows. I have identified the problem and working on a fix. Thanks for filing this!

[2019-04-20 05:36] praksb commented on #1170
@JNiedle I have a repro of this issue. Like you suspected it occurs only on Windows. I have identified the problem and working on a fix.

[2019-04-20 06:02] kyong-yu commented on #1269
Awesome, looking forward to the fix!!

[2019-04-21 16:40] ntotten opened #1271 "Lightning Explorer Should not load on non-lightning/salesforce projects"
### Summary
The lightning explorer tab shows up even on non-lightning projects.

### Steps To Reproduce:

1.  Open any non-salesforce project in vscode
1.  See lightning explorer tab

![image](https://user-images.githubusercontent.com/282782/56472913-6b612780-6419-11e9-92bc-b25ec37edea3.png)

### Expected result

Lightning explorer should detect when the project is a Salesforce project and only lo

[2019-04-22 01:36] JNiedle commented on #1170
@praksb Thanks for following up! Let me know when I can test it!

[2019-04-22 15:15] ChuckJonas opened #1272 "Add target user to command logs"
**Is your feature request related to a problem? Please describe.**
Looking at the `Output` panel for SFDX commands it feels like one very important bit of information is missing: **The user target of the command.**

**Describe the solution you'd like**
It would be helpful if the user / alias the command was executed against was displayed somehow:

I know it's already displayed in the status bar of

[2019-04-22 16:56] Alex-Dinu opened #1273 "ERROR running force:project:create: Cannot read property 'create' of undefined"
I'm trying to create an sfdx project using the cli and I get the following error:

C:\Dev\sfdx>sfdx force:project:create --projectname proj1
ERROR running force:project:create:  Cannot read property 'create' of undefined

Also when trying through the command:

Starting SFDX: Create Project

11:53:46.980 sfdx force:project:create --projectname proj2 --outputdir c:\Dev\sfdx
ERROR running force:proje

[2019-04-22 17:23] praksb commented on #1270
@seregaone Can you please share what operation you were performing when you observed the high CPU load?

[2019-04-22 17:23] deeelan commented on #1196
I'm experience the same thing. Do anyone have the voluntee of fixing this? I have this issue almost three months ago. And any thread of this issue dont solve anything or its closed and reference to another thread with no solution. I've been working on Mac OS High Sierra and Windows 10.

My solution is: when the options are displaying in the context menu, not update VSCode. It seems that everytime

[2019-04-22 17:24] deeelan commented on #1196
Personally I think this not should happen, cuz the coding in Salesforce it supossed to b "full-supported" on VSCode

[2019-04-22 17:47] deeelan opened #1274 "Missing Deploy/Retrieve options in context menu"
### Summary

Missing Deploy/Retrieve options in context menu after update of VSCode or create a new Scratch Org from console

### Steps To Reproduce:

1.  Update VSCode

or

1.  Create a new scratch from console

### Expected result

The options Deploy/Retrieve from source should be on the context menu

### Actual result

Dissapear the options on the context menu, Not showing this options

### Add

[2019-04-22 17:59] mtetlow commented on #1267
any tips on debugging this? LWC dev is a lot slower without the language server :)

[2019-04-22 20:20] D99000947 commented on #965
This also occurs with `<lightning:formattedNumber>` when using the "style" attribute such as:

[code]
It reports the following in the problems pane:
[code]

Which in turn causes it to also report an error at the closing `</aura:component>` tag.
[code]

The above errors do not prevent saving the component.

![image](https://user-images.githubusercontent.com/46380294/56526200-03ded100-651a-11e9-8a18

[2019-04-22 22:17] lcampos commented on #809
@awahid-bic we haven't made any recent changes to how test run. Can you verify that your vscode is still using Java 8 ? If it's not then here's the link with the instructions for setting it up https://forcedotcom.github.io/salesforcedx-vscode/articles/troubleshooting#set-your-java-version

[2019-04-23 05:57] praksb commented on #930
@shillem There is a draft PR in review: https://github.com/forcedotcom/salesforcedx-vscode/pull/1275

[2019-04-23 13:07] Itsmejyoti opened #1278 "Command Error"
Issue Type: <b>Bug</b>

When trying to create project gives an error command 'sfdx.force.project.create' not found.

Extension version: 45.10.0
VS Code version: Code 1.33.1 (51b0b28134d51361cf996d2f0a1c698247aeabd8, 2019-04-11T08:27:14.102Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-3217U CPU @ 1.80GHz (4 x 1795

[2019-04-23 14:01] lcampos commented on #1278
Hi @Itsmejyoti can you open Dev tools (Help > Toggle Dev Tools) and see if there's an error under the Console tab? If so, can you add a screenshot of it.
Also, can you provide the version of the Salesforce CLI you are using ( run `sfdx --version` in your terminal) ?

[2019-04-23 14:51] ntotten commented on #1274
What happens if you close and reopen the project? Also, can you provide us with the extension host log output? To see the logs use: cmd-shift-p -> Search Show Logs -> Extension Host

[2019-04-23 19:20] suneelsfdc opened #1280 "Replay Debugger doesn't work when Logged in As different user"
### Summary

I have tried using Apex Replay Debugger by logging in as a different user(Going to a user record and hitting Login As). User U1 logged into Salesforce, later he/she opened another user record U2 and logged in as him/her and performed some action, but replay debugger doesn't generate logs

### Steps To Reproduce:

1.  Setup a Salesforce VS Code project and install Salesforce Extension

[2019-04-24 01:40] lcampos commented on #1280
This is not a bug but a misconception on how the Apex Replay Debugger works. When you turn on Apex Replay Debugger (`SFDX: Turn On Apex Debug Log for Replay Debugger`) it creates a TraceFlag record for the user which VSCode/Salesforce CLI is authenticated with. That record is then used by the org to create Apex Debug Logs for that specific user.

In your example, if User1 is the one that VSCode/Sa

[2019-04-24 04:03] Itsmejyoti commented on #1278
Hey @icampos Thank you for your prompt response, but I have solved the issue there is problem with workspace directory path.

[2019-04-24 15:37] garviand commented on #1196
I don't get any of the Push/Deploy options on right-click, I am also not getting the testing options for Apex tests.

[2019-04-24 16:43] lcampos commented on #1278
@Itsmejyoti could you add more details on how you fixed this ? I'd like to know if there's something we can change in the extensions so that other users to run into this in the future.

[2019-04-24 17:19] Itsmejyoti commented on #1278
@icampos I don't know how but I have just changed my workplace folder and its worked for me.
Is there anything which relates Salesforce extension pack and workplace folder? cz I am new to Visual Studio Code and SFDX.

[2019-04-24 17:39] spelluru-indeed commented on #1280
@lcampos Thanks for the detailed info. I understand that I misunderstood the concept. As per your explanation below, it doesn't seem to be creating Trace flag for Authenticated user with VSCode. Every time, it is setting trace flags for a random user(with different profiles). Could you please confirm that behavior?

**When you turn on Apex Replay Debugger (SFDX: Turn On Apex Debug Log for Replay D

[2019-04-24 17:40] suneelsfdc commented on #1280
@lcampos Thanks for the detailed info. I understand that I misunderstood the concept. As per your explanation below, it doesn't seem to be creating Trace flag for Authenticated user with VSCode. Every time, it is setting trace flags for a random user(with different profiles). Could you please confirm that behavior?

**When you turn on Apex Replay Debugger (SFDX: Turn On Apex Debug Log for Replay D

[2019-04-24 17:51] dfully0814 commented on #1262
@lcampos The apex classes where I am expecting to see code coverage are also NOT in the output that you mentioned. Shouldn't code coverage be provided for any test class that is run though?

[2019-04-24 22:39] praksb commented on #1229
@mctufftuff Can you please let us know what operation you were performing when you observed this issue? Does the CPU usage come down after a while if you observed this when you were loading a project?

[2019-04-25 06:05] msbagul opened #1285 "Turn on apex debug log creating trace flag with name set to random user"
### Summary
Using VSCode having CLI extension installed, when I turn on apex debug log, it is creating trace flag with name set to any random user and not the one with which the org was authenticated. The "Requested By" column does properly show the org authenticated user. Due to this issue, it doesn't generate the log for the authenticated user and hence get debug logs fetches logs which are not

[2019-04-25 08:43] sravanisfdcdev opened #1286 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.10.0`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Gangadhar\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode

[2019-04-25 13:30] wfresch commented on #653
How's this coming along?

[2019-04-25 16:43] #1269 closed

[2019-04-25 16:45] lcampos commented on #1090
Addressed as part of version `45.12.0`

[2019-04-25 16:47] lcampos commented on #1266
@ajw725 I'm closing this since the fix is out as part of version `45.12.0` of the extensions. Thanks for opening the issue and let us know if you run into anything else.

[2019-04-25 16:47] #1266 closed

[2019-04-25 16:59] lcampos commented on #1278
I see, I don't think there's much we can do in that scenario. The extensions only get activated when you are on a Salesforce DX project (e.g. it contains sfdx-project.json, etc) which means that the commands are only available once the extensions activate.

I'll close the issue for now since you are unblocked but feel free to keep providing us with feedback.

[2019-04-25 16:59] #1278 closed

[2019-04-25 17:17] praksb commented on #1170
@JNiedle The fix is now part of the latest extension release: 45.12.0.

[2019-04-25 17:17] #1170 closed

[2019-04-25 17:30] praksb commented on #653
@wfresch what specific issue are you running into?  Is it: https://github.com/forcedotcom/salesforcedx-vscode/issues/1166 ?

[2019-04-25 17:32] praksb commented on #1286
@sravanisfdcdev Can you please provide more information on what operation you were performing when you observed this issue? Does the CPU load come down after sometime or does it continue to stay high?

[2019-04-25 17:48] ntotten commented on #1090
@lcampos I think there are still a few left. jsconfig and eslint.

[2019-04-25 17:51] lcampos commented on #1090
@ntotten I do see those being under the `lwc` folder. Are we talking about different ones ?

![Screen Shot 2019-04-25 at 10 49 58 AM](https://user-images.githubusercontent.com/1041842/56757028-0d4d8080-6748-11e9-8d85-5ab4b1e1e37b.png)

[2019-04-25 18:27] ntotten commented on #1090
Sorry, I should have been more clear. This issue isn't actually about having them in the template - it is about removing the behavior of the extension from writing them at all. So the first step was adding them to the template. Now we need to make it so the extension does not write these files at all but rather just checks to make sure they exist and provide so information on how to create them.

[2019-04-25 19:52] lcampos commented on #1090
Got it, thanks for clarifying 👍

[2019-04-25 20:12] alpha-bytes opened #1289 "SFDX: Update Checkpoints in Org"
### Summary

Today, when running the `SFDX: Update Checkpoints in Org` command from the VS Code palette, I receive the following error in the Output window:

**sfdxApex.exports.languageClientStatus is not a function**

Opening the dev tools window reveals the following logged error:

[code]

Additionally, even when trying to use the Apex Replay Debugger without breakpoints, I get the following err

[2019-04-25 22:31] lcampos commented on #1289
Thanks for reporting this @alpha-bytes. We've released a fix for it as part of version `45.12.1`, I'll close this for now but let us know if you run into any other issue.

[2019-04-25 22:31] #1289 closed

[2019-04-26 09:29] sravanisfdcdev commented on #1286
Hi,

When I am inserting SFDC extension, SFDC CLI integration shows installing
and then discarded. I am not to deploy project to org also

Regards
Sravani Dasari

On Thu, Apr 25, 2019, 23:02 praksb <notifications@github.com> wrote:

[2019-04-26 14:54] dfully0814 commented on #1262
@lcampos Just wanted to follow up and see if you needed anymore information?

[2019-04-26 15:55] ChuckJonas opened #1291 "Reduce steps require to Launch Log-Replay Debugger from Tests & Anonymous apex"
**Is your feature request related to a problem? Please describe.**
Right now the current process of running the debugger is a bit tedious.

_Current Steps:_
1. Open file
2. Set breakpoint
3. `>Turn on Apex Debug Log for Replay Debugger`
4. Run Test or Anonymous apex
5. `> Get Apex Debug Logs`
6. `Select Log`
7. `> Launch Apex Replay debugger with last log file`

**Describe the solution you'd like*

[2019-04-26 16:25] johnhutchins commented on #1291
As a developer in training, streamlining the process from writing to debugging code would be a great benefit. I've found that I learn a tremendous amount from stepping through the code and if it was simpler to do this I would have been able to understand a few key concepts more quickly. I hope to see this change!

[2019-04-26 17:25] praksb commented on #1286
@sravanisfdcdev Have you installed the CLI on your machine? This is separate from the extension installation. You can install the CLI from here: https://developer.salesforce.com/tools/sfdxcli

[2019-04-26 17:40] ChuckJonas opened #1292 "Changelog"
**Is your feature request related to a problem? Please describe.**
It's currently very difficult to keep up with what changes have been made to this extension

**Describe the solution you'd like**

[Keep a Changelog](https://keepachangelog.com/en/1.0.0/).  Ideally it would be at the top level so that you could quickly catch up on all the updates in one place

**Describe alternatives you've conside

[2019-04-26 17:41] ChuckJonas commented on #1292
... ya nvm you guys already have one https://github.com/forcedotcom/salesforcedx-vscode/blob/develop/packages/salesforcedx-vscode/CHANGELOG.md

duh

[2019-04-26 18:03] ntotten commented on #1292
@lcampos Can we move the changelog to the top level? This isnt the first time I have been asked about this.

[2019-04-26 18:18] ChuckJonas commented on #1292
I'm guessing it might be where it is so that the vscode extension marketplace will pick it up?  Could maybe just put a link in the readme?

[2019-04-26 18:38] ntotten commented on #1292
Ah yeah, you are right. but we should be able to copy it as a pre-publish step.

[2019-04-26 22:07] m0gul opened #1293 "When I do SFDX: Retrieve from source - I get "No results found""
I've set everything up from scratch about 5 times to try and get this working, but I'm at a loss. I have the default org connected / authorized and I see the folder structure on the left, but when I try to right-click any folder (aura for example), then go to "SFDX: Retrieve Source From Org", I get:

"=== Retrieved Source
No results found"

In the output folder. Any assistance would be greatly app

[2019-04-27 07:16] sravanisfdcdev commented on #1286
Yes I have installed.

On Fri, Apr 26, 2019, 22:55 praksb <notifications@github.com> wrote:

[2019-04-28 05:21] praksb commented on #1286
@sravanisfdcdev what error do you get when you attempt to deploy project to org?

[2019-04-28 05:27] sravanisfdcdev commented on #1286
It's not showing any error code,  "Failed to deploy because of fatal error"
is occurring.

Regards
Sravani Dasari

On Sun, Apr 28, 2019, 10:51 praksb <notifications@github.com> wrote:

[2019-04-29 01:14] JNiedle opened #1294 "Retrieving metadata for lookup fields to standard sobjects results in invalid metadata"
### Summary

When retrieving a new custom object from an org, if there is a lookup field to a standard object, an "__c" is appended to the object name in the "referenceTo" node of the XML:

![image](https://user-images.githubusercontent.com/1660128/56872627-ee0f6580-6a5d-11e9-81e2-1e69f41a7d4c.png)

### Steps To Reproduce:

1.  Create a new object in an org
1.  Add the new object's developername t

[2019-04-29 15:32] ajw725 commented on #1266
will do. thanks!

[2019-04-29 17:44] #1270 closed

[2019-04-29 19:52] praksb commented on #1286
@sravanisfdcdev In the VS Code menu bar can you select Help > Toggle Developer Tools, click Console and post any errors that you see?

[2019-04-30 05:01] ChuckJonas opened #1295 "Purpose of SFDX_SET_CLIENT_IDS:sfdx-vscode"
Could someone explain (briefly) what this setting is used for?

[2019-04-30 08:45] rendall opened #1296 "VSCode SFDX: Authorize an Org fails with EACCES error"
### Summary

_SFDX: Authorize an Org fails with EACCES error_.

### Steps To Reproduce:

1.  Open VS code with no project
1.  Issue command `SFDX: Create Project`
1.  Name the project `VSCodeQuickstart` (for instance)
1.  In file `project-scratch-def.json` change `orgName` to `Learning VS Code`
1.  Issue command `SFDX: Authorize an Org`
1. Accept default login URL
1. Enter alias `VS Code Playgroun

[2019-04-30 15:02] smrobert09 commented on #896
@trebleCode You can change your default shell in VSCode settings as described [here](https://code.visualstudio.com/docs/editor/integrated-terminal#_configuration). You may be able to reference an additional script during startup as well.

Just a thought...

[2019-04-30 15:30] ClemABT commented on #1101
Having the same issue since 2 days on a large org using version 45.12.1

[2019-04-30 15:46] #1274 closed

[2019-04-30 17:42] chandra2ravi opened #1297 "LWC files mdapi convert not working"
### Summary
I want to convert my scratch org development move to the sandbox and converting to metadata and not working.
LWC files mdapi convert not working

### Steps To Reproduce:

1.  This is step 1. sfdx force:mdapi:convert -r source -d meta
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actual

[2019-04-30 20:04] praksb commented on #1101
@ClemABT Can you please open a separate issue? Please include your machine hardware configuration (CPU, RAM), Operating system as well as info on your org like number of classes, triggers. Also, include the call stack.

[2019-05-01 07:11] ClemABT opened #1299 "Code completion, find references and go to definition not working on large org"
### Summary

When using VS Code with Salesforce plugin on a large org, the code completion, find references and go to definition is not working. The test panel is also empty.

### Steps To Reproduce:

1.  Create a project and get source code from a large org.
1.  Right click on a method and select Find all references or Go to Definition.

### Expected result

The reference panel should show corres

[2019-05-01 18:05] jeffb-sfdc opened #1300 "Request: Add __test__ folder and files when a LWC is created"
In VS Code, when I run the "sfdx: create lightning web component" command, it would be nice if a _ _ tests _ _ directory and a _ _ tests _ _/{name of component}.tests.js file are also generated.

For the generated test file, a blank file would be OK, but even better if there was boiler-plate code, something like:

`import MyComponent from 'c/myComponent';
import { createElement } from 'lwc';

desc

[2019-05-01 22:51] #1229 closed

[2019-05-02 07:57] Astrante opened #1303 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-lwc`
- Extension Version: `45.12.1`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\onya\salesforce.salesforcedx-vscode-lwc-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/E

[2019-05-02 16:04] praksb commented on #1303
@Astrante Can you provide us with information on what operation you were performing when you observed the high CPU load? Does the CPU load stay high or does it come down shortly?

[2019-05-02 17:54] #653 closed

[2019-05-02 21:44] Vijayexplorer opened #1306 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.13.0`
- OS Version: `Darwin x64 16.7.0`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/Users/Vijay/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:

[2019-05-02 21:56] Vijayexplorer opened #1307 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `45.13.0`
- OS Version: `Darwin x64 16.7.0`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/Users/Vijay/salesforce.salesforcedx-vscode-apex-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:

[2019-05-03 00:10] praksb commented on #1307
Same as #1306

[2019-05-03 00:10] #1307 closed

[2019-05-03 00:11] praksb commented on #1306
@Vijayexplorer Can you provide us with information on what operation you were performing when you observed the high CPU load? Does the CPU load stay high or does it come down shortly?

[2019-05-03 16:47] lcampos commented on #1262
hi @dfully0814 sorry for the late response, I took some days off. Back to your question, the code coverage output results from running one or more tests (code coverage flag enabled) will only include Apex classes/triggers which those tests exercise. If you do not see a class or trigger listed as part of that output it means the test(s) you ran do not cover it.

If you think there is a bug in that

[2019-05-04 13:54] mchcn2018 opened #1311 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.13.0`
- OS Version: `Darwin x64 16.7.0`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/Users/Mac/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-e

[2019-05-04 16:27] praksb commented on #1311
@mchcn2018 Can you provide us with information on what operation you were performing when you observed the high CPU load? Does the CPU load stay high or does it come down shortly?

[2019-05-04 16:48] Patlatus commented on #1196
I have the same problem. When I create a Salesforce project, deploy\push\retrieve menu items disappear randomly and I am not able to restore them and get them back. Not sure if this is connected to switching between orgs. I just created a scratch org and I didn't switch org, however, initially those options were present and suddenly they disappear and I am not able to restore them.

[2019-05-04 16:50] Patlatus commented on #1196
Also my OS is not Mac, I am using Windows.

[2019-05-05 05:40] #1292 closed

[2019-05-05 12:42] SalesforceBobLightning opened #1312 "Auto generate classes to represent PickList values"
To help avoid **magic strings** in Apex code it would be great if the SalesforceDX VSCode extension auto generated a class to represent picklist values, like below:

[code]

These classes could get generated / re-generated each time the `Refresh SObject Definitions` command gets run.

[2019-05-06 06:40] grushai opened #1313 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.13.0`
- OS Version: `Windows_NT x64 10.0.10586`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Stepanko\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/

[2019-05-06 16:49] lcampos commented on #1280
Hi @suneelsfdc, I was able to replicate what you were experiencing. The root cause was that the replay debugger tries to re-use an existing TraceFlag if there is one available. In doing that we did not filter it to the specific user and that was causing the replay debugger to use a TraceFlag assigned to a different user in some cases. This is the same as reported in issue #1285 and we have a fix f

[2019-05-06 16:52] lcampos commented on #1285
Thanks for reporting this @msbagul. This is the same as reported in issue #1280 and the fix is in PR #1315 .

The root cause was that the replay debugger tries to re-use an existing TraceFlag if there is one available. In doing so, we did not filter those results to the specific user and in some scenarios was causing the behavior you reported.

[2019-05-06 16:55] suneelsfdc commented on #1280
@lcampos glad that it is taken care of. I will close the issue. Thanks for looking into it.

[2019-05-06 16:55] #1280 closed

[2019-05-06 17:06] praksb commented on #1313
@grushai What operation were you performing when you saw the high cpu load? Does the cpu usage come down shortly?

[2019-05-06 17:39] msbagul commented on #1285
Hi there,

Thanks for looking into this. Since I am new to this issue reporting platform, could you please let me know when this fix will be available for me to update the CLI on my machine.

Thanks

Mahendra

[2019-05-06 17:51] lcampos commented on #1285
Hi @msbagul, the fix is a change to the salesforce extensions for vscode not the cli. Once I merge PR #1315 it'll go out as part of one of our weekly releases. I'm working on including it on this Thursday's release. Once the release is publicly available I'll update this issue with the release version in which the fix is available (e.g. 45.x.0).

[2019-05-06 17:56] msbagul commented on #1285
Perfect. Thanks.

[2019-05-06 18:47] marceloharredondo opened #1317 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.13.0`
- OS Version: `Darwin x64 18.5.0`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/Users/marce/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:

[2019-05-06 20:45] praksb commented on #1317
@marceloharredondo What operation were you performing when you saw the high cpu load? Does the cpu usage come down shortly?

[2019-05-06 23:23] marceloharredondo commented on #1317
I was creating the first project since I installed the VSC, using the command palette. After the issue, the CPU usage kept normal.

[2019-05-06 23:24] HernanMorgado commented on #1196
Hi! I have the same issue. I have searched through all google but i do not have idea why is this happening :( It was verry difficult to run succesfully the comand sfdx authorize an org and now this happens If someone had an idea of ​​this please share in this post :(

[2019-05-07 13:56] lcampos commented on #1196
As a work-around I've been reloading vscode. Have you tried that ?

[2019-05-07 14:29] jjTorrent commented on #1166
This seems to be working now.

[2019-05-07 14:29] #1166 closed

[2019-05-07 15:53] aotolbert commented on #965
Seeing the same errors as D99000947 with seemingly valid style tags "currency", "number" etc. Im able to deploy to org w/o errors and it functions as expected but certainly makes for some ugly red files in the VSCode explorer. Any update on a workaround?

[2019-05-07 16:05] deeelan commented on #1196
I've been doing some research and its seems to have a problem in sfdx-config.json file, if u change the value with another (even inexistent alias) the options in the context meny appears. This seems a real bug.

[2019-05-07 16:46] HernanMorgado commented on #1196
My solution for this was change the enviroment variable 'Path'.

--C:Salesfore path;C:Visual Code path;C:CMD path

Forexample:

--C:\Program Files\Salesforce CLI\bin;C:\Users\herna\AppData\Local\Programs\Microsoft VS Code\bin;C:\Windows\System32;

Before, i wrote this path with "" so i modified this and then appeared the deploy/retrieve/push option.

Please tell me if this information was useful t

[2019-05-07 17:58] Patlatus commented on #1196
when I recreate a project from scratch it seems the options reappear I have not tried all the options mentioned in these comments

[2019-05-08 05:50] sravanisfdcdev commented on #1286
Hi Team,

I am not to raise a case with Salesforce to get support on below issue:
 LWC navigation button/url not working in communities page.

 Could you please help me on this.

Regards
Sravani Dasari

On Tue, May 7, 2019, 01:57 no-response[bot] <notifications@github.com>
wrote:

[2019-05-08 08:12] q-jack commented on #680
Why was this issue closed? I dont see any relation to #690 . I am also getting this error for dashboards

[2019-05-08 14:55] sc5148 opened #1320 "Filter by debug only statements in output window"
Please include a **checkbox** which will filter the logs by '**debug only**' statements. It's nice to have it when there are too many lines of code.

[2019-05-08 15:01] lcampos commented on #1320
Unfortunately this is currently not possible in vscode. You can follow this issue https://github.com/Microsoft/vscode/issues/52134 to track progress on that.

[2019-05-08 15:08] sc5148 opened #1321 "Proper Intellisense for SOQL statements"
Intellisense for SOQL statements in apex doesn't work. It doesn't suggest keywords like : SELECT, FROM, WHERE, IN etc

[2019-05-08 15:55] sc5148 opened #1322 "Include on the fly error messages"
**Incompatible types:**
illegal assignments, typically the result of **incompatible types** like assigning a contact sobject result to an Account variable.

**Unresolvable reference:**
references that cannot be resolved to corresponding declarations like using SObject fieldnames that do not exist or using a variable that has not been declared.

Currently we get to know these only after deployment.

[2019-05-08 18:08] praksb commented on #1322
@sc5148 You can get some of these semantic errors in Apex by modifying your settings.json file and  set salesforcedx-vscode-apex.enable-semantic-errors to true. We don't have them enabled by default since some scenarios are not supported for local development which results in false errors showing up.

[2019-05-08 18:08] #1322 closed

[2019-05-08 18:10] praksb commented on #1321
This is known limitation in SOQL. We have an open issue tracking this already: https://github.com/forcedotcom/salesforcedx-vscode/issues/947.

[2019-05-08 18:10] #1321 closed

[2019-05-08 18:35] sc5148 commented on #947
What is the current status of this? When is this going live?

[2019-05-08 18:41] sc5148 commented on #1322
I had turned on semantic errors. But it was giving wrong error messages. When I was calling a static method of a different class, the peek to show definition on the calling method did not work and on top of that the line which was calling the method was shown as 'problem'.

[2019-05-08 18:45] ntotten commented on #947
No ETA at the moment.

[2019-05-08 19:49] maheshkhidkikar opened #1323 "CLI extension unresponsive"
### Summary

While installing salesforce extension pack, Salesforce CLI extension gets unresponsive error. Status remains in installing state for more than 3-4 hours.

### Steps To Reproduce:

1.  click on extensions
2. write salesforce extension pack and hit install.

### Expected result

_Describe what should have happened_.

### Actual result

The extension 'Salesforce CLI Integration' took a v

[2019-05-08 20:01] #1323 closed

[2019-05-08 20:01] maheshkhidkikar commented on #1323
Resolution --
Install Salesforce CLI extension only (even if it says install Salesforce Extension Pack)
Install Salesforce Extension Pack later.

[2019-05-08 21:43] praksb commented on #1322
@sc5148 Did you run "Refresh SObject Definitions" command? If not, can you go to View -> Command Palette  and run that command. Hopefully, that should make your experience better.

[2019-05-08 22:29] praksb commented on #1286
Please use https://help.salesforce.com/login to log support questions.

[2019-05-08 22:29] #1286 closed

[2019-05-09 08:04] sc5148 commented on #1322
@praksb Yes I have used refresh SObject definitions but still the problem messages do not go away even after restarting VSCode. You can even see this screenshot where the .cls file generated after SObject refresh has a green underline for CASE saying the identifier name is reserved.
![image](https://user-images.githubusercontent.com/19307757/57436572-41449d80-7240-11e9-9d4a-6cb54f68fefa.png)

 Als

[2019-05-09 08:04] enreeco commented on #917
any news?

[2019-05-09 11:31] Antonyjay opened #1324 "Specify template error on creation manifest project"
### Summary

I am creating a new project with manifest for the first time. When I try to create a new project with manifest I get the error that I need to specify a template. (see screenshot for output)

### Steps To Reproduce:

1.  Ctrl+Shift+P on Windows and select SFDX: Create Project with Manifest.
1.  Enter a project name and select a folder and run

### Expected result

I would expect that a

[2019-05-09 13:38] lcampos commented on #1324
Hi @Antonyjay, I think this might be caused by you being on an old Salesforce CLI version. Can you open your terminal and run `sfdx --version` to see in which version you are on ? The latest version is 7.5.0. If you are in version 6.x.x or below, you can run `sfdx update` and re-running `SFDX: Create Project with Manifest` should work.

[2019-05-09 14:35] lalitha-s opened #1325 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.13.0`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\lalitha.selvaraj\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft

[2019-05-09 16:03] lcampos commented on #1285
I'm closing this since the fix is out as part of version `45.14.0` of the extensions. Thanks for opening the issue and being patient while we fixed it.

[2019-05-09 16:03] #1285 closed

[2019-05-09 16:41] AlbertoMata commented on #917
This

[2019-05-09 17:02] #1303 closed

[2019-05-09 18:12] ntotten commented on #917
It isn't about the Tooling API vs Metadata API. They are both the same on the backend. The issue is that we are using the Metadata API asynchronously because the command was initially optimized for all cases - large deployments or small deployments. We are working to switch to use the Metadata API synchronously for small deployments (probably less than 30 items). The work is scheduled, but we don'

[2019-05-09 18:25] praksb commented on #1322
@sc5148 The first issue with the error you are seeing in "Case" is a minor bug. We should not be showing diagnostics on generated classes. It should not impact other features.

The second issue you are seeing looks very similar to https://github.com/forcedotcom/salesforcedx-vscode/issues/1170 which was specific to Windows and was fixed couple of weeks ago. Can you let me know which OS are you usin

[2019-05-09 18:29] praksb commented on #1325
@lalitha-s Can you please let us know what operation you were performing when you observed the high CPU usage? If it is during startup we have a Java process that does indexing of the Apex classes and triggers and the CPU usage is expected to spike during that time but it should come down shortly after a few seconds when indexing is complete.

Is the issue you are seeing similar to either of the o

[2019-05-09 20:24] brandbarr opened #1328 "Deleting Default Org Throws Error and Focuses Output Panel"
### Summary

Deleting the default scratch org throws an error and focuses the output panel. As scratch orgs are designed to be ephemeral, their deletion should not throw an error Additionally, having to switch back to the terminal in order to make the new default org ruins development flow.

### Steps To Reproduce:

1.  Create a scratch org  and set it to default - `sfdx force:org:create -f [YOUR

[2019-05-10 01:02] #1306 closed

[2019-05-10 04:26] ChuckJonas commented on #1296
seems like your network or machine configuration is blocking access to the localhost oAuth callback port.

You could try to use a different port by [adding this line to your `sfdx-project.json` file](https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.meta/sfdx_dev/sfdx_dev_auth_connected_app.htm):

[code]

[2019-05-10 08:56] Antonyjay commented on #1324
Thanks, this solved the issue

[2019-05-10 08:56] #1324 closed

[2019-05-10 15:35] sc5148 commented on #1322
@praksb I am using version 45.14.0 and my OS is Windows 10

[2019-05-10 18:33] dfully0814 opened #1330 "Apex Test Coverage Not Displaying"
This is a copy of #1262 which was auto-closed but the issue is still occurring. Please see the comments where this was also reported by another user with additional information provided.

Per the features listed https://forcedotcom.github.io/salesforcedx-vscode/articles/apex/testing, I'm having trouble viewing test code coverage in vs code for apex classes. When I run an apex test via any means in

[2019-05-10 18:34] lcampos commented on #1262
I'm reopening this since it's still not clear this is a bug or not.

[2019-05-10 18:36] #1330 closed

[2019-05-10 18:38] lcampos commented on #1262
@troveryor in your second screenshot where the output from the test run is present, if you scroll up a bit more do you see a line where the apex class/trigger you expect to have code coverage is listed and it includes the coverage percentage and lines that are uncovered ? You can look at the screenshot it this comment to see what I'm talking about https://github.com/forcedotcom/salesforcedx-vscode

[2019-05-10 18:57] dfully0814 commented on #1262
@lcampos Same issue for me. When I run the test class in VS code, all methods pass and those methods are all calling my Gateway class. I am getting 100% code coverage in Developer Console.
<img width="1341" alt="Screen Shot 2019-05-10 at 2 55 26 PM" src="https://user-images.githubusercontent.com/16870544/57550221-bcd34700-7333-11e9-9e05-f5ff37cd71bc.png">

But when I click to highlight the code co

[2019-05-10 18:59] lcampos commented on #1262
@dfully0814 did you enabled `"salesforcedx-vscode-core.retrieve-test-code-coverage": true` setting as @troveryor mentioned? That fixed it for him.

[2019-05-10 20:21] jjTorrent commented on #971
Any updates here? Being able to run diffs on save/deploy would be great, but a manual diff could suffice as well.

[2019-05-11 16:36] ntotten commented on #1248
We could give the user the option to set some of the settings in the workspace, but I dont think we should ever give the option when the settings are for sure user specific, like JAVA HOME.

![image](https://user-images.githubusercontent.com/282782/57572515-5f013680-73e9-11e9-86a0-6aed9a117828.png)

[2019-05-11 17:11] #1311 closed

[2019-05-11 20:41] sc5148 opened #1331 "Semantic Error has a lot of bugs on Mac OS and Windows"
This is related to #1322 (Check last few comments). I have opened this as #1322 was closed. Semantic error processing is not at all working as expected on both windows and Mac OS. I am using extension v45.14.0 and all the OS versions are latest.
Exact problem can be seen in my comments here : https://github.com/forcedotcom/salesforcedx-vscode/issues/1322#issuecomment-490796690

[2019-05-12 06:25] praksb commented on #1322
@sc5148 Does the error go away when you edit the file? If not, is it possible for you to zip and share your project with me since I am unable to repro this problem at my end? You could find my email on my github profile.

[2019-05-12 08:41] Patlatus commented on #1196
Yesterday I performed a workshop where I was showing how to migrate from Aura Components to Lightning Web Components. During the workshop I was just doing the same steps that everyone did.
When I forked a project with VSCode configuration setup
https://github.com/bdovhan/SimpleDataTableApp
and opened SimpleDataTable folder in VSCode I wasn't able to use deploy commands. Also creation commands were

[2019-05-12 16:47] NDaves commented on #1196
Facing the same issue!!

Was able to **Deploy** and **Retrieve** from Visual Studio Code till yesterday. Today after updating the VS code, SFDX has gone from my SFDC project.

Tried all above options but still could not get SFDX options back. I have uncommitted changes in this project and want to deploy it but not sure what should I do not.

I could see my my project alias as _defaultusername_ lis

[2019-05-13 01:31] sc5148 commented on #1322
@praksb Yes the errors related to custom fields not found went away after saving the file but I noticed some other issues too related to the semantic errors flag. I will comment that on #1331 as this one is closed

[2019-05-13 02:09] sc5148 commented on #1331
1. We have to manually edit and save the file after refreshing SObjects and enabling semantic errors for the 'custom field does not exist' error to go away
2. I have tested it for another apex class and following are the lines that were shown as problems but in reality they should not be problems

`public with sharing class ApprovalEmailBatch implements Database.Batchable<SObject>, Database.Statef

[2019-05-13 10:17] cardax opened #1332 "Lightning Explorer: clicking an attribute in Aura Components opens the cmp file pointing the following row"
### Summary

_When exploring custom Aura components using the new Lightning Explorer, clicking on an attribute of the component would open the cmp file and select the wrong row (it points to row+1)_.

### Steps To Reproduce:

1.  Click on Lightning Explorer
2.  Open the "c" namespace
3.  Open any custom component having an aura:attribute listed in the Lightning Explorer
4.  Click on the attribute

[2019-05-13 15:16] lcampos commented on #1196
This issue is exclusive to when scratch orgs are created or new orgs get authenticated. The root cause is a race condition between the extension and the cli, where the extension queries the cli for some auth information and the cli is still not done with the previous create org execution.

PR #1327 will only address the scenario described above, but I think people here might be running into a seco

[2019-05-13 15:32] lcampos commented on #1295
@ChuckJonas before the extensions had it's own telemetry service, we used to rely on the cli reporting errors happening in vscode. We retired the use of `SFDX_SET_CLIENT_IDS` in version `45.5.0` (https://github.com/forcedotcom/salesforcedx-vscode/pull/1062) so if you still see it in your project's settings you can remove it. Having it in your project's settings just means you created that project

[2019-05-13 15:32] #1295 closed

[2019-05-13 15:46] lcampos commented on #1293
Hi @m0gul, the retrieve command will only retrieve metadata for the existing files if you are triggering it from a folder. E.g. if you do `SFDX: Retrieve Source From Org` from an empty folder, then it won't bring anything from the org since there is no metadata in your folder.

If you're looking at downloading metadata that you still don't have on your computer then you can try downloading it by t

[2019-05-13 15:47] lcampos commented on #1293
Please confirm you are able to retrieve the metadata using the package.xml approach and that the folder you are using for triggering the retrieve command is not empty.

[2019-05-13 15:53] lcampos commented on #1296
@rendall as pointed out on the previous comment by @ChuckJonas, this looks like an issue with a firewall or something in your machine blocking that call to the default port `1717`. Can you confirm if that's the scenario and if updating the port in use resolves it?

[2019-05-13 16:22] lcampos commented on #1328
Hi @brandbarr , thanks for providing feedback. We introduced this warning as part of PR #1259 because users were constantly trying to run certain commands (e.g. deploy, retrieve, etc) and running into errors because they didn't have a default username/org set.

We can look at removing the focus on the terminal cc @ntotten

[2019-05-13 17:21] #1313 closed

[2019-05-13 19:54] cah-sakis-stergioulas opened #1335 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.14.0`
- OS Version: `Windows_NT x64 10.0.16299`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`D:\Users\sakis.stergioulas\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsof

[2019-05-13 20:22] praksb commented on #1335
@cah-sakis-stergioulas Can you please let us know what operation you were performing when you observed the high CPU usage? If it is during startup we have a Java process that does indexing of the Apex classes and triggers and the CPU usage is expected to spike during that time but it should come down shortly after a few seconds when indexing is complete.

Is the issue you are seeing similar to eit

[2019-05-13 23:41] praksb commented on #1322
@sc5148 There is a known issue that diagnostics don't get refreshed until an edit happens during startup. I'll follow up with you on the issues on the other thread.

[2019-05-14 05:18] ChuckJonas opened #1336 "Retrieve source from org does no"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1. `> create project with manifest`
1.  attach to some sandbox with apex code
1.  clear everything but apex classes from package.xml
1.  Right click on manifest, `> retrieve source from org`
1.  Create the following directory structure: `force-app/other/classes`
1. Copy all the files from `force-app/m

[2019-05-14 05:23] praksb commented on #1331
@sc5148 Thank you for giving detailed repro of the bugs. I verified that they all repro and indeed they are all bugs that we need to fix. We'll keep this issue open and update once we have fixes available.

[2019-05-14 07:21] sc5148 commented on #1331
@praksb very well! I will keep on adding more bugs in my next comments when I find more :)

[2019-05-14 07:59] Patlatus commented on #1196
I can provide a live session video where I was not able to use Deploy commands but I used workaround (I have executed manually sfdx force:source:deploy -m ApexClass,AuraDefinitionBundle,LightningComponentBundle commands from terminal) https://www.youtube.com/watch?v=TWSm6HBcQtY

@lcampos I am not sure about the question you have, I have never tried to open VSCode's Dev Tools (Help > Toggle Develop

[2019-05-14 08:03] Patlatus commented on #1196
@lcampos Ok, I have tried that and I do see "Cannot find en-us, defaulting to en" message, does that mean that this will be fixed by your pull request or is this some different problem which will not be fixed by your pull request?
![image](https://user-images.githubusercontent.com/1489026/57681130-cca2a200-7637-11e9-9556-5fa959225bc0.png)

[2019-05-14 11:23] Mukeshkhandve opened #1337 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-lwc`
- Extension Version: `45.14.0`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\hp\salesforce.salesforcedx-vscode-lwc-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Exp

[2019-05-14 12:50] matteobosc commented on #917
Hi, this switch will improve the Apex Test Run performances too? The test run is even slower than retrieve/deploy.

[2019-05-14 19:57] praksb commented on #1337
@Mukeshkhandve Can you please let us know what operation you were performing when you observed the high CPU usage? If it is during startup we have a Java process that does indexing of the Apex classes and triggers and the CPU usage is expected to spike during that time but it should come down shortly after a few seconds when indexing is complete.

Is the issue you are seeing similar to either of t

[2019-05-15 04:22] RESTORE-thaierissa commented on #917
Sometimes deploy works fine, but once it stops working it really stops. Hope this gets fixed soon. Ill try rebooting my computer.
Thanks

[2019-05-15 06:09] simranrsaluja opened #1341 "unable to connect vs code to developer org"

[2019-05-15 06:09] simranrsaluja opened #1342 "unable to connect vs code to developer org"

[2019-05-15 06:12] #1341 closed

[2019-05-15 07:18] eadelarosa commented on #1262
@dfully0814 - given that after enabling the setting (per @lcampos follow-up question above) and ticking the "Highlight Apex Code Coverage" icon at the "status bar", could you please confirm which Apex class are you inspecting after running the test - is the Test class or the Apex class that your Test class runs against? Note that the highlights appear on the Apex class - not on the Test (Apex) cla

[2019-05-15 11:52] lcampos commented on #1196
@Patlatus you can ignore that error about `en-us` but the error above that one tells me you did not configure Java for the apex extension (unrelated to the commands & context issue in this thread). You can get that fixed by following the instructions in [Set Your Java Version](https://forcedotcom.github.io/salesforcedx-vscode/articles/troubleshooting.html#set-your-java-version).

Also, in the bott

[2019-05-15 13:54] HernanMorgado commented on #1196
I´m not sure because you are in Mac but in windows i had to configure my environment variables (JAVA_HOME and JDK_HOME) for connect vscode with java. @lcampos show you how you can configure this.

[2019-05-15 14:25] SethMagner opened #1344 "Facing issues with deploying the components from the source to the org."
21:21:35.906 sfdx force:source:deploy --sourcepath c:\ISODEV1Local\force-app\main\default\aura\GPS_COMP_MemberSearchResultsContainer\GPS_COMP_MemberSearchResultsContainerHelper.js --json --loglevel fatal ended with exit code 1

When tried to run the sfdx command, we are getting the below error. This seems to be happening across all developers. When researched online there were posts to delete the

[2019-05-15 14:48] TwistyPop commented on #1299
+1, Experiencing the same issue

[2019-05-15 14:54] TwistyPop commented on #1299
+1, Experiencing the same issue
VS Code: 1.31.1
Salesforce CLI 45.14.0
Salesforce Extension Pack 45.14.0
OS Windows 10 Enterprise V 10.0.17134 Build 17134

The error renders the plugin completely useless when the apex language server crashes. Consider making the heap allocation setting for java configurable?

[2019-05-15 17:01] Patlatus commented on #1196
@lcampos actually I don't care about any errors there except there are some which influence inability to retrieve or deploy source, are any of these errors related to inability to deploy or retrieve?

[2019-05-15 20:40] jordanbaucke commented on #680
Agree with @q-jack here, the issue remains unresolved, and I have observed as recently as today (again dealing with nested Reports/Dashboards) as mentioned in https://github.com/forcedotcom/salesforcedx-vscode/issues/690

[code]

[2019-05-16 12:25] ashaalex28 opened #1351 "Project create throws `Unrecognized flag : {"name":"projectname" ..` error"
Issue Type: <b>Bug</b>

Install Salesforce Extension pack and Salesforce CLI Integration.From Command Pallette->SFDX:Create Project with manifest->Enter project name
This gives error:
Starting SFDX: Create Project

17:49:36.933 sfdx force:project:create --projectname NPPTest3 --outputdir c:\Salesforce\NPPProjects --template standard --manifest
Error: Unrecognized flag: {"name":"projectname","char"

[2019-05-16 12:27] lcampos commented on #1351
Hi @ashaalex28 , I think this might be caused by you being on an old Salesforce CLI version. Can you open your terminal and run sfdx --version to see in which version you are on ? The latest version is 7.5.0. If you are in version 6.x.x or below, you can run sfdx update and re-running SFDX: Create Project with Manifest should work.

I'm also closing this as a duplicate of #1324, please re-open the

[2019-05-16 12:32] ashaalex28 commented on #1351
I ran the sfdx update command..This is what I see:
sfdx-cli: Updating CLI... already on latest version: 7.5.0-e6ca93eee8

[2019-05-16 13:27] lcampos commented on #1351
Do you see a `--manifest` line under the Options section when you run `sfdx force:project:create --help` ?

<img width="623" alt="sfdx_project_create_help" src="https://user-images.githubusercontent.com/1041842/57857271-a00b9900-77a3-11e9-8bcf-e1fb1b934b8d.png">

[2019-05-16 14:10] ashaalex28 commented on #1351
Yes.I do see it.

[2019-05-16 14:20] lcampos commented on #1351
Do you still see that error if you run `SFDX: Create Project with Manifest` again ?

[2019-05-16 14:46] troveryor commented on #1262
@lcampos Sorry, I should have included that section. At that time, with something wonky with my workspace settings I think, I was not getting any coverage information even in the Output tab. Once I got my settings sorted out everything worked as expected, including the line highlighting, so I'm in good shape now.

[2019-05-16 14:51] ashaalex28 commented on #1351
Yes

[2019-05-16 15:32] matteobosc commented on #974
This would be a very great feature when working with large queries. Thanks!

[2019-05-16 17:57] lcampos commented on #1196
@Patlatus no

[2019-05-16 17:58] lcampos commented on #1196
Closing this since the fix is out as part of version `45.15.0` of the extensions.

[2019-05-16 17:58] #1196 closed

[2019-05-16 18:37] #1325 closed

[2019-05-17 00:20] paustint commented on #971
I am currently using Illuminated Cloud, which offers conflict check prior to pushing changes, and some other team members are using VSCode for sandbox development.  Folks using VSCode have overwritten others changes on occasion because something was modified and a pull was not done before developing. #frustrating

I am very much looking forward to this feature! 👍

[2019-05-17 04:28] ashaalex28 commented on #1351
Can you please reopen the issue?

[2019-05-17 05:11] jimwaz opened #1353 "push-or-deploy-on-save"
### Summary

when deploy on save runs, and errors exist I receive no errors outside of the fact that the deploy failed.

### Steps To Reproduce:

1.  Create a apex class with a error that would cause the deploy to fail
1.  Wait and let the deploy to fail

### Expected result

Deploy executes and errors are listed: for example:

PROJECT PATH  ERROR
────────────  ────────────────────────────────────

[2019-05-17 07:09] manthrayilsubin opened #1354 "Getting error below while trying to run test apex"
### Summary

12:36:52.540 sfdx force:apex:test:run --tests processInboundSMSTest.testcodeflow1 --resultformat human --outputdir c:\Users\subin\Documents\test\.sfdx\tools\testresults\apex --loglevel error --codecoverage
internal/modules/cjs/loader.js:584
    throw err;
    ^

Error: Cannot find module '../dist/versions'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:582:15)

[2019-05-17 09:39] lcampos commented on #1351
Sure. When you execute `sfdx --version` from VSCode's terminal, do you get that same version number ? I'm not able to replicate your cli error and it seems that the issue is with the `projectname` flag and not with the `--manifest` flag.

What happens if you run `sfdx force:project:create --projectname NPPTest3 --outputdir c:\Salesforce\NPPProjects --template standard --manifest` directly in the c

[2019-05-17 14:04] ashaalex28 commented on #1351
From VSCode's terminal,this is what i see:
 sfdx --version
sfdx-cli/7.5.0-e6ca93eee8 win32-x64 node-v10.15.3

On running the commandfrom command line,I get the same error:"Error: Unrecognized flag:"

[2019-05-17 19:44] #1262 closed

[2019-05-18 06:39] rendall commented on #1296
Hi @ChuckJonas and @lcampos

My apologies for not getting back sooner.

Yes, changing the local port was one of the first things I tried (` "oauthLocalPort": 1919`), and it fails with the same error.  I suspect that there is a SFDX service exposed at the `oauthLocalPort` that is not starting on my machine for some reason.

I am happy to help actively track this down. What is SFDX expecting to find

[2019-05-20 08:56] sc5148 opened #1356 "Cannot read property 'charCodeAt' of undefined at isInteger"
I am facing an issue on my lightning component in the part which dynamically creates another component based on
[code]
Whenever I hover the mouse over **SObjectName** the output panel opens up and shows this error message: _**Cannot read property 'charCodeAt' of undefined at isInteger**_

Same thing happens for this piece of code:
[code]
Hovering mouse of any of the variant,title or message opens

[2019-05-20 10:40] Patlatus commented on #1196
@lcampos  do you say retrieve and deploy options should be restored after upgrading to version 45.15.0? How do I upgrade my Salesforce Extension Pack to 45.15.0? How do I know what is the current version of my Salesforce Extension Pack ?

[2019-05-20 13:25] deeelan commented on #1196
@Patlatus always disappear when update VSCode, I usually don't update VSCode cuz of this (oc when this options show up)

[2019-05-20 15:14] jon-freed commented on #961
bump
Cross-reference: [https://developer.salesforce.com/forums/?id=9062I000000IHNVQA4](https://developer.salesforce.com/forums/?id=9062I000000IHNVQA4)

[2019-05-20 15:54] #1293 closed

[2019-05-20 18:00] Stragis commented on #1351
I am also receiving this error. Do you guys have JDK 12 installed?

[2019-05-20 20:56] #1335 closed

[2019-05-21 06:05] ashaalex28 commented on #1351
No.These are my java version details.
java -version
Picked up _JAVA_OPTIONS: -Djava.net.preferIPv4Stack=true
java version "1.8.0_211"
Java(TM) SE Runtime Environment (build 1.8.0_211-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.211-b12, mixed mode)

[2019-05-21 06:10] ashaalex28 commented on #1351
@lcampos -do we have a work around till this gets fixed? It would be very helpful to proceed with my work.

[2019-05-21 08:15] Stragis commented on #1351
I was able to resolve my issue by installing specific version of SFDX
https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_install_cli.htm

` sfdx plugins:install salesforcedx@45.15.6`

[2019-05-21 11:35] DFKA commented on #1296
I got the same result using the same repro steps.

I don’t know if this is related to port exclusion/reservation, however, the ranges from netsh (Non-Administered port exclusions) match the ports which doesn’t work for me.

`netsh interface ip show excludedportrange protocol=tcp`

[2019-05-21 12:49] ashaalex28 commented on #1351
@Stragis -Thanks a lot! That worked. :)

[2019-05-21 13:18] rendall commented on #1296
@DFKA solved the immediate problem for me. I was not aware that "`Administered port exclusions`" were even a thing. I changed 'oauthLocalPort' to a port _not_ in that list and the extension behaved as expected.

I do still consider this a bug since the error is unmanaged, but this is here for any Windows dev who needs a work-around:

As DFKA noted, type 'netsh interface ip show excludedportrange p

[2019-05-21 13:41] lcampos commented on #1351
@Stragis thanks for providing the fix. Just to clarify some things before closing this. This was not related to Java or JDK configuration since that exclusively affects functionality for the apex debuggers & the apex extension.

The reason why @Stragis' answer is the correct fix is because you've previously installed a version of the `salesforcedx` cli plugin which does not include the code for th

[2019-05-21 13:41] #1351 closed

[2019-05-21 13:50] rendall commented on #1296
There is one final piece to the puzzle, and it definitely is a bug.  The `oauthLocalPort` is ignored at callback, and it uses the `1717` port.

To reproduce:
* set `oauthLocalPort` to anything working not `1717`
* type the command `sfdx force:auth:web:login -d -a DevHub`
* authorize at the login screen
* note that the redirect is to `http://localhost:`**1717**`/OauthRedirect?code=aPrxrDqe....`

Th

[2019-05-21 14:07] DFKA commented on #1296
An alternative approach that seems to work is to restart in safe mode with networking enabled and add 1717 to your own range, and then restart back to normal.

`netsh interface ip add excludedportrange protocol=tcp startport=1717 numberofports=1`

[2019-05-21 16:44] brandonmikeska commented on #1337
@praksb we are also noticing this for my entire Team. Our Org is very large, is there a work around or a timeline for the known performance issue for large orgs?

[2019-05-21 17:53] risseno opened #1357 "Peek/go to definition not showing on right click."
### Summary

It also doesn't work using keyboard shortcuts. My normal way of accessing my sfdc metadata in VS cod File-->open folder-->select the folder that i have my entire SFDC meta data stored in (pulled via xml manifest). if i then opened an apex class i used to be able to highlight a class name and go to/peek definition and it would show me the definition. On pretty much everything i would s

[2019-05-21 18:44] lcampos commented on #1357
Hi @risseno , thanks for opening this issue. At a first glance there are 2 things I think could be happening here, the first being that Java configuration is missing. That's needed in order for the extensions to run the Apex Language Server, which is what provides the info for those features. If that's the case you can follow the instructions in our article [Set Your Java Version](https://forcedot

[2019-05-21 18:58] praksb commented on #1357
@risseno It looks like the Apex language server didn't start. Can you follow the instructions that @lcampos mentioned previously to set the java version?

[2019-05-21 19:58] #1337 closed

[2019-05-21 20:17] praksb commented on #1337
@brandonmikeska We are still exploring our options here for perf improvements since it involves rearchitecting our indexer. There is no timeline at the moment. I should have more information in a couple of weeks time.

[2019-05-22 07:48] Szandor72 commented on #1267
Hey @lcampos,

for unforeseen reasons I am now temporarily on a mac which throws the error on lwc/aura language servers crashing.

Which details do I need to provide in order for you to tackle this easier?

mojave, 10.14.4 (18E227)
sfdx-cli/7.6.0-28071a499b darwin-x64 node-v10.15.3

[2019-05-22 08:01] ashaalex28 commented on #1351
Thanks for the explanation.

[2019-05-22 17:10] ajw725 opened #1358 "Run All Tests fails in namespaced scratch org"
### Summary

I'm developing on a managed package in a namespaced scratch org. When I try to run all of the Apex tests in a particular test class from the IDE with the "Run All Tests" link that appears at the top, it fails, saying "Unable to invoke any tests...This class name's value is invalid." Running a single test with the "Run Test" link above that specific method works fine. Running all the t

[2019-05-23 06:54] rendall commented on #1296
Thanks so much @DFKA !  May I ask, how did you come to know about `netsh` in the first place, and its application in this situation?  Very much appreciated.  Who or what set these port exclusions? What is their purpose?  Do you know, off-hand?

[2019-05-23 08:32] DFKA commented on #1296
I should have just started with netsh, however, I took somewhat of a detour.

I first tried with a high port-number, which worked, and I could see that node.exe was bound to the port.
I then used Process Monitor with the original port (1717) and saw that node.exe was looking at the registry, with one of the entries being:
`HKLM\SYSTEM\CurrentControlSet\services\tcpip\Parameters`

I knew that Param

[2019-05-23 08:45] ClemABT commented on #1299
I have set up a new computer, connect VS Code to the same org, and I have now the code completion working, reference and tests working. So maybe there is an issue with some local description file.

[2019-05-23 13:48] matteobosc commented on #968
This issue still occurs on the version v45.15.1. Java process almost at 3GB. JDK version jdk1.8.0_211, here my specs:

![image](https://user-images.githubusercontent.com/43987657/58257854-f3688300-7d71-11e9-9e5b-efa0b608ec0e.png)

[2019-05-23 17:31] praksb commented on #1299
@ClemABT There is a known perf issue that happens at startup when we index the classes in the org. Indexer takes a lot of memory at the moment. It is possible your new computer has better hardware which caused the OOM error to go away.

[2019-05-23 17:36] praksb commented on #968
@matteobosc When you load your project after starting VS Code, the Apex LSP tries to index your apex classes and triggers. Currently, it does take up a good chunk of memory since it loads all the source files in memory. This could be an issue if your org is very large. We are working on making this experience better.

[2019-05-23 20:07] freddysilber opened #1359 "Removing this repo/ Un-subscribe"
Hi, So I've been battling this issue for a few months where I can't get rid of this repo. It showed up on my home page (on the left side bar under my list of forked and owned repos) one day and I don't know why. I have been trying to delete it or remove myself from this repo so it won't show up on my home page but I can't. When I enter this repo i should be able to see a settings tab at the top wh

[2019-05-23 20:27] ntotten commented on #1359
@freddysilber We don't have any control over your notifications or settings. I suggest maybe you contact GitHub support: https://github.com/contact

[2019-05-23 20:27] #1359 closed

[2019-05-24 08:31] Londoner1234 commented on #930
Just noticing on https://forcedotcom.github.io/salesforcedx-vscode/articles/troubleshooting

It mentions  JDK version 8 or JDK version 11.

However using JDK 11 I still receive an error that JDK 8 is needed
Is there update on this ?

[2019-05-24 08:59] Londoner1234 commented on #930
Think I see my problem

Looking here
https://github.com/forcedotcom/salesforcedx-vscode/blob/master/packages/salesforcedx-vscode-apex/src/requirements.ts

`javaHome + '/bin/java',
      ['-version'],
      {},
      (error, stdout, stderr) => {
        if (
          **stderr.indexOf('build 1.8') < 0 &&
          stderr.indexOf('build 11.') < 0**
        ) {
          reject(nls.localize('wrong_ja

[2019-05-24 11:00] Hisasui commented on #971
I need this !
from japan.

[2019-05-24 12:38] raJSN opened #1362 "sfdx update issue"
### Summary
Unable to  update using sfdx command + create new lwc

### Steps To Reproduce:

1.  Run 'SFDX update' or 'sfdx force:lightning:component:create —type lwc -n helloWorld -d force-app/main/default/lwc'
2. You will face issue as attached.

### Expected result
1. SFDX should be updated or component should be created.

### Actual result
1. Error as attached.

### Additional information

_Fee

[2019-05-24 13:15] ntotten opened #1363 "Java Version Detection doesn't work on all version strings"
Looking here
https://github.com/forcedotcom/salesforcedx-vscode/blob/master/packages/salesforcedx-vscode-apex/src/requirements.ts
line 86
[code]

I'm using openJDK and it looks like my output is different

![openJDK](https://user-images.githubusercontent.com/10601890/58316080-ad133280-7e0a-11e9-8c49-da3248847486.PNG)

_Originally posted by @Londoner1234 in https://github.com/forcedotcom/salesforce

[2019-05-24 13:16] ntotten commented on #930
We support JDK 11 now and will continue to support new versions as they are released.

@Londoner1234 I'm moving your issue to #1363 as it is a different problem than this original post. Thanks for reporting, we will get it fixed asap.

[2019-05-24 13:16] #930 closed

[2019-05-24 13:18] ntotten opened #1364 "Java Detection and Installation UI"
Similar to what the [Java Extension is doing](https://devblogs.microsoft.com/visualstudio/java-on-visual-studio-code-april-update/?utm_source=Direct), we should adopt a similar UI to help detect and install JDK.

![image](https://user-images.githubusercontent.com/282782/58330373-c1543100-7e04-11e9-8e22-2fbf2acae42f.png)

![image](https://user-images.githubusercontent.com/282782/58330384-c618e500-7

[2019-05-24 13:20] ntotten commented on #1364
There is also a discussion here about this issue: https://github.com/microsoft/vscode-java-pack/issues/142

[2019-05-24 14:02] shillem commented on #1364
12 is GA https://openjdk.java.net/projects/jdk/

[2019-05-24 14:04] shillem commented on #1363
Please, consider adding 12 already since it's GA

[2019-05-24 22:39] matteobosc commented on #968
Hi @praksb, yes, my org is pretty large, but the CPU time is stuck on that Java process even after hours I loaded VSC. Hope this will be improved, thanks in advance for your work!

[2019-05-25 14:56] MrKaveh opened #1369 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.15.1`
- OS Version: `Darwin x64 17.7.0`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/*/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-ex

[2019-05-25 15:13] MrKaveh opened #1370 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-apex`
- Extension Version: `45.15.1`
- OS Version: `Darwin x64 17.7.0`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/mohammadhossein/salesforce.salesforcedx-vscode-apex-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wi

[2019-05-26 11:54] play62ca opened #1372 "When i run the apex replay debugger and select the log i am getting msg Generate the log with a log level of FINER or FINEST for VISUALFORCE and a log level of FINEST for APEX_CODE."
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**VS Code Version**:

**SFDX CLI Version

[2019-05-28 05:24] soql101 commented on #1372
I encounter the same error.

[2019-05-28 05:42] praksb commented on #1370
Dupe of #1369

[2019-05-28 05:42] #1370 closed

[2019-05-28 05:46] praksb commented on #1369
@MrKaveh Can you let us know what operation where you performing when you observed this? Does it happen when you start VS Code? We index your sources during startup which might cause a high cpu load but it should come down shortly. Is that not the case? Also, there is a known performance issue with the indexer that affects some orgs which have a huge number of classes (>1000+) is that the case?

[2019-05-28 15:17] vtandon-wiley commented on #680
I am getting below error while retrieving source from the dev org

ERROR running force:source:retrieve:  Invalid or unsupported zip format. No END header found

[2019-05-28 15:21] vtandon-wiley opened #1373 "Error while Retrieving Source from Org using VS code"
Hi,

I am getting below error while trying to retrieve Source from the Org

sfdx force:source:retrieve --manifest c:\Visual Studio Project\DevOrgSetup\manifest\package.xml
ERROR running force:source:retrieve:  Invalid or unsupported zip format. No END header found
11:13:14.96 sfdx force:source:retrieve --manifest c:\Visual Studio Project\DevOrgSetup\manifest\package.xml ended with exit code 1

[2019-05-28 15:21] vtandon-wiley opened #1423 "Error while Retrieving Source from Org using VS code"
Hi,

I am getting below error while trying to retrieve Source from the Org

sfdx force:source:retrieve --manifest c:\Visual Studio Project\DevOrgSetup\manifest\package.xml
ERROR running force:source:retrieve:  Invalid or unsupported zip format. No END header found
11:13:14.96 sfdx force:source:retrieve --manifest c:\Visual Studio Project\DevOrgSetup\manifest\package.xml ended with exit code 1

[2019-05-28 17:32] lcampos commented on #1372
Hi @play62ca & @soql101 , this is caused by using a debug log that was not created using the Debug levels set by the Replay Debugger trace flag. The validation is in place to make sure that the data needed by the Replay Debugger is part of the debug log file.

Below is a screenshot where I highlight a debug log line that has invalid levels (`APEX_CODE, FINE` instead of `APEX_CODE, FINEST`) and cau

[2019-05-28 17:33] lcampos commented on #1372
I'm closing this issue since it is a valid error caused by a validation on the Replay Debugger.

[2019-05-28 19:30] #1357 closed

[2019-05-28 20:23] lcampos commented on #1267
Hi @Szandor72 what version of the extensions are you on ? Is there anything particular about the project's shape or the components you're working on ?

In case you have a project you can share with us, that would help us debug the issue and work on a fix. We've unfortunately haven't been able to replicate it on our side.

[2019-05-30 06:15] az-oolloow opened #1374 "Managed Package target config for the LWC - namespace not resolved"
Firstly, this may not even be SFDX issue per se, but i am not sure where else to raise it.

I am developing a managed package with a custom namespace.

Because of that, when i define e.g. a record page LWC, i need to qualify my object in the `targetConfig` in the LWC component metadata, e.g. like so:
[code]

This is mighty annoying because this is literally the only place in the project where i HA

[2019-05-30 13:19] paustint opened #1375 "Explorer does not show newly created files"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  Create a project using a manifest
1.  right click on lwc and choose new lightning web component
1. add a new file
1. the files are created, but the explorer does not show the files

### Expected result
1. files show in explorer

### Actual result
1. I have to restart VSCode for new components to s

[2019-05-30 15:00] tmays-awh commented on #1262
I'm not so sure this is just user error. I have salesforcedx-vscode-core.retrieve-test-code-coverage set and the Highlight Apex Code Coverage on, but in my test-result-codecoverage.json it's just an empty array [] and the output panel shows this...

`Starting Run Apex test(s)

10:45:06.62 sfdx force:apex:test:run --tests UGearsTest --resultformat human --outputdir /Users/tmays/workspace/hastings-u

[2019-05-30 15:12] tmays-awh commented on #1262
ok, it is user error. Store Only Aggregated Code Coverage was checked off in the Apex Test Execution Options.
![Screen Shot 2019-05-30 at 11 07 27 AM](https://user-images.githubusercontent.com/42419723/58642571-9ddd2a80-82cb-11e9-8fd1-278cc7697a65.png)

[2019-05-30 17:03] dangmai opened #1376 "Metadata from Sandbox always retrieved with latest API version instead of following sourceApiVersion"
### Summary

Metadata Retrieval from a Sandbox always uses the latest API version (right now, 45.0) instead of using the `sourceApiVersion` specified in `sfdx-project.json`.

### Steps To Reproduce:

1.  Use an old API version in `sfdx-project.json`, for example:

[code]
1.  Authorize with a Sandbox

1.  Right click on a custom object in the `objects` directory, click `SFDX: Retrieve Source From O

[2019-05-31 13:57] ivanovivelin commented on #917
Is there any update on this ? It takes minutes against a Sandbox.

[2019-05-31 16:53] RESTORE-thaierissa commented on #917
I found that if i reauthorize the org first, the issues subside.

[2019-05-31 21:01] khmerforce commented on #1262
@tmays-awh how do you enabled salesforcedx-vscode-core.retrieve-test-code-coverage?

[2019-05-31 21:30] khmerforce commented on #1262
@tmays-awh I did everything but it's not working for me...

[2019-06-02 16:33] magesh28 commented on #356
@vazexqi  Is this still open? Let us know when this feature will available for use.

[2019-06-03 08:09] JorneVL commented on #1126
Any update about this problem?

[2019-06-03 13:00] jjTorrent commented on #1267
I am also experiencing this issue with both Aura and LWC language servers.

Mac OS Mojave, 10.14.5 (18F132)
sfdx-cli/7.8.1-8f830784cc darwin-x64 node-v10.15.3
VS Code, Version 1.34.0 (1.34.0)
Extensions, version 45.15.1

[2019-06-04 05:50] #1369 closed

[2019-06-04 12:27] muenzpraeger opened #1378 "Language Server support for Lightning Web Components Open Source"
**Is your feature request related to a problem? Please describe.**
The Language Server that is shipped with the Salesforce Extensions for Visual Studio Code currently only supports Lightning Web Components development within Salesforce DX projects.

With this it's not easy to develop LWCs off platform, as essential functionality is missing (i. e. auto-completion of tags, cmd+click into other compo

[2019-06-04 12:53] pogilvie commented on #1378
+1. Yes this is needed to build the viability of LWC as a stand-alone framework.

[2019-06-04 15:37] stephenwillcock commented on #1267
I am also seeing the same problem with both Aura and LWC language servers, on trivial projects.

Mac OS Mojave, 10.14.5
VS Code Version 1.34.0
sfdx-cli/7.8.1-8f830784cc darwin-x64 node-v10.15.3
LWC/Aura extensions version 45.15.1

I seem to be able to work around the issue by downgrading the LWC/Aura extensions to 45.12.0

[2019-06-04 16:17] vermaajit opened #1379 "Issue with salesforce org authorization"
I use VS code for salesforce project development and I always have more than one project connected to different salesforce org. e.g I have two projects, SF_Porject1 and SF_Project2 which are connected to different sandbox SF_Org1 and SF_Org2 respectively. But the problem here is that when I switch from SF_Porject1 to SF_Porject2 then salesforce org is not persistent and connection SF_Org2 is broke

[2019-06-04 16:53] Jqda0 commented on #1337
@praksb any more information about this?

[2019-06-04 17:05] sam1730 opened #1381 "Apex Replay Debugger: Error: spawn ENOTDIR on Ubuntu 18.10"
### Summary

_Apex Replay Debugger on Ubuntu doesn't seems to be working any time._.
Here's the configuration
`{
  // Use IntelliSense to learn about possible attributes.
  // Hover to view descriptions of existing attributes.
  // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Launch Apex Replay Debugger

[2019-06-04 21:49] ntotten commented on #1193
We are unable to reproduce this, could you provide more details. Maybe a test project?

[2019-06-04 23:28] praksb commented on #1337
@Jqda0 We are currently testing a couple of fixes that may improve indexing for some customers. No timeline yet for the release of these fixes.

[2019-06-04 23:31] #957 closed

[2019-06-05 06:55] anterey commented on #965
Please get this fixed! I know it's not stopping the component from getting saved but it's a bit annoying to see that there's an error even though there isn't any.

Because of this, I just used [<ui:outputCurrency>](https://developer.salesforce.com/docs/component-library/bundle/ui:outputCurrency/example) instead.

[2019-06-05 07:15] ivanovivelin commented on #917
Well, for me it is unusable against a Sandbox

[2019-06-05 17:29] lcampos commented on #1381
hi @sam1730 can you add which version of the Salesforce extensions for vscode you are using ? You can see that by going to the Extensions section and looking at the Apex extension description.

Also, which version of Java did you install ? We currently support Java JDK 8 or Java JDK 11. That is needed for the Apex language server, which is then used by the Apex debuggers.

[2019-06-05 18:30] SalesforceBobLightning opened #1382 "In VSCode is it possible to make SFDX Retrieve Source From Org confirm before proceeding?"
I'd like VSCode to confirm with me when I run command:

Before proceeding, because I regularly select the wrong option when right clicking.

Is there a setting or option to enable this?

[2019-06-06 04:26] SethMagner opened #1383 "Using VSCode and SF extension unable to perform conflict resolution."
### Summary
When performing a commit vscode is sending a file to a stage changes area instead of a merges changed area not allowing for conflict resolution.
![1](https://user-images.githubusercontent.com/28605067/59006776-b2508400-87f1-11e9-818d-129e263b4f69.png)

[2019-06-06 15:28] ntotten commented on #1383
This seems like it is related to VS Code itself rather than the extensions. I would suggest opening a bug on https://github.com/microsoft/vscode instead.

[2019-06-06 15:28] #1383 closed

[2019-06-06 15:30] ntotten commented on #1378
This will happen soon, we are just waiting on legal and security approval.

[2019-06-06 15:33] ntotten commented on #1375
This is an issue with VS Code itself rather than the extensions. Maybe try setting `files.useExperimentalFileWatcher: true`. See https://github.com/Microsoft/vscode/issues/31600 and https://github.com/Microsoft/vscode/issues/28432, there are also more.

[2019-06-06 15:33] #1375 closed

[2019-06-06 15:34] muenzpraeger commented on #1378
🥇

[2019-06-06 16:54] ChuckJonas commented on #1378
can someone please explain why a javascript framework needs its own language server?  I would think it would only apply to on-platform features (like getting SObject/API information?).

Seems like just providing @types would be enough...

[2019-06-06 16:59] muenzpraeger commented on #1378
Well, the language server is what for example auto-provisions the types.

Or cmd+click on a JS expression within the HTML template to get routed to the JS file. Other frameworks like Vue have the same.

[2019-06-06 17:02] ChuckJonas commented on #1378
yea I didn't consider the html templating syntax.

[2019-06-06 17:04] nrkruk commented on #1267
@stephenwillcock @jjTorrent @Szandor72 could one of you provide the url for a specific github repository you can reproduce this issue on? That would help me track down exactly what is happening

[2019-06-06 18:42] jjTorrent commented on #1267
@nrkruk
[DevHubTest](https://github.com/jjTorrent/DevHubTest)

[2019-06-07 10:48] stephenwillcock commented on #1267
For me this occurs immediately after creating a [new SFDX project](https://github.com/stephenwillcock/sfdx-empty-project)

[2019-06-07 14:06] ntotten commented on #917
The issue with deployment time against sandboxes is something that is known and we are working on. It is, however, something that is on the backend and not something we can resolve with VS Code. There is an update going out soon that will speed up deployment time against sandboxes for smaller deployments that should help out with this issue. We are continuing to do work to improve this over time,

[2019-06-07 15:05] ChuckJonas commented on #1382
as a workaround you could write your own task to do this (and pretty much the rest of this extension).  Would look something like this:

[code]

you could think add a keybinding for ease of use:

[code]

[2019-06-07 15:58] jjTorrent commented on #1267
@stephenwillcock
Same here. Actually, it's with _all_ projects, for me.

[2019-06-07 17:18] raghurankawat commented on #971
We need this as well.
Currently we are using ForceCode extension for VScode which do the same and gives a warning pop-up on conflict but would be great if we can do it directly through SFDX plugins.

[2019-06-07 19:05] monirkohi2006 commented on #917
"There is an update going out soon that will speed up deployment time against sandboxes for smaller deployments that should help out with this issue."  Where can we find the status of the update or any info regarding the update?

[2019-06-07 19:09] ntotten commented on #917
@monirkohi2006 There isn't anything public about it. It's purely internal systems updates and will have no functional changes to APIs, etc. Its a performance update on how queues work internally.

[2019-06-07 19:18] mtetlow commented on #1267
@lcampos @nrkruk can you add any details on how we can generate a useful debug log when this occurs? This may get us closer to resolving it.

[2019-06-07 20:27] ChuckJonas commented on #1155
@ntotten any movement on this one?

[2019-06-08 04:51] sam1730 commented on #1381
Hi @lcampos
JAVA VERSION :
java version "1.8.0_211"
Java(TM) SE Runtime Environment (build 1.8.0_211-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.211-b12, mixed mode)

Extension Version:
45.15.1

[2019-06-08 07:21] Sunao-Yoshii opened #1385 "Installation does not finish."
### Summary

Installation task are stop at 'Apex' and 'CLI Integration' when installing Salesforce Extension Pack.
I waited for an hour but never completed and I abandoned the installation.

### Steps To Reproduce:

I cant pass...

1.  VSCode(with Anaconda) install -> stop
1.  Remove all extension and retry -> stop
1.  Remove VSCode and re install -> stop

### Expected result

Complete install tas

[2019-06-08 08:09] Sunao-Yoshii commented on #1385
Far from reproducing the problem, it does not succeed in the first place.
I think I can not debug in this situation, so I close it.

May be other open source app...

[2019-06-08 08:09] #1385 closed

[2019-06-09 21:42] Postem1 commented on #1267
Try to download/update your _python_ extension.  Might be a good idea to also look at other dependencies.

[2019-06-09 21:47] jjTorrent commented on #1267
@Postem1
Not sure what you mean. I don't have a Python extension installed in VS Code. Can you clarify?

[2019-06-10 03:47] gbutler61 opened #1386 "switch on trigger.operationType"
VSCode vs Developer Console in regards to trigger.OperationType and ENUM

### Summary

As shown in the attached screen shot, you can see that the same code shows that VSCode and Developer Console are not allowing the same code.  I have placed the same references in several contexts to show side by side how they differ.

I also attempted to resolve based on issue 825...

### Steps To Reproduce:
see

[2019-06-10 03:51] gbutler61 commented on #1386
closing as was just trying to search but entered in wrong field...  Apologies

[2019-06-10 04:50] gbutler61 commented on #1386
Am reopening as the other closed bug did not resolve my issue.

[2019-06-10 05:25] ruchashende opened #1387 "Failing to retrieve source from org"
Issue Type: <b>Bug</b>

Steps to produce:
Right click on package.xml file under manifest folder. Click on retrieve source from org.

Fails to retrieve code.

Extension version: 45.15.1
VS Code version: Code 1.35.0 (553cfb2c2205db5f15f3ee8395bbd5cf066d357d, 2019-06-04T01:17:12.481Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R

[2019-06-10 17:00] praksb commented on #1386
@gbutler61 I am not able to reproduce this issue. Looking at your screenshot it seems like your error messages in VS code looks stale which could be the bug here. If you close and re-open VS Code does the error messages refresh?

[2019-06-10 17:18] Postem1 commented on #1267
@jjTorrent
I was referring to the Python extension (created by Microsoft) in VS Code.
Try downloading it and see if that helps.  It is a dependency for the Salesforce pack.

[2019-06-10 17:21] jjTorrent commented on #1267
@Postem1
I wasn't aware of that. If it's a dependency, then why isn't it installed alongside the other dependent extensions for SF? Curious. Anyway, I'll give it a shot!

[2019-06-10 17:22] jjTorrent commented on #1267
@Postem1
No change. The language servers continue to crash after installing the Python Extension for VS Code created by Microsoft.

[2019-06-10 17:26] lcampos commented on #1267
@jjTorrent @Postem1 the Salesforce extensions **do not** depend on any python extension. We are still looking into this and will update this thread once we have a fix ready. Sorry for the trouble this is currently causing.

[2019-06-10 18:21] gbutler61 commented on #1386
I already did that multiple times…

From: praksb <notifications@github.com>
Sent: Monday, June 10, 2019 1:00 PM
To: forcedotcom/salesforcedx-vscode <salesforcedx-vscode@noreply.github.com>
Cc: gbutler61 <Gary@TheButlers.us>; Mention <mention@noreply.github.com>
Subject: Re: [forcedotcom/salesforcedx-vscode] switch on trigger.operationType (#1386)

@gbutler61 <https://github.com/gbutler61>  I am no

[2019-06-10 20:20] praksb commented on #1386
@gbutler61 Please note that you'll see the errors only when "salesforcedx-vscode-apex.enable-semantic-errors"  is set to "true". You may have to restart VS code after setting it to "true". If you are still seeing this issue after doing it then is it possible for you to zip the project and share it with me to help me attempt to repro the issue? You may have to upload it somewhere and send me the li

[2019-06-11 14:27] srkhari opened #1389 "Saving apex (to server) takes approximately 7 minutes"
When trying to save any apex file (controller, an apex class, trigger, ...), VS Code take approximately 7 minutes to successfully save. In case if there are any errors, it fails in few seconds. I tried connecting with multiple sandboxes and I see the same issue consistently. All of this started two weeks ago and before that, it used to take few seconds to a minute at most.

Steps to reproduce:
1.

[2019-06-11 22:25] #1193 closed

[2019-06-12 15:01] radanatme opened #1393 "Issue with Creating Project with Manifest"
[Screenprint.docx](https://github.com/forcedotcom/salesforcedx-vscode/files/3281929/Screenprint.docx)
After installing the VS Code with Salesforce Extension Pack, when trying to create a new Project with Manifest, it always throw an error "Invalid Event Target" with no other information. Cannot proceed further, please help.

[2019-06-12 15:07] sam1730 commented on #1381
Hi @lcampos
Can you please help me on this?

[2019-06-12 18:45] AndrewRayCode opened #1394 "Don't modify eslint path automatically, don't automatically change user settings"
Every time I open VSCode this extension automatically adds `  "eslint.nodePath": "/Users/myuser/.vscode/extensions/salesforce.salesforcedx-vscode-lwc-45.15.1/node_modules"
` to my `settings.json` file.

Please stop auto modifying config files, this affects any VSCode session I open regardless of it's a Salesforce project. It happens without prompting. Your extensions have already fully deleted my

[2019-06-12 19:57] girishla opened #1395 "lwc-language-server code base"
Is the lwc-language-server open sourced? If yes, where can I find the source code ?

[2019-06-12 23:21] lcampos commented on #1394
Hi @AndrewRayCode, can you provide more info on how you are setting up the Salesforce extensions ? The issue you reference only happens when the Salesforce extensions get activated which is specific to the project being a Salesforce project. The `settings.json` that gets the eslint value is exclusively the one for the project.
We're working on modifying this behavior but would like to make sure we

[2019-06-12 23:23] lcampos commented on #1395
Hi @girishla, the `lwc-language-server` is currently not open sourced but @ntotten can provide more info regarding its roadmap.

[2019-06-12 23:27] lcampos commented on #1381
Hi @sam1730 I haven't been able to replicate this yet. Could you open VSCode's dev tools (Help > Toggle Developer Tools), go to the `Console` tab in dev tools and see if there's any error & stack trace on it ? If you do find one could you attach it here ?

[2019-06-13 02:09] Stragis commented on #940
Any progress here? I just started using Uncrustify after getting frustrated trying to get prettier to work for the 3rd time.

[2019-06-13 02:49] sam1730 commented on #1381
Hi @lcampos
![image](https://user-images.githubusercontent.com/8025897/59400103-ead4fc80-8db3-11e9-84f8-81453bf21f2b.png)

![image](https://user-images.githubusercontent.com/8025897/59400130-00e2bd00-8db4-11e9-9a77-e114a76926ad.png)

[2019-06-13 03:37] lcampos commented on #1381
Ok, that error means that the Apex Language Server ran into an issue while starting up. Have you tried setting up your JDK configuration for the extensions using the `salesforcedx-vscode-apex.java.home` setting like it's documented on [Set Your Java Version](https://forcedotcom.github.io/salesforcedx-vscode/articles/troubleshooting#set-your-java-version) ? We currently support using JDK 8 or JDK 1

[2019-06-13 15:04] sam1730 commented on #1381
Thanks @lcampos
It worked for me now.

[2019-06-13 15:04] #1381 closed

[2019-06-13 18:47] praksb commented on #940
@Stragis:
@dangmai has an RC out for Apex prettier: https://github.com/dangmai/prettier-plugin-apex

[2019-06-14 11:11] cam2982 commented on #1299
We have the same error on large project. The same configuration of visual studio code works well with a small org. When Salesforce Pack Extension is working cpu is 100%. In very important to fix this problem because is impossible tu use VSC with big clients.

[2019-06-14 12:16] ersi8906 commented on #1299
Same problem here. The extension gets unusable configuring large projects

[2019-06-14 13:49] NightBijou commented on #1267
Hi guys, same problem over here: I was getting the two errors "The Aura Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted." and "The LWC Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted." after opening a Salesforce DX project in Visual Studio Code. I did not have this problems from the start but I don't reme

[2019-06-14 14:46] sthornley commented on #1267
@NightBijou's solution has fixed the errors on my system. Thanks!

[2019-06-14 15:36] rhyatt-qualtrics opened #1399 "Please add support for openjdk"
**Is your feature request related to a problem? Please describe.**
It is frustrating that be forced to use Oracle's new java 8's updated license terms instead of just using open jdk. I tried to have your plugin use openjdk, but I am getting this message:
![image](https://user-images.githubusercontent.com/50032708/59520629-9dc25a80-8e87-11e9-9c5d-354ff9edbe41.png)

**Describe the solution you'd lik

[2019-06-14 16:14] stephenwillcock commented on #1267
Likewise - installing [Node 10.16.0](https://nodejs.org/en/download/) (5.4.1 to 6.9.0) fixed it for me
Thanks @NightBijou !

[2019-06-14 16:45] jjTorrent commented on #1267
Yes!!! I also updated npm via Terminal:
**npm** install **npm**@latest -g

[2019-06-14 19:46] nrkruk commented on #1267
PR is up with a fix - big thanks to @NightBijou for the useful info- helped me track down and reproduce the issue. This should be resolved in tomorrow's release of the plugins.

[2019-06-17 05:53] NightBijou commented on #1267
Hey everyone, I'm glad to see that the problem could be solved. @nrkruk Thanks for your quick response. This tool set is important to us, keep up the good work, I'm looking forward to seeing more cool stuff from you guys in the future.

[2019-06-17 10:59] Nathorr commented on #1399
AdoptOpenJDK 11 for Windows and jdk-openjdk package in extra repository for Arch Linux both work well with these extensions. No need to have Oracle's JDK.

[2019-06-17 13:08] nrkruk commented on #1267
Issue is now resolved in v46.1.0 of the extensions

[2019-06-17 13:08] #1267 closed

[2019-06-17 13:37] robcowell opened #1405 "Methods not detected in Apex under VS Code"
I updated my SFDX tooling this morning following Summer 19 release (thanks to the reminder by Rene Winkelmeyer) and now one of my classes is getting VS Code warning to "Declare missing method" even though the method exists as a public method in the base class of my class.  This was not the case on Friday and I've not touched the code since then, only updated the SFDX CLI and VS Code plugins thereu

[2019-06-17 13:43] robcowell commented on #1405
Also being triggered for private methods declared in the same class as the method call

[2019-06-17 13:53] robcowell commented on #1405
https://github.com/forcedotcom/salesforcedx-vscode/blob/develop/packages/salesforcedx-vscode/CHANGELOG.md includes PR-1391 that talks about the `Declare missing method` message - coincidence?

[2019-06-17 14:41] praksb commented on #1405
@robcowell This is a new Code action -> Quick fix option that we added recently. What you are observing looks like a bug to me. Can you please share a screenshot of the issue along with the source code that we could use to repro?

Thanks!

[2019-06-17 15:12] robcowell commented on #1405
So it suggests a quick fix of declaring the "missing method" like so
![1](https://user-images.githubusercontent.com/2143167/59615439-67503e00-911a-11e9-9539-901e33584835.png)

but the method definitely exists as below
![2](https://user-images.githubusercontent.com/2143167/59615470-7800b400-911a-11e9-904e-997e6f5349ea.png)

Source test harness to follow shortly

[2019-06-17 15:15] dcstuff commented on #1405
@robcowell Can you screenshot what you're trying to pass into the method? Is it possible the argument types don't _exactly_ match? I.e., maybe passing in `Map<Id, Event>` when it expects `Map<Id, sObject>`. I'm just thinking out loud...

[2019-06-17 15:18] robcowell commented on #1405
![image](https://user-images.githubusercontent.com/2143167/59615844-2c023f00-911b-11e9-8911-ba7437888c8f.png)

@dcstuff is right in that the base methods use generic sObject collections new newList/oldMap whereas in the derived class(es) where they are used, things are a little more strongly-typed, which may confuse the code parser looking for method signature matches

[2019-06-17 15:23] robcowell commented on #1405
Another example from the Test class associated with the above methods - existing code has `private static List<Event> getEventsForContact(){` but the quick fix version generates the same without the static modifier.

[2019-06-17 15:33] robcowell commented on #1405
In each of these cases, the right-click `View Definition` capability seems affected too, i.e., no longer can match the signature and jump to the definition

[2019-06-17 15:40] praksb commented on #1405
@robcowell What is the type of newList and oldMap where you call method UpdateLastMeeting? Can you also share the code that is generated when you invoke the quick fix?

[2019-06-17 15:46] robcowell commented on #1405
@praksb it generates

`private void UpdateLastMeeting(List<SObject> newList, Map<Id,SObject> oldMap){} `

versus actual definition of

`private void UpdateLastMeeting(List<Event> newList, map<Id, sObject> oldMap){}`

so does look like a generic vs specific sObject thing at first glance

[2019-06-17 16:51] praksb commented on #1405
@robcowell Can you go to View->Command Palette and run "SFDX: Refresh SObject Definitions" command? After that can you do a Go-to-definition on "Event" to verify if it goes to the generated Event.cls file?

Please let us know if the issue still repros after trying the steps above.

[2019-06-17 17:10] robcowell commented on #1405
Have left office for the day, will try first thing in the morning (UK) and
confirm

On 17 June 2019 17:51:17 praksb <notifications@github.com> wrote:

[2019-06-17 17:18] joeferraro commented on #1405
Having the same problem even after refreshing SObject definitions and reloading the workspace. Missing method quick fixes are suggested when the method already exists in the class and I can never clear them.

[2019-06-17 17:44] delcs827 commented on #917
Can confirm this is happening to me as well. 2 minutes to deploy a LWC seems much longer than it should normally take.

[2019-06-17 17:56] praksb commented on #1405
@joeferraro Do you have a code sample that you could share?

[2019-06-17 20:54] #1386 closed

[2019-06-17 21:36] praksb commented on #1399
@rhyatt-qualtrics OpenJDK is supported. Please follow the instructions here to set your Java
version: https://forcedotcom.github.io/salesforcedx-vscode/articles/troubleshooting We need to update the error message though.

[2019-06-17 21:36] #1399 closed

[2019-06-17 22:42] romnus commented on #971
@ntotten Do you have an update on this issue? Developers overwriting each other's work is a big headache in our org as well.

[2019-06-18 13:11] robcowell commented on #1405
Has a patch been rolled out for this already?  The same class I was looking at yesterday now has zero issues flagged, with no changes made to my Apex

[2019-06-18 13:19] robcowell commented on #1405
@praksb I attempted to make a generic sample code example but couldn't reproduce the issue, so I loaded up the class I had struggled with yesterday and it's no longer affected.  But this is a different DX project pointing at the same sandbox.  I loaded the original DX project, loaded up the same class and the 11 missing method errors came back.  This makes me think it could be something in the DX

[2019-06-18 14:46] robcowell commented on #1405
Sample code
![image](https://user-images.githubusercontent.com/2143167/59694154-10ad3780-91e0-11e9-86c6-5609a67a2ba6.png)

`public with sharing class SampleClass extends baseclass
{
    public SampleClass()
    {
        List<Contact> contactList = new List<Contact>();
        ExampleMethod(contactList);
    }

    public override void ExampleMethod(List<SObject> contacts)
    {
        for (SObje

[2019-06-18 18:04] camisotro commented on #1405
Also experiencing this. In my case the context is, the constructor of an inner class invokes a static method of the parent class. This invocation is highlighted as if it were a missing method.

[2019-06-18 18:09] aotolbert commented on #917
I can also confirm that it can take up to 5 minutes to deploy (from VS Code using integrated CLI) and I often have to cancel the deploy and try again multiple times before it is successful within an "acceptable time-frame" nowadays about 20-30 sec.

[2019-06-18 20:17] NathanWenslaff opened #1408 "Push Source and Override Conflicts Command"
### Summary

The Push Source and Override Conflicts Command used to list compilation errors in the Output tab in the terminal. It no longer shows a list of the errors:

![Screen Shot 2019-06-18 at 3 12 38 PM](https://user-images.githubusercontent.com/35071304/59716394-8bc01f00-91db-11e9-89f3-ba284222bfbb.png)

I noticed this change very recently.

### Steps To Reproduce:

1.  Try to push source co

[2019-06-18 21:04] chandra2ravi opened #1409 "forceignore not working"
I set below in forceignore and it worked before it's not working after 46 version
**listViews
#/force-app/main/default/objects/Account/listViews
**/*CloudingoAgent__**
**CloudingoAgent__**

PS C:\SalesforceDX\HMI DX\hmidelete> sfdx force:source:push
PROJECT PATH                                                                                      ERROR
──────────────────────────────────────────────

[2019-06-18 21:05] chandra2ravi opened #1410 "Unexpected file found in package directory lwc\jsconfig.json"
PS C:\SalesforceDX\HMI DX\hmidelete> sfdx force:source:push
ERROR running force:source:push:  Unexpected file found in package directory: C:\SalesforceDX\HMI DX\hmidelete\force-app\main\default\lwc\jsconfig.json

![image](https://user-images.githubusercontent.com/93057/59719831-ef9a1600-91e2-11e9-9c37-c4b1064ced90.png)

[2019-06-18 21:06] chandra2ravi commented on #1409
![image](https://user-images.githubusercontent.com/93057/59719865-06406d00-91e3-11e9-9812-a6b422164a2a.png)

[2019-06-18 23:16] ctoynbee opened #1411 "When I "deploy this source to org" and the deploy fails it no longer shows the errors in the panel."
### Summary

When I "deploy this source to org" and the deploy fails it no longer shows the errors in the panel.

### Steps To Reproduce:

1.  Deploy an apex class to a salesforce org using VS code with an error in the class
1.  View the output panel e.g. https://www.dropbox.com/s/629htz6fzq6s9g8/Screenshot%202019-06-19%2011.13.59.png?dl=0

### Expected result

[code]

### Actual result

[code]

#

[2019-06-19 02:04] mshanemc commented on #1378
@ChuckJonas there's also some slightly funky things that html doesn't like when it tries to parse that as actual CSS.  It'd be nice for that work in any LWC context.
`<c-whatever style={computedStyle}></c-whatever>`

[2019-06-19 02:06] domonique-ncino commented on #1267
I still get this error.

[2019-06-19 08:09] nkadis commented on #1405
I get the same Quick fix message for any method that inherits from another class, or generic methods. I can `cmd+click` or `right-click->Go to Definition` and I'm taken to the method declaration - even though I get the `Quick fix available: Declare missing method` message.

[2019-06-19 08:15] keirbowden commented on #1405
I'm getting this for pretty much every method call in my class and any that are statically referenced from other classes. Not sure if it makes any difference, but in this case I'm using the metadata rather than source structure, so ./src/classes.

[2019-06-19 08:18] robcowell commented on #1405
@keirbowden yeah, I get it in both metadata formats/folder structures

[2019-06-19 08:37] stevevg commented on #1411
Same here, this happens also when pushing to default scratch org:

[code]

[2019-06-19 09:41] pibenettmodis commented on #917
The same here! Could you solve this please :)

[2019-06-19 12:00] oszikr commented on #361
Make shure SFDX installed: `> where sfdx
C:\Program Files\sfdx\bin\sfdx
C:\Program Files\sfdx\bin\sfdx.cmd
C:\Program Files\sfdx\bin\sfdx.exe`
Use the `sfdx.cmd force:data:record:create [...]` command

[2019-06-19 14:03] NathanWenslaff commented on #1411
For reference, this appears to be the same issue I posted yesterday https://github.com/forcedotcom/salesforcedx-vscode/issues/1408

[2019-06-19 14:06] tannerrobinaugh opened #1414 "Cannot run SFDX commands through command palette"
### Summary

I suddenly cannot run any SFDX commands through the command palette. When I try to run a command such as Authorize an Org, nothing happens for about 30 seconds and then an error appears saying the command could not be found. Also, when I have the extensions installed, Git features in VSCode stop working. I cannot switch branches through the status bar and the Source Control section in

[2019-06-19 14:47] tannerrobinaugh commented on #1414
So this issue started on June 18th at about 2 PM and at about 10:40 AM on June 19th, it is working again. I hadn't done anything to try to make it work since I posted the issue, I just left it alone while I went to a meeting and came back to it working. So while my issue is "fixed", I can't imagine I'm the only one who's experienced this so I'm guessing there's still an underlying issue somewhere.

[2019-06-19 18:04] praksb commented on #1405
@robcowell For the project where this issue repros, what happens when you do a Go-To-Definition on "Contact" in SampleClass.cls?

[2019-06-19 18:06] praksb commented on #1405
@camisotro Can you provide me with a simple code sample that repros for you? It would be great if you could possibly share a zip file for the project so that I can see if any types are missing that may be the cause of this problem.

[2019-06-19 18:10] praksb commented on #1405
@nkadis That is interesting. I am able to repro this only when there is a compile error due to missing types. In your case it looks like the compiler bound successfully. Do you have a simple repro project that you could share with me?

[2019-06-19 18:11] praksb commented on #1405
@keirbowden Project structure shouldn't matter. Does go-to-def on method invocations work?

[2019-06-19 18:38] camisotro commented on #1405
I managed to reproduce a minimal example. I think I see what is happening.

If I call a method using an sObject field as a parameter, but the IDE can't figure out the type of that sObject field, it will fail to resolve that the method signature points to a method I have in the class. In this case for example it can't tell that Opportunity.Description is a String. This despite the fact that in the

[2019-06-19 20:14] praksb commented on #1405
@camisotro Can you do Ctrl+Click on "Opportunity"? This will do a Go-to-defition on "Opportunity" and if it succeeds do you see an "Opportunity.cls" file and does it have "Description" field defined?
Please refer to the attached screenshot for reference:

![Screen Shot 2019-06-19 at 1 10 51 PM](https://user-images.githubusercontent.com/10749920/59797270-2c721580-9294-11e9-9aff-b028c672048b.png)

[2019-06-19 21:08] brpowell commented on #1411
The extensions rely on the JSON output of the CLI to show the failures and successes of this command. Even when I run the CLI command outside of the extensions I'm not getting any failure results, so we'll take a look on the CLI side of things.

[2019-06-19 23:25] lcampos commented on #1410
@chandra2ravi do you have a `.forceignore` file at the top of your repository and does it contain an entry for ignoring that json file e.g. `**/jsconfig.json`

Can you provide the following info:
- Salesforce cli version
- Salesforce vscode extensions version

[2019-06-19 23:30] lcampos commented on #1414
@tannerrobinaugh have you made any changes to your machine e.g. installing OS updates, etc ? The issue you are seeing is caused by executing an `SFDX` command while the extension is still activating. That's why if you execute the same command later it works.

I wonder if something in your system's configuration changed that would make your VSCode run a bit slower than before.

[2019-06-19 23:39] tannerrobinaugh commented on #1414
@lcampos interesting, I hadn't considered that the extension hadn't completed activating yet. OS updates were installed yesterday so that very well could be it. I'll have to test it out tomorrow as it's a work laptop and I don't have it with me at the moment. I can say that there was about 10 minutes between me starting VSCode and then leaving it for my meeting so it took at least that long and pr

[2019-06-20 00:06] camisotro commented on #1405
I did in the end learn that there's a special command for auto-generating those fake classes that help VSCode understand what it's doing. And in some cases that does appear to have fixed it.

However it would be much nicer if the IDE could flag that by suggesting the user run that command, rather than giving an error that is factually incorrect.

[2019-06-20 00:34] lcampos opened #1417 "Apex Replay Debugger footer message does not get cleared after the debugger session expires"
### Summary

When a user runs `SFDX: Turn On Apex Debug Log for Replay Debugger` successfully, the message `Recording detailed logs until <time>` is added to the VSCode footer.
Once the Replay Debugger sessions expires this message is still kept around.

### Steps To Reproduce:

1.  Run `SFDX: Turn On Apex Debug Log for Replay Debugger` from the command palette
1.  Wait until the debugger session

[2019-06-20 00:54] lcampos opened #1418 "Launch configuration for Debugging LWC Jest tests"
**Is your feature request related to a problem? Please describe.**
Jest is the framework suggested for writing tests when working with LWC. The extensions should provide a Launch configuration for running & debugging those tests.

Reference: [sfdx-lwc-jest:Debugging in Visual Studio Code](https://github.com/salesforce/sfdx-lwc-jest#debugging-in-visual-studio-code)

**Describe the solution you'd li

[2019-06-20 01:05] lcampos commented on #1393
Hi @radanatme can you provide the following information on how you've setup your machine:
- Salesforce CLI version
- Salesforce VSCode extensions version
- VSCode version
- Operative system you are using

[2019-06-20 01:08] lcampos commented on #1387
Hi @ruchashende can you provide the version of the Salesforce CLI you are working with ? Did you get an error message/stack trace when the retrieve command failed ? Are you using the `package.json` file created when running `SFDX: Create Project with Manifest` or did you modify it ?

[2019-06-20 01:32] lcampos commented on #1294
@JNiedle I'm closing this since the issue has been addressed in the CLI. I've confirmed it works in version 7.11.2. Thanks for providing feedback and feel free to re-open the issue if you still run into it after updating your Salesforce CLI.

[2019-06-20 01:32] #1294 closed

[2019-06-20 01:32] AndrewRayCode commented on #1394
yikes

this is a serious issue, please re-open

[2019-06-20 02:24] chandra2ravi commented on #1410
.forceignore file at the top of your repository -- Yes
I'm using node npm i think issue with npm installation  is bugggggyyy( lot of other issues tooo)
sfdx-cli/7.8.1-8f830784cc
Salesforce Extension Pack 46.1

[2019-06-20 03:23] vazexqi commented on #1411
This seems to be a bug in the CLI (sfdx-cli/7.11.2 darwin-x64 node-v10.15.3). When passed the `--json` flag, it doesn't return the error but encounters an error.

[code]

[2019-06-20 05:54] ruchashende commented on #1387
Hi @lcampos ,
Currently I am using CLI 46.1.0 version. The error that I received is - `ERROR running force:source:retrieve:  Cannot read property 'fileName' of undefined`
I am not sure which package.json you mentioned. I am using `sfdx-project.json `file and did not modify it.

Initially, when I had authorized the org, I used `sfdx force:mdapi:retrieve -r ./mdapipkg -u _username_ -k ./manifest/pac

[2019-06-20 08:22] robcowell commented on #1405
@praksb to answer your question - it navigates to `.sfdx/tools/sobjects/standardObjects/Contacts.cls`

[2019-06-20 09:09] nkadis commented on #1405
@praksb Thanks for the quick fix - no pun intended. I no longer get that message for any methods that inherit from a parent or any generic methods for that matter, but I do get it in this situation:

![Screenshot 2019-06-20 at 10 02 58](https://user-images.githubusercontent.com/12812036/59836154-ee7ffa80-9342-11e9-8357-0bb507a1665a.png)

Both methods work fine, as in, you can deploy without any er

[2019-06-20 11:18] shamina-acn commented on #1405
Hello, i am facing this issue with methods for lightning apex controller class and test classes too.
if this can help, here is a extract of sample code

![image](https://user-images.githubusercontent.com/40169125/59845394-5ac42380-936e-11e9-8e24-510a87b3fe32.png)

[2019-06-20 13:03] Szandor72 commented on #1411
In addition with https://github.com/forcedotcom/cli/issues/108 this bug impacts our team greatly.

[2019-06-20 14:11] nkadis commented on #1405
Also, something I've noticed - that might not be related to this issue - is that you don't get the `getDescribe()` auto-suggestion on SObjects:

![Screenshot 2019-06-20 at 15 00 20](https://user-images.githubusercontent.com/12812036/59855121-3b2bfb80-936c-11e9-93eb-9f03371c4860.png)

Could it be something to do with some Schema classes or the Schema namespace in general just not being recognised/i

[2019-06-20 15:19] camisotro commented on #1405
I've found another edge case. If my Custom Metadata Type has a lookup to FieldDefinition or EntityDefinition, the generated class file in /sfdx/tools/sobjects/customObjects does not contain the reference field to the lookup.

So if MyMeta__mdt.Object__c is a lookup to EntityDefinition, then I should expect the generated class to have **global EntityDefinition Object__r**. Because it doesn't, I'm g

[2019-06-20 16:01] lcampos commented on #1387
@ruchashende my bad, I was talking about the `package.xml` file.
Do you have any cli plugins installed ? You can run `sfdx plugins` in your terminal, which will give a list of installed plugins.
Also, 46.1.0 is the version of the Salesforce vscode extensions, can you run `sfdx --version` to get the Salesforce CLI version ?

[2019-06-20 17:15] arunmitteam commented on #917
Is there any workaround for this? It has become totally unusable at this time.

[2019-06-20 17:58] arunmitteam commented on #1155
I reduced it to 900 and still no luck. VSCode doesn't initiate the push or deploy for like 5-10 mins.

[2019-06-20 18:15] lcampos commented on #1405
I'm closing this since we've disabled showing the squiggly lines in version `46.2.0` of the extensions. In the meantime, we'll take all your feedback and address it for the next iteration of that feature.

[2019-06-20 18:15] #1405 closed

[2019-06-20 19:39] praksb opened #1420 "Referencing Opportunity.SobjectType should not give an error in the IDE"
Referencing Opportunity.SobjectType  should bind successfully and not give an error.

![Screenshot 2019-06-20 at 10 02 58](https://user-images.githubusercontent.com/12812036/59836154-ee7ffa80-9342-11e9-8357-0bb507a1665a.png)

Both methods work fine, as in, you can deploy without any errors and the code actually runs.

_Originally posted by @nkadis in https://github.com/forcedotcom/salesforcedx-vsc

[2019-06-20 19:43] praksb commented on #1405
@nkadis I have opened a different issue to track the error that you were getting with Opportunity.SObjectType: https://github.com/forcedotcom/salesforcedx-vscode/issues/1420
We already have story in our backlog for improving completion items for the other issue that you mentioned.

[2019-06-20 19:43] praksb opened #1421 "Custom Metadata Type has a lookup to FieldDefinition or EntityDefinition, the generated class file in /sfdx/tools/sobjects/customObjects does not contain the reference field to the lookup."
I've found another edge case. If my Custom Metadata Type has a lookup to FieldDefinition or EntityDefinition, the generated class file in /sfdx/tools/sobjects/customObjects does not contain the reference field to the lookup.

So if MyMeta__mdt.Object__c is a lookup to EntityDefinition, then I should expect the generated class to have **global EntityDefinition Object__r**. Because it doesn't, I'm g

[2019-06-20 19:44] praksb commented on #1405
@camisotro Lets track the issue you found separately: https://github.com/forcedotcom/salesforcedx-vscode/issues/1421

[2019-06-20 19:48] camisotro commented on #1421
Thanks, following!

[2019-06-20 19:48] praksb commented on #1405
As Luis had mentioned, we have disabled showing the quick fix message for now, however, you can still invoke the Declare missing method quick fix in cases where it is applicable. If you have salesforcedx-vscode-apex.enable-semantic-errors": true in your settings.json then if you hover over the error message squiggly then the quick fix option will show up in cases where it is applicable.

Thanks fo

[2019-06-21 00:41] AndrewRayCode commented on #871
Why is log level fatal set? I don't get any results back at all. I have to run the command in a local shell without the loglevel to see my actual deployment error. Why do you lock developers into a format that they can't use? Or is there a way to configure this I'm not aware of? I don't see any relevant settings containing the word "deploy"

[2019-06-21 00:53] lcampos commented on #871
@AndrewRayCode I think you're running into the CLI issue mentioned in issue #1411. We're currently working on the fix and will update that thread once it's released.

[2019-06-21 04:38] monirkohi2006 commented on #917
This issue was reported on Aug 22, 2018.  Any update please?

[2019-06-21 12:28] Radhikaba commented on #753
I am also facing the same error. It has started happening after I reinstalled my VScode. Any clue on how to resolve this. I even deleted the folder mentioned in the path but then also the same error is coming, even though the path shown in error doesn't even exist anymore.

[2019-06-21 14:30] prudev commented on #1299
I'm having the same issues: Apex Language Server crashes with Out of Memory error and severe system-wide performance degradation.  New laptop (2.7 GHz quad core, 8GB RAM, SSD), very large org (~800 Apex classes & triggers, >450 test classes).  Apex Language Server crashes (after 15 minutes) with the same Out of Memory issue.  However, the performance degradation on Windows 10 is so severe, the vid

[2019-06-21 15:59] tnoonan-salesforce commented on #1411
This issue is fixed in 7.12.3 of the toolbelt. Just run sfdx update...

[2019-06-21 16:00] tnoonan-salesforce commented on #871
This issue is fixed in 7.12.3 of the toolbelt. Just run sfdx update...

[2019-06-21 17:06] praksb commented on #1299
Thanks for reporting the problem. We are working on this currently and will roll out incremental improvements to perf in the coming releases. I'll update this thread when we have some changes ready for you to try.

[2019-06-24 00:40] #1408 closed

[2019-06-24 01:25] ianmokang opened #1425 "It stopped providing detailed error messages"
### Summary

When I code something and deploy to a sandbox, it fails if I made a mistake or something doesn't work with the configuration of the sandbox.   When it fails, it used to give detailed reasons such as:
**row 3 col 5 illegal assignment of String in Number field**

However, for some reason it stopped giving reasons but just the outcome
Now it just says **DeployFailed: Deploy Failed**

I a

[2019-06-24 01:29] #1425 closed

[2019-06-24 01:30] ianmokang commented on #1425
Found a similar issue and resolution #1411

[2019-06-24 05:35] #1411 closed

[2019-06-24 13:39] ntotten commented on #1395
We are working on final approvals for open sourcing the LWC and Aura language servers. Should be within a month.

[2019-06-24 14:26] ntotten opened #1426 "Default VS Code Configuration"
It would be good to include some smart defaults to the `.vscode/settings.json` file in new projects. Some proposed settings are:

[code]

[2019-06-24 15:35] ClemABT commented on #1299
Thanks for the update and will let you know results of my tests.

[2019-06-24 15:45] girishla commented on #1395
Great, thanks for the update @ntotten

[2019-06-24 19:32] paustint commented on #971
I am ready to stop getting messages like the one I got today:

[2019-06-24 19:40] ntotten commented on #971
We are actively working on this. Unfortunately, due to some decisions that were made a long time ago, this isn't super straight forward. I am hoping we will be able to ship this by August, but that isn't for sure.

[2019-06-24 23:26] FabienTaillon commented on #1411
I’m still having the issue even with the latest release. And it looks like I’m not the only one: https://salesforce.stackexchange.com/questions/267070/sfdx-wont-push-to-scratch-org-no-error-detail

[2019-06-25 01:07] lcampos commented on #1411
@FabienTaillon just to clarify, it looks like that thread is specific to executing the command without the `--json` flag which would be specific to doing deploys outside of the vscode extensions experience. Are you missing the error info when running `SFDX: Deploy Source ...` or `SFDX: Push Source ..` ?

Btw, I've been able to replicate the error in the thread and will work on a fix but want to ma

[2019-06-25 01:19] lcampos commented on #1410
@chandra2ravi is it possible for you to share a repository that I can use to replicate the issues you are experiencing ? I'm not able to replicate what you're experiencing.
Also, I'm assuming you're working on a windows machine because of the file path included in previous messages.

[2019-06-25 01:22] lcampos commented on #1409
Duplicate of #1410 , I'm closing this one and will follow up in the other issue's thread.

[2019-06-25 01:22] #1409 closed

[2019-06-25 07:47] spavunaleaseplan commented on #1353
I have the same problem since recently. It makes it quite unworkable.

[2019-06-25 11:51] FabienTaillon commented on #1411
My bad, I was using source:push -f direclty in the VS Code terminal because of conflicts in the Scratch Org, not the VS Code command palette.

[2019-06-25 13:46] spavunaleaseplan commented on #971
Chiming in on this, would be great to have. I have had to stop using SFDX for this and went back to Mavensmate. Waiting for it being released :)

[2019-06-25 14:25] radanatme commented on #1393
@lcampos  apologize for the delayed response.

I have the latest version for everything -

Salesforce CLI version - 46.2.0
Salesforce VSCode extensions version - 46.2.0
VSCode version - 1.35.1
Operative system you are using - Microsoft Windows 8.1 Enterprise

![Versions](https://user-images.githubusercontent.com/49601084/60106622-8874e800-9733-11e9-9b24-ef3b8708b250.png)

[2019-06-25 14:36] joeferraro opened #1429 "Add ability to suppress distracting language server output"
**Is your feature request related to a problem? Please describe.**
It's frustrating when the Apex Language Server, for example, experiences an exception and it prompts VSCode to focus the Output panel with information that isn't helpful to the Salesforce developer

**Describe the solution you'd like**
Implement `RevealOutputChannelOn` to suppress VSCode from focusing Output

**Additional context**

[2019-06-25 17:12] lcampos commented on #1429
Hi @joeferraro this is a good idea. Do you mind sharing a piece of code that causes the issues you mentioned ? We use test projects that cause compile issues but I haven't seen this behavior of the error causing an Output panel focus.

[2019-06-25 17:32] lcampos commented on #1411
No worries, just wanted to confirm that at least we didn't miss something when using `--json`. We're working on the fix for the other scenario and we'll update on its progress in this new issue https://github.com/forcedotcom/cli/issues/123

[2019-06-25 18:49] chandra2ravi commented on #1410
Yes, I'm using windows and npm installation of CLI. I deleted npm installation and installed windows based CLI and it's working fine now. You can close this ticket.

[2019-06-25 18:49] #1410 closed

[2019-06-26 09:37] maerans opened #1431 "Unable to install Salesforce Extension Pack in VS Code"
Unable to install Salesforce Extension Pack as it is stuck on installing.

[2019-06-26 10:28] chiragpaliwal commented on #1431
Hi, check if your internet connection is working, it actually takes longer to install since the extensions pack contains several extensions. Try waiting it out.

[2019-06-26 11:44] maerans commented on #1431
Internet is working fine.

When i tried to install it on personal desktop , it got installed within 2 minutes.

I have left it to install since 4 hours and no results yet.

[2019-06-26 12:00] nkggit opened #1432 "SFDX: Retrieve Source from Org throwing an error"
I created a new project created by running SFDX: Create Project with Manifest and authorized a sandbox org.
When I right-click on default generated package.xml and run SFDX: Retrieve Source from Org, following error is displayed:

"Error deploying or retrieving source: The file or directory that you tried to deploy or retrieve isn't in a package directory that's specified in your sfdx-project.json

[2019-06-26 12:07] shashankinfy opened #1433 "Salesforce CLI is not installed. Install it from https://developer.salesforce.com/tools/sfdxcli"
Issue Type: <b>Bug</b>

I installed the salesfroce CLI almost 10 times now but this error is keep coming to me. I want to just create a DX project and do my lightning web component development. but due to this i am stuck.

Extension version: 46.2.0
VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:30:02.622Z)
OS version: Windows_NT x64 10.0.16299

[2019-06-26 12:15] #1432 closed

[2019-06-26 17:30] lcampos commented on #1433
Hi @shashankinfy I think this might be related to the Salesforce CLI not being part of the `PATH` environment variable in your machine. Can you verify the cli install path is part of `PATH` ? Also, are you installing the cli using `npm` or the installer  ?

[2019-06-27 07:41] shashankinfy commented on #1433
Hello,

Can you please guide me about this path? And no I am not installing using npm.

Shashank

From: lcampos <notifications@github.com>
Sent: Wednesday, June 26, 2019 7:31 PM
To: forcedotcom/salesforcedx-vscode <salesforcedx-vscode@noreply.github.com>
Cc: Shashank Gupta <shashank.gupta19@infosys.com>; Mention <mention@noreply.github.com>
Subject: Re: [forcedotcom/salesforcedx-vscode] Salesforce

[2019-06-27 12:38] ntotten opened #1436 "Use AdoptOpenJDK as the official installer for Java"
Microsoft uses https://adoptopenjdk.net/ to make installing Java easier and is using it in their Java extensions for VS Code. We should use the same thing for Apex and other extensions that require Java to be consistent. See: https://devblogs.microsoft.com/visualstudio/announcing-visual-studio-code-java-installer/

[2019-06-27 13:54] ntotten opened #1437 "Don't List Expired Orgs in the Org Picker"
The CLI now defaults to listing only active orgs when running `sfdx force:org:list`, you now need to specify the `--all` parameter to list everything. The org picker should use the same behavior and only list valid orgs.

[2019-06-27 13:59] ntotten opened #1438 "Org Picker still selects deleted org"
### Summary

When an org is deleted or expired it should no longer be actively selected by VS Code

### Steps To Reproduce:

1.  Create org in VS Code, org will be selected by default
1. Close VS Code
1. Delete org using CLI
1. Open project in VS Code
1. See that org is still selected

### Expected result

If the org is deleted, expired, or otherwise invalid it should no longer be selected as the

[2019-06-27 16:53] #1387 closed

[2019-06-27 19:50] mitchspano commented on #917
I am facing deploy and retrieve times exceeding 10 minutes in my development environment.

[2019-06-28 14:24] woutersmet opened #1439 "A simple 'list orgs' command"
**Is your feature request related to a problem? Please describe.**
A command I find myself running at the start of each day, and multiple times within a day, is sfdx:force:org:list - just to see ok, this is the orgs I got, this one is active, this is the username I want to change to the default one.

Clicking on the 'org picker' in the lower left gives something of a list, but I would love to just

[2019-06-28 17:58] riotmakerr commented on #971
This is very unfortunate news that it will be delayed possibly indefinitely. It is pushing developers toward having to use paid products and not support this plugin

[2019-06-28 18:08] paustint commented on #971
@riotmakerr - Did someone say it would be delayed indefinitely?
I had not heard that - can you point to where you saw this reference?

The note above says it is actively being worked on, but will take some work to sort out.

[2019-06-28 19:26] ntotten commented on #971
@riotmakerr @paustint It is not being delayed indefinitely. We are actively working on it. Not sure where that information came from but it is not accurate.

[2019-06-28 20:19] riotmakerr commented on #971
This was opened in Sep 2018, promised to be in "the next few months" in Jan, was then removed from the GA milestone, and now "isn't for sure" to be shipped by any particular date.

My apologies for assuming that information meant this isn't going to be delivered. But I shouldn't have to read between the lines

[2019-07-01 10:23] sc5148 commented on #1429
@lcampos Here is a [video](https://www.dropbox.com/s/h6k9fhosjhdmipj/VSCODE%20bug.mp4?dl=0) I posted on #1356 . I want to suppress opening the output panel everytime. Also, instead of opening the output window, a popup can be shown to the right side bottom of the screen if the operation was successful.

[2019-07-01 12:37] ntotten commented on #971
@riotmakerr The milestone was removed because we stopped using github milestones.

[2019-07-02 02:19] #1414 closed

[2019-07-03 10:49] PS-Dev-Luis opened #1447 "Test Coverage - specific to tests ran."
**Is your feature request related to a problem? Please describe.**
When running Apex tests with the following setting
"salesforcedx-vscode-core.retrieve-test-code-coverage" : true
the information that is returned and then used for the line highlighting appears for the overall coverage in the org as opposed to the specific code covered by the executed test(s).

In the Force.com IDE we were able to

[2019-07-03 13:09] bk-dev commented on #1394
Our developers are facing this same problem. Please address.

[2019-07-03 13:48] ntotten commented on #1394
We are looking at how we can address this. The problem is there isn’t a user specific project config for VSCode. The way we can not write this setting is to add a package.json to projects that have LWC and require developers to use npm. This however means we have to require them to install node.

[2019-07-03 14:14] bk-dev commented on #1394
I imagine the nuances of LWCs can lead to inadvertent developer errors which a linter can help remedy. However, linters have always been an optional project add-on. The benefits of a linter in this day and age is pretty well known. Do you guys have a custom ESLint plugin for LWCs?

[2019-07-03 14:22] ntotten commented on #1394
@bk-dev yes, we have a specific rule set for ESLint LWC. While you are right that lingers are normally optional, many of our developers have indicated they want as much out of the box functionality as possible so we try to find a balance.

[2019-07-03 14:44] bk-dev commented on #1394
@ntotten I see your dilemma. It would be nice to bake this into the project setup via terminal prompts for `sfdx force:project:create` like other prominent front-end framework CLIs do. But that doesn't side-step the node requirement. Is it possible to install node for the user if they agree to it as part of opting into the linter during SFDX project creation?

[2019-07-03 20:49] lcampos commented on #1155
This is addressed in version `46.4.0` of the extensions.

[2019-07-03 20:49] #1155 closed

[2019-07-03 21:48] ntotten commented on #1155
@ChuckJonas This is fixed, please let me know your feedback in the newest release. :)

[2019-07-03 21:49] ntotten commented on #1155
Let us know your feedback. I am hoping this will be a big improvement.

[2019-07-03 23:37] ChuckJonas commented on #1155
@ntotten just tested it out with a couple scenarios:

First off, thank you for getting rid of the delay.  If I make 500 saves in a day, that's ~ 40 minutes of my life back.  Not to mention my attention span is only about 10s so that make it more likely that the deploy will complete before I get distracted by github or hacker news.

Also the subsequent save queue works great.  I like that it preven

[2019-07-03 23:55] ChuckJonas commented on #1439
As a work around, I'd recommend setting up a [tasks.json](https://code.visualstudio.com/docs/editor/tasks)

{
  "label": "List Orgs",
  "type": "shell",
  "command": "sfdx force:org:list"
}

[2019-07-04 01:07] foweyboy opened #1449 "VSCode on Mac missing SFDX commands and menu items"
Following https://trailhead.salesforce.com/content/learn/projects/quick-start-lightning-web-components

Working on a Mac and there are some deviations in my experience compared to the instructions.

### Summary

Only 3 SFDX commands in VS Code Command Palette.
No SFDX options in context menu (right click)

### Steps To Reproduce:

1.  Installed Salesforce CLI : sfdx-cli/7.8.1-8f830784cc darwin-x64

[2019-07-04 13:15] NianhengWu opened #1450 "rls does not work on all workfolders"
### Summary

On Win10, VS Code 1.36.0, RLS 0.6.1
When multiple workspaces are loaded, rls seems to only work on one of them.

### Steps To Reproduce:

1. Open VS Code, load 2 folders as workspaces, ws_a and ws_b (2 rust projects)
2. RLS extension installed.
3. Open workspace.json, see two folders are listed, first one is ws_a, the second one is ws_b

### Expected result

RLS is supposed to work on

[2019-07-04 13:16] NianhengWu commented on #1450
btw, the first time i installed vscode, everything worded fine. but after I installed python extension, rls just started being weird. tried uninstall and install again, didn't work out

[2019-07-04 13:18] #1450 closed

[2019-07-05 14:01] arunmitteam commented on #1155
I updated the extensions and CLI, still the push or deploy is not kicking in. Could anyone help on this? Now I have to copy paste the class manually from local to dev console for every change.

[2019-07-05 14:03] Kxa422 opened #1451 "salesforcedx-vscode-core.push-or-deploy-on-save.enabled Stop working"
I've notice recently that the settings salesforcedx-vscode-core.push-or-deploy-on-save.enabled have stop working.
It was working in the past but now I need to right click and deploy to org to have the code pushed to the org.

[2019-07-05 15:34] arunmitteam commented on #1451
@ntotten I'm having the same issue. Should I setup my workspace from scratch again? I updated my extension and CLI and still the push or save is not kicking off the deploy.
As per this issue, it has been taken care but it has unfortunately broken the functionality for some users. https://github.com/forcedotcom/salesforcedx-vscode/issues/1155#issuecomment-508249942

[2019-07-05 16:03] lcampos commented on #1451
Hi @arunmitteam & @Kxa422, could you provide the following info so we can try and replicate this on our end.

- VS Code version
- OS version
- Salesforce extensions version
- Salesforce CLI version

[2019-07-05 16:04] lcampos commented on #1155
@arunmitteam it looks like a different issue so lets follow up on the thread for issue #1451

[2019-07-05 16:28] arunmitteam commented on #1451
OS Version - macOS 10.14.5
VS Code version - Version 1.36.0 (1.36.0)
Salesforce extensions - 46.4.0
Salesforce CLI - sfdx-cli/7.13.0-27dbcb37d3 darwin-x64 node-v10.15.3

[2019-07-05 16:30] arunmitteam commented on #1155
Sure, thanks!

[2019-07-05 16:43] Kxa422 commented on #1451
OS Version - Windows 10 Pro 1709 (Os Build 16299 1087)
VS code version - 1.36.0
Salesforce CLI - sfdx-cli/7.13.0-27dbcb37d3 win32-x64 node-v10.15.3
salesforcedx 46.3.0 (core)
├─ force-language-services 46.8.0 (core)
└─ salesforce-alm 46.7.0 (core)

[2019-07-05 16:52] lcampos commented on #1451
@arunmitteam I have a similar config now, can you tell me whether you're setting the `"salesforcedx-vscode-core.push-or-deploy-on-save.enabled": true` flag in your project's `.vscode/settings.json` file or on the User settings.json file (Open Command Palette > Preferences: Open Settings) that applies to all VS Code ?

[2019-07-05 16:54] lcampos commented on #1451
@Kxa422 what about your Salesforce extensions for vs code ? You can see their version by clicking on the extensions icon in VS Code's left side bar.
![extensions](https://user-images.githubusercontent.com/1041842/60736162-de534800-9f0a-11e9-9290-226a59304407.png)

[2019-07-05 17:07] arunmitteam commented on #1451
@lcampos
yes, I have it enabled. See below.
`"salesforcedx-vscode-core.push-or-deploy-on-save.enabled": true`
It takes a very long time to kick off or doesn't kick off at all. I also checked the `pushOrDeployOnSave.js and it has DeployQueue.ENQUEUE_DELAY = 500; // milliseconds`

[2019-07-05 17:21] deb761 opened #1452 "sfdx force:data:tree:import doesn't provide errors"
I just installed the latest sfdx tools and ran tree:import.  The command failed, but didn't provide any error information until I used the --json parameter.

**Versions:**
CLI 7.13.0-27dbcb37d3
Microsoft Windows 10 Pro version 1803

[2019-07-05 19:43] Kxa422 commented on #1451
46.4.0

As I've said, it was working but now it have completely stop working.
Inside my settings.json, the following line is present

"salesforcedx-vscode-core.push-or-deploy-on-save.enabled": true,

[2019-07-07 09:34] skycafemix commented on #930
My 2019 Mac comes with Java 12 but not supported. (Salesforcedx-vscode-apex requires java 8)
Now I wonder can I install Java 11 or do I have to downgrade all the way to 8 for vscode..

[2019-07-07 10:28] manvendra91 opened #1453 "deploy option not coming"
Issue Type: <b>Bug</b>

I cannot find deploy option when I right click on 'default' folder in my .sfdc file uder my projet 'HELLOWORLDLIGHTNINGWEBCOMPONENT'

Extension version: 46.4.0
VS Code version: Code 1.36.0 (0f3794b38477eea13fb47fbe15a42798e6129338, 2019-07-03T13:09:31.507Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM

[2019-07-08 01:11] gbreavin opened #1454 "Rename Symbol not always working"
### Summary

I was reviewing a PR and wanted to rename a method with a clearer name. Using "Rename Symbol" did not update a reference to the method in another class.

Note that I renamed a variable (using Rename Symbol) within the method being renamed before trying to rename the method.

I restarted VS Code and it behaved as expected output below. So I've included repro steps below, but might not

[2019-07-08 11:00] shunkosa opened #1455 "Japanese localization"
Hello team, I'm interested in Japanese localization for this extension. Is it welcomed? If so, I just localized `package.nls.json` of `salesforcedx-vscode-core`, and I'm wondering how to determine the size of pull request. Should I localize all the `package.nls.json` and `i18n.ts` at once?

<img width="500" alt="スクリーンショット 2019-07-08 21 38 09" src="https://user-images.githubusercontent.com/1404346/

[2019-07-08 13:43] ntotten commented on #1455
This would be amazing! We'd love to have you contribute this. I'd say it's up to you in terms of how you want to do it, but I would think doing everything in one PR is fine.

[2019-07-08 16:01] vazexqi commented on #1455
@ruthemmanuelle, @hbc-bindu  - Could you provide some guidance (or existing resources) that could help with the terminology?

I was about to point @shunkosa to https://developer.salesforce.com/docs/atlas.en-us.sfdx_cli_reference.meta/sfdx_cli_reference/cli_reference.htm to ensure that we are using consistent terminology, but I just realized that was not localized into Japanese.

Thinking out loud:

[2019-07-08 16:22] shunkosa commented on #1455
Thank you! I'm going to create a single PR. Now I'm referring to Salesforce DX Developer guide, which is translated into Japanese. Release note and help articles too.
https://developer.salesforce.com/docs/atlas.en-us.218.0.sfdx_dev.meta/sfdx_dev/sfdx_dev_develop.htm
For consistency, I'll review my work enumerating key and value from the all message files by a light script. I think it becomes a dic

[2019-07-08 16:46] arunmitteam commented on #1451
@lcampos @ntotten any update on this issue?

[2019-07-08 16:53] arunmitteam commented on #1451
Not sure if it helps but even test runs are kicked off immediately. It takes its own time and kicks off randomly.

[2019-07-08 17:00] lcampos commented on #1451
Not yet, I haven't been able to replicate this in Windows or Mac. Do you get any errors in the Dev Tools (Help > Toggle Developer Tools > Console) when running the command ?

[2019-07-08 17:53] Kxa422 commented on #1451
Nothing in the console, even after a couple of hours.
It's simply not doing the deployment to the org.

[2019-07-08 18:07] Kxa422 commented on #1451
Just tried with version 45.9.0 and it's working fine
Update to version 46.4.0 and it's not working anymore.

[2019-07-08 18:13] ntotten commented on #1389
Duplicate of #917

[2019-07-08 18:13] #1389 closed

[2019-07-08 19:30] brpowell commented on #1451
Hi all. Just to rule out any possibilities:

- Verify that your workspace settings are not overwriting your user settings in VS Code. For example, i could have `"salesforcedx-vscode-core.push-or-deploy-on-save.enabled": true` in user settings, and `"salesforcedx-vscode-core.push-or-deploy-on-save.enabled": false` in my workspace settings.
- Reload/Restart VS Code after updating the extensions to 4

[2019-07-08 19:51] Kxa422 commented on #1451
"salesforcedx-vscode-core.push-or-deploy-on-save.enabled": true is in the json file
Reload , restart computer have already been done
Default org is set or it won't work for previous version
Change is done in the file but deployment to the org don't start at all even after a couple of hours (2+).
When using previous release like 45.9.0, all is working fine.
When using curent version, it's simply no

[2019-07-08 20:03] arunmitteam commented on #1451
@Kxa422 how did you revert to older version?

[2019-07-08 20:23] Kxa422 commented on #1451
When you in the extension, there is a small wheel at the bottom right corner of each extension.
click on it, in the menu that appear there is Install Another Version ..
and you can select an previous version

[2019-07-08 23:14] rbuschiazzo commented on #1455
Hi @shunkosa we've just translated part of this doc into Japanese https://forcedotcom.github.io/salesforcedx-vscode/articles/getting-started/migrate-from-forcecom-ide. See attached files.

[Force.com migration pages_ja.zip](https://github.com/forcedotcom/salesforcedx-vscode/files/3370494/Force.com.migration.pages_ja.zip)

And here is our Japanese Style Guide.

[style_guide_ja.pdf](https://github.c

[2019-07-08 23:16] arunmitteam commented on #1451
@Kxa422 Thank you!

[2019-07-09 06:16] jairzh commented on #1189
I use this plugin to toggle **Code Coverage**

https://marketplace.visualstudio.com/items?itemName=rebornix.toggle
[code]
But sometime, I can not remember its on or off, if there is a button on the status bar that will better.

[2019-07-09 10:26] ayanozturk opened #1457 "Duplicated sfdx:deploy commands on v46.4.0"
### Summary

On save, sfdx:deploy is triggered multiple times.

### Steps To Reproduce:

1.  Open any SF class to edit
1.  Make a change and save - notice terminal log running sfdx deploy:apex command once
1.  Make another change and save - notice terminal runs same command twice
1.  Make another change and save - notice terminal runs same command 3 times
1.  to infinity and beyond

### Expected r

[2019-07-09 16:03] alexkadis commented on #1449
When this has happened to me, a workaround of reloading the window fixes it.

[2019-07-09 16:31] lcampos commented on #1449
@foweyboy can you clarify if you've authenticated to an org and set it as your project's default ? This can be done by running `SFDX: Authorize an Org`, `SFDX: Create a Default Scratch Org ...` or using the org picker feature (bottom left footer) to pick a previously authenticated org.

Assuming you've done this, there is a current issue where this does happen and one of the workarounds is the one

[2019-07-09 16:51] brpowell commented on #1457
Hi @ayanozturk. I'd like to clarify what exactly you're seeing:

This clip is the expected behavior - deploy on save is now faster, so multiple saves to the same file will be queued up for sequential deploying. Or if I save a file let's say 5 times before the previous deploy is done, all those changes will be grouped together for another deploy.
![expected](https://user-images.githubusercontent.co

[2019-07-09 17:29] praksb commented on #930
@skycafemix Installing Java 11 should work.

[2019-07-09 17:42] ntotten commented on #1453
The deploy option is only on folders that are allowed to be deploy. Try right clicking on a folder with metadata like `classes`

[2019-07-09 17:42] #1453 closed

[2019-07-09 17:45] ntotten commented on #1433
See: https://salesforce.stackexchange.com/questions/163795/sfdx-is-not-recognized-as-an-internal-or-external-command

[2019-07-09 17:45] #1433 closed

[2019-07-09 17:46] ntotten commented on #1431
Unfortunately, we cannot provide support via GitHub issues. Please post your question on the [Trailblazer Community](https://success.salesforce.com), [Stackoverflow](https://salesforce.stackexchange.com/), or through other official support channels.

[2019-07-09 17:46] #1431 closed

[2019-07-09 20:42] praksb commented on #1454
@gbreavin It is possible that there were some unsaved edits that might have resulted in semantic errors which may have caused Rename to not succeed as you expected. I am going to close this issue for now since I am not able to repro as well. Please reopen if you or someone else has a reliable repro if this occurs again. Thanks!

[2019-07-09 20:42] #1454 closed

[2019-07-10 05:07] foweyboy commented on #1449
Hi

@alexkadis - I tried closing and reloading Visual Code many times - no change.

@lcampos - yes I have set a default org (AFAIK):
![Screen Shot 2019-07-10 at 3 02 23 pm](https://user-images.githubusercontent.com/42430002/60941923-13550580-a324-11e9-86bc-46ffccf9161a.png)

Great that there is a fix coming, thank you! Will the update install automatically or do I need to get it manually?

[2019-07-10 12:50] Dovbush commented on #1451
Hi guys,
while this issue is open I need to add that, actually, I can't turn off Push-or-deploy-on-save at all. In my User and Workspace settings I have this settings:
"salesforcedx-vscode-core.push-or-deploy-on-save.enabled": false

it was True, but now I want disable it, and settings never applied.
I'm using mac os Mojave (10.14.15) and Vs code + SF CLI integration (46.4.0).
I was Uninstalling S

[2019-07-10 15:24] vmarasow opened #1461 "slds-* css class autocompletion for LWC"
**Describe the solution you'd like**
When editing the html file in an LWC component I find myself using lots of css classes from the lightning design system, it would be nice for the autocompletion to kick in so I don't need to look up the specific class names/variations on the design system website.

[2019-07-10 15:41] haraldmayer opened #1462 "Right click deploy/retrieve options missing when defaultusername is set to scratch org alias"
### Summary

When being connected to a scratch org per alias, deploy/retrieve options are missing from right-click menu. When connecting to a scratch org per full username, deploy/retrieve options show as expected.

### Steps To Reproduce:

1) $ sfdx force:config:set defaultusername=myscratchorgalias
2) right click on a a resource in the package directory (let's say on force-app/main/default/class

[2019-07-10 16:55] brpowell commented on #1462
Hi @haraldmayer. The Deploy and Retrieve commands are only available through the UI when developing against a non-scratch org (i.e. sandbox or production). When a scratch org is set as the default org, you'll instead see SFDX: Push Source to Default Scratch Org in the command palette.

[2019-07-10 17:07] #1462 closed

[2019-07-10 18:08] lcampos commented on #1449
@foweyboy if you didn't update VS Code to block automatic extension updates then you will once we release the new version to the marketplace.

[2019-07-10 19:27] haraldmayer commented on #1462
@brpowell thanks for your response! I don't fully agree though: If I develop in VS code with a scratch org as default org, set as default via full username, not alias, I get the deployment option, and can deploy individual files (wich triggers a force:source:deploy), additional to being able to push source from command palette (which triggers a force:source:push).

I agree that it is questionable

[2019-07-10 20:31] lcampos commented on #1462
@haraldmayer as @brpowell mentioned this is done by design because using `source:push` & `source:pull` allows the user to catch potential conflicts with changes between the org and your local e.g. potentially overwriting changes done directly in the org.

Having said that, we are currently working on changes to speed up the deploy experience for single files regardless of you using `source:push` o

[2019-07-10 20:53] #1395 closed

[2019-07-10 20:55] lcampos commented on #1353
This was fixed on Salesforce CLI version `7.14`

[2019-07-10 20:55] #1353 closed

[2019-07-10 21:04] praksb commented on #1299
We have made a perf improvement that would prevent OOM exception from happening when loading test methods. Please try and let us know if you still have issues. Also, please note that we still don't support indexing of larger orgs well and this fix doesn't address that.

[2019-07-10 21:04] #1299 closed

[2019-07-10 21:19] lcampos commented on #1296
I'm closing this since it looks like the fix is to switch which port is used by the cli depending on the computer's setup port restrictions.

[2019-07-10 21:19] #1296 closed

[2019-07-11 08:00] Dovbush opened #1465 "Retrieve Source from Org doesn't work for folders (SFDX menu)"
Hi guys,

### Summary

When you right click on the folder to retrieve it's content from org - then it doesn't retrieve new components. Example: you have aura folder with existing components, if you create new Aura cmp outside VS Code (Dev console, another IDE) and then go back to VS Code project, right click on aura folder and select retrieve from org - new component is not retrieved.

### Steps T

[2019-07-11 20:52] lcampos commented on #1449
The fix for this is available in version `46.5.0` of the extensions.

[2019-07-11 20:52] #1449 closed

[2019-07-11 20:54] erocheleau opened #1469 "Multi-line block comments do not insert an asterisk in Apex"
### Summary

When trying to document an Apex class using Javadoc comment format, there is no proper multi-line formatting being triggered or a new asterisk being added on the new line after pressing enter.

What should happen:
[code]

What is currently happening:
[code]

### Steps To Reproduce:

1.  Open an Apex class.
2. Start typing `/**`
3. It will auto-complete with `/**| */` ( | is the cursor

[2019-07-11 20:57] lcampos commented on #1451
@Dovbush there are potentially 2 `settings.json` files. A global VSCode settings file (run `Preferences: Open Settings` in command palette) and you could also have one specific to your project if you create it under a `.vscode` folder. If you have both files, the settings file under your `.vscode` project's folder will override the global one.

Please verify that you've disabled the `salesforcedx-

[2019-07-11 20:58] lcampos commented on #1451
Closing this issue since we've addressed it in version `46.5.0` of the extensions.

[2019-07-11 20:58] #1451 closed

[2019-07-11 23:57] foweyboy commented on #1449
Hi

I've open VS Code, restarted to update and checked that I am running the
latest version of the Salesforce extension:

[image: Screen Shot 2019-07-12 at 9.52.42 am.png]

Unfortunately my issue remains exactly the same.

Please let me know if you have any suggestions?

Thanks for your help

Matt

On Fri, 12 Jul 2019 at 06:52, lcampos <notifications@github.com> wrote:

[2019-07-12 16:36] lcampos commented on #1449
@foweyboy did you test by creating a new scratch org or did you just re-open VSCode and tried using an org previously created ?
Also, are you still in version `7.8.1` of the cli ? Would it be possible for you to update to a more recent version ?

[2019-07-12 16:48] mattbratton opened #1472 "Java.home points to missing folder"
### Summary

I am unable to get VS Code/SFDX to recognize Java on my Mac.  I've downloaded JDKs from Oracle (both 8 & 11) and tried Adopt Open, and still receive the same error message.

### Steps To Reproduce:

1.  Download Java
2.  In VS Code, navigate to Code -> Preferences -> Settings. In search bar, search for "apex java", select "Edit in settings.json".
3.  Change "salesforcedx-vscode-apex.j

[2019-07-12 17:19] jprichter commented on #1356
Happens to me also on v46.5.0. Whenever my mouse goes over the code for creating a force:createRecord event, this error shows in the Output

`[Error - 1:18:49 PM] TypeError: Cannot read property 'charCodeAt' of undefined
    at isInteger (/my_file_path/.vscode/extensions/salesforce.salesforcedx-vscode-lightning-46.5.0/node_modules/aura-language-server/lib/tern/lib/infer.js:547:18)
    at exports.O

[2019-07-13 16:49] ayanozturk commented on #1457
@brpowell neither.

I'm was seeing "stacked" deployments on single save action.
- open a file
- save and wait -> observe 1 deploy -> wait for finish
- save and wait -> observe 2 "stacked" deploy -> wait all of them to finish
- save and wait -> observe n "stacked" deploy -> wait all of them to finish
- save and wait -> observe n +1 "stacked" deploy -> wait all of them to finish
...

This behavior w

[2019-07-15 04:40] foweyboy commented on #1449
Hi

I ran the SFDX update command on Mac Terminal and it update from 7.13 to
7.14 - why am I so far behind!?

Also there was an unmet peer dependency:

[image: Screen Shot 2019-07-15 at 2.07.18 pm.png]

I connected to my existing developer org - I just found out that the org
did not have the Dev Hub enabled though? I've enabled it now and connected
again, can you check the below and let me know if

[2019-07-15 06:17] hellosibun opened #1474 "push failed"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**VS Code Version**:

**SFDX CLI Version

[2019-07-15 06:19] hellosibun opened #1475 "push failed"
push failed showing using sfdx cli command on windows
![image](https://user-images.githubusercontent.com/34995065/61198245-8d0b3b80-a6f6-11e9-8e7c-cff4aee87be3.png)
i even update sfdx cli using command sfdx update

[2019-07-15 07:37] woutersmet commented on #1439
Thanks @ChuckJonas, that does pretty much the same indeed!

[2019-07-15 07:37] #1439 closed

[2019-07-15 08:33] wishwa opened #1476 "SFDX: Update Checkpoints in Org fails"
### Summary

When running the SFDX: Update Checkpoints in Org command from the VS Code palette, I receive the following error in the Output window.

**Checkpoints can be set on valid line of Apex source. Invalid checkpoint location:...**

### Steps To Reproduce:

1.  Toggle a check point by using '>SFDX: Toggle checkpoint' command
2.  Then open the command pallet and type SFDX: Update Checkpoints

[2019-07-15 11:44] rohitbhushan opened #1477 "After authenticating my sandbox with vsCode- error coming"
### Summary

_After authenticating my sandbox with vsCode- error comming

### Steps To Reproduce:

1.  Open vs code
2. Authorize the org you want to develop against. To start the login process, open the command palette and run SFDX: Authorize an Org.
3. Browser opened but received error as below.

### Expected result

_Org should be authenticated

### Actual result

_Error came
This site can’t be

[2019-07-15 14:05] ntotten opened #1478 "Rerun only failed tests"
Add option to rerun only the tests that last failed on the Apex Test Explorer.

[2019-07-15 16:28] lcampos commented on #1476
Looks like you did some edits to the class before trying to update the checkpoints. Did you push/deployed those changes to the org before running `SFDX Update Checkpoints in Org` ?

[2019-07-15 16:28] #1474 closed

[2019-07-15 16:32] lcampos commented on #1477
Please provide the following info so we can try and replicate what you're running into.

- Salesforce CLI version. Run `sfdx --version` on your terminal.
- VS Code version. e.g. 1.35.1
- Salesforce extensions for VS Code version. e.g. 46.5.0
- OS version. e.g. Windows 10

[2019-07-15 16:58] lcampos commented on #1475
This does not look like an issue with the tool but an issue with the way you coded the AccountMap component.

[2019-07-15 16:58] #1475 closed

[2019-07-15 17:42] wishwa commented on #1476
Hi lcampos,

All the edits have been deployed to the Source Org be for do the `SFDX Update Checkpoints in Org`
Could you please let me know what are the information that you guys required more?

Thanks,
Wishwa

[2019-07-15 20:06] brpowell commented on #1457
Glad the behavior has been fixed, thanks for the report @ayanozturk. Let us know if you see any other issues.

[2019-07-15 20:06] #1457 closed

[2019-07-15 23:58] michaelsoriano commented on #917
Same situation here. There is a significant delay when saving and deploy - as described by @ChuckJonas above. https://github.com/forcedotcom/salesforcedx-vscode/issues/917#issuecomment-473167626

Any word on the fix?

[2019-07-16 08:02] rohitbhushan commented on #1477
-sfdx-cli/7.8.1-8f830784cc win32-x64 node-v10.15.3
-Salesforce extensions for VS Code version. - . 46.5.0-
Window 10

[2019-07-16 18:10] geosow opened #1485 ""Partner Developer" value is not accepted for edition in project-scratch-def.json"
### Summary

"Partner Developer" is no longer an accepted value in the project-scratch-def.json file.  It used to be as I have old files that saved without error.

### Steps To Reproduce:

1. Open any project folder in VS Code.
2. Browse to config and edit project-scratch-def.json
3. Set line 3 to  "edition": "Partner Developer"
4. Error:  Value is not accepted. Valid values: "Developer","Group","

[2019-07-18 02:58] sumitshingavi opened #1489 "Apex unused methods and variables to find dead code"
**Is your feature request related to a problem? Please describe.**
Complex customer orgs. often have lots of Apex and need bulk code cleanup tool where we can find unused methods and variables in apex and generate a report to hand it off to the partner for cleanup. Currently, few IDEs do provide this functionality but very expensive license.

**Describe the solution you'd like**
1. If you open an

[2019-07-18 12:28] JorneVL commented on #1126
@ntotten Any update about this?
This still occurs to me with the latest version.

[2019-07-19 09:34] guardmoses opened #1491 "Socket timeout error when running test class"
When I click the Run All Tests link in test class, it returns the socket timeout error as below.
![image](https://user-images.githubusercontent.com/31478673/61524763-b8b95900-aa49-11e9-8ff4-90bf9027a33a.png)
But it's working if issue this command(add --synchronous paremeter) in terminal
![image](https://user-images.githubusercontent.com/31478673/61525472-11d5bc80-aa4b-11e9-8fd4-682b203db2e1.png)
A

[2019-07-20 03:19] paustint opened #1494 "Settings should not require editing JSON for simple primitive types"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I am frustrated when I have to edit the JSON version of settings for basic strings/numbers/boolean settings

**Describe the solution you'd like**
VSCode settings should be structured in a way to allow UI configuration.

**_From Docs:_**

**

[2019-07-20 13:17] guardmoses commented on #1491
Not sure if it's a problem with the company's firewall. Because it's working fine in my personal computer.

[2019-07-21 05:46] gtiancai opened #1496 "Apex language server could not provide information about valid breakpoints."
### Summary

_I'm trying to use Replay Debugger to debug targets a sandbox following this link: https://forcedotcom.github.io/salesforcedx-vscode/articles/apex/replay-debugger

As it states below, I think it supports SANDBOX for now, right?

What I do:

1. use SFDX creates a project with manifest against my Sandbox org
2. create a checkpoint in Develop Console (sfdx:toggle checkpoint and sfdx:upda

[2019-07-23 06:09] gtiancai commented on #1496
Seems it works if create project with 'SFDX: Create project', but not for 'SFDX: Create project with Manifest' or manually add manifest. Why?

[2019-07-23 09:46] garychenming opened #1500 "Refresh sobject definitions takes a long time"
Every time I refresh it takes a long time, at least 5 mins.
I'm developing different features in two different scratch org, I have to refresh after I switch org, and wait 5 minutes every time.

[2019-07-24 02:05] bbacharz commented on #1472
I am having this issue as well. Any guidance would be appreciated!
Version numbers are the same with the exception below.

**SFDX CLI Version:** 7.15.3-c7d407d236

[2019-07-24 13:34] Sylvainp-Ribbonfish opened #1504 "salesforcedx-vscode-apex.java.home Issue"
### Summary

_Short summary of what is going on or to provide context_.
When I start the editor I get the following error:

The salesforcedx-vscode-apex.java.home setting defined in VS Code settings points to a missing folder. For information on how to setup the Salesforce Apex extension, see Set Your Java Version.

### Steps To Reproduce:

1.  Start the editor with a new SF project

### Expected

[2019-07-24 17:48] brpowell commented on #1494
Resolved in #1502

[2019-07-24 17:48] #1494 closed

[2019-07-24 18:48] rogeramitchell opened #1507 "Unhandled exception running Apex test with only `@TestSetup` method"
### Summary

- Before writing a test method (`@isTest` annotated method), it's helpful to ensure that any data that will be used as basis for test will successfully insert within the setup (`@TestSetup` method)
- VS Code (and likely `sfdx`) throws an exception running an Apex test that only contains a `@TestSetup` method
- Developer Console (and other IDEs) successfully handle the result of runnin

[2019-07-24 23:20] brpowell commented on #1423
I have not been able to reproduce this on windows or mac. Are you still seeing this issue @vtandon-wiley? Can you provide us with the following?

* VS Code Version
* SFDX CLI Version
* OS and version

[2019-07-25 14:18] ntotten opened #1510 "Enabled deploy/retrieve/delete on Scratch Orgs"
Now that the CLI supports deploy/retrieve/delete on scratch orgs we should allow this option for customers who want to. Similar to Illuminated Cloud:

![image](https://user-images.githubusercontent.com/282782/61881938-78346200-aec5-11e9-943d-3c949c6ff988.png)

[2019-07-25 15:52] lcampos commented on #1510
In this scenario a user would not have conflict detection, which is one of the benefits of using push/pull. Will a user understand that's what they are giving up ?

[2019-07-25 17:20] gyadav4 opened #1511 "Metadata not in package.xml also getting deployed (VS Code 1.36.1)"
My project is having a setup of gitlab -- VSCode -- Dev and QA (non CI-CD setup, need to deploy manually to QA)
I'm working on one of the branches that were having some picklist fields, that also got retrieved on my local with some other metadata. Now I've created some custom fields, apex classes, triggers, validation rules etc. Parallelly some other developer changed those picklist fields to mult

[2019-07-26 15:02] pksalesforce opened #1512 "SFDX: Create Project failed to run"
10:58:27.680 sfdx force:project:create --projectname Zendev1 --outputdir c:\Users\UserName\Documents\VsCode --template standard --manifest
Error: Unrecognized flag: {"name":"projectname","char":"n","required":true,"description":"name of the generated project","longDescription":"The name for the new project. Any valid folder name is accepted.","type":"string","values":[]}
    at flags.forEach.flag

[2019-07-26 15:26] lcampos commented on #1512
@pksalesforce which Salesforce CLI version are you using? Do you have any CLI plugins installed?
You can run `sfdx --version` and `sfdx plugins` in your command line to get that info.

[2019-07-26 15:54] pksalesforce commented on #1512
sfdx --version
sfdx-cli/7.8.1-8f830784cc win32-x64 node-v10.15.3

sfdx plugins
no plugins installed

I do have Salesforce CLI not sure why it says no plugins

[2019-07-26 16:05] lcampos commented on #1512
That's an old version of the cli, we're currently in version 7.15. Can you update your cli and try again ? You can do this by running `sfdx update`

The CLI allows you to install plugins on top of it in case you want additional functionality. You don't need to install additional plugins, I just wanted to get a better idea about your cli setup.

[2019-07-26 16:15] mshanemc opened #1513 "Asset viewer for binaries"
**Is your feature request related to a problem? Please describe.**
In source control, I see ContentAssets and single-file Static Resources, but don't know what they are.  What is this asset, anyway?

![Screen Shot 2019-07-26 at 9 09 32 AM](https://user-images.githubusercontent.com/4261788/61965596-6c0fd980-af85-11e9-83d2-69655706fc62.png)

**Describe the solution you'd like**
I click on the file a

[2019-07-26 16:51] pksalesforce commented on #1512
That worked. Thank You

[2019-07-26 17:17] lcampos commented on #1512
Glad it worked, I'll close this issue now. If you run into anything else please open a new issue.

[2019-07-26 17:17] #1512 closed

[2019-07-26 20:27] PhilipJohnBasile commented on #1472
same here

[2019-07-26 21:02] PhilipJohnBasile commented on #1504
dupe of #1472

[2019-07-26 21:14] DallasDeuce commented on #971
Thanks @ntotten for the updates on this issue, and keep up the good work on the VS Code SFDX stuff.  Exciting to see active work going on to add/improve the SFDX tools.

[2019-07-27 03:43] DNLZ opened #1515 "SLDS linter not working in Lightning Web Components"
### Summary

Salesforce Lightning Design System (SLDS) linter is not working for LWCs

### Steps To Reproduce:

1.  Open a LWC
1.  Add a slds class to an element
1.  Try to manipulate it in ways to fire the linter

### Expected result

The linter should do something

### Actual result

The linter does nothing.

### Additional information

Feature I'm referring to:
![image](https://user-images.gith

[2019-07-30 03:23] randroid88 opened #1518 "Feature Request: Additional refactorings"
Please add more Refactoring options like [Intellij IDEA](https://www.jetbrains.com/help/idea/refactoring-source-code.html):

- Safe Delete - "Makes sure that you do not delete files that are referenced in your source code."
- Copy/Move - "Copies/Moves an element."
- Extract Method - "These refactoring actions help you reduce the code duplication." (Done)
- Extract Constant (Done)
- Extract Field
-

[2019-07-30 09:44] sandynirankari opened #1519 ""Go to Definition" and "Peek Definition" not working for VS Code"
### Summary

"Go to Definition" and "Peek Definition" is not working. Here is what I get on Apex Language server output ::

<img width="1093" alt="Screen Shot 2019-07-30 at 3 08 56 PM" src="https://user-images.githubusercontent.com/14543604/62118829-fb95ef00-b2db-11e9-9076-2a0c20b7f3b8.png">

Also, I have code in different folders/repo under this project, so not sure if the issue is beacuse of tha

[2019-07-30 17:12] praksb commented on #1519
@sandynirankari The screenshot that you have posted shows logs from the OUTPUT tab of the window. It doesn't indicate any issues. The PROBLEMS tab of the window shows some errors. These are compiler errors from the Apex classes/triggers in the project. Is it possible that you are invoking "Go to Definition" and "Peek Definition" on a symbol that has errors? This may happen when compiler fails to b

[2019-07-30 20:56] jisaacs1 commented on #803
I would propose you only refresh the definitions of SObjects included in the pull (CustomObject or their CustomFields). That would reduce the performance impact on pulls and greatly reduce if not eliminate the need for full SObject refreshes after the first load of a project.

[2019-07-30 21:04] Mlzelinski commented on #1432
I am having the same issue!

[2019-07-30 21:33] ntotten commented on #1432
@Mlzelinski Since this issue is closed, please open a new issue with full details of the problem you are having.

[2019-07-30 21:38] ntotten commented on #1472
Can you confirm that you followed the instructions on this page? https://forcedotcom.github.io/salesforcedx-vscode/articles/getting-started/java-setup

I would suggest trying it with Oracle Java 11 as that is the _most_ tested version. All of them should work, but that is the best starting point.

[2019-07-30 21:40] ntotten commented on #1472
One other thing I just realized is that in the string you pasted there seems to be a white space character in your string. Not sure if it is a weird copy/paste issue from github or if it is actually present in your `setting.json` file, but if it is that could be the issue.

![image](https://user-images.githubusercontent.com/282782/62167383-19ba1a00-b2f1-11e9-81e8-4df454e09457.png)

[2019-07-30 21:43] ntotten commented on #1504
JDK 12 isn't supported. Please see the Java setup instructions here: https://forcedotcom.github.io/salesforcedx-vscode/articles/getting-started/java-setup

[2019-07-30 21:43] #1504 closed

[2019-07-31 00:43] ntotten commented on #1515
This is just a bug in the docs. We haven’t shipped SLDS linting for LWC yet. Coming soon.

[2019-07-31 15:43] DallasDeuce commented on #921
Hi @lcampos just checking to see if an update on this one, and if target release for fix?  One of our developers just noticed same thing.  Thanks!

CC: @ntotten

[2019-07-31 19:05] bbacharz commented on #1472
I can confirm that I followed the directions as explicitly as possible (it looks like the discrete steps need to be updated slightly). Here is a screenshot of the current settings file.
![SFDX VS Code Error](https://user-images.githubusercontent.com/44268100/62240269-33646b80-b39c-11e9-8a13-61a3d1cb342c.png)

[2019-07-31 19:54] ntotten commented on #1472
@bbacharz Is it possible your `settings.json` on your project is overrideing that setting? I see that setting in the user settings, but is something else set in the workspace `.vscode/settings.json` file?

[2019-08-01 02:57] garychenming opened #1522 "`>SFDX: Execute Anonymous Apex with Editor Contents` return wrong record size while using ApexPages.StandardSetController"
### Summary

Use `Execute Anonymous Apex...` in VS Code to execute code with ApexPages.StandardSetController cant return right record size.
When I execute the same code on the Developer Console, it works perfectly.

### Steps To Reproduce:
1. This is step 1.
Insert for more than 21 accounts in your org.

2. This is step 2.
Start a new file in VS Code and input the code below:

[code]

3.  This is

[2019-08-01 05:36] ChuckJonas commented on #947
my 20-cents:

- IMO, by far the most important completion is on field members.

 I think having it JUST for "Standard Metadata" would leave a very incomplete experience (honestly, it would almost seem broken).

I understand the challenge of adding a dependency on Custom Object metadata.  Implementing it in a way that would allow it to still be used in different contexts would required careful plan

[2019-08-01 06:00] praksb commented on #947
@ChuckJonas At least in the first release for this feature we will be supporting SOQL completion only in Apex scenarios, we are planning to gather SObject types to show for completion from the generated proxy classes which includes BOTH standard objects as well as custom objects. These files currently include the field members as well which we will be using. For this to work properly, the list of

[2019-08-01 06:13] ChuckJonas commented on #947
@praksb glad to hear you'll be supporting custom objects as well!

By literals I mean [stuff like this](https://developer.salesforce.com/docs/atlas.en-us.soql_sosl.meta/soql_sosl/sforce_api_calls_soql_select_dateformats.htm)

[2019-08-01 06:48] ChuckJonas opened #1523 "Why is command execution time 3x test time?"
Why would a Test complete in 7s but the command takes 21 to finish?

<img width="353" alt="BraintreePaymentProcessBatchTest_cls_—_rs-sfdc" src="https://user-images.githubusercontent.com/5217568/62271460-ef05b980-b3f5-11e9-96b2-c5bd354744da.png">

Where's the extra overhead coming from?

[2019-08-01 07:19] ChuckJonas commented on #1523
To make matter worse... this `Command Time` isn't even accurate... I'm finding that it's taking around a minute to finish a single test but the command time says only 12s.

https://drive.google.com/file/d/1wK3yvkkFA8XSR1sm5MESQ0PfNgsd34x7/view?usp=sharing

[2019-08-01 13:13] bbacharz commented on #1472
@ntotten I thought about that as well. Originally, it was empty with the same result, so I added the same line to the settings and am getting the same message.
<img width="1552" alt="vscode settings" src="https://user-images.githubusercontent.com/44268100/62296143-209d7580-b434-11e9-8772-ce2641467c78.png">

[2019-08-01 13:49] alankipalle opened #1525 "Deploy on Save not working"
### Summary

Deploy on Save is not working in spite of setting is enabled in the Setting file.

### Steps To Reproduce:

1.  Open Apex class in VS code
2.  Modify and save it.

### Expected result

Expected to be saved automatically without doing deploy to org command

### Actual result

It is no saving to org.

### Additional information

_Feel free to attach a screenshot
![image](https://user-im

[2019-08-01 15:25] ChuckJonas commented on #1523
Looks like if I set `"salesforcedx-vscode-core.retrieve-test-code-coverage": false,` things speed up tremendously.

However, I'm confused why retrieving code coverage would take SOOO long.  If I run the same test with code coverage from the dev console it still returns in a reasonable amount of time

[2019-08-01 15:44] MikeS-nth commented on #1449
Hi -- I am having the exact same problem in Visual Studio Code.  I am following the Org Development Model.  After creating the project with manifest and then setting the default org, I still don't see any commands in the palette other than what @foweyboy has in last screenshot of his original post.

I've tried `Reload window`, restarting VS Code, and even completely uninstalling & reinstalling VS

[2019-08-01 16:29] brpowell commented on #1472
Hi @bbacharz - can you verify that this path really is where Java is installed? You can open the VS Code terminal and do `ls /Library/Java/JavaVirtualMachines/jdk-1.8.0_221.jdk/Contents/Home/`

[2019-08-01 16:44] bbacharz commented on #1472
Thanks @brpowell

That showed where my issue was! I left a - in the file path that should not have been there for that version.

Version 8
"/Library/Java/JavaVirtualMachines/jdk1.8.0_221.jdk/Contents/Home"

Version 11
"/Library/Java/JavaVirtualMachines/jdk-12.0.2.jdk/Contents/Home"

My error is now fixed, however it will not allow me to use version 11 (it says that java 8 is required). If you have

[2019-08-01 16:57] brpowell commented on #1472
Awesome @bbacharz! It looks like that path you put for version 11 is actually 12 (jdk 12.0.2) which we currently do not support. Try installing from this downloads page https://www.oracle.com/technetwork/java/javase/downloads/jdk11-downloads-5066655.html

[2019-08-01 17:06] bbacharz commented on #1472
@brpowell Yep, chalk another one up for not paying attention! I just downloaded installed and changed the settings. All is well with the world. Thanks for all your help!!

[2019-08-01 18:02] mattbratton commented on #1472
@bbacharz Here is a screenshot of the terminal.  As far as I can see it looks correct.  Appreciate the help.

![Screen Shot 2019-08-01 at 11 59 31 AM](https://user-images.githubusercontent.com/38227497/62316187-2acf6c00-b454-11e9-8edb-4470a307a238.png)

[2019-08-01 18:11] brpowell commented on #1472
@mattbratton Does your home path in settings have an extra slash at the end? like `/Library/Java/JavaVirtualMachines/adoptopenjdk-11.jdk/Contents/Home/` instead of `/Library/Java/JavaVirtualMachines/adoptopenjdk-11.jdk/Contents/Home`?

[2019-08-01 21:39] GH4Arlene commented on #870
As requested, here is our use case for Conflict detection on Deploy/Retrieve.  We are excited about this planned feature.  While we use git religiously, we are not ready yet for CI.  Our highly integrated and ever-evolving data model makes creating new sandboxes very time-consuming. We therefore work in shared project sandboxes, ostensibly in different parts of the code.  However, utility, service

[2019-08-01 22:06] #1423 closed

[2019-08-02 17:48] troveryor opened #1529 "force:source:deploy:report Error: INVALID_CROSS_REFERENCE_KEY"
### Summary
Ran force:source:deploy with a manifest package.xml from bash in VSCode, with --wait 0
When it returned with an ID to check on status I ran the suggested command and was presented with an error.

Like so:
me@PC2 /Salesforce/Development/staging (branch)
$ sfdx force:source:deploy -x "[path_to]/package.xml" -u someuser --wait 0
=== Status
Status: Queued
Id: 0Af2g000003QzqHCAS

Run sfdx f

[2019-08-03 09:08] borkarameya commented on #982
I am having the same problem.

[code]

`sfdx-cli/7.15.3-c7d407d236 win32-x64 node-v10.15.3`
[code]

[2019-08-04 12:18] riteshkonduru commented on #940
any update over here

[2019-08-05 02:02] pksalesforce opened #1535 "Authorize an Org - localhost refused to connect"
When I try to authorize an org, I get following error. It worked until few days ago.

This site can’t be reached localhost refused to connect.
Search Google for localhost 1717 Oauth Redirect
ERR_CONNECTION_REFUSED

[2019-08-05 02:04] pksalesforce commented on #1535
I added "oauthLocalPort" : 1919
to sfdx-project.json
It still does not work.
This is the cli version I currently have
sfdx-cli/7.18.0-ee5dc8194c win32-x64 node-v10.15.3

[2019-08-05 07:48] deborahlevycaprtraite opened #1536 "sfdx:create project with manifest failed"
I get this error :

[2019-08-05 07:49] deborahlevycaprtraite commented on #1536
I get this error :
TypeError Plugin: sfdx-cli: Cannot read property 'close' of undefined
module: @oclif/config@1.13.0
task: runHook init
plugin: sfdx-cli

[2019-08-05 12:29] idanblich opened #1537 "Select the Salesforce Release for a Scratch Org"
Stating next release (September 6, 2019) we should be able to create Preview Scratch Org
[Salesforce DX Developer Guide](https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.meta/sfdx_dev/sfdx_dev_scratch_orgs_version_selection.htm).
However the option is not available by autocomplete in the org definition file.
Please add the option  : "release": "Preview"

[2019-08-05 13:45] marcellcsiszar commented on #1523
I experiencing the same

[2019-08-05 14:31] praksb commented on #940
@riteshkonduru have you tried: https://github.com/dangmai/prettier-plugin-apex ?

[2019-08-06 07:45] gvgramazio opened #1538 "Add in the new Org Browser feature the possibility to export selected metadata in a package.xml file"
I'm always frustrated when use metadata (i.e. always). A lot of metadata types do not support the wildcard character and one has to rely on third part applications to simply have the list of metadata in an org.

Now, with the introduction of the new Org Browser feature, the work is more easy and less frustrating but right now it is an alternative to use package.xml files or a simple helper to comp

[2019-08-06 10:44] kushal33 opened #1539 "Unable to Authorise salesforce org"
Issue Type: <b>Bug</b>

When I try to run a command called authorize an salesforce org it is opening login in browser for oauth and then when I do login it is showing no reponse error in browser for localhost:1717 url

SFDX CLI version: sfdx-cli/7.18.0-ee5dc8194c win32-x64 node-v10.15.3
Extension version: 46.8.0
VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:

[2019-08-06 10:52] kushal33 commented on #1535
I am also facing same issue

[2019-08-06 15:04] ClemABT commented on #1299
I still get OOM exception when loading tests with the latest version, test panel is empty.

[2019-08-06 15:12] praksb commented on #1299
@ClemABT Can you confirm if the call stack is the same? Do you see  apex.jorje.lsp.impl.index.ApexIndex.getTestMethods(ApexIndex.java) in the call stack? It is also possible that indexing is failing because of the org size. Can you copy/paste the complete contents of the OUTPUT window?

[2019-08-06 15:15] ClemABT commented on #1299
You are right, it's not exactly the same call stack.
`GRAVE: Internal error: java.lang.reflect.InvocationTargetException
java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
	at org.eclipse.lsp4j.jsonrpc.services.GenericEndpoint.lambda$null$0(GenericEndpoint.java:67)
	at org.eclipse.lsp4j.jsonrpc.services.GenericEndpoint.request(GenericEndpoint.java:120)
	at org.eclipse.lsp4j.js

[2019-08-06 15:17] TwistyPop commented on #1299
I don't understand why "large orgs" can't be supported. SalesForce is no longer supporting Force.com IDE and touting this as the go to plugin for VS Code. Not being able to support large orgs and Sales Force showing this plugin as the go to has got to be damaging?

[2019-08-06 17:27] #1519 closed

[2019-08-06 18:10] ntotten commented on #901
See: https://github.com/visualzoran/vz-file-templates

[2019-08-06 19:43] praksb commented on #1299
@TwistyPop I am a Salesforce employee and work on the Apex extension. We are aware of the perf issue and has been incrementally rolling out fixes that would improve the experience for customers with huge number of Apex classes and triggers. #1430 is one such fix that would reduce the memory usage. We have work in our backlog to continue to make such improvements in the near future.

[2019-08-06 19:56] ntotten commented on #1538
We will be doing this. See #862 for more details. Closing as duplicate.

[2019-08-06 19:56] #1538 closed

[2019-08-06 19:58] ntotten commented on #1525
Please pro
In order to diagnose this issue we will need more information. Please provide the following.

* Logs(See: https://github.com/forcedotcom/salesforcedx-vscode/wiki/How-to-Collect-Performance-Information-for-Support)
* List of all Visual Studio Code extensions installed and the Versions (Run the command `code --list-extensions --show-versions`)

[2019-08-07 00:30] lcampos commented on #1535
Please provide the following data :

- VSCode version
- Salesforce extensions for VSCode version e.g. `46.8.0`
- Salesforce cli version e.g. `7.18` (you can run `sfdx --version` in your terminal to get this info)
- Operative System

Are you behind a firewall or does your machine have any security rules blocking port 1717 ?

[2019-08-07 00:34] lcampos commented on #1539
Are you behind a firewall or does your machine block the use of port 1717 ?

[2019-08-07 00:37] lcampos commented on #1537
Thanks for opening this request, we'll make sure to include this.
cc @ntotten

[2019-08-07 01:04] lcampos commented on #1529
@troveryor thanks for opening this issue. I was only able to replicate this behavior by querying for a deploy report on a project that didn't have a `defaultusername` and I didn't add the `-u` to the command (`sfdx force:source:deploy:report` -i <deploy id>`). Which means I was querying for a deploy id against a different org, in my case it was the one I globally set as my default username.

When

[2019-08-07 01:17] lcampos commented on #1393
Sorry for the delay, this looks similar to issue #1512. Can you update to the latest version of the Salesforce CLI (`sfdx update`) and see if that addresses the issue you were running into ?

[2019-08-07 04:32] JodieM commented on #862
@ntotten where would you like feedback / suggestions for improvement on the Org Browser functionality - comments on here, or new Ideas? What has happened to the Working Sets functionality, is that disappeared now or will that be split into a separate item? What is the planned new features for the Org Browser, it looks from the merged items that it is planned to be able to create or update the pack

[2019-08-07 14:36] banderson5144 opened #1542 "Retrieve Standard Objects in Org Browser"
### Summary

Retrieve standard objects for Org Browser

### Steps To Reproduce:

1.  Refresh list of CustomObject metadata type

### Expected result

Should see list of Standard and Custom objects

### Actual result

Just list of Custom Objects

### Additional information

**VS Code Version**: 1.36.1

**SFDX CLI Version**: 7.15.3

**OS and version**: Windows 10

[2019-08-07 17:54] pksalesforce commented on #1535
VS Code Version - 1.36.1
Salesforce Extensions for VS Code - 46.8.0
Salesforce CLI version - 7.18.0
Operating System: Windows 10 64 bit
I am not behind fire wall. It worked until about a week ago.

On Tue, Aug 6, 2019 at 8:30 PM lcampos <notifications@github.com> wrote:

--
Praveen Kanumuri
Trailhead Profile
<https://trailhead.salesforce.com/en/me/00550000006I9kRAAS>
Salesforce Certifications
<htt

[2019-08-07 23:00] itsunil opened #1544 "SSO: Single Sign On: SFDX: Authorize an Org failed to run"
SSO: Single Sign On: SFDX: Authorize an Org failed to run

http://localhost:1717/OauthRedirect?code=XXXXX&state=XXXXXX

This page isn’t working localhost didn’t send any data.
ERR_EMPTY_RESPONSE

[2019-08-08 02:30] pksalesforce commented on #1535
I uninstalled and reinstalled VS Code and it is working now.
Not sure what the issue was.
Thank You.

On Wed, Aug 7, 2019 at 1:54 PM Praveen K <pksalesforceid@gmail.com> wrote:

--
Praveen Kanumuri
Trailhead Profile
<https://trailhead.salesforce.com/en/me/00550000006I9kRAAS>
Salesforce Certifications
<http://certification.salesforce.com/certification-detail-print?conId=003G000002feDc7IAE>

[2019-08-08 15:42] troveryor commented on #1529
Yup, looks like that's exactly the situation: no defaultusername, and no -u switch on the command.
Providing a username solves the issue for me.

It might be nice to have something to that effect referenced in the command listed for "get latest status". As it stands the less sophisticated among us, like me, will consider it to be a usable  as-is command.

Either way, it's not exactly difficult to

[2019-08-08 17:20] jokerLu opened #1546 "SFDX: Refresh SObject Definitions not getting standard and custom fields"
### Summary

After I run "SFDX: Refresh SObject Definitions" command, the autocompletion doesn't return standard and custom fields from objects.

### Steps To Reproduce:

1.  Initiated a custom object and create a record
`Bello_PNumber__c parentPNum1 = new Bello_PNumber__c()`
1.  This is step 2. All steps should start with '1.'
`parentPNum1.`

### Expected result

I expect to see the SObject Insta

[2019-08-08 21:11] jeromegv commented on #1544
Same issue here, just stopped working.

[2019-08-08 21:14] jeromegv commented on #1539
Same issue. I do not have a firewall or a proxy on Mac OS X. This used to work, I have no idea what is suddenly blocking port 1717

[2019-08-08 21:23] joeythomaschaske commented on #1544
Might be related https://status.salesforce.com/generalmessages/239

[2019-08-08 21:43] #1472 closed

[2019-08-08 22:54] cademay opened #1548 "Documentation Localization: Japanese"
### Summary
The text of a command palette item needed to be updated, and the documentation was also updated to reflect this change. However, the Japanese translation in this file has not been updated yet.

The update involved changing the label text from "Apex Debug: Configure Exceptions" to "SFDX: Configure Apex Debug Exceptions", and came in accordance with the following pull request: https://gi

[2019-08-09 08:44] kushal33 commented on #1539
No. I am not behind firewall.
My device is not blocking the use of port 1717.
I verified that port 1717 is open in my machine via cms

[2019-08-09 09:53] shahpathik81 opened #1549 "Please provide Code Conflict error during Deploy code"
Hello,
I am a salesforce Developer. From last 3 years i used Mavensmate and sublime text for salesforce project editor purpose. But now mavens no more longer support to Mavensmate. So i try to user friendly with VS Code. But now i got Big Problem faced during Implementation that VS can not show Code Conflict error throw. It shows and compare with Highlight of server copy and change copy.
If some c

[2019-08-09 12:31] steals commented on #1546
It looks like autocomplete works only for instance variables, i.e. Bello_PNumber__c parentPNum1 = new Bello_PNumber__c(); parentPNum1. but doesn't work if you referece object as a class.

[2019-08-09 13:11] jokerLu commented on #1546
That makes sense. Thanks!

[2019-08-09 13:16] #1546 closed

[2019-08-09 14:45] dan9khoa commented on #772
I'm having same issue as this.

1. Using non scratch org
2. Developer A edits a .js (javascript) file and saves the file in VSCode
3. Confirm the change appears in Salesforce website
4. Developer B right-clicks on the same .js file and select "Retrieve Source from Org"
5. Developer B can NOT see the change in the file in VSCode

Our workaround:

1. Developer B deletes .js file in VSCode
2. Develop

[2019-08-09 15:36] steals opened #1550 "Mismatch of xml namespace in Aura component bundles before/after save"
### Summary

All new Aura component created through VSCode has `urn:metadata.tooling.soap.sforce.com` xml namespace by default. But when the component is saved to the org and then retrieved the xml namespace is changed to `http://soap.sforce.com/2006/04/metadata`.

### Steps To Reproduce:

1.  This is step 1. Create Aura Component and deploy it to the org
1.  This is step 2. Retrieve component bun

[2019-08-09 15:54] lcampos commented on #1539
Ok, I haven't been able to replicate it yet but could you confirm if this still happens when you run the command directly from the terminal and not from VSCode UI. I want to see if we can pinpoint if the issue is with the extension or the cli.

[2019-08-09 16:05] kushal33 commented on #1539
It is happening for both above scenarios.
I tried launching it from VS Code UI as well as Terminal and in both case it isnt working

[2019-08-09 16:11] ntotten commented on #1539
Likely due to https://success.salesforce.com/issues_view?id=a1p3A0000003dkDQAQ

[2019-08-09 16:12] ntotten commented on #1549
Duplicate of #870

[2019-08-09 16:12] #1549 closed

[2019-08-09 16:12] ntotten commented on #1544
Closing as this is a resolve of this issue: https://success.salesforce.com/issues_view?id=a1p3A0000003dkDQAQ

[2019-08-09 16:12] #1544 closed

[2019-08-09 16:12] #1539 closed

[2019-08-09 16:13] ntotten commented on #1535
Related to this issue: https://success.salesforce.com/issues_view?id=a1p3A0000003dkDQAQ

[2019-08-09 16:13] #1535 closed

[2019-08-10 21:36] antnoley commented on #971
Subbed and staying tuned for updates on this. The 'Check for conflicts' feature would be amazing. Thanks.

[2019-08-12 04:28] garychenming opened #1553 "Apex Replay Debugger couldn't run debug log in a scratch org with namespace"
### Summary

You can launch the Apex Replay Debugger with a debug log file, but it just terminated when you click the continue button.

### Steps To Reproduce:

1.  Create a new Scratch org with namespace
2.  Turn on Apex Debug Log for Replay Debugger
3.  Run an apex test method
4.  Get the test apex debug log
5.  Launch the Apex Replay Debugger with Current File
6. Click the blue continue button

[2019-08-12 08:28] dennisvieth opened #1554 ""SFDX: Authorize an Org" not available"
### Summary

"SFDX: Authorize an Org" command not available in VS Code

### Steps To Reproduce:

1.  Click command + shift + p and type "SFDX: Create new projekt with manifest"
2. Enter name etc.
3.  Search for "SFDX: Authorize an Org" - not found

### Expected result

"SFDX: Authorize an Org" should be offered

### Actual result

nothing

### Additional information

![image](https://user-images.g

[2019-08-12 08:47] rickyloweSP commented on #1476
Hi @wishwa did you work out what the error is? I am also receiving the same error.

[2019-08-12 09:47] Bartheleway commented on #1394
Hi,
I think there are three different solutions here :
* Install all the "salesforce-dx" node packages globally, that way we don't need to modify the eslint.nodePath of each project
  * (pros) We don't have to reference any path (and don't have to update it on each version)
  * (pros) We don't have to modify the workspace settings
  * (pros) The other installed dependent packages are not installed

[2019-08-12 10:18] suraj07081995 commented on #1293
I faced the issue: "=== Retrieved Source
No results found"
write click on **package.xml** under **manifest** click on SFDX: Retrive Source in Manifest from Org.
Now all the classes will be retrieved

[2019-08-12 10:22] suraj07081995 commented on #1554
SFDX is not installed in your system.
Install Extension pack in VS Code [Salesforce Extension Pack].
If it is installed and the system is unable to recognize then run as an administrator.
Hope this hepls!

[2019-08-12 10:38] osieckiAdam opened #1555 "Illuminated Cloud-like Live code templates"
**Describe the solution you'd like**
It would be very cool to have live code templates like in the Illuminated Cloud plugin for writing APEX code. Currently we are able to create snippets in Emmet, which is very helpful, but we don't have access to SObject types, SObject fields, so we are not able to create snippets like SEL*, dfr which are metadata-aware

**Additional context**
IC Live templates

[2019-08-12 10:50] dennisvieth commented on #1554
I think it is:

But it does recognise other sfdx commands:

--
Mit freundlichen Grüssen / Kind Regards

Dennis Vieth

+49 151 11326 805 (mobile)
+49 6196 77125.619 (fax)
dennis.vieth@entero.de <mailto:dennis.vieth@entero.de>
www.entero.de <http://www.entero.de/>

entero  |  we deliver

entero Aktiengesellschaft
Kölner Straße 12
65760 Eschborn, Germany
Amtsgericht Frankfurt, HRB 51231
Aufsichtsrat: