[2019-01-28 15:09] ntotten commented on #641
We are working on a fix for this one as well as working on adding support for OpenJDK 11. We aren't tied to Salesforce releases so the timeline isn't exact. We use those release for planning, but we ship features/fixes whenever they are ready in our weekly releases.

Regarding the "in-gus" tag, we just stopped using that so that doesn't mean anything. :)

[2019-01-28 15:11] andrewhorwood commented on #839
This would be useful. At the moment I am using the dev console to see debugs when running tests

[2019-01-28 15:11] renatoliveira commented on #641
Oh? I thought the releases were in sync with the platform's.

Great to know that #398 will be addressed as well.

Good job! 👍

[2019-01-28 15:26] ntotten opened #907 "Support for ApexDoc in Code completion"
**Describe the solution you'd like**
The language service supports the ability to provide inline documentation for things like methods, parameters, etc. We can use ApexDoc to support inline documentation both on internal/standard objects as well as custom object, classes, etc.

![image 3](https://user-images.githubusercontent.com/282782/48222488-acc9b300-e362-11e8-83df-6c660888936a.png)

[2019-01-28 15:30] ntotten opened #909 "Retrieve managed/unmanaged package by name"
TODO

[2019-01-28 15:30] flores95 opened #910 "source:deploy "Path" variable not a string"
### Summary

Can't deploy class to sandbox using force:source:deploy

### Steps To Reproduce:

1.  Right click in source
2.  Choose SFDX: Deploy This Source to Org

### Expected result

Source is deployed to org.

### Actual result

sfdx force:source:deploy --sourcepath r:\src\SFCI\src\classes\FeatureAccessHandler_Test.cls
ERROR:  The "path" argument must be of type string. Received type undefined

[2019-01-28 15:30] eltoroit opened #911 "Lightning Components Markup Linter errors on an attribute with value "{# ... }""
### Summary

This code <div style="{# 'background-image:url(' + v.url+ ')'}"> fails linter, but is valid Lightning Components markup.

### Steps To Reproduce:

1.  Create a component
2. Add this markup
`<div style="{# 'background-image:url(' + v.url+ ')'}">...</div>`
3. Save the code, Linter complains

### Expected result

4. Linter should not complain

### Actual result

Linter is complaining

##

[2019-01-28 15:31] ntotten opened #912 "Adopt Prettier as Default Formatter for Salesforce Delopment"
## Is your feature request related to a problem?
Today, there is no standard for source formatting in the Salesforce community. Every developer and team uses their own format. This makes the adoption of source driven development more difficult and makes enabling a development best practice something that has to be done manually instead of something you get by default.

## Describe the solution you

[2019-01-28 15:31] ntotten opened #913 "Improved default project README.md"
## Is your feature request related to a problem?
Today, when you create a default project, the readme file is basically empty. We could use the README.md file to include the getting started instructions for how to use the project.

## Describe the solution you'd like
Default project README.md contains getting started instructions for VS Code. Note, this would only be enabled if the `Enabled Visual

[2019-01-28 15:31] ntotten opened #914 "Improved Project Create Experience"
## Is your feature request related to a problem?

Today, you have basically two options for creating a project: a regular project and a project with a manifest. However, there are many different options that could be added to the default project experience.

## Describe the solution you'd like
When creating a project using the loopback CLI tool you are given a number of different options as shown

[2019-01-28 15:32] ntotten opened #915 "Add Right-Click Commands for Deploying Data & Data Plans"
**Is your feature request related to a problem?**
It would be convenient to have right-click options to deploy data & data commands in the file tree.

![image](https://user-images.githubusercontent.com/282782/47647000-1cae9100-db4c-11e8-8ac4-bcac7fa71f61.png)

**Describe the solution you'd like**
When right-clicking on a `*-data.json` file you would get a command `SFDX: Import Data into Default Or

[2019-01-28 15:34] ntotten opened #916 "[SFDX: Retrieve Source from Org] command should also output a cancel message to the output console as well"
**Internal Work Item**: [W-5230816](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07B0000005Q1apIAC/view)

[2019-01-28 16:08] steals commented on #883
Similar issue happens when autosave is enabled and new class or trigger is created through vs code command pallete

[2019-01-28 16:14] dujsu commented on #662
Do you have an idea of when this will be available? Thanks ahead of time!

[2019-01-28 16:54] #916 closed

[2019-01-28 17:13] #907 closed

[2019-01-28 17:13] #914 closed

[2019-01-28 17:14] #912 closed

[2019-01-28 17:15] #911 closed

[2019-01-28 17:15] #910 closed

[2019-01-28 17:36] Szandor72 opened #922 "Question: initial force push in VS Code after Scratch Org has been created outside of VS Code"
Hello,

I have a scratch org create script that does a few things including data import.

What I have noticed: The first time I push changes from VS Code to the newly created scratch org, VS Code does a full push.  Even if I changed only one file, I get the whole source push which takes quite some time.

In summary, I wait once for a complete push in my script and then have to wait for another ful

[2019-01-28 17:40] atnmorrison opened #928 "Create static resource command"
I would like to be able to create static resources within vs code. There are commands for most components but this one is missing. In lightning if we're developing a js library for our components it would make things much easier.

Even better would be if it could  support zip files and automatically zip and push the static resources zipped while being able to easily edit in the editor

[2019-01-28 17:50] Shokhan opened #942 "Searchbar and sorting is absent for Apex Tests menu"
Searchbar and sorting is absent for Apex Tests menu and it's uncomfortable to look for needed test in project with a lot of classes
![searchbar](https://user-images.githubusercontent.com/22928752/44775462-58de6900-ab7e-11e8-836c-5c54d578c98c.png)

[2019-01-28 17:50] joseph-ortiz opened #943 "SFDX: Create Apex Class command should allow you to specify a template."
**Is your feature request related to a problem? Please describe.**
If you use the command palette to create an apex class, the DefaultApexClass template is used without an option to select what template.

**Describe the solution you'd like**
I am proposing an additional input in the "SFDX:Create Apex Class" command to select a template. By default it should be DefaultApexClass but I'd like to spec

[2019-01-28 17:57] eltoroit opened #950 "Lightning Components Markup Linter errors on an attribute with value "{# ... }""
### Summary

This code <div style="{# 'background-image:url(' + v.url+ ')'}"> fails linter, but is valid Lightning Components markup.

### Steps To Reproduce:

1.  Create a component
2. Add this markup
`<div style="{# 'background-image:url(' + v.url+ ')'}">...</div>`
3. Save the code, Linter complains

### Expected result

4. Linter should not complain

### Actual result

Linter is complaining

##

[2019-01-28 17:58] ntotten opened #952 "Improved Project Create Experience"
## Is your feature request related to a problem?

Today, you have basically two options for creating a project: a regular project and a project with a manifest. However, there are many different options that could be added to the default project experience.

## Describe the solution you'd like
When creating a project using the loopback CLI tool you are given a number of different options as shown

[2019-01-28 18:00] joeythomaschaske opened #956 "Replay debugger variable property order"
While using the replay debugger it would be useful to have variable properties ordered alphabetically

![screen shot 2018-10-24 at 10 32 02 am](https://user-images.githubusercontent.com/7061638/47442619-3a5cae80-d778-11e8-9942-88c77137f54a.png)

[2019-01-28 18:05] ankit2405 opened #961 "Getting error "EISDIR: illegal operation on a directory, read." while Retrieve Source from Org."
### Summary

Getting error "EISDIR: illegal operation on a directory, read." while Retrieve Source from Org.

### Steps To Reproduce:

1.  Create the Project with Manifest.
2. Auth the Org.
3. Run command "Retrieve Source from Org.".

### Expected result

It should sync the ORG components.

### Actual result

EISDIR: illegal operation on a directory, read.

### Additional information

_Feel free t

[2019-01-28 18:06] Szandor72 opened #964 "Is there a way to disable my own Namespace for Auto-Completion (Apex)"
**Describe the solution you'd like**
As an ISV we work with namespaces all of the time. In VS Code, if I want to use the autocomplete feature, autocompletion looks like this

![completion with namespace](https://i.imgur.com/5uWukOL.png)

Is there a way to tell VS Code or the Salesforce Extension not to use namespace?

The omitted Namespace should be the one defined in the scratch project definitio

[2019-01-28 18:08] ntotten opened #966 "Document how to whitelist CLI/VS Code when using API Limit restrictions in org"
See: https://help.salesforce.com/apex/HTViewHelpDoc?id=security_control_client_access.htm

[2019-01-28 18:11] torynet opened #970 "Support workspaces"
**Is your feature request related to a problem? Please describe.**
We have been encouraged to break our solutions up into smaller more focused packages. Having done so, I've started working in vscode with some various package directories added to a vscode workspace. It's just easier than having a bunch of different windows. Unfortunately, this completely breaks the sfdx extensions. The extensions

[2019-01-28 19:36] steals commented on #968
I have similar issue. In my project I have around ~300 apex classes, 150 objects etc. The code completion works very slow. After several attempt it stops working and CPU usage increases a lot.

In the Output pane for Apex Language Server I can see the following error:

Jan 28, 2019 9:11:46 PM apex.jorje.parser.impl.BaseApexLexer dedupe
INFO: Deduped array ApexLexer.DFA22_transition. Found 7272051

[2019-01-28 20:05] steals opened #976 "One Apex LSP instance for multiple VSCode Windows"
**Is your feature request related to a problem? Please describe.**
Every time when new VSCode WIndow is opened a new Apex LSP instance is tarted. In SI world we usually switch between projects and I usually I have 3-5 project opened. If I open 5 projects in different VSCode windows I end up in 5 Apex LSP instances working in the background and only one of them can be active. It would be great if m

[2019-01-28 21:30] allileong commented on #961
Hi @Triopticon and @mikesimps, the issue that you have reported with ReportFolders and DashboardFolders is a result of [this change](https://releasenotes.docs.salesforce.com/en-us/summer18/release-notes/rn_rd_folders_organize.htm), which added support for subfolders for the Report and Dashboard metadata types. A new bug has been filed to update our sfdx tooling to support the new subfolder directo

[2019-01-28 21:31] #909 closed

[2019-01-28 21:32] #913 closed

[2019-01-28 21:32] #915 closed

[2019-01-28 21:35] allileong commented on #961
Hi @mikepaisner, I was unfortunately unable to reproduce your error when attempting to retrieve AuraDefinitionBundle entities. Could you confirm that you are still seeing this issue?

[2019-01-29 09:58] tom901 opened #981 "Retrieve source from org make auto deploy when auto save activated"
### Summary

Retrieve source from org and auto deploy when the auto save feature enabled :

 "salesforcedx-vscode-core.push-or-deploy-on-save.enabled": true

### Steps To Reproduce:

1.  Open VSCode
2.  Preferences -> Settings
3. Salesforce Feature Previews
![image](https://user-images.githubusercontent.com/6650607/51899589-a07a5280-23b3-11e9-8cf2-52fa39cd892e.png)
4.  Set to true :
salesforcedx-v

[2019-01-29 11:23] borkarameya opened #982 "Deploying Lightning Components deletes all files from Aura Bundle."
When a Lightning Component or one of its contained files are deployed to org, all the files from the Aura Bundle are deleted except the cmp file. The changes made to the .cmp file are reflected successfully but the all the other files are deleted from the Org. I am using a Sandbox org for this.

Steps to reproduce:

1. Pull a lightning component from org.
2. Modify the .cmp, controller.js and help

[2019-01-29 12:16] mnunezdm opened #983 "Preview Button for Lightning Apps / VF Pages"
**Is your feature request related to a problem? Please describe.**
When im developing a new component I normally want to preview it, now I have to memorize the URL, which is normally quite simple /namespace/appName.app, but it would be great to have a button that does this job for me

**Describe the solution you'd like**
I would like a button in the IDE to open the application/visualforce I'm view

[2019-01-29 13:02] nkadis commented on #968
Hi again,

I think I got some new info, maybe this could help in debugging the issue.

This happened to me when I cmd + click on an existing method I call from another class, which would normally take me to the declaration of that method. Instead, I get this:

`12:35:36.403 [Apex Prelude Service STARTING] INFO  a.j.l.i.s.ApexPreludeManagedService - Scanning built-in and system Apex types.
Jan 29,

[2019-01-29 15:37] nkadis commented on #968
Oh and something else I noticed, is that when this issue occurs and I close vs code, the java process doesn't terminate, only the parent process. If you have a look at the image attached, the parent process is null, but before closing vs code, that process linked the the parent vscode process. Shouldn't this terminate since it's a child process?

![screenshot 2019-01-29 at 15 32 03](https://user-i

[2019-01-29 18:32] abd3 commented on #958
@ntotten we're working on enabling this capability in our tooling already. We considered various options to build an association between Git branches and scratch orgs, but the only scenario that seemed feasible was either to create a configuration file containing a map, or to dynamically change the scratch org name to match the Git branch. We're moving forward with the second option, since we have

[2019-01-29 18:36] ntotten commented on #958
@abd3 which tooling, the CLI?

[2019-01-29 18:47] ntotten commented on #981
Duplicate of #883

[2019-01-29 18:47] #981 closed

[2019-01-29 21:23] SalesforceBobLightning commented on #869
Is that Closed implemented? or Closed ignored?

[2019-01-29 21:32] ntotten commented on #869
I will pass it along to the lighting tooling team. I am not sure if this is something we will do any time soon or ever though.

[2019-01-29 21:46] abd3 commented on #958
I'm leading a project called AppirioDX. We're working on a desktop app for managing scratch orgs.

[2019-01-29 21:51] ntotten commented on #958
Ah okay, I was thinking you meant a CLI plugin. We don't have concrete plans to implement this yet, but I'll post the design here when we do.

[2019-01-30 01:00] celador opened #985 "nodePath assigned in workspace settings"
When I installed salesforce.salesforcedx-vscode-lwc it added the following setting to my workspace settings ` "eslint.nodePath": "/Users/john/.vscode/extensions/salesforce.salesforcedx-vscode-lwc-44.17.0/node_modules"` .

Eslint broke for my project and all the subfolders.  I spent much of the last couple days troubleshooting the issue.

[2019-01-30 03:52] geoffrothman commented on #900
@ntotten no, not the sfdx-project.json file. In *addition* to the sfdx-project file, the code is also looking for an existing VSCode Workspace file before it will show any more than just those three sfdx options. I don't think I should have to create a VSCode Workspace just to get the SFDX commands to show up.

[2019-01-30 06:39] lcampos commented on #900
I see what you mean now. There's a bit of confusion here because of how vscode defines what's a workspace and what it means when you use vscode apis (e.g. workspaceContains:sfdx-project.json).
In vscode, a workspace is just a file that stores links/pointers to other folders across your hard drive. You can think about it as a collection of folders that represents a project. This can then be used by

[2019-01-30 09:42] Aviad211 commented on #968
I have similar issue. I'm working on a large sandbox.  Whenever I try to retrieve source from manifest with the package.xml - VSCode crushes and I'll get the "out of application memory" error.

sfdx-cli/6.50.0-9817aece8a (darwin-x64) node-v8.9.4
MacOS Mojave 10.14.2 / 16GB RAM

[2019-01-30 16:59] ntotten commented on #917
Anyone on this thread who has experienced slow retrieves/deploys please email me details. We are working on definitively solving this problem once and for all and I need as much data as possible. OrgId, time, logs, command run, etc. The more detail the better. ntotten@salesforce.com

[2019-01-30 18:07] #867 closed

[2019-01-30 19:30] melissajhansen opened #990 "Go To Symbol not working"
### Summary

"Go to Symbol in File" not working in Apex classes

### Steps To Reproduce:

1.  From an Apex Class file, use the "Go to Symbol in File" command.  I don't see any method names or other symbols.
1.  If I use the same command from an Aura .js file, I DO see method names, other symbols.
### Expected result

Should see a list of methods and symbols

### Actual result

None

### Additional

[2019-01-30 19:31] ntotten commented on #990
@melissajhansen Are you working against a sandbox/etc or scratch org?

[2019-01-30 19:32] ntotten commented on #990
Also, try running the command `SFDX: Refresh SObject Definitions` and see if that makes any difference.

[2019-01-30 19:41] melissajhansen commented on #990
I got it!.  VSCode was defaulting to Java as the language on my .cls files.  I needed to change the File Association for .cls to Apex instead of Java.  Thank you!!

[2019-01-30 19:41] #990 closed

[2019-01-30 19:41] melissajhansen commented on #990
![image](https://user-images.githubusercontent.com/5881820/52007761-09c99680-2484-11e9-9a6f-4573c736c8a6.png)

[2019-01-31 01:40] Rogeriohsjr commented on #831
Hi @vazexqi , I would say that I don't see the option that is on Trailhead either.

Here is the page that you asked:
![image](https://user-images.githubusercontent.com/3171587/52024412-c9dbd100-24ce-11e9-9fbe-f1e85789dfdc.png)

What I see is the SFDX: Create LWC Bundle, which I believe is the same, no? but for me this LWC bundle is not creating the component. :/.
![image](https://user-images.githu

[2019-01-31 06:42] jfaderanga commented on #662
@pranaymistry  it should be deploy on save, it's a combination of saving it locally and deploying it to server at the same time. I am pretty excited with this fix..

[2019-01-31 09:22] nishanpatel commented on #893
@ntotten yes thats right. Firstly I have created LWC using VS code and then created new project or someone else retrieve using VS code, LWC is not getting into new project workspace.

[2019-01-31 09:27] oriolete opened #992 "Error opening VSCode"
### Summary

Everty time VS Code is opened appears this message:
Request initialize failed with message: LWC Language Server initialization unsuccessful. Error message: Cannot read property 'forEach' of undefined

### Steps To Reproduce:

1.  Open VS-Code

### Expected result

N/A

### Actual result

N/A

### Additional information

![image](https://user-images.githubusercontent.com/6986296/520447

[2019-01-31 14:41] ntotten commented on #992
Does this happen when you create a new project or are you opening an existing project?

[2019-01-31 15:05] oriolete commented on #992
Hi Nathan,

this occurs with projects managed with ForceCode extension perhaps I think this bug could be passed to they.

Best regards

[2019-01-31 15:39] ntotten commented on #992
Can you try disabling the forcecode extension and seeing if the error still happens?

[2019-01-31 15:46] oriolete commented on #992
Nathan, disabled is working properly and not showing that error.

[2019-01-31 16:06] BrettMN opened #993 "Replay Debugger: Restart doesn't restart current session"
### Summary

While using the apex Replay Debugger pressing "Restart" closes the current debug replay and brings user to the log file.

### Steps To Reproduce:

1.  Start a debug replay
1.  Step through a few lines
1. Press "Restart"

### Expected result

Restart is expected to restart the current debug session not cancel it.

### Actual result

Restart cancels the current debug session

### Additi

[2019-01-31 16:37] mshanemc opened #994 "shortcut to open component library"
I forget the url for the component library, and have to cut and paste my domain to go find it.  So I wrote a cli command for that `sfdx shane:org:componentlibrary` that opens the library for the current org (or any org via -u)

**Describe the solution you'd like**
that command, in the command pallette

**Describe alternatives you've considered**
typing it out on the cli each time

https://github.c

[2019-01-31 16:38] mshanemc opened #995 "mdapi coverage report"
I forget the url for the metadata coverage report, and have to cut and paste my domain to go find it. So I wrote a cli command for that `sfdx shane:org:metadatacoverage` that opens the library for the current org (or any org via -u)

Describe the solution you'd like
that command, in the command pallette

Describe alternatives you've considered
typing it out on the cli each time

https://github.com

[2019-01-31 16:41] lcampos commented on #995
Can you explain why you need to constantly check this report ?

[2019-01-31 16:41] mshanemc opened #996 "lightning component debug mode"
**Is your feature request related to a problem? Please describe.**
Lightning components browser logs (line numbers, names of funtions) are minified unless the user has "debug mode" turned on in the org.  There's not a way to do that in the scratch def, and it's manual use of setup to turn it on.

So I created `sfdx shane:user:lightning:debug` as a plugin to do that.

**Describe the solution you'd

[2019-01-31 16:43] mshanemc opened #997 "static resource creation"
**Is your feature request related to a problem? Please describe.**
To add a new static resource, you either have to build in SetupUi and pull down, or manually mess with xml.  So I made a plugin for that `sfdx shane:static:create -n myJSResource -y js`

**Describe the solution you'd like**
This, in the command palette (ask me name it, specify the type)

**Describe alternatives you've considered**

[2019-01-31 16:44] ntotten opened #998 "Create Default Folder for Template if not Exists"
When you run a create command with a template, the default folder is the default option for where to create the file, however, if that folder doesn't exist the command doesn't work. Instead, if you select the default folder (or really any folder), the folder should be created if it doesn't exist.

[2019-01-31 16:54] #883 closed

[2019-01-31 16:56] lcampos commented on #883
The fix for this is part of version `44.18.0` of the extensions. Thanks for reporting the issue and being patient while we addressed it.

[2019-01-31 17:05] sunnymatharuuk opened #999 "When will the "develop against any org" feature be GA?"
Hi @ntotten , can you advise on roughly when the "develop against any org" feature will be GA?

I recently saw that the eclipse IDE will no longer receive any support as of October 2019.

Though this is not a problem for me or my clients (nobody here is the biggest Eclipse fan), their security team(s) are not willing to let our devs use VS Code + the "any org" feature while it is still in open bet

[2019-01-31 17:21] ntotten commented on #999
It will be GA in the next few months. No exact ETA though.

[2019-01-31 17:21] #999 closed

[2019-01-31 18:57] lcampos commented on #662
@dujsu, @pranaymistry we released some fixes to deploy on save based on the feedback we received, the latest changes are part of version 44.18.0 of the extensions.

To enable it, set the `salesforcedx-vscode-core.push-or-deploy-on-save.enabled` setting to `true` in either your user or workspace settings. More info can be found on [Develop Against Any Org in Visual Studio Code (Beta)](https://githu

[2019-01-31 22:14] allileong commented on #955
Hi @iamsonal, thanks for reporting this issue. Are you still seeing this problem? If so, could you please list the metadata types that you are attempting to retrieve? From the screen shot, I can see that your package.xml file contains ApexClass, ApexComponent, ApexPage, ApexTestSuite, and ApexTrigger.

[2019-01-31 23:16] dc7380 commented on #662
Hiya folks, I stumbled onto this when I was having the same problem.
One point and one question.

The 'Push-or-deploy-on-save' shows **Enabled** even though I had not yet enabled it. In the JSON, it _was_ false.
![image](https://user-images.githubusercontent.com/44416270/52091794-a1fa7500-2583-11e9-8a97-9a7fe191de81.png)

Also, I'm curious as to why saving via the Tooling API isn't an option. In t

[2019-02-01 04:06] pratima320 opened #1000 "sfdx and vscode disabled in visual studio code"
### Summary
I have two windows open on Visual Studio code, one of the windows everything is working great with LWC extensions, but in the other i dont see auto-suggestion, Cant refer LWC, lint is not working, bascially LWC etensions is not really working. sfdx folder looks disabled inside the project. Please see screenshot. Also I have the pre-rlease CLI installed with the LWC.
<img width="592" al

[2019-02-01 04:08] pratima320 commented on #1000
I have two windows open on Visual Studio code, one of the windows everything is working great with LWC extensions, but in the other i dont see auto-suggestion, Cant refer LWC, lint is not working, bascially LWC etensions is not really working. sfdx folder looks disabled inside the project. Please see screenshot. Also I have the pre-rlease CLI installed with the LWC.
<img width="592" alt="screen sh

[2019-02-01 19:19] mshanemc opened #1002 "analytics metadata files should be recognized as json"
**Is your feature request related to a problem? Please describe.**
When you pull down things in the /wave folder, many of them are JSON files.

**Describe the solution you'd like**
.wdash, .wdf, .wdpr, .wlens should all be shown as json.  Bonus points for autoformatting them.

**Describe alternatives you've considered**
I've explained these types to vscode manually, and called Format Document on t

[2019-02-01 20:55] VeenaChowdaryGudapati commented on #745
Hi,
I would like to reopen this issue. I have performed all necessary installations as in documentation. When i try to get the Source to local from Org. I get the error.

sfdx force:source:retrieve --manifest c:\Users\xxx\Desktop\SFDX Test Project\SFDX Test Project\manifest\package.xml
ERROR:  Cannot read property 'endsWith' of undefined.
fdx force:source:retrieve --manifest c:\Users\xxx\Desktop\S

[2019-02-01 21:18] ntotten commented on #925
I have passed this feature request to the proper team. Closing here as it is unrelated to VS Code.

[2019-02-01 21:18] #925 closed

[2019-02-01 21:58] ntotten commented on #871
We are fixing this in a different way.

[2019-02-01 21:58] #871 closed

[2019-02-01 22:29] allileong opened #1007 "Give user feedback that the SFDX: Set a Default Org command is running when the default org button is clicked"
**Is your feature request related to a problem? Please describe.**
There is a noticeable lag between the time when the default org button is clicked, and the quick-pick dropdown appears with the list of available orgs. In the time that it takes for the dropdown to appear, the user might be confused as to why clicking on the button had no visible effect and she may click on the org button a few mor

[2019-02-01 22:34] praksb commented on #1007
I see the lag that you mentioned. Any idea what is causing the lag? Is it just all due to VS Code or are we doing some work before showing the UI that is causing the lag?

[2019-02-02 00:06] allileong opened #1008 "VS Code reports success on `SFDX: Set a Default Org` even when the command fails"
### Summary

VS Code reports that `SFDX: Set a Default Org`successfully ran even though the underlying `sfdx force:config:set` command failed and the default org was not able to be set.

### Steps To Reproduce:

1.  You must have at least two orgs in your environment. For example: `org1` and `org2`
1. Set `org1` to be the default org in your VS Code workspace
1. Find the *.json file that contains

[2019-02-02 00:49] lcampos commented on #1007
@allileong @praksb based on what I've seen, the lag is caused by us running `sfdx force:config:set`to get some of the info needed to populate the quick-pick dropdown.  On top of preventing multiple executions of that command, we should also look at using the `@salesforce/core` module to get the info we need for these feature.

[2019-02-02 00:59] lcampos commented on #931
This was addressed by PR #683

[2019-02-02 00:59] #931 closed

[2019-02-04 11:02] htanguturi commented on #356
@vazexqi  Is this implemented? Can I know is there any other issue to follow as this is closed?

[2019-02-04 11:02] jriordan22849 opened #1009 "Automate the creation of the meta-xml file."
**Is your feature request related to a problem? Please describe.**
No, proposed enhancement.

**Describe the solution you'd like**
When I create a new class/trigger/page file, I would like the relevant file type meta-xml file to be automatically generated with the latest API version.
This will reduce time creating a file and then creating the corresponding meta-xml file manually. Make the meta-xml

[2019-02-04 11:17] jriordan22849 commented on #1009
Actually, already does it, ignore or delete this thread.

[2019-02-04 11:17] #1009 closed

[2019-02-04 16:12] ntotten opened #1010 "CLI exit status should be more descriptive"
Instead of printing the exit code for CLI command executions we should display more meaningful messages.

`... ended with exit code 0` should instead be `... succeded (exit code 0)`.

`... ended with exit code 1` should instead be `... failed (exit code 1)`.

Ideally, there would also be a short line of what the failure type was:

`... ended with exit code 1` should instead be `... failed because

[2019-02-05 07:50] jmcaudron commented on #880
Thanks @lcampos ,
I had some component from managed package which cause this issue. After removal of this component, it works well.

[2019-02-05 10:58] amitabhleo opened #1017 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `44.18.0`
- OS Version: `Linux x64 4.18.0-14-generic`
- VSCode version: `1.30.2`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/amitabh/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/w

[2019-02-05 11:16] nishanpatel commented on #893
Hi @ntotten we have just verified same retrieval LWC is working fine in Mac and having issue only with windows machine.

[2019-02-05 21:18] ntotten commented on #1017
Duplicate of #968

[2019-02-05 21:35] ntotten commented on #997
Duplicate of #928

[2019-02-05 21:35] #997 closed

[2019-02-05 21:36] ntotten commented on #1002
Shipping in next release

[2019-02-05 21:36] #1002 closed

[2019-02-05 21:37] ntotten commented on #994
The LWC team has plans to integrate the component library into VS Code. I will share with them.

[2019-02-05 21:37] #994 closed

[2019-02-06 15:22] trailheaddxvinod commented on #917
@ntotten - I'm experiencing this today and I'm on government cloud. Any issues or risks with using salesforce extension pack for vscode/salesforce cli on government cloud?

[2019-02-06 15:30] ntotten commented on #917
@trailheaddxvinod The issue generally isn't with VSCode or the CLI, it is usually with the backend APIs. Feel free to email me details per the instructions here: https://github.com/forcedotcom/salesforcedx-vscode/wiki/How-to-Collect-Performance-Information-for-Support

[2019-02-06 16:29] JamieBriersSageCom commented on #962
As this work has now been merged to develop, is the potential release still Winter 19, or could we expect this fix sooner?

Thanks

[2019-02-06 16:33] ntotten commented on #962
@JamieBriersSageCom We release every Thursday. This didn't make the cut for this release (we fork on Monday so we can test, etc.), but it will be in next Thursday.

[2019-02-06 16:40] JamieBriersSageCom commented on #962
Brilliant news, thank you

[2019-02-06 18:33] brpowell commented on #962
Hi @JamieBriersSageCom. The merge from yesterday specifically fixes the code coverage option not being honored when running tests from the test sidebar. The separate issue of the SFDX: Re-Run Last Invoked Apex Test Method/Class not working for test sidebar tests has been filed as separate work.

[2019-02-06 21:10] brpowell commented on #995
Hi @mshanemc. Your plugin targets the current instance url with /mdcoverage/report.jsp. It used to be the case that the coverage report lived here and the information was dependent on the version of the instance you were viewing it on. This has been replaced by https://developer.salesforce.com/docs/metadata-coverage where you can now select versions and is org independent. /mdcoverage/report.jsp r

[2019-02-07 09:04] JamieBriersSageCom commented on #962
Okay, thanks for the clarification.  Personally, its the ability to use the sidebar whilst getting coverage data which has been my biggest worry, so I'm happy that's resolved and I look forward to further fixes.

Thanks very much for your hard work.

[2019-02-07 09:23] vimalkarun commented on #955
sfdx force:source:retrieve -m "LightningComponentBundle" is throwing the Error "ERROR: Cannot read property 'fileName' of undefined."

I tried the same command for ApexClass and  AuraDefinitionBundle
and it was successful

[2019-02-07 17:37] #995 closed

[2019-02-07 19:08] mfrenchlitify commented on #968
I am also seeing this

[2019-02-07 20:43] allileong commented on #955
Hi @vimalkarun, could you share the output that you see when you call the following from the command line?
1. `sfdx -v`
1. `sfdx plugins`

You are likely to see that error if you haven't updated the salesforcedx plugin to v45 (currently pre-release). You can do that by calling:

`sfdx plugins:install salesforcedx@pre-release`.

[2019-02-07 21:42] vijaykumar8448 opened #1023 "LWC retrive issue with sfdx"
I am not able to retrieve my LWC components from org to local on windows machine . I ran below commands but both failed

sfdx force:source:retrieve -m LightningComponentBundle

or

sfdx force:source:retrieve -m LightningComponentBundle:helloWorld

[2019-02-07 22:37] #955 closed

[2019-02-08 00:07] allileong commented on #955
Hi @vimalkarun, let's continue our conversation in https://github.com/forcedotcom/salesforcedx-vscode/issues/1023 because it looks to be the same issue.

[2019-02-08 02:04] Xtremefaith commented on #662
I've updated my CLI and Plugins, and I thought I setup shortcut key correctly but unfortunately still getting the same error.

`Cannot read property 'fsPath' of undefined`

![image](https://user-images.githubusercontent.com/1228550/52454880-d2ee2300-2b0a-11e9-8ebe-31e11e9d93cf.png)

![image](https://user-images.githubusercontent.com/1228550/52454894-e6998980-2b0a-11e9-858e-110ebb0adc8c.png)

What

[2019-02-08 02:56] jfaderanga commented on #662
@Xtremefaith you don't need to set binding key once you set the salesforcedx-vscode-core.push-or-deploy-on-save.enabled settings to true, it's automatic..

[2019-02-08 04:53] Xtremefaith commented on #662
I don't want it to be automatic, I want the ability to save and deploy when I feel it is appropriate. Also does this then deploy just the file or does it deploy the directory?

[2019-02-08 06:01] borkarameya commented on #764
What if the deploy/retrieve options were always shown? Whenever a user would try to deploy/retrieve the package.xml, the console would display an error. That way, the user isn't left wondering why they aren't able to deploy/retrieve.
It is really frustrating when we have authorized an org and the deploy/retrieve options don't show up in the context menu.

@ntotten Any thoughts on this?

[2019-02-08 14:21] ntotten commented on #764
I certainly can see the frustration, but the problem with showing them all the time is that we need to load the extension on projects that aren't even Salesforce projects. This means that if you are developing a node.js project you would see these menus which I don't think is something people want.

The other option of showing them on all projects IMO would also cause frustration to some users. If

[2019-02-08 14:24] ntotten commented on #1000
@lcampos Is this because of the Apex LSP? I assume both instances run on the same port. Anything we can do to support multiple windows?

[2019-02-08 16:24] chandra2ravi opened #1027 "openssl config failed error on sfdx force:source:retrieve"
I'm getting below error on every sfdx command

![image](https://user-images.githubusercontent.com/93057/52491018-bfcf6780-2b8b-11e9-99ac-c2b1a1308c66.png)

[2019-02-08 17:24] allileong commented on #1027
Hi @chandra2ravi, thanks for reporting this issue. Looking into it now.

[2019-02-08 18:03] allileong commented on #1027
Hi @chandra2ravi, this looks to be a problem caused by the OPENSSL_CONF environment variable being set to an invalid value.

Could you try unsetting the environment variable, or setting it to a valid filepath?

Here are some resources on how to unset the environment variable or how set it to a valid path:
https://github.com/npm/npm/issues/17261
https://github.com/openssl/openssl/issues/3764

[2019-02-08 19:29] chandra2ravi commented on #1027
I removed from environment variable but still same error.

[2019-02-09 01:27] lcampos commented on #662
@jfaderanga regarding the deploy on save time delay. That's currently not configurable but we've been discussing how useful it would be to allow it to be. If you're interested in that functionality/feature I'd suggest you open a separate issue so we can have a thread specific for that.

cc @ntotten

[2019-02-09 02:10] lcampos commented on #662
hi @dc7380 , regarding the push or deploy on save showing enabled, this is because of a convention that the new vscode settings UI follows. It takes the name of the setting definition and "breaks" it in a way that for our setting might look like it's enabled. Our setting is named `salesforcedx-vscode-core.push-or-deploy-on-save.enabled`, which the UI then takes the `push-or-deploy-on-save` part to

[2019-02-09 02:16] dc7380 commented on #662
@lcampos Thank you for your very complete answer!

[2019-02-09 02:47] lcampos commented on #662
hi @Xtremefaith, using a keybinding for existing deploy commands won't work because of limitations on how to define it and the commands depending on a filepath to be provided. We explored the possibility of changing the commands to show a quick-pick option, when no filepath was provided, and then choose the file/folder you wanted to deploy. We discarded that because of how unmanageable it became w

[2019-02-09 03:30] ankitrakeshsfdc opened #1034 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `44.18.0`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.31.0`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\aravu\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wi

[2019-02-09 11:59] ajayyearup opened #1035 "Not able to see the option Run Test witihin in the file in VSCODE"
### Summary

As SFDX plugin describes, we should be able to Run All Tets / Run Test within the test classs inside VSCODE. However I do not see the options to run the Tests within the file.

And also attached another screenshot, where it says Java 8 is required to run. I have the latest Java installed already.

### Steps To Reproduce:

1.  Launch VSCODE
2.  Open any Test Class
3.  Check if I have o

[2019-02-09 23:06] ajayyearup commented on #1035
Issue is resolved: The problem was with Java 8 Environment variable. By default the path was

Old Path: C:\Program Files\Java\jdk-9.0.1
I changed to new path: C:\Program Files\Java\jdk1.8.0_144

All set now, it is working fine. Thank you.

![image](https://user-images.githubusercontent.com/42325509/52527342-2b512c00-2c95-11e9-93ed-c7e9b1c6537c.png)

[2019-02-10 02:01] amitkumarj1979 opened #1036 "SFDX: Create Lightning Web Component does not refresh the VS Code tree, so the component is not visble"
### Summary

Right click on the lwc folder and select SFDX: Create Lightning Web Component. Name the component and hit Enter. The component is created but its not visible in the VS Code tree on the left side.

### Steps To Reproduce:

1.  Right click on lwc folder and select  SFDX: Create Lightning Web Component.
1.  Name the component something and hit Enter.
1. The component is created but visib

[2019-02-11 06:30] paul-drozd-itechart commented on #968
Having the same issue

[2019-02-11 07:11] steals commented on #1034
Most probably it's a duplicate of https://github.com/forcedotcom/salesforcedx-vscode/issues/968

[2019-02-11 10:03] Raspikabek commented on #848
I've been getting this error in Windows 10, in different project folders, new projects and projects from github. Connected to a DevHub org with Dev Hub enabled, v44.

**Solved** uninstalling Salesforce CLI 100%, following this steps: https://developer.salesforce.com/docs/atlas.en-us.sfdx_setup.meta/sfdx_setup/sfdx_setup_uninstall.htm

Make sure you remove everything. Once Salesforce CLI is uninsta

[2019-02-11 16:56] lcampos commented on #944
Delivered in version`45.1.0`

[2019-02-11 16:56] #944 closed

[2019-02-11 16:57] lcampos commented on #874
FIxed as part of version `45.1.0`

[2019-02-11 16:57] #874 closed

[2019-02-11 17:00] lcampos commented on #771
Fixed as part of version `45.1.0`

[2019-02-11 17:00] #771 closed

[2019-02-11 18:10] gdoenlen commented on #930
Is there any reason why this is still delayed? From looking at the source it seems to be an arbitrary requirement. Any JVM > 8 should provide backwards compatibility to run the byte code and JDK 11 has been the LTS release since September 2018.

[2019-02-11 18:11] ntotten commented on #930
An update on this. The latest release of the extensions _should_ support JDK 11. That being said, it hasn't been fully tested so we aren't saying it is officially supported. If you are ambitious, you can try it out. If you encounter bugs, please open issues here.

[2019-02-11 18:22] #1035 closed

[2019-02-11 18:25] ntotten commented on #1034
Duplicate of #968

[2019-02-11 18:27] ntotten commented on #1036
I think this might be a bug in VSCode's latest release. I have seen similar issues since updating. See: https://github.com/Microsoft/vscode/issues/68361

[2019-02-11 19:00] gdoenlen commented on #930
Thanks Nathan! I'll update and let you know if I run into anything unexpected.

[2019-02-11 22:42] patmcclellan opened #1038 "VSCode doesn't see my sfdx project"
I have a VSCode/sfdx breakdown and don’t know how to resolve. CLI still works, but VSCode command palette doesn’t seem to recognize that I have an sfdx project open. Only provides commands for Creating a project (3 variations) and Set a Default Org.

I've uninstalled the Salesforce Extension Pack, uninstalled VSCode, manually deleted the .vscode folder from my Mac, reinstalled VSCode, reinstalled

[2019-02-12 01:46] patmcclellan commented on #1038
@muenzpraeger

[2019-02-12 07:34] zix66 opened #1042 "extremely long retrieve / deploy [45.1.0 - February 9, 2019]"
extremely long retrieve / deploy [45.1.0 - February 9, 2019]

It is taking more than a minute to deploy single class:  09:24:40 → 09:25:38

for example other ide's, like Cloud9, Metaforce - taking up to 10 sec. to deploy
same item into same project within same time range ..

••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

09:24:40.365 sfdx forc

[2019-02-12 08:32] KevinGossentCap opened #1043 "VSCode extension can't install"
### Summary

I'm doing a fresh install with latest tools and it seems impossible to install salesforce.salesforcedx-vscode extension (all the others are ok ot install independentaly).
Also, if after installing the other extensions and then try to install this one, theyr all end-up uninstalled.

**VS Code Version**: 1.31.0

**SFDX CLI Version**: Latest

**OS and version**: Windows 10 x64

[2019-02-12 13:08] timothywlewis commented on #985
We are not using eslint in our project but this is also causing us friction. Our project's .code-workspace files are committed to git so they can be shared across our team but now the vscode plugin is adding this "eslint.nodePath" setting which has a machine-dependent path which just mucks up the whole git commit process. This is an issue since we expect the .code-workspace files to remain machine

[2019-02-12 13:33] Gothiname commented on #1043
Same configuration here and same error

When i try with the extension manager i got the error :
`Failed to install : salesforce.salesforcedx-vscode`.
When i try with the command line way i got the error :
`Corrupt ZIP: end of central directory record signature not found`
`Failed Installing Extensions: salesforce.salesforcedx-vscode`

[2019-02-12 14:06] Szandor72 opened #1044 "Clicking defaultScratchOrgName in bottom bar prompts for default org settings"
I used to open my default scratch org by clicking its name in the bottom bar.

![image](https://user-images.githubusercontent.com/16804218/52640753-8d00d880-2ed7-11e9-8b92-24fda7b8586f.png)

When I click it after this weekend's updates, I am prompted (after several seconds) to select a default org.

![image](https://user-images.githubusercontent.com/16804218/52640888-e23cea00-2ed7-11e9-90f3-d573ae

[2019-02-12 14:07] msrivastav13 commented on #1044
The browser symbol next to the name opens the default org for me or runs that sfdx force:org:open

[2019-02-12 14:40] 1ktribble commented on #1043
I'm also experiencing a similar issue issue. In my case, the extension pack (v. 45.1.0) installs quickly alongside the Apex Replay Debugger, the Apex Interactive Debugger, Aura Components, Lightning Web Components, and Visualforce. The Salesforce CLI Integration and Apex extensions are stuck in the 'Installing' status.

[2019-02-12 16:40] patmcclellan commented on #1038
@ntotten @muenzpraeger When I uninstalled/reinstalled VSCode, I just dumped the app in the trash because there's no Uninstall command I could find in VSCode. I also trashed the .vscode folder with the extensions. However, after reinstall, as soon as I opened the app, it opened to the project I had most previously opened. That makes me think there's a vscode prefs file somewhere, but I can't find i

[2019-02-12 19:45] #880 closed

[2019-02-12 21:45] ad1969 opened #1046 "Updated to 45.1.0 : SFDX: Create * no longer works"
### Summary
It looks like after the Salesforce Extension Pack upgrade to 45.0.1, none of the SFDX create menues work. I no longer see the Command that allows me to enter a name.

### Steps To Reproduce:

1. Right click and select any SFDX: Create menu or Ctrl+Shift+P and select the same menu
2. The prompt to enter the name no longer appears.

### Expected result

A prompt that will allow me to ent

[2019-02-12 21:53] #985 closed

[2019-02-12 22:11] patmcclellan commented on #1046
I had a similar issue for the last few days that was just resolved. In my situation, VSCode stopped seeing that I had a project loaded, and it would only give me the SFDX: Create Project commands (opposite of your situation). See thread for resolution. https://github.com/forcedotcom/salesforcedx-vscode/issues/1038

[2019-02-12 22:53] cvinning opened #1047 "Apex extension causing Java process high CPU (100%) impact"
### Summary
Java process originating from apex extension `/.vscode/extensions/salesforce.salesforcedx-vscode-apex-45.1.0/out/apex-jorje-lsp.jar -Ddebug.internal.errors=true -Ddebug.semantic.errors=false apex.jorje.lsp.ApexLanguageServerLauncher`
is causing high CPU load and energy impact (and lovely fan noise) in macbook pro.

### Additional information
Java process was dumped and uploaded to [htt

[2019-02-13 02:28] lcampos commented on #1043
@KevinGossentCap could you confirm you don't have more than one vscode installed? Also, are you trying to install the extensions using the vscode extensions sidebar or by clicking install from the market place listing ?

[2019-02-13 02:48] lcampos commented on #1044
@Szandor72 The latest release includes a new feature called [Org Picker](https://github.com/forcedotcom/salesforcedx-vscode/issues/944) (# 2 in attached screenshot). This allows you to open a command palette menu to switch between the orgs you've authenticated to. Knowing some people used the footer button to open their default org, we decided to keep that functionality by leaving the browser icon

[2019-02-13 02:52] lcampos commented on #900
I'm closing this since there's nothing actionable, feel free to re-open if needed.

[2019-02-13 02:52] #900 closed

[2019-02-13 02:56] lcampos commented on #893
Closing as a duplicate of #1023 since that thread contains more details.

[2019-02-13 02:56] #893 closed

[2019-02-13 07:16] praksb commented on #1047
@cvinning Thanks for reporting this issue and uploading the dump. Can you please share with us the size of your apex project (approximate number of classes/triggers etc.)? Did the spike in CPU usage happen at startup when you opened the Apex project or after performing a certain operation (like refactoring or addition/deletion of a class?

[2019-02-13 08:06] KevinGossentCap commented on #1043
Hi @lcampos
I confirm I have only 1 install.
I'm personnaly trying to install from the vscode extension sidebar.

To note: there have been a big change in VScode for extensions with version 1.31 (possibility to activate extensions without reload), it might be related.

[2019-02-13 08:26] Szandor72 commented on #1044
It's a feature, not a bug! Classic! Thank you!

[2019-02-13 08:26] #1044 closed

[2019-02-13 09:35] Kagool opened #1048 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.1.0`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.31.1`

[salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt](https://github.com/forcedotcom/salesforcedx-vscode/files/2859685/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt)

[2019-02-13 09:46] aboninn commented on #1043
Hi @lcampos
Same issue for me (Win 10 x64, vsCode v1.31, sfdx-cli/6.52.2-c6cdc99881 (windows-x64) node-v8.9.4).
I cannot install from the vscode extension sidebar.
I tried to install with "Install from VSIX..." menu, and I got this error: "Corrupt ZIP: end of central directory record signature not found". I downloaded several times the salesforce.salesforcedx-vscode-45.1.0.vsix.

I also tried to u

[2019-02-13 10:03] ntotten commented on #1048
Duplicate of #968

[2019-02-13 10:06] ntotten commented on #1017
@amitabhleo Can you please attach he file: `/home/amitabh/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt`

[2019-02-13 10:07] ntotten commented on #1034
@ankitrakeshsfdc Can you attach the file `C:\Users\aravu\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt`

[2019-02-13 10:10] ntotten commented on #1047
Possible duplicate of #968

[2019-02-13 10:12] ntotten commented on #1038
I am reopening this to investigate. It seems like maybe there is a bug. The resolution shouldn't be to have to delete all of VS Code and all cache files and start over. :)

[2019-02-13 10:21] ntotten commented on #1046
Could you please capture the extension host logs: https://github.com/forcedotcom/salesforcedx-vscode/wiki/How-to-Collect-Performance-Information-for-Support#capture-extension-logs

That will help us diagnose the underlying problem.

[2019-02-13 10:55] #885 closed

[2019-02-13 12:01] gdo commented on #1043
Hello, Same error for me
Visual Studio code information
Version : 1.31.1
Date 2019-02-12T02:20:54.427Z
Electron : 3.1.2
Chrome 66.0.3359.181
Node.js 10.2.0 <<<<<<<  Node 10 and not node 8 perhaps the problems
V8: 6.6.346.32
OS: Windows_NT x64 10.0.16299

It's a fresh install of vscode without any extension.
I try to download the vsix but I can't use it

[2019-02-13 13:28] eltoroit commented on #944
So is there a way to easily open the scratch org? I think this is a loss of functionality. What about putting back the opening of an org, possibly with a right click?

[2019-02-13 13:43] eltoroit commented on #944
So is there a way to easily open the scratch org?

I think this is a loss of functionality. Right now, getting a list of the orgs to display in the command palette takes few seconds (>5) so it looks like the button is broken. I keep clicking the button and nothing happens, few seconds later, a whole buch of menus show up on the command palette. I do not change Orgs often, but I do have to open the

[2019-02-13 13:47] ntotten commented on #944
The delay is something we are fixing.

The ability to open an org is still there. The icon is the same. We just removed the text. See: https://twitter.com/ch_sz_knapp/status/1095600887094018048?s=21

[2019-02-13 15:01] elliot41 commented on #1043
Hello, Same error for me :/

[2019-02-13 15:07] ad1969 commented on #1046
[vscode sfdx.zip](https://github.com/forcedotcom/salesforcedx-vscode/files/2860872/vscode.sfdx.zip)

Nothing is coming up in the log. I uploaded a short movie to show you what is happening or not happening in this case. Here is are all my logs for the last 2 days:

[2019-02-13 15:19] sunnymatharuuk commented on #866
@dcarroll I'd be interested to hear where you guys are with the CLI rework.

Going back to Keir's original ask, we too require a `--checkonly` or similar argument for `force:source:deploy` to sandboxes.

At the moment, we are having to `force:source:convert` to mdapi format, and then do a `force:mdapi:deploy ... --checkonly`

[2019-02-13 16:22] cvinning commented on #1047
@praksb total number of files matching `*.cls` is 781.

The spike occurs when the first key is pressed causing the Autocomplete to trigger. Opening the project is fine until the first key is typed in any apex file.

[2019-02-13 16:34] patmcclellan commented on #1038
Let me know if you need anything from me to help debug. Not sure what would be left on my machine...

[2019-02-13 17:24] lcampos commented on #1043
@1ktribble I think your experience might be related to an existing vscode issue where the install status doesn't get updated but the extensions do get installed. You can see that the extensions got installed by reloading vscode https://github.com/Microsoft/vscode/issues/68584. @KevinGossentCap I think you might be experiencing this as well, could you confirm ?

For the rest of the people on this t

[2019-02-13 17:26] timothywlewis opened #1049 "nodePath assigned in code-workspace settings"
### Summary

Our project's VS Code workspace settings, which are committed to git, are being updated with a `eslint.nodePath` setting with a machine-specific path (e.g. `/Users/jdoe/.vscode/extensions/salesforce.salesforcedx-vscode-lwc-44.17.0/node_modules`). We are not using eslint in our project but the machine-specific nature of the file change causes friction for our development experience.

T

[2019-02-13 19:40] pazOmer opened #1050 "APEX Test class"
Hi,
I am new to VS Code and from some reason, I can't run test class and I see the message "There is no data provider registered that can provide view data."

Can you send some instructions on how to run test class?

Best,
Omer

### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

[2019-02-13 19:53] ntotten commented on #1050
Unfortunately, we cannot provide support via GitHub issues. Please post your question on the [Trailblazer Community](https://success.salesforce.com), [Stackoverflow](https://salesforce.stackexchange.com/), or through other official support channels.

[2019-02-13 19:53] #1050 closed

[2019-02-14 03:22] eltoroit commented on #944
Thanks @ntotten

[2019-02-14 09:00] KevinGossentCap commented on #1043
@lcampos unfortunately it's not the same. Some of the extensions installed by the pack have it, but others (including the pack itself) are simply reverting themselves to a uninstalled status (so install button is available before and after clicking it).

[2019-02-14 10:11] elliot41 commented on #1043
@lcampos Hello !

When I click install it doesn't prompt "installed", it prompts :
![image](https://user-images.githubusercontent.com/15812951/52779778-23a0d700-3049-11e9-9f98-c6e2e90f4982.png)

And when I click on "Download Manually" I have the issue "Corrupt ZIP: end of central directory record signature not found".

Thanks for your help !
Have a nice day

[2019-02-14 12:20] gswinarski commented on #968
I have the same issue.

[2019-02-14 13:29] cvinning commented on #1047
update: I reinitialized my project from scratch with a fresh pull from our git repo. Upon opening the project folder and inspecting the newly created apex.db file in the new project vs the apex.db file in the existing project, the difference is size is pretty massive given that both folders contain identical source files being tracked. The apex.db file in the existing project folder is over 20 MBs

[2019-02-14 22:02] chandra2ravi opened #1060 "Deploy to source org"
16:00:12.32 sfdx force:source:deploy --sourcepath c:\HexagonSFDC\dev\force-app\main\default\classes\AccountUtility.cls --json --loglevel fatal
{"message":"Deploy failed.","status":1,"stack":"DeployFailed: Deploy failed.\n    at ALMError (C:\\Users\\sattir\\AppData\\Local\\sfdx\\plugins\\node_modules\\salesforce-alm\\dist\\lib\\almError.js:44:19)\n    at MetadataRegistry.initializeMetadataTypeInfos

[2019-02-14 22:57] chandra2ravi opened #1061 "apex.db causing issues git commit"
OS: Windows
OHmy SZh

fatal: confused by unstable object source data for 8fade9015b2a25fb08b15d9c78a840de3083c507

[2019-02-14 23:13] lcampos commented on #1060
The stack trace shows that the error is not with the tool but with the apex class not being valid `Variable does not exist: acc`.

[2019-02-14 23:13] #1060 closed

[2019-02-14 23:39] CarolynG commented on #843
The Troubleshooting documentation that answers this question is now hosted at https://forcedotcom.github.io/salesforcedx-vscode/articles/troubleshooting.

[2019-02-15 07:18] rajganesan opened #1065 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.2.0`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/rajganesan/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Exp

[2019-02-15 15:05] ad1969 commented on #1046
Here is a short video of what is happening, or not happening in this case
[vscode sfdx.zip](https://github.com/forcedotcom/salesforcedx-vscode/files/2869707/vscode.sfdx.zip)

[2019-02-15 18:49] ntotten commented on #1061
You should not be checking in anything in the `.sfdx` folder. Add that folder to your `.gitignore`. Everything in that folder is just for local caching, etc.

[2019-02-15 18:49] #1061 closed

[2019-02-15 20:19] alpha-bytes opened #1066 "Expand Apex Completion for Default Org"
**Describe the solution you'd like**
Currently Apex completion only works for global (SF) classes and those stored locally in source. A lot of the time you need to reference other classes, however, and it would be nice to have autocompletion on these if a default org is configured.

Ideally, we would be able to explicitly declare the namespaces to retrieve for autocompletion - via the json config

[2019-02-16 19:07] paul-drozd-itechart commented on #1047
Having the same issue

[2019-02-17 02:38] msrivastav13 commented on #968
I can confirm that this is a huge issue for me . The memory consumption went as high as 2GB . I have an org with 100 apex classes atleast and my computer ran out of memory .If there is anything that we could help will be happy to help with .Thanks

[2019-02-17 03:06] mtetlow commented on #968
I also have this issue. I have seen the memory consumption as high as 4GB and generally I will wind up just killing the apex language server java process when I am writing apex in vscode :|

[2019-02-17 03:11] msrivastav13 commented on #968
I would prefer not to have auto complete than consuming my computer memory .How do you kill the language server ?

[2019-02-17 03:34] mtetlow commented on #968
I used to be able to kill the java process in the os x activity monitor... but it looks like now it is restarting the java process. I swear this worked a few weeks ago

[2019-02-17 03:50] BrettMN opened #1069 "force:source:pull on Scratch Org with Community causes ERROR: Metadata API received improper input"
### Summary

I create a scratch org, then enable Communities, create a community, then try `sfdx force:source:pull` through the CLI or the VSCode command palette.  It results in the following Error:

### Steps To Reproduce:

1. create a scratch org
1. enable Communities
1. create a community
1. try `sfdx force:source:pull` through the CLI or the VSCode command palette
1. get error

### Expected re

[2019-02-17 03:50] prabhusajjanam commented on #809
I am getting below error, can anyone please let me know what can be done to resolve it.
"There is no data provider registered that can provide view data."

[2019-02-17 07:11] steals commented on #968
@msrivastav13 You can disable APEX LSP and all related staff by removing the  salesforcedx-vscode-apex.java.home setting from User settings in vscode

[2019-02-17 07:38] praksb commented on #968
We are actively working on the performance issue related to the Apex LSP and should have some fixes shortly. I'll update this thread once the fix is rolled out.

[2019-02-17 21:38] alessiobortone2 opened #1070 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.2.0`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/alessiobortone/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki

[2019-02-18 06:19] praksb commented on #1070
@alessiobortone2 Thanks for reporting this issue. Can you please attach the file from: /Users/alessiobortone/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt ?

Also, if possible can you please provide what operation where you doing when you observed the high CPU usage?

[2019-02-18 06:33] chandra2ravi opened #1071 "LWC retrieve not working"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1. retrieve
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.
retrieve lwc
### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.
![image](https://use

[2019-02-18 10:22] KevinGossentCap commented on #1043
Hi,
I've just tested and it worked.
Only change was to update SFDX-CLI which should not have any impact.
I had already upgraded VSCode to 1.31.1 but I think it was behaving with the same error as with 1.31.0.

[2019-02-18 11:10] FabienTaillon opened #1072 "LightningComponentBundle not part of package.xml generated for a new project with manifest"
**FEATURE REQUEST**
When creating a project with manifest (sfdx force:project:create -n MyProject -x), the generated manifest (package.xml) doesn't include LightningComponentBundle.

**Expected**
Just add LightningComponentBundle to the generated package.xml:
[code]

[2019-02-18 15:19] mshanemc opened #1073 "check for org connection"
**Is your feature request related to a problem? Please describe.**
I mostly work in short-lived scratch orgs.  When I open VSCode, no check is performed to see if the last org is still around.  Therefore

- I get an error message when it tries to refresh the sobject defs
- commands that should not be available (push/pull/etc) seem available but will error out
- the org is still shown down in the b

[2019-02-18 16:06] FabienTaillon opened #1075 "Exclude sfdx technical files from search"
**FEATURE REQUEST**
When using vscode search feature, I receive too many results because it includes technical files, specifically what's under .sfdx/typings. It could be cool to have this folder excluded by default on every new project. I don't see any good use case where I would want to get results from these files.

**Describe the solution you'd like**
Automatically exclude the files under .sfd

[2019-02-18 16:23] Szandor72 commented on #1075
Why not add `./sfdx` to .gitignore and tell VS Code to not search in .gitignore? At least that's how we prevent searching in .sfdx folders.

[2019-02-19 01:44] anushrgowda opened #1077 "Not able create new project in VS code."
### Summary

Just followed trailhead instructions of installing packages. All the necessary packages are installed. But running a create command does not results in an error.

### Steps To Reproduce:

1.  Using command palette call SFDX: Create Project.
2.  Enter Project name and select folder.

### Expected result

Project should get created.

### Actual result

Getting an error that says : "SFDX

[2019-02-19 06:44] esscott1 commented on #753
I have the same issue.

[2019-02-19 07:53] KeerthanaSelvaraj14 opened #1078 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.2.0`
- OS Version: `Windows_NT x64 6.1.7601`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\keerthanas\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/

[2019-02-19 20:13] iFernandoSousa commented on #662
Passed 4 months and the "bug" exist yet, @Xixiao007 gave the perfect solution for this problem: https://github.com/forcedotcom/salesforcedx-vscode/issues/662#issuecomment-439354751

Why SF don't update it yet :(?

[2019-02-19 21:05] praksb commented on #1078
@KeerthanaSelvaraj14 Can you please attach the file from C:\Users\keerthanas\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt?

[2019-02-19 21:06] praksb commented on #1065
@rajganesan Can you please attach the file: /Users/rajganesan/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt ?

[2019-02-20 01:31] ntotten commented on #662
The issue has been closed. At this time, we don’t plan on addressing this. Save on deploy should solve this use case.

[2019-02-20 01:46] lcampos commented on #1036
@amitkumarj1979 have you tried enabling vscode's experimental file watcher ? That solved most of the issues I was seeing on my side. Settings > Check the "Use Experimental File Watcher" Option.

[2019-02-20 02:01] lcampos commented on #1046
@ad1969 after seeing your video it's still not clear what could be wrong. Could you attach a screenshot of the dev tools console after you run the command to see if there are any errors logged ? You can do this by going to Help > Toggle Developer Tools and then selecting the Console tab on it.

Also, could you provide which sfdx cli version you are on ? You can do this by running `sfdx --version`

[2019-02-20 02:38] lcampos commented on #1075
Another alternative, if you're not using git, is to add some exceptions to your search. You can do this by expanding the search options, click the 3 dots button on the bottom-right of the search input field. Then you can add files and folders to exclude or include and those get saved across vscode restarts.

![expanded_search](https://user-images.githubusercontent.com/1041842/53062357-69103a80-347

[2019-02-20 03:40] gz31735x opened #1081 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.2.0`
- OS Version: `Windows_NT x64 10.0.16299`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\zguo\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki

[2019-02-20 10:39] #1034 closed

[2019-02-20 10:39] #1017 closed

[2019-02-20 12:43] sfdcvenkata2014 commented on #753
sfdx force:source:deploy --sourcepath c:\Users\vvellank\Documents\Testing SFDX Project\vwDev\force-app\main\default\triggers --json --loglevel fatal
{"message":"getaddrinfo ENOTFOUND cs9.salesforce.com cs9.salesforce.com:443","status":1,"stack":"Error: getaddrinfo ENOTFOUND cs9.salesforce.com cs9.salesforce.com:443\n    at errnoException (dns.js:50:10)\n    at GetAddrInfoReqWrap.onlookup [as oncom

[2019-02-20 15:26] smerakm opened #1084 "Retrieving code with manifest - "packageDirectories" error"
### Summary

I'm trying to retrieve matadata from sandbox using SFDX: Retrieve Source from Org and using package.xml. But I get error:
Error deploying or retrieving source: The file or directory that you tried to deploy or retrieve isn't in a package directory that's specified in your sfdx-project.json file. Add this location to your "packageDirectories" value, or deploy or retrieve a different fi

[2019-02-21 06:31] ChuckJonas commented on #920
Adding to the List...

I can't seem to get `static` variables and functions to auto-complete either

[2019-02-21 10:35] daniil-rozin-itechart commented on #968
Have the same issue.  CPU raise up to 330%

[2019-02-21 14:48] NataliaCognizant opened #1088 "Error on nested report folders: illegal operation on a directory"
### Summary
_Error on nested report folders: illegal operation on a directory_.

### Steps To Reproduce:
1. Open XML package from your SFDX project
1. Add a report folder and a child report folder nested
1. Add some reports which are inside that nested report folder
1. Save XML package
1. Execute “SFDX: Retrieve Source from org” command

### Expected result
A notification pop up informs in Visual

[2019-02-21 16:47] sunnymatharuuk commented on #961
guys I can see this bug is closed, but it is still affecting our team.

Is there another issue I should be looking at in github? I can see reference to bug W-5805323 but that doesn't look like a github ticket number, so I just want to make sure this hasn't been auto-closed without being resolved?

[2019-02-21 16:51] ntotten commented on #961
@sunnymatharuuk The issue is that we were not able to reproduce this exact issue. If you can provide full repro steps we can investigate further. We need as many details as possible. Full steps to reproduce in addition to OrgId, time of the error, logs, OS version, CLI Version, VS Code Version, Extension Versions. See this doc for help gathering info: https://github.com/forcedotcom/salesforcedx-vs

[2019-02-21 16:54] sunnymatharuuk commented on #961
Ok that makes sense. I'll get one of the team to respond with what you need.

Thanks for getting back to me so quickly

[2019-02-21 17:37] ntotten opened #1090 "Move Configs to Project Templates"
Today, several of the extensions for VS Code write or update various configuration files from the extension. Examples are the jsconfig.json, .eslintrc from LWC, changing values in .vscode/settings.json from the core extension and LWC.

I find this pattern of having the extensions write config files to be jarring and unfamiliar. I can't think of any other tools that do this. We have also seen probl

[2019-02-21 19:39] dehru commented on #1090
I'm just commenting on the .vscode/settings.json file, and my recent experience working within this repo.

I keep getting phantom changes magically during development.  It makes me think this should be in .gitignore.

Looking at the content of .vscode/settings.json
[code]

It seems like the use of the more standard/cross-editor ```.editorconfig``` file, ( with the vscode extension to support it ),

[2019-02-21 23:12] patmcclellan commented on #1038
@ntotten Any update on this? It has happened to me again.

[2019-02-21 23:37] patmcclellan commented on #1038
I went through the FULL uninstall/reinstall and it's working again. That's really a pain. I've kept all the files I trashed, in case they will help in debugging this.

[2019-02-21 23:53] jjTorrent commented on #653
I'm experiencing this same issue and curious what the result of this was.

[2019-02-22 02:40] maruchymurphy79 commented on #653
@allileong @jjTorrent The ticket was closed as "Known Issue". It hasn't fixed yet. It works for some methods and classes but it continue failing sometimes.

[2019-02-22 03:27] patmcclellan commented on #1038
Now the SFDX commands show up in the VSCode command palette, and the browser icon appears in the footer and will open my default scratch org, but... when I try to push I'm getting an error:
`PROJECT PATH  ERROR
────────────  ───────
              Unknown`

[2019-02-22 03:58] patmcclellan opened #1095 "Can't push lwc. Project Path error: unknown."
Using latest versions of everything: VSCode, CLI, Salesforce Extensions, SFDX update.

I've had an issue twice where VSCode locks up, then when reopened, it doesn't recognize that I have an SFDX project open.[ See that issue here](https://github.com/forcedotcom/salesforcedx-vscode/issues/1038) (I mention that because it might be related to this issue.)

Immediately after resolving that today for t

[2019-02-22 05:45] marlisebriedenhann opened #1096 "Deploy Source in Manifest to Source Org - failed"
### Summary

Deploy fails with a number of errors, summarised below:

- If Action is set to 'Tab', you must specify a CustomApplication.

_To resolve this issue, I commented out profileActionOverrides for those profiles containing the node_

Quite a few of these errors associated with apex classes occurred:

- An unexpected error occurred. Please include this ErrorId if you contact support: 470492

[2019-02-22 07:26] praksb commented on #653
@jjTorrent @maruchymurphy79 Can you please try enabling the apex semantic error in settings and let us know if the member or type or the file in which you are invoking Go-to-Def has any semantic errors are not? You need to set the following in your VS Code settings:
    "salesforcedx-vscode-apex.enable-semantic-errors": true,

This would help us to debug the issue further. Sometimes, semantic erro

[2019-02-22 08:35] NataliaCognizant commented on #961
@ntotten find below steps to reproduce the issue (similar to @mikesimps commented above):

### Steps To Reproduce:
1. Create a **Parent Report Folder**, a **Child Report Folder** and a **Sample Report** on the Child Folder
2. Open XML package from your SFDX project
3. Add the report folder and the child report folder nested
4. Add the sample report which is inside the child report folder
5. Save X

[2019-02-22 10:01] idanblich commented on #983
inspired by @douglascayers [ great post](https://douglascayers.com/2019/02/17/develop-against-any-org-with-visual-studio-code-tasks/) i was manage to accomplish opening of a VF page using code tasks feature.
Here is the code for the tasks.json file
[code]

[2019-02-22 13:26] tinpe opened #1097 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.2.0`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\tin.petracic\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vsc

[2019-02-22 13:26] #1097 closed

[2019-02-22 16:38] patmcclellan commented on #1095
![screen shot 2019-02-21 at 7 37 42 pm](https://user-images.githubusercontent.com/29382439/53256652-389aed00-367d-11e9-9078-4694a942589d.png)

[2019-02-22 16:43] patmcclellan commented on #1095
I can also pull from the scratch, but cannot push to it.
![screen shot 2019-02-22 at 8 43 00 am](https://user-images.githubusercontent.com/29382439/53256956-ed350e80-367d-11e9-8b2d-88065b0512f9.png)

[2019-02-22 17:57] patmcclellan commented on #1095
I created a fresh project and a fresh scratch org, and I was able to push; it's not VSCode application/extensions level.

I went back to my main project and tried to push to the new scratch org and got the same PROJECT PATH ERROR Unknown. So, it's not the scratch org.

I am able to run a status command between my VSCode Source and the Scratch Org, and I can pull from the scratch org. Both of those

[2019-02-22 18:49] patmcclellan commented on #1095
MORE INFO: I am able to sfdx force:source:deploy from this project into my scratch org. I can deploy, but not push.

[2019-02-22 19:32] patmcclellan commented on #1095
UPDATE: I was able to deploy a Class, but when I try this: `sfdx force:source:deploy -p force-app/main/default/lwc` I get the same PROJECT PATH error.
![screen shot 2019-02-22 at 11 31 02 am](https://user-images.githubusercontent.com/29382439/53266382-7b68bf00-3695-11e9-9995-42bdb3a7deec.png)

[2019-02-22 19:37] patmcclellan commented on #1095
Attaching the jsconfig.json (converted to txt so I can attach it here) file that's in the lwc folder. I can't see anything that looks amiss, but I'm new to lwc...

[jsconfig copy.txt](https://github.com/forcedotcom/salesforcedx-vscode/files/2895484/jsconfig.copy.txt)

[2019-02-22 19:48] amphi- opened #1098 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.3.0`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.31.1`

[code]
Issue: actions like "create lightning web component" do not work anymore...even reinstalling the extension didn't help. No changes have been done.
<img width="382" alt="screenshot 2019-02-22 at 20 47 50" src="https://user-images.githubu

[2019-02-22 21:13] praksb commented on #968
We have made some improvements to Apex LSP performance in our latest extension update. Can you all please update to the latest Apex extension (v45.3.0) and let us know if you still have any performance issues? Please open a new github issue if you still see any perf related problems.

https://github.com/forcedotcom/salesforcedx-vscode/pull/1092

[2019-02-22 21:13] #968 closed

[2019-02-22 21:17] praksb commented on #1047
@cvinning Your thread dump helped us to repro the perf issue on our end. Thank you!!!

We have made some improvements to Apex LSP performance in our latest extension update. Can you please update to the latest Apex extension (v45.3.0) and let us know if you still have any performance issues? Please open a new github issue if you still see any perf related problems.

#1092

[2019-02-22 21:17] #1047 closed

[2019-02-22 21:19] praksb commented on #1081
We have made some improvements to Apex LSP performance in our latest extension update. Can you please update to the latest Apex extension (v45.3.0) and let us know if you still have any performance issues? Please open a new github issue if you still see any perf related problems.

#1092

[2019-02-22 21:19] #1081 closed

[2019-02-22 21:20] praksb commented on #1078
We have made some improvements to Apex LSP performance in our latest extension update. Can you please update to the latest Apex extension (v45.3.0) and let us know if you still have any performance issues? Please open a new github issue if you still see any perf related problems.

#1092

[2019-02-22 21:20] #1078 closed

[2019-02-22 21:20] praksb commented on #1070
@alessiobortone2 We have made some improvements to Apex LSP performance in our latest extension update. Can you please update to the latest Apex extension (v45.3.0) and let us know if you still have any performance issues? Please open a new github issue if you still see any perf related problems.

#1092

[2019-02-22 21:20] #1070 closed

[2019-02-22 21:21] praksb commented on #1065
@rajganesan We have made some improvements to Apex LSP performance in our latest extension update. Can you please update to the latest Apex extension (v45.3.0) and let us know if you still have any performance issues? Please open a new github issue if you still see any perf related problems.

#1092

[2019-02-22 21:21] #1065 closed

[2019-02-22 21:21] praksb commented on #1048
@Kagool We have made some improvements to Apex LSP performance in our latest extension update. Can you please update to the latest Apex extension (v45.3.0) and let us know if you still have any performance issues? Please open a new github issue if you still see any perf related problems.

#1092

[2019-02-22 21:21] #1048 closed

[2019-02-22 22:29] lcampos commented on #1098
Hi @amphi- , could you open the vscode Developer Tools window (Help > Developer Tools), go to the Console tab and run the script I've added below ? This will let us know if vscode is able to find your local sfdx cli path.

[code]

[2019-02-23 01:44] patmcclellan commented on #1095
FIXED IT! One of my lwc had a CSS file that I had emptied out. Empty file. Soon as I deleted it, push resumes no problem. ARRRRGH!

[2019-02-23 01:45] patmcclellan commented on #1095
FIXED IT! One of my lwc had a CSS file that I had emptied out. Empty file. Soon as I deleted it, push resumes no problem. ARRRRGH!

[2019-02-23 01:45] #1095 closed

[2019-02-23 18:22] cipherstream opened #1100 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.3.0`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\chadh\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wik

[2019-02-23 18:26] cipherstream commented on #1100
Requested Attachment:
[salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt](https://github.com/forcedotcom/salesforcedx-vscode/files/2897114/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt)

[2019-02-23 23:29] amphi- commented on #1098
Hi @lcampos path seems to be found:

VM241:6 SFDX CLI path: /usr/local/bin/sfdx

[2019-02-24 05:22] chulai opened #1101 "Code completion does not work - Apex Language Server shows Java memory error"
### Summary

Created SFDX Project on existing metadata folder and tried to use Apex Code Completion but it did not work. Restarting Vs Code does not help.

### Steps To Reproduce:

1.  Open any Apex Class.
1.  Find any reference to a method or class in the code.
1.  Right click on the reference and select 'Go To Definition'.

### Expected result

Vs Code should follow the reference and jump to the

[2019-02-24 12:27] amphi- commented on #1098
Found the error - was my own fault...didn't see the message on the button "no default org set"...sorry for that! :)

[2019-02-24 12:27] #1098 closed

[2019-02-25 05:00] WhoStoleMyFries opened #1102 "Retrieve From Source on any location finishes with code 0. Does not pull new metadata"
### Steps To Reproduce:

1. Add new metadata to your org via dev console or an unmanaged package
2. In VS Code, navigate to the manifest > package.xml
3. Run Retrieve Source in Manifest from Org
4. Watch it run and complete with an exit code of 0 while pulling absolutely nothing new in

I have tried running the command from individual files and folders. It does not matter.

### Expected/Actual res

[2019-02-25 05:05] praksb commented on #1101
@chulai It looks like the Apex language server crashes while indexing user-defined types. This is why you don't see references or go-to-defintion working. Can you share the number of classes and triggers in your project? Looking at the log line

14:49:33.507 [ApexIndexer STARTING] INFO a.jorje.lsp.impl.index.ApexIndexer - Scanning user-defined types.

it also looks like your server restarted, did

[2019-02-25 05:16] praksb commented on #1100
@cipherstream Can you share more information on what operation you were performing when you observe the high cpu load? Is it during loading a new project or editing a file or applying a refactoring? Does the cpu load come down after sometime or does it just continue to stay high?

It is possible that the Apex LSP which is a Java process might be the source of high CPU. In that case, can you also s

[2019-02-25 14:22] chulai commented on #1101
@praksb classes: 3670. triggers: 108. I'm not counting the -meta.xml files, btw. It's a large project. However, I don't have this problem on another computer with the same project. It just takes a little time first time to navigate the reference but I don't get any error as in the first computer.

I'm not sure if it finished scanning all user-defined types. I do remember I left Vs Code to scan the

[2019-02-25 14:53] chulai opened #1103 "Switching to Test panel freeze Vs Code when a large number of test classes are present"
### Summary

Switching to Test panel freeze Vs Code when a large number of test classes are present. It seems the Salesforce Extension waits for all test to be loaded synchronously to return control to Vs Code.

### Steps To Reproduce:

1.  Open large SFDX Project in Vs Code. 1700+ test classes. 20300+ test methods.
1.  Switch to Test Apex Tests Panel.

### Expected result

Test classes and test m

[2019-02-25 15:19] jjTorrent commented on #653
@praksb, I added the setting you mentioned into _settings.json_ file of my project:

`{
    "terminal.integrated.env.osx": {
        "SFDX_SET_CLIENT_IDS": "sfdx-vscode"
    },
    "terminal.integrated.env.linux": {
        "SFDX_SET_CLIENT_IDS": "sfdx-vscode"
    },
    "terminal.integrated.env.windows": {
        "SFDX_SET_CLIENT_IDS": "sfdx-vscode"
    },
    "eslint.nodePath": "/Users/Jonathan

[2019-02-25 20:48] Fitchburgh commented on #831
I know this is closed, but I think I had the same issue.  All you need to do when you create a new lwc is hit the refresh explorer button (standard refresh icon) on the left side explorer and it will show up.  Cheers.

[2019-02-26 02:12] peeriyagama opened #1104 "Extension causes high cpu load"
[salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt](https://github.com/forcedotcom/salesforcedx-vscode/files/2903466/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.3.0`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.31.1`

:warning: Make sure to **attach

[2019-02-26 05:13] peeriyagama commented on #1104
[salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt](https://github.com/forcedotcom/salesforcedx-vscode/files/2903465/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt)

[2019-02-26 06:09] praksb commented on #653
@jjTorrent When you enable this setting "salesforcedx-vscode-apex.enable-semantic-errors": true you would start seeing errors in the "Problems" pane. Squigglies will also start showing up in your editor under the parts of code where there is a semantic error and the error will show up when you hover over the squigglied text. You will NOT see these errors show up in the console messages.

These err

[2019-02-26 06:11] praksb commented on #1104
@peeriyagama Can you share more information on what operation you were performing when you observed the high cpu load? Is it during loading a new project or editing a file or applying a refactoring? Does the cpu load come down after sometime or does it just continue to stay high? How many apex classes and triggers does your project have?

It is possible that the Apex LSP which is a Java process mi

[2019-02-26 06:39] praksb commented on #1101
@chulai From the call stack in the log you provided the issue you are seeing here is related to:
https://github.com/forcedotcom/salesforcedx-vscode/issues/1103

When the test panel is open we try to scan all the classes in your project to get the complete list of test classes and test methods. Given that the number of test classes and test methods are pretty high in your case we are running out of

[2019-02-26 06:39] praksb commented on #1101
Duplicate of https://github.com/forcedotcom/salesforcedx-vscode/issues/1103

[2019-02-26 06:39] #1101 closed

[2019-02-26 06:44] praksb commented on #1103
When we open the test panel we currently try to scan all the classes in a project to get the complete list of test classes and test methods. This doesn't scale well in case of huge number of test classes and test methods and may sometimes result in Out of Memory error as reported in: https://github.com/forcedotcom/salesforcedx-vscode/issues/1101

We should investigate if we can have a better appro

[2019-02-26 12:40] jefersonchaves commented on #941
:thumbsup:

And I agree that clearing is good and toggling it off by default is great.

[2019-02-26 14:12] jjTorrent commented on #653
@praksb
Refreshing the SObject definitions has not cleared up the type warnings under the Problems pane or the missing Go To Definitions. Here are some curious examples in the Problems:
- Invalid type: CaseShare
- Variable does not exist: System (i.e. System.debug statements)
- Variable does not exist: LoggingLevel
Perhaps I am missing some other settings? I'm curious if this is a problem localize

[2019-02-26 15:13] nkadis commented on #1100
### Summary

_I've updated the extension to the latest version (45.3.0), but still have the same problem I posted about in issue [#968](https://github.com/forcedotcom/salesforcedx-vscode/issues/968#)_.

### Steps To Reproduce:

1.  Open VS Code.
1.  Open a .cls file (possibly a large one - I used a ~3000 line one, but might also happen with smaller ones, not really sure)
1.  Start editing the file

[2019-02-26 17:55] heribertofilho opened #1105 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.3.0`
- OS Version: `Linux x64 4.15.0-45-generic`
- VSCode version: `1.31.1`

[salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt](https://github.com/forcedotcom/salesforcedx-vscode/files/2906817/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt)

Find more details here: http

[2019-02-26 18:27] praksb commented on #653
@jjTorrent Did the operation to refresh SObject definitions succeed? A successful refresh should have something log lines which look like these in the output window:

10:23:00.464 sfdx sobject definitions refresh
Fetched 434 Standard sObjects from default org
Fetched 6 Custom sObjects from default org
10:23:54.935 sfdx sobject definitions refresh ended with exit code 0

Also, can you clarify what

[2019-02-26 18:56] jjTorrent commented on #653
@praksb
Yes, I am using the org-based development model via **Create Project with Manifest**.
Yes, here is the Output panel from SObject Refresh:
[code]

[2019-02-26 19:31] praksb commented on #653
@jjTorrent I am out of ideas to debug on this thread. I would love to understand more on why it is not working for you. Do you mind if I setup a meeting over google hangout where you can share your screen? That would help me understand your project setup and try out a few things. Do let me know if that works for you and your availability for the meeting and I can send a meeting invite over email w

[2019-02-26 19:52] praksb commented on #1100
@nkadis Thank you for uploading the thread dump. Apex LSP does some work in the background to process the edits that you are making to a doc that would result in a CPU spike which is expected. Do you see the CPU spike and then fall down a few seconds after your edit is complete? One of the issues we were seeing previously was that the CPU spikes and stays high for much longer (more than a couple o

[2019-02-26 20:23] praksb commented on #1105
@heribertofilho Are you seeing a perf issue or an exception or both? If you are seeing an exception can you please include more details on the exception that is thrown and the call stack?

If it is a perf issue, can you share more information on what operation you were performing when you observed the high cpu load? Does the cpu load come down after some time or does it just continue to stay high?

[2019-02-26 20:40] Brian-Triplett commented on #903
I'm getting this issue as well.

[2019-02-27 02:47] #1046 closed

[2019-02-27 08:38] nkadis commented on #1100
@praksb Thank you for the quick reply and detailed explanation.

Regarding your comment:

Unfortunately, the CPU spike doesn't fall while I'm editing. From what I've experienced, and based off of your reply, I can say that once I start making a few consecutive edits I get errors about unhandled cancel notifications like the one below, and the CPU usage cranks up to spikes between ~120% and ~300%.

[2019-02-27 12:45] heribertofilho commented on #1105
Hi, so it's really an issue, since I can't even issue a do a "SFDX: Create project with a manifest" command. I'll do this dump soon as possible.

[2019-02-27 14:50] sunnymatharuuk commented on #961
@ntotten was Natalia's post above enough detail to reopen and take a look at this?

(Apologies if you already have looked at it or have it on the to-do list. Just following up as it is still marked as Closed)

[2019-02-27 15:55] patrickhellosign opened #1108 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.3.0`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/patrickledbetter/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wi

[2019-02-27 21:42] ntotten opened #1109 "Update Test View Sidebar to Use new Treeview that Supports Filtering"
The new VS Code treeview supports filtering. We should update our treeview to support that for users with lots of tests.

[2019-02-27 21:48] ntotten commented on #1109
Dup of #942

[2019-02-27 21:48] #1109 closed

[2019-02-28 09:59] JorneVL opened #1110 "Don't focus Output Panel"
### Summary

Don't change the focus to the Output panel when the deploy is started

### Steps To Reproduce:

1.  Save a file
1.  Start typing in a other file
3.  Focus will change to the Output panel when you type in the file.

### Expected result

Just add a notification and don't change the focus.

### Actual result

Focus Output Panel

### Additional information

**VS Code Version**: 1.31.1

**

[2019-02-28 15:51] NikitaChizhik commented on #662
Guys. If you want your product to be useful for sf developers, listen to
them. Otherwise, we will not use it.
I, for example, is almost ready to switch to another IDE from VSCode
because of such bugs.
Sorry but true.

On Wed, Feb 20, 2019 at 4:31 AM Nathan Totten <notifications@github.com>
wrote:

[2019-02-28 15:56] ntotten commented on #662
@NikitaChizhik Does deploy on save not resolve this for you? My understanding is people were using this as a workaround for another missing feature. As many people requested the feature, we added it and it has been available for some time.

You can find instructions here: https://forcedotcom.github.io/salesforcedx-vscode/articles/user-guide/org-development-model#deploy-source

[2019-02-28 15:58] ntotten commented on #1110
@lcampos Is this something we can control or is it VS Code?

[2019-02-28 16:02] JamieBriersSageCom commented on #662
push/deploy on save is not a viable alternative for many, including myself.  Many plugins can cause the file to save (such as editorconfig), plus many people have a habit of frequently saving their code, way before its compilable and ready to push to an org.

Deploy on save is a good feature for those that want it, but it is not really a reliable alternative to having a shortcut that ONLY deploys,

[2019-02-28 16:04] ntotten commented on #577
This feature has been implemented as of Dec. 19th.

You can find instructions here: https://forcedotcom.github.io/salesforcedx-vscode/articles/user-guide/org-development-model#deploy-source

[2019-02-28 16:09] ntotten commented on #662
@JamieBriersSageCom Makes sense, thanks for the explanation. I will reopen for us to implement or to accept a PR.

[2019-02-28 16:43] bohdan-dovhan-ibm commented on #971
Interested in this feature

[2019-02-28 17:43] brpowell commented on #1110
@ntotten This is something we can control. In the forceSourceDeploy execute we call showChannelOutput.

[2019-02-28 17:57] ntotten commented on #1110
This is something that has come up in the past. There have been arguments for and against it. Some people like it because they see what happens, others don't because of the reason in this issue. Maybe it needs to be a preference?

[2019-02-28 18:01] ntotten commented on #1108
@patrickhellosign Please attach the file listed in the issue ^

[2019-02-28 18:07] praksb commented on #1100
@nkadis We are actively working on performance improvements to the editing experience. The changes I mentioned will come as incremental updates to the extension. I'll update this thread when the next change is released.

[2019-02-28 19:13] celador commented on #1110
Stealing focus from the dev is the worst.  The extension should work transparently to the dev, not bang them over the head when anything is done.

[2019-02-28 20:22] davyhuijgens commented on #1110
On start of a command I can live with, but on finish is annoying especially with long running processes. The Dev will be doing somerhing else in the meantime.

[2019-02-28 21:38] ChuckJonas commented on #1110
IMO it should not show by default.  My preference would be a status bar ICON that lets you know a deployment is working. Clicking the status icon would then open the output console to review details

[2019-03-01 08:07] paul-drozd-itechart commented on #1104
having the same issue

[2019-03-01 08:07] paul-drozd-itechart commented on #1105
having the same issue

[2019-03-01 08:08] paul-drozd-itechart commented on #1100
Having the same issue

[2019-03-01 15:32] bvfusion1001 commented on #1110
Definitely a preference. I prefer not focusing because I often enter a series of commands while multitasking, so the focus gets in my way.

[2019-03-01 15:43] ntotten commented on #1110
It seems that most people feel like we should not take focus. I am inclined to not even expose it as a preference, but just change the behavior. We don't want to have 200 preferences to configure and if there is a strong consensus it seems not needed in this case.

[2019-03-01 15:58] mmclaughlinre opened #1113 "Intellisense Apex/VS"
Hello,

I recently started using Visual Studio Salesforce Extension and I cannot seem to figure out why Apex Intellisense is not working. Can I have support on this issue?

Thanks!
Mitchell
mmclaughlin@Relationedge.com

[2019-03-01 16:11] ntotten commented on #1113
Do you by chance have any Java extensions installed? There are a few Java extensions that conflict with Apex and will override the Apex extension. We recommend disabling all unused extensions for the workspace. See: https://code.visualstudio.com/docs/editor/extension-gallery#_disable-an-extension

[2019-03-01 16:16] mmclaughlinre commented on #1113
Thank you for the quick response @ntotten - No other extensions enabled. any other suggestions?
![image](https://user-images.githubusercontent.com/46694012/53650849-5545a080-3bfa-11e9-83b0-eca6989aea61.png)

[2019-03-01 16:17] brpowell commented on #1113
Hi @mmclaughlinre. Is intellisense partially working or not at all? For SObjects, you need to run the command SFDX: Refresh SObject Definitions to have up-to-date autocompletion on your SObjects. If it's not working at all, it could be an issue with your Java home setting. In your vscode settings try setting the `salesforcedx-vscode-apex.java.home` key to your Java 8 runtime path. For example: /Li

[2019-03-01 16:18] mmclaughlinre commented on #1113
@brpowell  Thank you so much! That did it!

[2019-03-01 16:21] brpowell commented on #1113
Glad to hear that @mmclaughlinre! Was the issue refreshing the SObjects or setting the Java home path? We like to get feedback on these kinds of things to improve the experience of first time set up.

[2019-03-01 16:22] mmclaughlinre commented on #1113
@brpowell  The former!

[2019-03-01 16:24] renatoliveira commented on #1110
Preference. Focus it by default. IMO it would be great to have three options:

1. Always focus the output tab.
2. Never focus the output tab.
3. Focus only on errors (deploy command returns something other than 0).

Don't know if the third one is possible, but the first two options definitely are!

[2019-03-01 16:28] brpowell commented on #1113
Thanks for letting us know, we'll keep this in mind going forward.

[2019-03-01 16:28] #1113 closed

[2019-03-01 16:58] lcampos commented on #1110
We're never going to have consensus on this and I'm opposed to a proliferation of settings/prefs. VS Code comes with out of the box shortcuts and commands to focus on the terminal and output view. I think we should remove it.

[2019-03-01 21:15] kbierbaum commented on #1088
This is related to known issue https://success.salesforce.com/issues_view?id=a1p3A000000JWcfQAG and not VS Code. We have notified the appropriate team.

[2019-03-01 21:15] #1088 closed

[2019-03-01 21:23] ntotten commented on #1102
@WhoStoleMyFries What type of metadata are you adding? Does the the `package.xml` contain the metadata type you just added?

[2019-03-02 06:41] chandra2ravi commented on #1110
don't focus. will continue work while processing

[2019-03-02 22:20] seregaone opened #1114 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.3.0`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\Сергей\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wi

[2019-03-03 00:00] MattTurnure commented on #1110
Don’t focus by default. Simple notification. Make it configurable in preferences. Thanks!

[2019-03-03 07:50] praksb commented on #1114
@seregaone Is the issue you are seeing similar to: https://github.com/forcedotcom/salesforcedx-vscode/issues/1100

[2019-03-03 07:50] praksb commented on #1114
Possible duplicate of: https://github.com/forcedotcom/salesforcedx-vscode/issues/1100

[2019-03-03 16:26] muenzpraeger commented on #1110
Remove the focus. We get anyway error/success information as popup/in the status bar.

[2019-03-03 23:36] gbutt commented on #662
Yes, this would be a great add as an alternative to deploy on save. Thanks so much for reopening this issue.

[2019-03-04 12:22] OdnanrefCamilo opened #1115 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.3.0`
- OS Version: `Windows_NT x64 10.0.16299`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\fernandsilva\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vsc

[2019-03-04 17:04] lcampos commented on #1043
Glad some of you are now able to install the extensions. I haven't been able to replicate the `Corrupt Zip...` issue on my side but if someone's still running into this, could you verify the SHA for the extension by following the instructions here [Verify SHA256](https://github.com/forcedotcom/salesforcedx-vscode/blob/afdb1785e10fdf683893a21e7e1e73e4ea15ef78/SHA256.md) and let me know if it doesn'

[2019-03-04 19:23] praksb commented on #1115
@OdnanrefCamilo Can you confirm if the issue that you are seeing is similar to what is discussed in this thread?

https://github.com/forcedotcom/salesforcedx-vscode/issues/1100

We are working on a fix to make the Apex editing experience more performant and should have some fixes in the upcoming extension update.

[2019-03-04 19:23] praksb commented on #1115
Possible dupe of: https://github.com/forcedotcom/salesforcedx-vscode/issues/1100

[2019-03-04 20:07] dc7380 commented on #662
@lcampos
Hiya, just a quick follow up re the tooling API. While I get that it doesn't support all metadata types, you should definitely consider enabling it just for those types that it does. Though I'm sure you have.. You guys know what you're doing. (I'm kind of an idiot..)

Anyhoo.. I have recently installed the **SalesforceDX Code Companion** extension. It uses an sfdx plugin he built which pr

[2019-03-04 20:13] msrivastav13 commented on #662
I agree here .I got so frustrated with speed I got that I built one using the tooling API version  .Salesforce should definitely consider the approach I took or give us a time line when speed by which we save to server should be improved .

[2019-03-04 20:55] ntotten commented on #662
The speed is not related to the Tooling API vs Metadata API. We are working to improve the perf and will have updates coming over the next few months, but both APIs are exactly the same on the backend. It is more about how they get called (Sync vs Async) and a few other factors.

[2019-03-04 21:09] msrivastav13 commented on #662
@ntotten I agree that both might look same on backend but having experimented with both APIs we do see when it comes to push simple changes to apex , aura , vf or lwc  via tooling rest api they somehow take almost 0.5x less time than the other. The fact that we have to wait so much to push a simple change of apex class to server makes me inefficient as a developer . We never had this performance i

[2019-03-04 21:39] sfuser16 opened #1120 "Cannot use SFDX: Refresh SObject Definitions for multiple orgs"
### Summary

I have to perform dev on multiple orgs. I have a scratch org and a Developer Edition that I work on.
My default org is set to my scratch org. But when I execute **SFDX: Refresh SObject Definitions** in my Developer Edition org which also exists as a project in SFDX, I cannot sync it. I couldn't find anything in the docs as to how can I fix this. Please advice.

### Steps To Reproduce:

[2019-03-05 01:29] tsalb commented on #662
Agree with above - I have use cases where I want to save (to track to git or get past linter) but not compile to server just yet. I am using "right click deploy" workflow for now and this would solve for my use case.

[2019-03-05 01:45] jfaderanga commented on #662
Well I think its how it was built if you want a real rapid development I
think you may want to consider offline development..

On Tue, 5 Mar 2019 at 2:29 PM, James <notifications@github.com> wrote:

[2019-03-05 11:25] willcobbett commented on #1110
Like the idea of making this optional/configurable as suggested above

[2019-03-05 14:02] chulai commented on #1103
@praksb  I noted you closed issue #1101 which I also reported. As an experiment, I removed all Apex Test classes from the project and that avoided the issue described here. However, the Out of Memory error described here on #1101 still happened. So I don't think the 2 tickets are related.

[2019-03-05 14:39] phanidra-mangipudi opened #1122 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.3.0`
- OS Version: `Darwin x64 17.7.0`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/pmangipudi/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Exp

[2019-03-05 18:31] combizs opened #1123 "Remove warnings for aura:component inline style with dynamic value"
### Summary

_Short summary of what is going on or to provide context_.
Using the Aura Components VSCode plugin, when you have a dynamic inline style for an aura component, error(s) should not be thrown by the validator.

### Steps To Reproduce:

1.  Create lightning component
1.  Define a `<div>` to apply an inline style
1.  Apply an inline style with a dynamic value, i.e.:
[code]

### Expected r

[2019-03-05 19:10] praksb commented on #1122
@phanidra-mangipudi Can you confirm if the issue that you are seeing is similar to what is discussed in this thread?

#1100

We are working on a fix to make the Apex editing experience more performant which should be out as part of the next extension update.

[2019-03-05 19:10] praksb commented on #1122
Dupe of https://github.com/forcedotcom/salesforcedx-vscode/issues/1100

[2019-03-05 19:31] praksb commented on #1103
@chulai From the call stack you provided in issue #1101 you are experiencing out of memory exception at startup. We have a service called StandardTestService that compiles all the apex sources at startup and we have another service called ApexIndexer which does that as well at the same time. The StandardTestService also runs when you open up the test panel. Even with the test classes removed we wi

[2019-03-05 19:42] praksb commented on #1101
@chulai I have responded to your comment on #1103 as well. The StandardTestService that is throwing the out of memory exception is ran at startup also (not just when test panel is open as I previously commented) and compiles all the classes (not just test classes). ApexIndexer does this as well during startup which is causing two full compilations (of all classes) which ends up with an out of memo

[2019-03-05 20:06] chulai commented on #1103
@praksb thanks for the clarification. I will wait for the fix then.

[2019-03-05 20:06] chulai commented on #1101
@praksb thanks for the clarification. I will wait for the fix then.

[2019-03-05 22:22] vijaykumar8448 opened #1124 "Problem in dashboard retrieve"
Not able to retrieve dashboard by sfdx command . I tried with below commands

 **sfdx force:source:retrieve -x package.xml**  or sfdx force:source:retrieve -m Dashboard:Dashboard_Folder/Dahboard_Name

---------------
Version: 1.31.1 (user setup)
Commit: 1b8e8302e405050205e69b59abb3559592bb9e60
Date: 2019-02-12T02:20:54.427Z
Electron: 3.1.2
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: W

[2019-03-06 07:10] MrAdr68 opened #1125 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.3.0`
- OS Version: `Windows_NT x64 6.1.7601`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\admin\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/

[2019-03-06 07:11] praksb commented on #1125
@MrAdr68 Can you confirm if the issue that you are seeing is similar to what is discussed in this thread?

#1100

We are working on a fix to make the Apex editing experience more performant which should be out as part of the next extension update.

[2019-03-06 07:12] praksb commented on #1125
Dupe of #1100

[2019-03-06 12:14] Szandor72 commented on #1049
I ran into this issue today as well while trying to setup eslint configuration for my aura components. As I am a beginner on things node, npm, eslint it took me a while to find out it goes back to here:

I tried a standard eslint setup with
[code]
all dependencies installed, I still got an error that my airbnb standard could not be found.

when I de-installed the lightning-web-components extension

[2019-03-06 12:45] sunilcloud commented on #831
I'm facing the same issue. I updated the CLI today. Could you check?

[2019-03-06 13:11] sunilcloud commented on #831
I was able to resolve this after i installed the "Lightning Web Components Extension".

[2019-03-06 13:47] JorneVL opened #1126 "Errors dissapear when other file deploys"
### Summary

This feature is implemented in issue #771

Deploy file X and receive problems.
You can see this in the problems panel now.
Deploy file Y and this must successful.
The problem panel is empty now

### Steps To Reproduce:

1. Deploy file X and receive problems.
2. You can see this in the problems panel now.
3. Deploy file Y and this must successful.
4. The problem panel is empty now

###

[2019-03-06 20:03] nissimlevy commented on #764
I'm having the same problem. In visual studio code I used to see the deploy menu options when I right clicked on the default folder. Suddenly these options disappeared from the right click context menu. Why?

[2019-03-06 20:29] nissimlevy opened #1127 "SFDX options disappeared in context menu"
### Summary

The Sfdx options in Visual Studio Code no longer show the Sfdx options. They appeared and suddenly disappeared. The issue titled "Show why Retrieve/Deploy commands missing from menu" does not offer a resolution. Oddly, when doing a Ctrl-shit P I do see the SFDX: Create Project option.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

#

[2019-03-06 23:02] ntotten commented on #1123
Duplicate of #950

[2019-03-06 23:02] #1123 closed

[2019-03-07 00:26] combizs commented on #950
@ntotten, Thank you for linking my issue back to an existing issue.  Any updates on the ETA?

[2019-03-07 00:29] ntotten commented on #950
We will be shipping a big update to the Aura tooling in the next few weeks. I don't believe this bug made it into that release, but we will address it soon.

[2019-03-07 17:11] freddysilber opened #1132 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.5.0`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/freddysilber/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/E

[2019-03-07 18:18] #1132 closed

[2019-03-07 18:39] #1105 closed

[2019-03-07 18:39] #1104 closed

[2019-03-07 18:39] #1108 closed

[2019-03-07 19:55] praksb commented on #1125
@MrAdr68 We just released our latest Apex extension update which has fixes to improve the performance of Apex editing experience. Please upgrade to v45.5.0 and let us know if you still run into any issues.

[2019-03-07 19:55] #1125 closed

[2019-03-07 19:56] praksb commented on #1122
@phanidra-mangipudi We just released our latest Apex extension update which has fixes to improve the performance of Apex editing experience. Please upgrade to v45.5.0 and let us know if you still run into any issues.

[2019-03-07 19:56] #1122 closed

[2019-03-07 19:56] praksb commented on #1115
@OdnanrefCamilo We just released our latest Apex extension update which has fixes to improve the performance of Apex editing experience. Please upgrade to v45.5.0 and let us know if you still run into any issues.

[2019-03-07 19:56] #1115 closed

[2019-03-07 19:57] praksb commented on #1114
@seregaone We just released our latest Apex extension update which has fixes to improve the performance of Apex editing experience. Please upgrade to v45.5.0 and let us know if you still run into any issues.

[2019-03-07 19:57] #1114 closed

[2019-03-07 19:58] praksb commented on #1100
@cipherstream @nkadis @paul-drozd-itechart We just released our latest Apex extension update which has fixes to improve the performance of Apex editing experience. Please upgrade to v45.5.0 and let us know if you still run into any issues.

[2019-03-07 19:58] #1100 closed

[2019-03-07 20:07] Jody-CS commented on #968
This issue is still occurring. Running Apex extension v45.3.0

[2019-03-07 20:15] praksb commented on #968
@Jody-CS Can you please update to version v45.5.0 and let us know if you still see this problem? We made some more recent fixes.

[2019-03-08 15:25] jjTorrent commented on #939
Any updates on roadmap for this now, @ntotten? bump!

[2019-03-08 15:51] ntotten commented on #939
We will be releasing a significant update to the Aura tooling in the next few weeks that will help with some of this. However, we don't have immediate plans on improvements to Visualforce tooling at this time.

[2019-03-08 17:34] tusharbudhe0302 opened #1134 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.5.0`
- OS Version: `Windows_NT x64 6.1.7601`
- VSCode version: `1.32.1`

:warning: Make sure to **check attachment**
[salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt](https://github.com/forcedotcom/salesforcedx-vscode/files/2946872/salesforce.salesforcedx-vscode-core-unresponsive.cpupr

[2019-03-08 18:24] praksb commented on #1134
@tusharbudhe0302 Can you share more information on what operation you were performing when you observed the high cpu load? Is it during loading a new project or editing a file or applying a refactoring to an Apex Class? Does the cpu load come down after sometime or does it just continue to stay high? How many apex classes and triggers does your project have?

It is possible that the Apex LSP which

[2019-03-08 21:46] #1102 closed

[2019-03-09 01:05] lb14447 opened #1136 "Update to knowledge document for mv ./tmpsrc ./src/main/default"
This is in reference to the instructions listed at https://forcedotcom.github.io/salesforcedx-vscode/articles/getting-started/migrate-from-forcecom-ide

The command mv ./tmpsrc ./src/main/default needs to be updated to mv ./tmpsrc/main ./src in order to make sure the folder structure from tmpsrc/main/default copies correctly to src folder.

[2019-03-10 15:01] chandra2ravi opened #1137 "Converted source not pushing to scratch orgs"
i used source convert an try to push to scratch org and getting below error

![Screen Shot 2019-03-10 at 9 58 12 AM](https://user-images.githubusercontent.com/93057/54086842-56be4980-431b-11e9-8dbc-68b3acabc407.png)

[2019-03-11 16:35] ntotten commented on #1137
There are errors reported in the push. It looks like the metadata for a customobject is invalid.

[2019-03-11 17:58] #1043 closed

[2019-03-11 19:58] chandra2ravi commented on #1137
@ntotten  check the path in error file it's saying force-app/main/default/Game__C there is no direct file

[2019-03-11 20:02] ntotten commented on #1137
@lcampos See the path to this. Is this a bug in how we are printing the error messages? Notice the folder `classes` is missing.

[2019-03-12 00:25] mnunezdm opened #1140 "Test Status not being refreshed"
### Summary

Since a while, I'm not able to get the test results in my TEST: APEX TESTS panel

### Steps To Reproduce:

1.  Run Tests from the TEST: APEX TESTS Panel
1.  The circles next to the test name stay blue

### Expected result

The test circle should change either to red or green

### Actual result

The test circle stay blue

### Additional information

![milestoneTimerExample](https://use

[2019-03-12 13:40] dansad opened #1141 "Cannot get html lightning language support for aura"
### Summary
There is no code completion for aura components (cmp)

### Steps To Reproduce:

1. sfdx force:lightning:component:create -n mylightningcomp
2. Open mylightningcomp.cmp file
3. Start typing <lightning: then CTRL+SPACE

### Expected result
vs Code should suggest lightning elements

### Actual result
Nothing is suggested :(

### Additional information
In the javascript controllers, LWC el

[2019-03-12 14:17] kenhuman opened #1142 "Please sign language server jar"
**Is your feature request related to a problem? Please describe.**
The language server jar is blocked from execution by my company's application whitelisting software.

**Describe the solution you'd like**
Sign the jar.

**Describe alternatives you've considered**
Currently whitelisting every new version.

**Additional context**
None

[2019-03-12 15:05] lcampos commented on #1142
Hi @kenhuman, could you provide more details on why your company's whitelisting software is blocking the apex lsp jar ? We do sign the jar every time it gets updated so I'm thinking there might be certain details on the cert we're using that could be modified/added.

[2019-03-12 15:19] lcampos commented on #1141
Thanks for opening this @dansad. Yes, the current language server capabilities for lightning are limited but we're working on enhancing that experience. @ntotten can provide more details on it.

[2019-03-12 16:38] lcampos commented on #1140
Thanks for reporting this @mnunezdm , I've been able to replicate the issue and it's only happening when you run a test against an org with a namespace. The test does run, you can see the results on the Output view, but the info is not reflected in the test sidebar. We'll get it fixed.

[2019-03-12 19:54] dansad commented on #1141
Thanks @lcampos!
Just to clarify, I cannot get any of the completions working in .cmp html - not even slds or aura components, or anything else that is supposed to be provided by [salesforce.salesforcedx-vscode-lightning](https://marketplace.visualstudio.com/items?itemName=salesforce.salesforcedx-vscode-lightning)

[2019-03-12 21:04] William-E-Hickox opened #1143 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.5.0`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.32.1`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\Tata\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki

[2019-03-12 21:15] praksb commented on #1143
@William-E-Hickox Can you share more information on what operation you were performing when you observed the high cpu load? Is it during loading a new project or editing a file or applying a refactoring to an Apex Class? Does the cpu load come down after sometime or does it just continue to stay high? How many apex classes and triggers does your project have?

It is possible that the Apex LSP whic

[2019-03-12 21:35] William-E-Hickox commented on #1143
lets close the issue I can not reproduce

[2019-03-12 21:35] #1143 closed

[2019-03-12 22:15] jjTorrent commented on #917
Any updates here? Still need more data?

[2019-03-12 22:37] ntotten commented on #917
This is actively being worked on. There are several efforts - one is updates to the CLI that will improve performance, another is work on the backend for performance. It isn't going to be one fix, but it's something we are working on.

[2019-03-13 12:31] SalesforceBobLightning opened #1146 "Deploy Source in Manifest to Org response does not appear in problem tab"
### Summary

When I use the `Deploy Source in Manifest to Org` command pallette or right click option on a manifest file, errors are not displayed in either the output tab or problem tab

### Steps To Reproduce:

1.  Right click on a manifest file and select `Deploy Source in Manifest to Org`

### Expected result

Errors should appear in the problem tab

### Actual result

No response displayed an

[2019-03-13 18:18] brpowell commented on #1146
Hi @SalesforceBobLightning. We're working on reproducing this issue but haven't had any luck yet. If you create a simple manifest with one component that has issues, do you still get no results?

[2019-03-13 22:13] stradcom opened #1149 "Extension causes high cpu load"
[salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt](https://github.com/forcedotcom/salesforcedx-vscode/files/2963860/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.5.0`
- OS Version: `Darwin x64 17.7.0`
- VSCode version: `1.32.1`

[2019-03-13 23:03] praksb commented on #1149
@stradcom Can you share more information on what operation you were performing when you observed the high cpu load? Is it during loading a new project or editing a file or applying a refactoring to an Apex Class? Does the cpu load come down after sometime or does it just continue to stay high? How many apex classes and triggers does your project have?

It is possible that the Apex LSP which is a J

[2019-03-14 00:44] stradcom commented on #1149
@praksb - this happened consistently while trying to push my source on a newly created scratch org. the project i was working on is fairly small, no more than 10 custom objects with about 100 custom fields - including those created for the standard objects. The process spikes up probably around 50 seconds in the CLI call. i was using force:source:push with -w 10. I will try and see if i can get in

[2019-03-14 00:49] lcampos commented on #1141
@dansad that's strange. I tested in windows and mac and do see those autocompletions working using version 45.5.0 of the extensions. If you have other (non-salesforce) extensions installed, could you deactivate them, reload vscode and see if that makes the autocompletions work ? I'm thinking there might be another extension causing a conflict.

If that's not the case, could you open VS Code's Dev

[2019-03-14 01:23] lcampos commented on #1137
I haven't been able to replicate this issue. I think this might be an issue with the object metadata missing some details. I don't think this is an issue with the `force:mdapi:convert` command since I ran this on a project and was then able to deploy it using `source:push`.

@chandra2ravi can you confirm your project's objects can be successfully deployed to an empty org using normal metadata api

[2019-03-14 10:52] SalesforceBobLightning commented on #1146
Hi @brpowell

Thanks for investigating.

To reproduce, you will need code which has issues and would fail to deploy.

[2019-03-14 14:49] dansad commented on #1141
Strange indeed! I have tried vanilla setups from scratch, and still cannot get going. Just to be sure, I uninstalled all my other extensions, no joy.

The dev console has several errors `Cannot find en-us, defaulting to en`. That error also shows up in my SLDS Language Server output panel. (It's the only thing in there)

Dev console also informs me that `Deleted environment variables SFDX_DEFAULTU

[2019-03-14 14:49] Gkupce opened #1152 "Snippets do not respect user's indentation configuration."
### Summary
_I use 4 space hard tabs for indentation when working, so when I used the standard `for` snippets i found it indented with 3 spaces_.

### Steps To Reproduce:

1.  Enable whitespace rendering in atom. (`ctrl+shift+p` -> `View: Toggle Render Whitespace`)
1.  Change indentation to 4 space tabs or other indentation configuration other than 3 spaces.
1.  Insert any snippet that contains in

[2019-03-14 15:45] gnerb commented on #809
I'm having this same issue.

[2019-03-14 16:16] ntotten commented on #1152
This isn't actually something we can control - the snippet is hard coded with a particular set of indentations. The recommendation is to use Prettier to format all your code to a consistent set of spacing and other formatting.

https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode

Right now prettier doesn't support LWC or Apex. LWC support is coming with the next release of P

[2019-03-14 16:19] Gkupce commented on #1152
Actually you can, I wrote personal snippets, indented them with `\t` and tested them with multiple indentation configurations and found them working as expected.

Example snippet
[code]

[2019-03-14 16:52] ntotten commented on #1152
Oh, wow. Very cool. We’ll do it. Thanks!

On Thu, Mar 14, 2019 at 9:19 AM Gkupce <notifications@github.com> wrote:

--
| *Nate Totten* | Salesforce.com | ntotten@salesforce.com | M:
+1-415-891-7430  |

[2019-03-14 17:12] Gkupce commented on #1152
I was triple checking my changes before creating a pull request

[2019-03-15 05:53] ChuckJonas commented on #917
I just wanted to add that there seems to be a considerable delay BEFORE the command even starts to execute when using "deploy on save" (with classic org).

IDK if this is due to intended debouncing, but if that's the case, it should be configurable.

![save-delay](https://user-images.githubusercontent.com/5217568/54411179-13196600-46b4-11e9-91c7-771bbd4d8429.gif)

`11.13-4.39=6.74s`

It seems to c

[2019-03-15 06:10] ChuckJonas commented on #917
[found it](https://github.com/forcedotcom/salesforcedx-vscode/blob/develop/packages/salesforcedx-vscode-core/src/settings/pushOrDeployOnSave.ts#L18).

I must say this is quite odd behavior... Seems like it's trying to avoid sending multiple requests by reseting a 4.5s timeout each time a file is saved then sending a single request for all saved files once the timeout expires?

Curious what the use

[2019-03-15 11:20] sanjuoo7 commented on #917
Any updates on this is getting very slow, it take a minute to push data to sandbox org, i am developing against sandbox. It used to be saved quickly but after recent update it taking minutes to push changes to sandbox.

Moreover i found that it doesn't saved the apex class to server though it does show successful save message to end user in VS Code.

Let me know if you need any more information fr

[2019-03-15 13:42] jjTorrent commented on #653
@praksb, my apologies for the delay. I will have time next week in the mid-mornings, if you'd still like to look at the project setup.

[2019-03-15 14:02] ntotten opened #1155 "Deploy On Save Performance Update"
The current implementation of deploy on save relies on watching files for changes and pushing changes no more than once every [4.5 seconds](https://github.com/forcedotcom/salesforcedx-vscode/blob/develop/packages/salesforcedx-vscode-core/src/settings/pushOrDeployOnSave.ts#L18).

## Problem
This implementation results in a number of undesirable behaviors:

1. Multiple deployments can be triggered a

[2019-03-15 14:03] ntotten commented on #917
@ChuckJonas This is something that we plan to fix. I wrote up our proposed solution here: https://github.com/forcedotcom/salesforcedx-vscode/issues/1155

Please let me know what you think. We certainly could make the timeout configurable, but I think the linked proposal is much better.

[2019-03-15 17:56] brpowell commented on #1146
Happy to do so @SalesforceBobLightning. Do you have piece of code I can try it out with? When I attempt to deploy an apex class with failures the problems surface as expected.

[2019-03-15 18:01] melissajhansen commented on #1155
Yes!!!!  That 4.5 second delay has been a real killer.  I could understand a delay if it was auto-saving, but when I'm hitting cmd-S it's because I'm ready to save/compile NOW.  This sounds great!

[2019-03-15 18:17] rapsacnz commented on #1155
Yes, great idea. I can see the rationale behind the delay, but it's very simplistic. All your points are good ones!

[2019-03-15 20:50] ChuckJonas commented on #1155
Sounds solid to me.

Another really "Nice To Have":

- If metadata fails to deploy, it will remain in the queue for the following deployment

This would be really helpful when trying to save metadata dependencies on each other.

For this to work:

1: `rollbackOnError` would need to be `false`
2: There would need to be some command/way to clear the queue.

[2019-03-15 21:50] praksb commented on #653
@jjTorrent Great. Let me send you an email.

[2019-03-16 01:24] jimwaz commented on #1155
I really like that the feature exists!  Thanks.
1. The delay is tough, I am never confident if it will deploy since it feels like a long time.  On save I’m ready for it to deploy.  Maybe take a page from mavens mate, I never had a issue there.
2. Can the response include more friendly messaging, successful deploys recieve a successful message, looking for code 0 isn’t intuitive when your new.  Als

[2019-03-17 01:42] tophersymps opened #1156 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.6.0`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\Topher Sympson\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/v

[2019-03-17 05:21] praksb commented on #1156
@tophersymps Can you share more information on what operation you were performing when you observed the high cpu load? Is it during loading a new project or editing a file or applying a refactoring to an Apex Class? Does the cpu load come down after sometime or does it just continue to stay high? How many apex classes and triggers does your project have?

It is possible that the Apex LSP which is

[2019-03-18 15:26] pbatf4 opened #1157 "plug"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**VS Code Version**:

**SFDX CLI Version

[2019-03-18 15:29] pbatf4 commented on #1157
Sorry, hit enter too quickly, this should be deleted

[2019-03-18 15:29] #1157 closed

[2019-03-18 16:16] ntotten commented on #1120
Can you clarify that when you create the new org you have also set it as the default org before you do the refresh? I am wondering if the old org that is deactivated is still set as default.

[2019-03-18 16:42] allileong commented on #1027
Hi @chandra2ravi, are you still experiencing this issue?

[2019-03-18 17:18] brpowell commented on #1155
Hi @jimwaz. To address your second point, If you're using the latest version of the extensions deploy results are now shown in both the VSCode problem view as well as the output view. You'll see the results as a human readable table and successes are included. Addressed in #1085.

[2019-03-18 17:26] nicocrm commented on #1146
Hi @brpowell, I have the same issue on one of my environments, and another one that works fine.  The OS that has the problem is on MacOS and Code version 1.32.3, the OS that works is on Linux, but the org being worked on is the same in both cases, so it does not appear to be related to the code.
Is there a way that I can capture more information about the problem that would give you context?  If I

[2019-03-18 19:38] jstacer opened #1161 "Command Palette shortcuts missing v45.6"
In the latest versions of VS Code and SFDX extension bundle (from Salesforce) on Mac OS Mojave, many of the command palette shortcuts seem to be missing. When I ran the updates last week, many of them disappeared and now there are only four:

<img width="605" alt="Screen Shot 2019-03-18 at 3 36 26 PM" src="https://user-images.githubusercontent.com/4816737/54558336-d8ede400-4993-11e9-9332-fb3d2b556

[2019-03-18 21:11] chandra2ravi commented on #1027
I uninstalled open ssl due to the slowness of vscode.

[2019-03-18 21:12] chandra2ravi commented on #1137
I didn't teak any but the first time it deployed the second org failed.

[2019-03-18 22:24] jimwaz commented on #1155
@brpowell I updated my CLI and I now see the errors listed out! that works great!

[2019-03-19 11:02] SamCousinsGB commented on #959
I think even for developers it would be invaluable. I'm currently trying to generate a package.xml containing all reports, but because the Report type does not support the * wildcard I have to generate this manually.

This is probably the main feature holding us back from switching to SFDX - a definite must-have from us before the Force.com IDE is retired.

[2019-03-19 15:17] lcampos commented on #962
Released as part of version `45.6.0`

[2019-03-19 15:17] #962 closed

[2019-03-19 15:36] allileong commented on #1027
Hi @chandra2ravi , thanks for letting me know. I'm going to close out this bug for now, but please feel free to reopen it if you encounter this issue again in the future.

[2019-03-19 15:36] #1027 closed

[2019-03-19 15:51] #1142 closed

[2019-03-19 18:33] jjTorrent opened #1166 ""Go to Definition" not working from trigger context using Trigger.new, Trigger.oldMap, etc."
### Summary

The "Go to Definition" function works as expected for most methods, but from a trigger context, it will not work when passing Trigger.New, Trigger.oldMap, and so on. This happens with the org-development model (Create Project with Manifest). It is untested with the scratch-org model.

### Steps To Reproduce:

1. Create a trigger handler Apex class with a static method that accepts a L

[2019-03-20 07:24] nicocrm commented on #1146
More mysterious, I renamed the project folder without making any change, opened the renamed version, and then it was working fine.  So it appears somewhere in the bowels of vscode or sfdx some setting was toggled to prevent the problems capture on that specific folder path.

[2019-03-20 08:45] AnthonyImpact opened #1168 "Tests not showing in VisualStudio (sfdx.force.test.view.refresh not found)"
Hi,

I am having the same issues as [this issue](https://github.com/forcedotcom/salesforcedx-vscode/issues/809) that was closed due to lack of activity. I can confirm that the test do not eventually appear in the sidebar (or haven't for me yet after days/weeks work)

Summary
When trying to use the integrated test side bar, no tests are being displayed. When clicking on "refresh" an error message i

[2019-03-20 11:51] imamsaheb242689 opened #1169 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.6.0`
- OS Version: `Windows_NT x64 10.0.16299`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\178022\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wi

[2019-03-20 16:58] JNiedle opened #1170 "Apex Language Server Not Recognizing Custom SObjects"
### Summary

The Apex Language server does not recognize custom objects and displays "Invalid type" errors and other errors associated with it not recognizing that the custom object exists and inherits sObject methods.

### Steps To Reproduce:

1.  Create a new project, link to your dev hub
1.  Pull source from the dev hub org
1.  Log into your development org (like a sandbox)
1.  Refresh the SObj

[2019-03-20 17:05] lcampos commented on #1168
Hi @AnthonyImpact , can you provide which version of the Salesforce cli you are on (run `sfdx --version` on your terminal) and which Java version you are on ? Java 8 is needed by the Apex language server which is the one that provides the info for the Test sidebar.

[2019-03-20 17:08] lcampos commented on #1161
Hi @jstacer can you confirm if you have a sfdx project open and have a defaultusername for it ? That would mean having a scratch org or a dev org assigned for it.

[2019-03-20 17:10] lcampos commented on #1137
Can you provide a code sample we can use to replicate the issue on our side ? We are not able to replicate it with the projects we are testing with.

[2019-03-20 17:57] AnthonyImpact commented on #1168
I have just redownloaded Java 8 to make sure and running the above gives me
the below:

sfdx-cli/6.56.0-e3fd846a1f (darwin-x64) node-v8.15.1

On Wed, 20 Mar 2019 at 17:05, lcampos <notifications@github.com> wrote:

--
*Anthony Mealand*
*Technical Lead*
*07809 731 608*

21 Claylands Place, London, SW8 1NL
*Registered Company No. 09914362*

[2019-03-20 18:06] praksb commented on #1169
@imamsaheb242689  Can you share more information on what operation you were performing when you observed the high cpu load? Is it during loading a new project or editing a file or applying a refactoring to an Apex Class? Does the cpu load come down after sometime or does it just continue to stay high? How many apex classes and triggers does your project have?

[2019-03-20 18:19] praksb commented on #1170
@JNiedle In your VSCode project in the explorer window on the left, can you expand ".sfdx->tools->sobjects->customObjects" folder and see if class files exist for the SObject types references in your source. From the error messages that you have posted I would expect at least the files "Order_Confirmation_Request__c.cls", "Order__c.cls", "OrderRelease__c.cls" and "OrderLine__c.cls" to show up ther

[2019-03-20 18:38] JNiedle commented on #1170
@praksb, the class file does exist:
![image](https://user-images.githubusercontent.com/1660128/54709990-f17d0c00-4b03-11e9-81ab-d84e6459c467.png)

I edited the file and I can see in the output window for the Apex Lanuage server that changes to the object's class file are triggering the language server to re-scan the user defined types:
![image](https://user-images.githubusercontent.com/1660128/547

[2019-03-20 18:48] praksb commented on #1170
@JNiedle Can you edit the source file that was referencing this SObject type not the definition file(the source file that has the error)? Also, in your code where you are referencing this SObject, are you able to right-click on the type and invoke other features like Go-To-Definition and Find-All-References and verify if they work as expected?

I am trying to understand if you are observing this i

[2019-03-20 20:03] JNiedle commented on #1170
@praksb Editing the file has no effect on the problems listed.

I am unable to peek, go to definition, and find all references are not working. I get "No definition found for Order_Confirmation_Request__C" for peek and go to definition. I get "No results" for find all references.

[2019-03-20 20:09] JNiedle commented on #1170
In my settings.json file I have salesforcedx-vscode-apex.enable-semantic-errors set to true. When setting to false, the problems go away, but I also don't get any of the feedback that I need for development.

[2019-03-20 20:14] JNiedle commented on #1170
One more note: peeking/go to definition/find all references works for sobjects declared as variables or in lists, but not within a query:

![image](https://user-images.githubusercontent.com/1660128/54715982-ee891800-4b11-11e9-87f8-03579a95a279.png)

However, the other issues I'm seeing for "DML requires SObject or SObject list type" is still an issue. Same with "Method does not exist or incorrect

[2019-03-20 20:34] praksb commented on #1170
@JNiedle Unfortunately, our IDE support for SOQL/SOSL in Apex is not great. This is a feature limitation and we have an open issue in our backlog to be addressed sometime in the future:

https://github.com/forcedotcom/salesforcedx-vscode/issues/947

However, it doesn't explain the warnings you get in the problem box since I would expect the warnings to go away on an edit since that will trigger a

[2019-03-20 21:14] JNiedle commented on #1170
@praksb Thank you for linking the open issue.

I've been developing in this class all day and additions or deletions in that class did not effect the number of problems appearing in the problems window. I added "faketype asdf = new faketype()" and it did give me a new warning for an invalid type: faketype.

I will zip and send the project.

[2019-03-21 09:53] AnthonyImpact commented on #1168
Hello,

Apologies - but I have just found out that my java path name was different to that in the notes. Once I have updated that, the functionality started working. Thanks for your help

[2019-03-21 09:53] #1168 closed

[2019-03-21 10:08] vignaesh01 opened #1175 "SFDX: Retrieve Source from Org command does not retrieve new files"
### Summary

I pulled a sandbox using Salesforce CLI extensions for VS Code using sfdx : Retrieve Source in Manifest from Org command. Later when I right clicked on classes folder and selected SFDX: Retrieve Source from Org command, new classes created in sandbox recently does not get retrieved. Only the classes that are already present in the classes folder gets updated. Is this a known issue?

C

[2019-03-21 12:52] troveryor opened #1176 "New VSCode Project from Sandbox Org not retrieving LWC contents"
**Summary**:

Creating a new VSCode project from an existing Sandbox org using  [Org Development Model with VSCode](https://forcedotcom.github.io/salesforcedx-vscode/articles/user-guide/org-development-model) results in a **force-app/lwc** folder that doesn't contain any Lightning web components that exist in the Sandbox.
**Repro**:

Using the above directions:
1. Create a new project and auth aga

[2019-03-21 13:06] troveryor commented on #1176
Here's a work around in the meantime.
Manually add this node to the package.xml

Right click on package.xml and run **SFDX: Retrieve Source in Manifest from Org**.

[2019-03-21 14:28] ntotten commented on #1176
Duplicate of #1072

[2019-03-21 14:28] #1176 closed

[2019-03-21 14:34] ntotten commented on #1175
This is behaving as designed. We only pull existing content, not new files. If you want to pull new files you should perform a retrieve using a `package.xml` that has either all apex classes or the specific classes you want to retrieve.

We do have some work coming soon that will make this process easier. See #862

[2019-03-21 14:34] #1175 closed

[2019-03-21 16:56] shetzel commented on #1149
There is a known bug with the Salesforce CLI where source:push or source:deploy of wave analytics metadata that fails to deploy would cause this.  Possible that other types could cause this as well.  Can you confirm that the runaway process involved is sfdx (versus java)?  Can you also confirm that a deploy failure happened via the org UI, and the failing metadata type?

[2019-03-21 17:03] praksb commented on #1103
@chulai We made some perf improvements in the apex extension that was released today that should address the problem you reported in this issue. Please update to the latest extension and let us know if you have any feedback.

[2019-03-21 17:03] #1103 closed

[2019-03-21 17:38] Sarveshgithub commented on #809
Same here getting same issue

[2019-03-21 17:45] praksb commented on #1170
I spoke to @JNiedle about the issue he was observing. I could see that on his machine, the custom sobject type fails to bind and throw an error when used in SOQL. Unfortunately, I couldn't get it to repro on my machine. I am going to do some more investigation to see if there are any special codepaths that would cause the Custom type used in a SOQL statement to fail to bind and throw an error. We

[2019-03-21 17:47] mnunezdm opened #1177 "Auto Completion on Managed Packages"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**VS Code Version**:

**SFDX CLI Version

[2019-03-21 17:48] mnunezdm commented on #973
Hi,

I didn't know if should open a new Issue or posting in this one.

After last update Code Coverage shows correctly on Apex Classes, but an annoying notification appears every time a class with no code coverage is opened

This happens with Test Classes, maybe it could be great to ignore this files that does not require any line to test

![testCodeCoverage](https://user-images.githubusercontent.

[2019-03-21 18:15] prabhusajjanam commented on #809
Make sure, you installed latest java and java path is updated as shown
below in settings.json (salesforcedx-vscode-apex.java.home) (search in
settings for settings.json)

[image: image.png]

On Thu, Mar 14, 2019 at 11:45 AM gnerb <notifications@github.com> wrote:

[2019-03-21 18:38] Sarveshgithub commented on #809
@prabhusajjanam Image is not showing in your answer

[2019-03-21 19:40] ntotten opened #1178 "Code coverage error"
After last update Code Coverage shows correctly on Apex Classes, but an annoying notification appears every time a class with no code coverage is opened

This happens with Test Classes, maybe it could be great to ignore this files that does not require any line to test

![testCodeCoverage](https://user-images.githubusercontent.com/10410852/54773321-a2210380-4c09-11e9-8efa-63107c8754c7.gif)

Also,

[2019-03-21 19:40] ntotten commented on #973
This feature shipped two weeks ago.

[2019-03-21 19:40] #973 closed

[2019-03-21 19:49] #1152 closed

[2019-03-21 19:49] ntotten commented on #1152
Shipped today.

[2019-03-21 20:02] ntotten commented on #903
After discussing this, it seems the issue is that the Replay debugger extension may not have been activated on your machine. Can you confirm that the Apex Replay Debugger extension is installed and enabled?

[2019-03-21 20:03] ntotten commented on #1178
I verified that I can reproduce this error. We'll get it fixed.

[2019-03-21 20:21] lcampos commented on #1178
Yes, this is by design for the first version of the feature. We don't do any additional checks on the content of the file other than it being apex. This is good feedback and will address it in the follow up versions.

[2019-03-21 20:28] lcampos commented on #1177
Thanks for opening this @mnunezdm . This is a currently a limitation with the Apex language server which we're looking into.
cc @ntotten

[2019-03-21 20:58] praksb commented on #1177
@mnunezdm I agree this is an annoying bug. While we are working on making this better, as a workaround you could  temporarily set
"namespace": ""
in your sfdx-project.json file.

[2019-03-22 09:43] Neezen commented on #356
Hi - this is still not working. Has there been an update on whether this has been implemented? Thanks

[2019-03-22 09:45] Neezen commented on #1141
Hi everyone - just joining this conversation as I am having similar issues. To confirm is it correct to see that <lightning:... would not yet autocomplete as well? For example <lightning:attribute does not show any auto completion of code. Curious whether this is expected behaviour or whether my setup is not working. Thanks!

[2019-03-22 09:54] adamondrejka commented on #1141
Hi. I have same problem, no suggestions and auto completions for aura components in .cmp files, disabling other extensions does not help. Running Visual Studio Code 1.32.3, SalesForce Extension Pack 45.7.0 on macOS Mojave 10.14. No errors in developer tools.

[2019-03-22 09:54] oriolete opened #1179 "Missing label"
### Summary

After enabling Highlight Apex Code Coverage a message appear every open a class

![image](https://user-images.githubusercontent.com/6986296/54814447-0c7c8700-4c90-11e9-919b-74a06d4e5e34.png)

### Steps To Reproduce:

1.  Enable Highlight Apex Code Coverage
2. Open class

### Expected result

Highlight uncovered lines

### Actual result

Anoying message with missing label

### Addition

[2019-03-22 11:24] jasminengn commented on #662
+1 on this issue. I can see a pull request waiting to be approved, hopefully it will be released soon so we can optimise our workflows. Huge thanks to the devs who are working on the fix.

[2019-03-22 11:56] islimane opened #1180 "Syntax color issue"
### Summary

The syntax color for queries in Apex files are not well displayed in some cases.

### Steps To Reproduce:
Type the following query in an Apex class:
`
	[
		SELECT Id, Name
		FROM Account
		WHERE Field1__c =: value1
			AND (
				Field2__c =: value2
				OR ( Field2__c =: value3 AND (Field2__c =: value3) )
			)
			AND Field4__c =: value4
		ORDER BY Field5__c ASC
	]
`

### Expected result

[2019-03-22 13:44] oriolete commented on #1179
Solved, we need before to highlight covered lines run tests (Perhaps with code coverage option enabled).

But maybe the message could be more user-dummy-friendly ;-P

Thanks

[2019-03-22 13:44] #1179 closed

[2019-03-22 18:51] freddysilber opened #1182 "remove me from this repo?"
can you remove me from this repo? I would like it to go away from my home screen under 'your repositories'
Thanks

[2019-03-22 19:01] ntotten commented on #1182
I'm not really sure what this means. You are not a member of any teams in this org or on this repo.

[2019-03-22 19:01] #1182 closed

[2019-03-22 20:47] Mimowae opened #1184 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.7.0`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\mimow\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wik

[2019-03-22 22:38] praksb commented on #1184
@Mimowae Can you share more information on what operation you were performing when you observed the high cpu load? Is it during loading a new project or editing a file or applying a refactoring to an Apex Class? Does the cpu load come down after sometime or does it just continue to stay high?

[2019-03-22 22:56] chandra2ravi commented on #1071
@ntotten
Any update on this. Deployment pending I'm unable to get the component. I tried both windows and mac

[2019-03-22 22:59] ntotten commented on #1071
Duplicate of #1072

[2019-03-22 22:59] #1071 closed

[2019-03-23 05:04] praksb commented on #1180
@islimane Thanks for reporting this issue, I could repro this issue. We'll take a look.

[2019-03-23 17:52] raJSN opened #1185 "Unable to deploy component with special name"
### Summary

I have created some component by appending namespace prefix before component name & is trying to deploy them. But i am getting error.

### Steps To Reproduce:

1. Create one container component.
    In my case 'ltx_TabPanel_lwc'
2. Create another child component
    In my case 'LTX_SectionComponent'
3. Use 2nd component inside container component like below.
    <template>
        <c-

[2019-03-23 18:01] raJSN commented on #1185
After around 1 hour of struggle, I found this behavior.

Error with LTX_ prefixed.
![image](https://user-images.githubusercontent.com/3901703/54869783-7f3a4f00-4dc3-11e9-956c-459bed54aa1e.png)

Success with no prefix
![image](https://user-images.githubusercontent.com/3901703/54869796-b7da2880-4dc3-11e9-8dca-7d01b5375635.png)

[2019-03-24 05:03] gagnihot opened #1186 "saleforce CLI is still installing for last 1 hours when Salesforce extension pack was installed."
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce:

1.  This is step 1.
1.  This is step 2. All steps should start with '1.'

### Expected result

_Describe what should have happened_.

### Actual result

_Describe what actually happened instead_.

### Additional information

_Feel free to attach a screenshot_.

**VS Code Version**:

**SFDX CLI Version

[2019-03-25 00:23] andykallio commented on #903
Thanks for this feedback.  I can see 'Apex Replay Debugger' in my list of enabled extensions in vscode. Is that enough confirmation or is there something else I should do?

[2019-03-25 03:56] cubicrootofthee opened #1188 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.7.0`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\username\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/

[2019-03-25 16:15] #1120 closed

[2019-03-25 16:55] praksb commented on #1188
@cubicrootofthee Can you share more information on what operation you were performing when you observed the high cpu load? Is it during loading a new project or editing a file or applying a refactoring to an Apex Class? Does the cpu load come down after sometime or does it just continue to stay high?

[2019-03-25 17:02] abivelj opened #1189 "Add Button to Turn Code Coverage on/off"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
A button on the status bar that you can click that will turn on/off the code coverage so you don't have to go to the settings and make the change when you just want to run the test without code coverage.

**Describe alternatives you've considered**
A button `$(code)` that is green when code

[2019-03-25 17:15] #1146 closed

[2019-03-25 17:15] #1134 closed

[2019-03-25 19:12] tophersymps commented on #1156
I was just trying to install the Salesforce extension bundle

[2019-03-26 17:43] abivelj commented on #1189
I can't get the solution to run. I start the "launch extension" debug configuration, but when the extensions start to load I just get this error: "activating extension 'salesforcedx-vscode-apex' failed: undefined.

I'm usually developing in visual studio so I'm not as familiar with vs code development or vacode extensions, can anyone help?

[2019-03-26 18:14] nissimlevy commented on #764
No one wants to answer this.

[2019-03-26 18:28] ntotten commented on #764
@nissimlevy Could you open a new issue with more details? There really isn't enough information to go on in your question to provide an answer. I am not sure this is the same issue as the original.

[2019-03-26 18:37] nissimlevy commented on #764
I have installed Salesforce extensions and CLI. I have a project in Visual Studio Code version 1.32.3

I have authorized a Salesforce org and have deployed my code to this org successfully from Visual Studio Code using the right click context menu off the default folder. So I know I've set it up properly.

The huge and frustrating problem is that most of the time when I open another project folder

[2019-03-26 18:39] nissimlevy commented on #764
I am deploying lightning components and Apex code

[2019-03-26 19:50] NousFlux opened #1193 ""Running Run Apex tests(s)" message/command still running even though test run finished"
### Summary

When I am running a unit test, the message "Running Run Apex test(s)" message keeps showing. It looks like the listener on my end is not registering that a test run is completed. This is an issue with running tests through my sandbox. This was happening sporadically at first but is a constant for me now.

### Steps To Reproduce:

1.  Open a project and use Sandbox to deploy and run te

[2019-03-26 22:35] testosteronicV opened #1194 "SFDX:Authorize an Org"
Whenever i execute this command in vscode / Terminal CLI.
I get -
03:37:40.774 sfdx force:auth:web:login --setalias dx_lwc@gmail.com --instanceurl https://login.salesforce.com --setdefaultusername
ERROR:  EACCES: permission denied, open '/home/vishal/.sfdx/key.json'.
03:38:08.511 sfdx force:auth:web:login --setalias dx_lwc@gmail.com --instanceurl https://login.salesforce.com --setdefaultusername e

[2019-03-27 00:52] sbrownsf8 opened #1195 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.7.0`
- OS Version: `Windows_NT x64 10.0.10240`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\shabr\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wik

[2019-03-27 00:54] sbrownsf8 commented on #1195
[salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt](https://github.com/forcedotcom/salesforcedx-vscode/files/3011021/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt)

[2019-03-27 00:54] #1195 closed

[2019-03-27 00:55] sbrownsf8 commented on #1195
na

[2019-03-27 14:07] ntotten commented on #1185
LWC Components must start with a lowercase character. See this document for the full list of naming rules: https://developer.salesforce.com/docs/component-library/documentation/lwc/lwc.create_components_folder

[2019-03-27 14:07] #1185 closed

[2019-03-27 14:08] ntotten commented on #1189
@abivelj Can you open a new issue for the activation problem and provide full output of the output window.

[2019-03-27 16:05] lcampos opened #1196 "Context that shows/hides commands is not refreshed when switching orgs"
### Summary

The context set for deploy/retrieve commands is not being refreshed when a user moves between different org types or creates a new scratch org on a new project. This is causing users not being able to access commands like `SFDX: Push Source to Default Scratch Org`, `SFDX: Deploy Source in Manifest to Org`, etc.

### Steps To Reproduce:

1.  Create a new project `SFDX : Create Project

[2019-03-27 16:33] lcampos commented on #764
@nissimlevy please follow issue #1196 and see if what I describe there is in line with what you are experiencing. Feel free to add more details there if needed.

[2019-03-27 17:22] #1137 closed

[2019-03-27 17:22] #1161 closed

[2019-03-27 18:22] #1169 closed

[2019-03-27 21:47] utkarshugale opened #1199 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.7.0`
- OS Version: `Darwin x64 17.7.0`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/utkarshugale/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/E

[2019-03-27 23:09] lcampos commented on #1127
I'm closing this since it doesn't have enough information to address it and because I think it is covered by issue #1196 . Feel free to re-open if that issue does not cover your scenario and add enough information for us to be able to replicate it.

[2019-03-27 23:09] #1127 closed

[2019-03-27 23:42] nissimlevy commented on #1127
I don't see how there isn't enough information. The sfdx context menu disappears when opening another project or closing down visual studio. What other information should I include?

Sent from Yahoo Mail on Android

  On Wed, 27 Mar 2019 at 4:09 PM, lcampos<notifications@github.com> wrote:
I'm closing this since it doesn't have enough information to address it and because I think it is covered by

[2019-03-28 04:44] praksb commented on #1199
@utkarshugale Can you share more information on what operation you were performing when you observed the high cpu load? Does it happen during installation, similar to: https://github.com/forcedotcom/salesforcedx-vscode/issues/1156

[2019-03-28 10:55] dawidmajdanski opened #1202 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.7.0`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\Dawid Majdański\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/

[2019-03-28 15:51] sfdcvenkata2014 opened #1203 "Salesforce DX Issue"
I am working on the Visual Studio Code IDE with Salesforce DX.

1. Successfully created a package sfdx force:source:convert --outputdir mdapi_output_dir --packagename managed_pkg_name

2. Now I am trying to deploy in the needed ORG with this command
sfdx force:mdapi:deploy --deploydir mdapi_output_dir --targetusername me@example.com

getting the below errors

Error  mdapi_output_dir/package.xml  p

[2019-03-28 16:07] mnunezdm commented on #1203
Hi, this problem seems to be more related to Salesforce Limitation than to the plugin, validate if you have this same issue when trying to deploy it without sfdx, for example ant migration tool or workbench, the result should be the same.

Maybe you have to delete the package (in a predestructive, with all its dependencies) and then deploy it. Try with a check only deploy

[2019-03-28 16:21] mnunezdm opened #1204 "Extract deeply nested (more than 1 level) plan"
**Is your feature request related to a problem? Please describe.**

Extracting data with the `sfdx force:data:tree:export` only allows to extract one level of nested elements. I think it would be great to extract deeply nested plans like for example: `Account->Case->Task`

I managed to manually extract the data in two steps, manually edit the data plan, and insert them using the `sfdx force:data:t

[2019-03-28 16:52] praksb commented on #1202
@dawidmajdanski Can you share more information on what operation you were performing when you observed the high cpu load? Does it happen during installation, similar to: #1156

[2019-03-28 17:38] dawidmajdanski commented on #1202
Yes, during installation.

On Thu, Mar 28, 2019 at 5:52 PM praksb <notifications@github.com> wrote:

--
Dawid Majdański, Junior Salesforce Developer.

[2019-03-28 17:40] sfdcvenkata2014 commented on #1203
Hi, i have deleted the package, recreated the package and deployed it. It is giving me the same error and even for Profiles i am not able to deploy. Please do suggest.

[2019-03-28 19:11] praksb commented on #1202
Duplicate: https://github.com/forcedotcom/salesforcedx-vscode/issues/1156

[2019-03-28 19:11] #1202 closed

[2019-03-28 21:02] Szandor72 commented on #1177
I had a feature request in that direction: ignore namespace configured in project.json for auto completion. but cannot find it anymore for the love of god.
Thanks for the workaround!

[2019-03-29 00:24] lposen opened #1206 "Extension causes high cpu load"
[salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt](https://github.com/forcedotcom/salesforcedx-vscode/files/3020612/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-lwc`
- Extension Version: `45.8.0`
- OS Version: `Darwin x64 16.7.0`
- VSCode version: `1.32.3`

Find more details here: https://github.c

[2019-03-29 03:35] abivelj opened #1207 "Can't start debug of Extensions"
### Summary

I'm trying to add to the project, but when trying to debug I cannot get the "salesforce.salesforcedx-vscode-apex" extensions to run.

In the output console I get this message:
ERROR: The process "12296" not found.

In the debug console I get this:
Cannot find en-us, defaulting to en
Cannot find en-us, defaulting to en
Application Directory:  c:\Users\abive\AppData\Local\Programs\Micro

[2019-03-29 05:23] praksb commented on #1206
@lposen Can you share more information on what operation you were performing when you observed the high cpu load? Does it happen during installation, similar to: #1156

[2019-03-29 17:46] ntotten commented on #1203
Unfortunately, we cannot provide support via GitHub issues. Please post your question on the [Trailblazer Community](https://success.salesforce.com), [Stackoverflow](https://salesforce.stackexchange.com/), or through other official support channels.

[2019-03-29 17:46] #1203 closed

[2019-03-29 18:59] aheber opened #1210 "Aura Components extension is overwriting .vscode/settings.json"
### Summary

It seems that since yesterday's update the Aura Components plugin is overwriting the [[projectroot]]/.vscode/settings.json file with the following:
[code]
Maybe limited to my project only, I don't know.

### Steps To Reproduce:

1. Have a basic settings.json file already configured:
[code]
2. With the Aura Components plugin installed, reload the vscode window
settings.json is rewritte

[2019-03-29 20:16] kbierbaum commented on #1188
We recently released some performance enhancements around extension start up/initialization. Is this still happening for you?

[2019-03-29 21:54] cubicrootofthee commented on #1188
That may be why I didn't see it since when setting it up for the rest of
the team.
You may close this case.

On Fri, Mar 29, 2019, 4:16 PM kbierbaum <notifications@github.com> wrote:

[2019-03-29 22:04] #1188 closed

[2019-03-29 23:34] #1184 closed

[2019-03-30 11:29] mserinjane commented on #1049
@Szandor72 in your globals config you can add $A (and any other global that SF uses)
"globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "$A": "readonly"
    },

[2019-03-30 20:36] pkbiradar opened #1213 "Unable to install the Salesforce Extension Pack in Visual Studio Code latest version. Please help below are the screenshots"
This is the error when I try to install the pack from the Marketplace:
![image](https://user-images.githubusercontent.com/49105554/55281362-554fd200-5359-11e9-988c-eb812b2b07b1.png)

Later I tried to install through the Manual process then I got the below error:
![image](https://user-images.githubusercontent.com/49105554/55281364-67317500-5359-11e9-91d8-bbad94c1496b.png)

Kindly help, I am stuck i

[2019-03-31 13:29] steals commented on #1141
Autocomplete for Aura components don't work for me either. Here is the stacktrace from Aura Language Server Output panel:

Loading support library: browser
Loading support library: ecmascript
[Info  - 4:12:20 PM] ... language server started in 817.43 ms
[Info  - 4:12:32 PM] aura onDidChangeWatchedFiles...
loadCustomTagsFromFiles: processed 1 files in 2275.15 ms
[Info  - 4:12:40 PM] Indexed 90 file

[2019-03-31 14:47] suseenthiran opened #1215 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.8.0`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\suseenthiran\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vsc

[2019-04-01 03:55] surajsalesfix opened #1216 "Not able to connect to sandbox on MACBOOK"
Issue Type: <b>Bug</b>

I am trying to connect to Sandbox using vs code Salesforce extension. But below error is thrown when trying to login.

Try this:
Determine why this command failed to set an encryption key for user surajsood: [/usr/bin/security add-generic-password -a local -s sfdx -w 1ce9d27c9b785c632afd908e09506396].
14:54:17.30 sfdx force:auth:web:login --setalias devaxx --instanceurl htt

[2019-04-01 06:23] ghost opened #1217 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.8.0`
- OS Version: `Linux x64 4.15.0-46-generic`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/sc/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Ex

[2019-04-01 19:19] ntotten commented on #926
We have removed this implementation of SLDS. A newer, improved one will be released soon.

[2019-04-01 19:19] #926 closed

[2019-04-01 19:22] #992 closed

[2019-04-02 09:21] AkshayAry opened #1220 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.8.0`
- OS Version: `Windows_NT x64 6.1.7601`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\UX012393\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wi

[2019-04-02 09:33] AkshayAry commented on #1220
Please solve my issue

[2019-04-02 16:35] hanselp29 opened #1221 "Deploy to Dev Org fail for CustomLabel"
Issue Type: <b>Bug</b>

Just tried to deploy a custom label from "labels" folder on a sfdx project connected to a dev sandbox. The error says that expects teh meta.xml for the CustomLabels.labels file but meta.xml file doesn't exists for CustomLabels.labels files. In the retrieval it doesn't get any metadata file for customlabels.
And when try the "SFDX: Deploy Source to Org" command over the Cust

[2019-04-02 16:51] hanselp29 commented on #1221
Just noticed that the CustomLabels.labels file in Visual Studio code must be in named like this "CustomLabels.labels-meta.xml"... just missed the suffix "-meta.xml" with that was able to Deploy the Custom Label.

[2019-04-02 16:52] hanselp29 commented on #1221
WORKAROUND FOR THE MENTIONED ISSUE:

Just noticed that the CustomLabels.labels file in Visual Studio code must be in named like this "CustomLabels.labels-meta.xml"... just missed the suffix "-meta.xml" with that was able to Deploy the Custom Label.

[2019-04-02 16:52] #1221 closed

[2019-04-02 20:49] mathewkelly commented on #742
@lcampos I'm experiencing a similar issue to the original post. It looks like the Salesforce CLI works fine on my machine on its own, but the extensions don't. When I try "SFDX: Set a Default Org" from the command pallet, the following error pops up: "command 'sfdx.force.set.default.org' not found".

VSCode 1.32.3
Windows 10 (Windows_NT x64 10.0.17763)
Salesforce extensions 45.8.0
Salesforce CLI 7

[2019-04-03 08:27] maaaaarco commented on #917
I'm also experiencing very long deploy time for single files, like Apex classes. I think the main problem is not vscode itself but the fact that the deploy of single files is done through the Metadata API. Would be possible to switch to Tooling API for individual files?
This is something that IlluminatedCloud supports and was also part of the good old MavensMate.

[2019-04-03 10:16] pedrojuangirones commented on #809
@prabhusajjanam Could you please try to post the image again or copy the complete settings.json. I cannot see it either. Thanks

[2019-04-03 15:35] robertwynter opened #1226 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.8.0`
- OS Version: `Windows_NT x64 10.0.14393`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\100508468\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode

[2019-04-03 20:03] ddodson3 opened #1228 "Allow selection of multiple files/folders on Deploy/Retrieve source"
### Summary
If I select multiple files and right click>Deploy Source to org or Retrieve source from org, it only deploys the file that I right clicked on and not all files that were selected.

The command output shows only one file that it is trying to source:deploy, so I think it is possibly an extension issue.

### Steps To Reproduce:
1. Connect to sandbox
2. Select two files using control click

[2019-04-03 21:29] mctufftuff opened #1229 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.8.0`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\EDelorio\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/

[2019-04-03 21:32] mctufftuff commented on #1229
[salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt](https://github.com/forcedotcom/salesforcedx-vscode/files/3040848/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt)

[2019-04-03 21:50] nrkruk commented on #1141
This feature was only just released as part of 45.8.0 (last Thursday). If you update to the latest plugin version, you will receive tag completions in .cmp files.

[2019-04-03 22:50] smrobert09 commented on #1155
@ntotten What if a different approach to this was taken?

In source based development, the cli uses 'sourcePathInfos.json' with modstamps/file hashes to determine what has changed since the last push. The file is built when you do a force:source:retreive, but is immediately deleted.

Wouldn't it make sense to leave the file intact and use it to detect all changes needing to be pushed.
IF BOUND TO

[2019-04-03 23:02] ChuckJonas commented on #1155
In the meantime... how bout making this 4.5s delay configurable?  Development is absolutely unbearable with it in place

[2019-04-04 13:12] modestemax commented on #809
it works

[2019-04-04 14:04] ntotten commented on #1155
So the problem with changing the setting is that we actually released this tool initially without the delay and found through telemetry that for many uses this resulted in a massive queue of deployments and caused perf issues. We don't plan on adding a setting for it, but we are planning on fixing this soon. For now, you can change this yourself if you want to be really brave by simply editing the

[2019-04-04 16:40] jjTorrent commented on #967
Yes, I'm having this same problem when the switch statement is on a String that includes a space character. The highlighting and other features get confused. Notice how the bracket highlighting is off.
![image](https://user-images.githubusercontent.com/15893115/55572987-75bbbb80-56ce-11e9-8b35-a4d70dab2efa.png)

[2019-04-04 16:41] lcampos commented on #1220
Hi @AkshayAry, can you attach the log file to this thread so we can see what caused the issue. Also, can you confirm your setup meets the suggested requirements for running vscode https://code.visualstudio.com/docs/supporting/requirements.

[2019-04-04 16:55] #1199 closed

[2019-04-05 05:58] #1206 closed

[2019-04-05 14:00] davecastaneda opened #1233 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.9.0`
- OS Version: `Darwin x64 17.7.0`
- VSCode version: `1.33.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/Users/davidcastaneda/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/

[2019-04-05 17:35] ntotten commented on #963
This has been fixed with the new create updates.

[2019-04-05 17:35] #963 closed

[2019-04-05 17:38] ntotten commented on #933
VS code supports static resources when you are using source format. It sounds like you are trying to open the project with metadata format which is not supported. See: https://forcedotcom.github.io/salesforcedx-vscode/articles/user-guide/source-format

[2019-04-05 17:38] #933 closed

[2019-04-05 17:49] ntotten commented on #936
This is a bug in VS Code. It can be reproduced on raw HTML files as well.

![image](https://user-images.githubusercontent.com/282782/55646585-9147c480-57a9-11e9-882a-4d11fbf9dd4b.png)

[2019-04-05 17:49] #936 closed

[2019-04-05 17:49] #953 closed

[2019-04-05 17:56] ntotten commented on #1036
This appears to have been resolved by VS Code, please reopen if you are still seeing it.

[2019-04-05 17:56] #1036 closed

[2019-04-05 17:58] ntotten commented on #1210
Fix has been checked in and will go out next week.

[2019-04-05 17:58] #1210 closed

[2019-04-05 18:01] ntotten commented on #1213
Can you tell me if you are still seeing this issue on the release from this week? If so can, you please provide more details. What OS are you on, what version of vs code, etc.

[2019-04-05 18:06] ntotten commented on #1228
Related to #862

[2019-04-05 18:29] #998 closed

[2019-04-05 18:31] ntotten commented on #948
This has shipped.

[2019-04-05 18:31] #948 closed

[2019-04-05 18:32] ntotten commented on #951
This is done, Prettier now support LWC and Aura as well as standard files like js, css. The new project template includes prettier config. Apex via a community plugin: https://forcedotcom.github.io/salesforcedx-vscode/articles/getting-started/prettier

[2019-04-05 18:32] #951 closed

[2019-04-05 18:38] ntotten commented on #959
This is being replaced by #862

[2019-04-05 18:38] #959 closed

[2019-04-05 18:39] ntotten commented on #927
#4 is done, #2 is partially done. The others are coming.

[2019-04-05 18:41] ntotten commented on #924
We now include the hover information for LWC and Aura components. Please feel free to reopen if you feel something is missing.

[2019-04-05 18:41] #924 closed

[2019-04-05 18:41] ntotten commented on #918
This has been fixed in the latest release. Please reopen if you see problems.

[2019-04-05 18:41] #918 closed

[2019-04-05 18:43] ntotten commented on #662
This is fixed and has been released. Please reopen if you have any issues.

[2019-04-05 18:43] #662 closed

[2019-04-05 18:53] ntotten commented on #954
This shipped yesterday.

[2019-04-05 18:53] #954 closed

[2019-04-05 18:55] ntotten commented on #803
SObject refresh now happens on first load of a project. We don't pull on every refresh at this time, but its something being considered.

[2019-04-05 19:17] abivelj commented on #1207
Any help would be great.

[2019-04-05 23:47] lcampos commented on #1110
This was addressed in release `45.8.0`.

[2019-04-05 23:47] #1110 closed

[2019-04-05 23:49] lcampos commented on #1007
Closing this since it was addressed in release `45.7.0`

[2019-04-05 23:49] #1007 closed

[2019-04-06 01:11] praksb commented on #1226
@robertwynter Can you please share more context on what operation you were performing when you observed the high CPU load?

[2019-04-06 01:17] praksb commented on #1233
@davecastaneda Can you please share more information on what operation you were performing when you observed the high cpu load?

[2019-04-06 02:55] robertwynter commented on #1226
I no longer have that issue. But my VS code Apex replayer no longer steps through the class file code not even setting a breakpoint works. I'v tried uninstalling VS code, deleting the .vscode extensions, even deleting vs code within Regedit. When I reinstall VS code it still remembers all my previous settings including the last file i had open

[2019-04-06 05:15] praksb commented on #1226
@robertwynter I am closing this issue then. Can you please open a new issue for the debugging problem that you are seeing?

[2019-04-06 05:15] #1226 closed

[2019-04-06 12:01] NikitaChizhik commented on #662
it works! thanks a lot! now the dev process will be much more faster)!

[2019-04-06 13:09] robertwynter opened #1238 "Apex Replay will not step through class"
my VS code Apex replayer no longer steps through the class file code not even setting a breakpoint works. it just steps through the debug log instead I'v tried uninstalling VS code, deleting the .vscode extensions, even deleting vs code within Regedit. When I reinstall VS code it still remembers all my previous settings including the last file I had opened

[2019-04-07 12:05] gdmccarty opened #1239 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.9.0`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.33.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\greg\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/

[2019-04-07 21:25] jfaderanga commented on #662
oh my! thanks for the hardwork mates!

On Sun, Apr 7, 2019 at 1:01 AM Nikita Chizhik <notifications@github.com>
wrote:

[2019-04-08 04:42] praksb commented on #1239
@gdmccarty Can you share more information on what operation you were performing when you observed the high cpu load?

[2019-04-08 14:33] eswarapinapothu opened #1240 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-lwc`
- Extension Version: `45.9.0`
- OS Version: `Windows_NT x64 10.0.15063`
- VSCode version: `1.33.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`D:\Users\gen6451\salesforce.salesforcedx-vscode-lwc-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki

[2019-04-08 14:33] eswarapinapothu opened #1241 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.9.0`
- OS Version: `Windows_NT x64 10.0.15063`
- VSCode version: `1.33.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`D:\Users\gen6451\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wi

[2019-04-08 14:34] eswarapinapothu opened #1242 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-apex-debugger`
- Extension Version: `45.9.0`
- OS Version: `Windows_NT x64 10.0.15063`
- VSCode version: `1.33.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`D:\Users\gen6451\salesforce.salesforcedx-vscode-apex-debugger-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/M

[2019-04-08 14:37] ntotten commented on #1242
Duplicate of #1240

[2019-04-08 14:37] #1242 closed

[2019-04-08 14:38] ntotten commented on #1241
Duplicate of #1240

[2019-04-08 14:38] #1241 closed

[2019-04-08 14:38] ntotten commented on #1240
@eswarapinapothu Please upload the file mentioned in the bug above.

[2019-04-08 17:33] ntotten opened #1243 "Apex Tests should be grouped by Package"
Currently, all tests in a project are listed in the Apex Test view in alphabetical order. If you have multiple packages in your solution this list can be very long. When a workspace has more than one package (as specified in sfdx-project.json) the tests should be grouped by Package.

There would be a new right-click run option on a package: Run all Tests in Package.

[2019-04-08 17:35] ntotten opened #1244 "Lightning Explorer has inconsistent open behavior"
The Lightning Explorer opens Aura files in the `cmp` and LWC files in the `js` files. While this is maybe correct - in that these files are the "main" files for each framework, the inconsistent behavior is weird.

We should default to the HTML file (`cmp`, `html`) in both cases.

[2019-04-08 20:29] #852 closed

[2019-04-08 23:24] AndrewRayCode commented on #1210
It looks like you've overwritten my local vscode settings in every single project I've worked on. These files aren't version controlled obviously because they're local to me and the project and shouldn't be shared.

How do I get these files back? I had a lot of per-project settings that are now lost.

I've reported this extension so hopefully it gets taken down ASAP

[2019-04-09 13:20] ntotten commented on #1210
@AndrewRayCode I apologize for the problem this has caused. This was a bug and a mistake on our part. We have updated the extension and the fix will go out in a few days.

As far as restoring the file, I am not really sure. Without knowing what OS you are on or your system set up its hard to recommend an option. If you have backup software you may be able to use that.

[2019-04-09 13:34] ntotten opened #1248 "Do not write to settings files"
The VS Code settings files for a project should be managed exclusively by the end user. There are cases where we require settings to be set either globally or in the workspace settings for our extensions. Right now we try to write the settings for the user so they don't have to set them. This causes several problems:

1. If the workspace settings are checked into source control, paths specific to

[2019-04-09 14:21] ntotten opened #1249 "Investigate Proxy Configuration"
VS Code updated the proxy settings so that extensions share settings with VS Code. We should identify if we need to change or remove our customer proxy setup.

https://code.visualstudio.com/updates/v1_33#_network-proxy-support-for-extensions

https://github.com/forcedotcom/salesforcedx-vscode/search?q=http.proxy&unscoped_q=http.proxy

[2019-04-09 15:17] Gothiname commented on #1213
duplicates from a previous closed issue #1043

[2019-04-09 15:21] vibhudadhichi opened #1250 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.9.0`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.33.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\vdadhichi\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/

[2019-04-09 16:40] lcampos commented on #1213
@pkbiradar is this still happening with release `45.9.0` of the extensions ? If so, could you try downloading the extensions directly from the marketplace and checking if SHA for the files is correct ? Instructions on how to do that can be found in our [SHA256](https://github.com/forcedotcom/salesforcedx-vscode/blob/afdb1785e10fdf683893a21e7e1e73e4ea15ef78/SHA256.md) doc.

[2019-04-09 16:50] lcampos commented on #1207
Hi @abivelj , are you following the steps on our [Developing](https://github.com/forcedotcom/salesforcedx-vscode/blob/develop/contributing/developing.md) guide ? If you are, one thing that could be causing the `salesforcedx-vscode-apex` extension to fail to activate is a misconfigured Java version. You can follow our [Set Your Java Version](https://forcedotcom.github.io/salesforcedx-vscode/article

[2019-04-09 17:24] pkbiradar commented on #1213
Hi All, post update its working now. Thanks alot for the support.

[2019-04-09 17:24] #1213 closed

[2019-04-09 17:31] pkbiradar opened #1251 "Unable to create Scratch Org for salesforce in vs Code. Screenshot is below, Kindly help at the earliest. !!!"
Hi All,

I am not able to create Scratch Org through VS Code for salesforce as its throwing the below error:
![image](https://user-images.githubusercontent.com/49105554/55821508-4b795c00-5b1b-11e9-8635-65003bb0e34c.png)
I am not sure where am I Missing.. I have default Org also mapped to the project. Has anyone faced the similar issue before. Kindly help me in getting this resolved. Thanks alot in

[2019-04-09 17:58] ntotten commented on #1238
Please provide more details about your system. Which OS version, which version of vscode, etc.

[2019-04-09 20:10] abivelj commented on #1207
Thank you. I don't think I found that guide.

[2019-04-09 20:30] ntotten commented on #1207
Great, let us know if you still can’t get it working.

[2019-04-09 20:30] #1207 closed

[2019-04-09 20:48] popoca opened #1252 "SFDX: Create Project failed to run"
### Summary

I'm just starting with VSCode and SFDX trying to create my project following trailhead,  verified my CLI installation but can't create a project.

### Steps To Reproduce:

1.  Installed Salesforce Extension Pack and am trying to create a project with ' sfdx force:project:create --projectname VSCodeQuickStart' .

### Expected result

Project Created.

### Actual result

SFDX: Create Pr

[2019-04-09 21:27] lcampos commented on #1252
Hi @popoca, looking at the stack trace it looks like the issue is coming from your mavens mate extension. I'm going to close this issue since it's unrelated to the Salesforce VS Code extensions.

[2019-04-09 21:27] #1252 closed

[2019-04-09 21:37] popoca commented on #1252
Hello, Thanks for the reply, but this issue was happening even before the mavensmate extension (uninstalled it ), now it says:
![image](https://user-images.githubusercontent.com/255034/55837015-c031a380-5ae5-11e9-9bd8-da7afd4e6b3c.png)

[2019-04-09 23:49] gdmccarty commented on #1239
I had uninstalled the sfdx plug in, and was reinstalling it in order to get the web components part.

GregM

GregM

________________________________
From: praksb <notifications@github.com>
Sent: Monday, April 8, 2019 12:42:50 AM
To: forcedotcom/salesforcedx-vscode
Cc: gdmccarty; Mention
Subject: Re: [forcedotcom/salesforcedx-vscode] Extension causes high cpu load (#1239)

@gdmccarty<https://nam02.

[2019-04-10 03:33] OneMadhu commented on #941
I too agree with this feature this would be really helpful;  As suggested by @cwallsfdc also consider demarcation in case of setting turned off.

[2019-04-10 03:34] OneMadhu commented on #941
I am ready to contribute on this feature please let me know.

[2019-04-10 17:52] ntotten commented on #1210
We published a prioritized release today that fixes this issue. Update to version `45.10.0`. I apologize for any issues this caused. We are doing a retro to try to ensure this sort of issue doesn't happen again.

[2019-04-11 17:11] lcampos commented on #1075
I'm closing this issue since it is addressed as part of the Salesforce CLI release `7.3.0`. You can see the new search excludes in `.vscode/settings.json` (added below) by running `sfdx force:project:create --projectname dxProject --template standard`.

[code]
cc @ntotten

[2019-04-11 17:11] #1075 closed

[2019-04-11 17:16] lcampos commented on #1072
Hi @FabienTaillon, I'm closing this since it's been addressed as part of the Salesforce CLI release `7.3.0`. You can start using it by running `sfdx force:project:create --projectname dxProjectLightning -x`. Thanks for the feedback.

cc @ntotten

[2019-04-11 17:16] #1072 closed

[2019-04-11 17:32] #1220 closed

[2019-04-11 17:37] ntotten commented on #1141
As Nick mentioned, this feature has been released. I am closing this issue, but please reopen or create a new one if you have issues.

[2019-04-11 17:37] #1141 closed

[2019-04-12 00:08] D99000947 opened #1256 "Overriding a virtual base class method using auto-complete missing parameter types."
### Summary

When overriding a virtual base class method, selecting one of the suggested overrides does not insert the method's parameter types or return type.

### Steps To Reproduce:

1.  Create the following TriggerHandler apex class.
[code]
2.  Create the following LeadHandler apex class which extends TriggerHandler.
[code]
3.  In class LeadHandler, attempt to override the BeforeInsert method

[2019-04-12 13:11] smukov opened #1257 "ERROR running force:source:retrieve: Cannot read property 'getWorkspaceElements' of undefined"
### Summary

Created a project with manifest and tried to retrieve Wave (Einstein Analytics) components in order to setup source control and CI/CD with them, however, I'm receiving an error in the output.

I am using the sample Developer Edition org provided in Trailhead, so the issue should be easy to reproduce.

### Steps To Reproduce:

1.  Create a new Developer Edition org with Einstein Analyt

[2019-04-12 14:32] luchom commented on #917
Hope this gets fixed soon. Really hard to work with this issue.

[2019-04-12 15:06] awahid-bic commented on #809
I have the same issue, surprisingly I think it is been happening after the visual studio code update (now 1.33). I was able run test class and see all test class before. I think the version update is the reason.

[2019-04-12 16:19] adwonnacott opened #1258 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `salesforcedx-vscode-core`
- Extension Version: `45.10.0`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\adam_\salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wik

[2019-04-12 16:30] ntotten commented on #1258
@adwonnacott Could you attach the file referenced above so we can debug.

[2019-04-13 01:38] #1233 closed

[2019-04-15 14:27] dfully0814 opened #1262 "Unable to Retrieve Code Coverage for Apex Tests"
### Summary

Per the features listed https://forcedotcom.github.io/salesforcedx-vscode/articles/apex/testing, I'm having trouble viewing test code coverage in vs code for apex classes. When I run an apex test via any means in vs code, and attempt to view the test code coverage for the apex class related to that apex test, I'm both not able to see the class in the output terminal and I receive an e

[2019-04-15 14:47] #1240 closed

[2019-04-15 16:18] markgarg commented on #831
I had the same problem and @vazexqi comment solved it. I searched and installed `Lightning Web Components` extension. This should have been added to the trailhead content!

[2019-04-15 20:43] scromiecaremore opened #1265 "Aura Language Server - Request textDocument/hover failed."
### Summary

While in a separate project folder, I try to work with JavaScript code and get complaints from the Aura Language Server in the Output window.  The error is:

[Error - 1:00:10 PM] Request textDocument/hover failed.
  Message: Request textDocument/hover failed with message: Cannot read property 'aura' of undefined
  Code: -32603

This is repeated whenever I hover on any text.

### Steps

[2019-04-15 21:13] ajw725 opened #1266 "Package aliases are considered invalid JSON"
### Summary

Attempting to create any component (Apex class, Lightning bundle, etc.) fails from the IDE because "all JSON input must have heads down camelcase keys," but the keys it's complaining about are package aliases in sfdx-project.json, which follow the same format as the SF documentation.

Apologies if this is the wrong place for this, but the IDE + extensions are definitely doing somethin

[2019-04-16 00:10] lcampos commented on #1266
Hi @ajw725, thanks for opening this issue, it's the correct place for it. This is happening because we're using a library that parses `sfdx-project.json` as part of the code used across the commands that create metadata. We're currently looking into it and will have a fix as part of the next release.
In the meantime you can use the cli directly to create the metadata or update the name of the unlo

[2019-04-16 14:56] ajw725 commented on #1266
thanks for the info, @lcampos. sounds good.

[2019-04-16 15:55] #1250 closed

[2019-04-16 18:55] #1238 closed

[2019-04-16 22:30] mtetlow opened #1267 "LWC and Aura Language Servers crash 5x on start"
### Summary

I was happily developing away, then got an exception ( https://github.com/babel/babel/issues/8689 ), I tried upgrading sfdx to latest, I found a duplicate import statement in a lwc which seemed to resolve the error, but now I am just getting these crashes right when I open vscode for a project.

Is there any way to look at some logs to see what is causing the Aura and LWC language ser

[2019-04-16 22:31] mtetlow commented on #1267
I tried a simplified reproduction in a new minimal project and came up with nothing.

I also deleted the .sfdx/typings dir

[2019-04-17 18:47] MichalPycek opened #1268 "Debug logs"
I am using vs code with your tools and almost everything is great but I have a one thing which could boost my productivity as a developer. There is a „get debug logs„ option which allows us to select and download ONE log file. Could we change it to download all recent debug logs with one click. Sometimes I don’t know in which log file I will find what I am looking for. This option was in mavensmat

[2019-04-17 19:07] kyong-yu opened #1269 "No Definition Found for "Go to Definition" and "Peek Definition""
### Summary

Go to definition and Peek definition works occasionally for certain classes and methods. Further investigation seems to point to semantic errors, specifically inline variable casting is not understood when binding methods.

### Steps To Reproduce:

1. Create a method that takes a list of accounts. ex:
![image](https://user-images.githubusercontent.com/45047114/56313677-ff747b80-6107-1

[2019-04-17 20:07] praksb commented on #1269
@kyong-yu Can you share what the semantic error message is?

[2019-04-17 21:44] kyong-yu commented on #1269
@praksb Sure thing:
![image](https://user-images.githubusercontent.com/45047114/56322948-45890980-611f-11e9-953e-ded61d2a0c0e.png)

[2019-04-17 23:21] praksb commented on #1269
@kyong-yu Do you have a user defined Apex class called Account in your project (Account.cls)?